[2017-11-13 17:21] jeffposnick commented on #1040
How are you determining that it makes two requests? If you're looking at the Network panel in Chrome's DevTools, you should know that there are going to be two entries (one with a "gear" icon and one without) displayed there, even though there is only one network request made.

(see https://stackoverflow.com/questions/33590378/status-code200-ok-from-serviceworker-in-chrome-network-devtools/3365517

[2017-11-13 17:28] jeffposnick commented on #1039
The values passed in to the array in `templatedUrls` are [`glob` patterns](), and the [syntax](https://github.com/isaacs/node-glob#glob-primer) for `glob` patterns takes some getting used to.

While the actual pattern to use depends on your directory layout, based on what you attempted to use, I'd imagine that this would be the working equivalent:

[code]

Note that the base location from which th

[2017-11-13 17:34] johnnyreilly commented on #1038
Hey @jeffposnick,

Thanks for responding - I really appreciate it. I'm actually a little puzzled when you say " generating a Web App manifest is outside the scope of the Workbox project". It looks like it does do this if you're using workbox build as described here:

https://developers.google.com/web/tools/workbox/reference-docs/latest/module-workbox-build

Is this not the same thing? Forgive me i

[2017-11-13 17:39] iKarthik commented on #1040
In Chrome Dev Tools I see two requests with the gear icon and one without. I assumed the ones with gear icons are the network requests. (I have attached a pic)

![service-workers-call](https://user-images.githubusercontent.com/3451786/32739960-069879ce-c867-11e7-80bb-18a9ad223b37.png)

(I should also note that am working locally on my sandbox, not sure if this has anything to do with multiple requ

[2017-11-13 17:48] jeffposnick commented on #1040
The ones with the "gear" icons represent `fetch()`s that were made from inside your service worker. I'm puzzled by why there would be two, rather than one, `fetch()`s made from the service worker, given the configuration and usage you describe.

Is there any way that you could temporarily host your project somewhere publicly accessible, or put a simplified reproduction somewhere accessible? I have

[2017-11-13 17:52] jeffposnick commented on #1038
Hey @johnnyreilly—Sorry, yes, that's a case of overloading the term "manifest".

There's a distinction between a "precache manifest", which is the list of URLs + revision information that `workbox-build` generates, and which configures how precaching works, and the "web app manifest" that provides metadata for your web application.

The term "precache manifest" really only has meaning within the c

[2017-11-13 18:07] johnnyreilly commented on #1038
Ah - thanks so much for clarifying! For what it's worth, it could be worth being explicit about which type of manifest is being discussed in the docs. Particularly given that "web app manifests" are something that users of workbox are likely to be explicitly interested in.

If you're curious as to what got me into it in the first place, I installed Lighthouse today to see how my pwa measured up. A

[2017-11-13 21:56] jeffposnick commented on #939
I've got a potential approach in #1042 if folks want to weigh in on how hack-y that is.

[2017-11-13 22:31] jeffposnick opened #1043 "Use babel-preset-env in v3"
We're not currently transpiling the browser-targeted runtime code.

We should start doing that, using the same target level as v2.

The wrinkle is that we only want the polyfills + async-to-generator code included in the `workbox-core` bundle.

[2017-11-14 02:50] jeffposnick opened #1044 "Always exclude workbox-sw{.map}.js from webpack-created manifest"
**Library Affected**:
*workbox-webpack-plugin*

The `file-manifest.js` that the `workbox-webpack-plugin` creates currently includes entries for `workbox-sw.js` and `workbox-sw.map.js`. They should not be included in the precache manifest, because the `.js` is implicitly cached by the service worker, and the `.map.js` is optional.

This might be a regression introduced when moving to v3 `workbox-bu

[2017-11-14 09:32] herstad commented on #925
We have the same problem using Apache Tomcat/8.0.18 and self signed certificate on localhost.

[2017-11-14 13:26] hjortureh commented on #1039
Thank you for the response. The problem is that my PUG templates are outside the `./public` directory which I have set in my `globDirectory`. It seem to need it have it there as if I change it to the root of the application `./` and put `public/` in front of all my `globPatters ` - the resources in my SW will be generated with that included, example:

[code]

However, I would need to skip the `pub

[2017-11-14 18:23] gauntface opened #1045 "workbox-runtime-caching renamed to workbox-strategies"
This is just an issue to track the package name change as discussed in last meeting.

[2017-11-14 19:08] jeffposnick opened #1047 "Call `suppressWarnings()` in the service worker template"
**Library Affected**:
*workbox-build*

Moved over from https://github.com/GoogleChrome/workbox/pull/1042#pullrequestreview-76543644

I think it's safe to unconditionally call [`workbox.precaching.suppressWarnings()`](https://github.com/GoogleChrome/workbox/blob/v3/packages/workbox-precaching/_default.mjs#L253) inside the [`sw-template.js` template](https://github.com/GoogleChrome/workbox/blob/v3/p

[2017-11-14 19:16] jeffposnick commented on #1039
You can use the [`modifyUrlPrefix` option](https://developers.google.com/web/tools/workbox/reference-docs/latest/module-workbox-build#.Configuration) to strip prefixes:

[code]

[2017-11-14 19:16] #1039 closed

[2017-11-14 20:35] #939 closed

[2017-11-15 10:57] hjortureh commented on #1039
It totally worked 👊  thanks a lot!

[2017-11-15 19:37] #1045 closed

[2017-11-15 20:16] philipwalton opened #1050 "Automate the generation of the global babelHelpers object in workbox-core"
#1048 manually adds the global `babelHelper` functions object, but this has the potential to break in the future if someone adds new code that needs a helper not already present. Ideally this process would be automated, and helpers would be added based on the actual transformed code.

Currently this isn't possible with babel, but I've filed [a feature request](
https://github.com/babel/babel/issue

[2017-11-16 00:31] gauntface opened #1052 "Workbox CLI has an Awkward Start"
Using the Workbox CLI there are two big wrinkles:

1. The workbox config **must** be defined in the workbox commands even thought it's using the default file in the default location
1. You can't inject a manifest with the provided config. It would be good to ask this during the configuration rather than leave the developer go in and manually edit the config.json

[2017-11-16 00:38] gauntface opened #1053 "Workbox CLI InjectManifest Error Could be Friendlier"
At the moment running inject manifest on an incorrect manifest results in:

[code]

The error could be:

[2017-11-16 00:43] gauntface opened #1054 "Inject Manifest - Should we write to a variable for flexibility?"
There are a number of issues where developers would like to intercept / manipulate the array of precached assets. Would it make sense to ask the developer to define an array with a unique string instead of a specific function allows flexibility over `precache()` vs `precacheAndRoute()` or manipulation of the assets based on client side or runtime hints?

For example, if the inject regex looked for

[2017-11-16 01:01] gauntface opened #1055 "workbox-build docs are missing input arguments"
For example:  https://github.com/GoogleChrome/workbox/blob/v3/packages/workbox-build/src/entry-points/inject-manifest.js#L36

[2017-11-16 01:03] gauntface opened #1056 "workbox-build doesn't provide a default inject point confusing things"
workbox-cli and workbox-build should have the same defaults.

Looking at workbox-build the injectManifest function requires a regex instead of providing the same default at the CLI

For the most common use case this muddies the water.

[2017-11-16 11:22] cerw opened #1058 "How to match / in globPatterns"
Welcome! Please use this template for reporting bugs or requesting features. For questions about using Workbox, the best place to ask is Stack Overflow, tagged with `[workbox]`: https://stackoverflow.com/questions/ask?tags=workbox

**Library Affected**:
workbox-webpack-plugin

**Browser & Platform**:
Chrome

**Issue or Feature Request Description**:
How to match / in **globPatterns** whatever i tr

[2017-11-16 19:52] jeffposnick commented on #1058
The `templatedUrls` config option can be used to properly version dynamic/server rendered/templated URLs like what you describe: https://developers.google.com/web/tools/workbox/reference-docs/latest/module-workbox-build#.Configuration

What you need to do is specify a mapping of server-rendered URLs to the list of local files available during your build process that they depend on. And then if any

[2017-11-16 19:52] #1058 closed

[2017-11-17 17:34] gauntface commented on #1047
SGTM

[2017-11-17 17:58] jeffposnick opened #1061 "Figure out how to mangle the babelHelpers.asyncToGenerator variable name"
**Library Affected**:
*workbox-core*

See https://github.com/GoogleChrome/workbox/pull/1048#issuecomment-344658853 for context. Shortening this shared variable name should shave off a few bytes across many of the bundles.

[2017-11-17 18:20] #1043 closed

[2017-11-21 05:05] Snickdx opened #1063 "No Splash Screen"
**Library Affected**:
*workbox-cli*

**Browser & Platform**:
*Google Chrome for Android*

**Issue or Feature Request Description**:
I noticed that a pwa with a workbox generated service worker dont open with a splash screen on android after installation, also the display mode remains browser regarless of what is specified in the manifest. When I add to homscreen it basically added a shortcut to th

[2017-11-21 14:58] jeffposnick commented on #970
Hello @johnnyreilly—Apologies, as this is an area that should be clearer in the [v3 docs](https://github.com/google/WebFundamentals/pull/5291). Translating the [v2 docs](https://developers.google.com/web/tools/workbox/reference-docs/latest/module-workbox-webpack-plugin-WorkboxBuildWebpackPlugin) from JSDoc to HTML lost a lot of the [examples](https://github.com/GoogleChrome/workbox/blob/master/pac

[2017-11-21 14:58] #970 closed

[2017-11-21 15:07] johnnyreilly commented on #970
Thanks that's brilliant - glad it's possible! The more I learn about workbox, the more I like it! I've put my money where my mouth is with my latest blog post too :wink: https://blog.johnnyreilly.com/2017/11/the-typescript-webpack-pwa.html

I look forward to seeing the V3 release. I'd say that the only criticism I have of workbox is the documentation. And that's been visibly improving over the las

[2017-11-22 17:18] gauntface commented on #1063
Looking at Lighthouse report for the cloud nine app:

If you can add a manifest, then we can look at any further issues.

[2017-11-22 17:18] #1063 closed

[2017-11-22 17:26] gauntface commented on #1040
This is different in v3 which only shows two entries.

![screenshot from 2017-11-22 09-25-18](https://user-images.githubusercontent.com/139760/33141144-17bb9e0a-cf67-11e7-864c-c188a9092f74.png)

[2017-11-22 18:49] Snickdx commented on #1063
Hi maybe the c9 container went to sleep at the time. There manifest is indeed there, attached is a screenshot of an audit I just took of the c9 app.

![image](https://user-images.githubusercontent.com/5845054/33144704-5651e386-cf94-11e7-81a1-b4b29ef0a30f.png)

[2017-11-22 18:59] jeffposnick commented on #1056
[There's a default](https://github.com/GoogleChrome/workbox/blob/v3/packages/workbox-build/src/entry-points/options/inject-manifest-schema.js#L23) that should be used consistently for `injectManifest`, regardless of whether it's called directly from `workbox-build` or indirectly from `workbox-cli`.

That's covered by, e.g., [this test case](https://github.com/GoogleChrome/workbox/blob/v3/test/work

[2017-11-22 19:19] jeffposnick opened #1066 "Add a new workbox copyLibraries <path> command"
**Library Affected**:
*workbox-cli*

We should expose a new command in `workbox-cli` that will run https://github.com/GoogleChrome/workbox/blob/v3/packages/workbox-build/src/lib/copy-workbox-libraries.js using a directory specified.

Example usage:

[code]

[2017-11-22 19:21] gauntface commented on #1066
This would be fore Workbox Build and Workbox CLI.

[2017-11-22 19:21] addyosmani commented on #1066
👍 As discussed in team chat, this is preferred to having a flag for specifying the path. Having this work for both build and CLI sgtm.

[2017-11-22 19:24] jeffposnick commented on #1066
It's already exposed in `workbox-build`:https://github.com/GoogleChrome/workbox/blob/v3/packages/workbox-build/src/index.js#L394, so the change here is to put it in the CLI.

[2017-11-23 00:38] #1037 closed

[2017-11-23 02:54] jeffposnick commented on #976
There's a plan in #1066.

[2017-11-23 02:54] #976 closed

[2017-11-27 08:02] cerw commented on #1058
@jeffposnick thank you for this answer. And how do you deal with authorized VS non-authorizsed? I have it somehow working but not sure how to deal with with LOGOUT it still server the user / which has been cached?

[code]

[2017-11-27 17:39] jeffposnick commented on #1058
There are a few options for clearing storage at https://stackoverflow.com/a/47417193/385997

[2017-11-27 18:04] gauntface commented on #1063
I can't view the page you are displaying unfortunately (I just get the orange page and when attempting to open the page, I see an error message).

[2017-11-27 18:06] #1056 closed

[2017-11-27 19:35] gauntface opened #1070 "registerRoute() options object instead of method type string"
This was a comment raised by @surma during workbox-routing review.

Instead of:
[code]

We should use an options object:
[code]

This would actually make the API flexible in the future and would match the fetch API, so I'm in favor of this.

@jeffposnick @philipwalton @addyosmani for thoughts.

[2017-11-27 20:10] gauntface opened #1071 "workbox-strategies will "auto" import cachable-response and broadcast-cache-update"
Due to the way strategies will attempt to convert configuration into a plugin and how Rollup builds the final bundle, using a strategy will auto import the workbox plugins regardless of whether they are used or not.

Only way around this is to require developers to use the plugins directly, which would unless make it a bit clearer that Workbox has some notion of plugin support.

Thoughts?

[2017-11-27 20:37] #1044 closed

[2017-11-27 21:03] jeffposnick commented on #1070
I'm mostly indifferent here—it's not common to use Workbox with non-`GET` methods, and being able to override using that optional string value was effectively an afterthought. If folks like `{method: 'POST'}` better, that's cool.

Though I am curious about scenarios in which we'd ever want to support additional options—regarding matching the Fetch API, I don't see anything obvious in the [`Request

[2017-11-27 22:25] jeffposnick opened #1072 "Sanitize URLs linked to from logs"
**Library Affected**:
*all*

There are a number of places in the codebase where we log messages which link to external reference docs that provide additional context.

We need to sanitize those URLs prior to launch and make sure that they point to documents that live under https://developers.google.com/web/tools/workbox/guides/ (without `v3` in the URL), as any other URL won't be stable.

(Using h

[2017-11-28 12:37] surma commented on #1070
Well that’s the thing, isn’t it? We do not know yet what we might want to add as an option. Once we *do* know, the options dictionary will allow us to do so. At the very least it feels more descriptive to me.

[2017-11-28 16:40] jeffposnick opened #1073 "Use BroadcastCacheUpdate from within Precaching?"
**Library Affected**:
*workbox-precaching*

In v2, we implicitly used `workbox-broadcast-cache-update` as part of `workbox-precaching`'s `RequestWrapper`, and announced changes to precached resources via a standard channel name.

We're not doing this in v3 right now. I'd argue that it's useful in theory, but at the same time, I don't think developers really took advantage to it, and there's obviou

[2017-11-28 19:15] jeffposnick commented on #1052
I did that intentionally—if there's sentiment in favor of going in the other direction and inferring a default config file name, I could add it in, but my preference is to keep it explicit.

By "provided config" do you mean the output of `wizard`?

If so, that's also intentional—I wanted `wizard` to focus on getting beginners up and running, and doing it by creating a config file that works with `

[2017-11-28 20:21] #1011 closed

[2017-11-29 16:11] gauntface commented on #1073
I don't think there is currently a way to add plugins, so I would be in favor of making that possible in the default precaching export and just provide a guide that explained how and why you would do this.

how does that sound?

[2017-11-29 17:15] gauntface commented on #1052
Regarding the default config, I personally think it would be good to use a default - every CLI I've used that makes use of a config file has always had a default file that it uses if nothing is defined, its surprisingly jarring having to type it in (albeit a small problem).

Regarding the wizard and inject manifest, the reason I raised this issue is that I hit it when writing the "getting started"

[2017-11-29 17:19] gauntface opened #1077 "workbox-build copyWorkboxLibraries - return full path instead of dirname"
Would it make sense for copyWorkboxLibraries to return the full path?

It seems more useful than the dirname especially given path.dirname(...) would provide this if developers wanted it.

[2017-11-29 17:32] jeffposnick commented on #1077
The base directory name, without the full path, is [used](https://github.com/GoogleChrome/workbox/blob/v3/packages/workbox-build/src/entry-points/generate-sw.js#L71-L73) when constructing the appropriate `importScripts` URLs, e.g.:

[code]

Given that it's straightforward to print out the full filesystem path when needed, I'd like to just stick with returning the base directory name instead of opt

[2017-11-29 17:33] gauntface commented on #1070
This has come up a few times in various forms:

1. routing.get(match, handler) and routing.post(match, handler) and routing.all()
1. routing.registerRoute(match, handler) <- enabling match to handle and support multiple types
1. routing.registerRoute(match, handler, {method: '...'})

I'm starting to think that the first option provides the most flexibility while being the least likely to provide a

[2017-11-29 17:33] #1066 closed

[2017-11-29 17:47] jeffposnick commented on #1070
I'm against anything that includes `routing.all()`, since there are very few scenarios in which you'd want a one-handler-fits-all for `GET`, `POST`, `PUT`, etc. You [can't](https://w3c.github.io/ServiceWorker/#cache-put) directly use `POST` and `PUT` `Request` objects as key when working with the Cache Storage API, for one thing, and cache interactions are the most common thing to do inside of a h

[2017-11-29 17:55] #1053 closed

[2017-11-29 19:12] jeffposnick opened #1078 "Use a default config file location when none is specified in CLI"
**Library Affected**:
*workbox-cli*

As per https://github.com/GoogleChrome/workbox/issues/1052#issuecomment-347930791, it would be friendlier to check in a default file location for a config instead of requiring with when using `workbox generateSW` and `workbox injectManifest`.

Currently, the default file name/location used when you create a config file via `workbox wizard` is `./workbox-config.

[2017-11-29 19:20] jeffposnick commented on #1052
I filed https://github.com/GoogleChrome/workbox/issues/1078 to track using a default config file location when none is specified.

I'd like to think more about what `workbox wizard --injectManifest` would mean, and whether that's something we should support, though. In my mind, v3's `workbox wizard` was something you do once, to get started with a basic config that could be passed in to `generateS

[2017-11-29 20:28] jeffposnick commented on #1002
Closing this since the decision was reached, and we can reopen to track `handleFetch` back to v3 if there's demand.

[2017-11-29 20:28] #1002 closed

[2017-11-29 20:29] jeffposnick commented on #915
This if effectively done.

[2017-11-29 20:29] #915 closed

[2017-11-29 20:45] jeffposnick commented on #809
Closing this for now—@samirotiv, if you can still reproduce and have some details to offer about the errors you're seeing, please let us know and we'll reopen.

[2017-11-29 20:45] #809 closed

[2017-11-30 02:24] gauntface commented on #1052
In the getting started flow - it's I have a service worker and it took no time, now I want to add precaching, the CLI is arguably the fastest path to that but manually editing the config after generation just smells slightly.

The flag or a question would be helpful. The nice thing with the flag is that it keeps the default flow very focused and fast.

Question could be, "Do you want Workbox to ge

[2017-11-30 02:24] gauntface commented on #1078
:+1:

[2017-11-30 02:34] gauntface commented on #1070
I understand that there aren't many scenarios - but there *ARE* scenarios where it's useful - it's the point of a good API - it steers users, doesn't dictate.

I get the cache API argument, but it assumes developers are only only doing stuff with the cache API, which the minute any use other than GET is considered, it will likely get way out of the realm of what Workbox is geared towards.

I'm not

[2017-11-30 02:37] gauntface commented on #1077
I'm not sure what this has to do with the method for copying the libraries.

I the developer write a function to copy the path of the workbox libraries to a specific path, when I get the returned value,

[2017-11-30 02:37] #1077 closed

[2017-11-30 02:56] #991 closed

[2017-11-30 02:56] #993 closed

[2017-11-30 02:56] #994 closed

[2017-11-30 02:56] #995 closed

[2017-11-30 02:56] #1047 closed

[2017-11-30 03:00] gauntface commented on #983
The main reason for all of this is that the runtime cache can be used by a host of modules, so having it in core means that regardless of what you use in whatever fashion, the cache name will be the same for runtime stuff and you can override in a single place.

With that in mind, wouldn't it be weird is precache and googleAnaltyics couldn't be changed in the same place as the runtime cache name?

[2017-11-30 03:19] gauntface commented on #1071
To be specific, these are the versions:

Today, developers can do:
[code]

Regardless of the configuration, this will pull in the `workbox-cache-expiration`, `workbox-cacheable-response` and `workbox-broadcast-cache-update` modules, meaning the first time a developer runs `workbox.strategies` it'll actually be pulling three modules.

I'd like to undo this and instead require explicit plugins:

[co

[2017-11-30 09:27] dertuerke opened #1083 "[ISSUE?] Workbox Precache Issue with Parameters?"
**Issue or Feature Request Description**:
I do not know if that's a issue. But can it be that if files have a parameter that is not properly precached?

If I look in Chrome now, then I see that the file does not come from the service worker but is loaded from the disk cache.

I use the workbox version 2.1.2.

Example:
I precache all fonts, but some fonts has a parameter in the CSS-file
[code]
[cod

[2017-11-30 14:51] jeffposnick commented on #1071
Thanks for investigating the options.

I am on board with the second proposal,

[code]

being the runtime syntax.

On a positive note, folks using the `runtimeCaching` config options along with `workbox-build.generateSW()` to create their service worker can continue to use the previous syntax, and we can just adjust [`runtime-caching-converter.js`](https://github.com/GoogleChrome/workbox/blob/v3/p

[2017-11-30 16:50] gauntface commented on #1083
To help debug a little could you answer the following:

1.) What is your code to generate the precache lists
2.) What files do you have on your file system
3.) What does your final precache list look like
4.) What files are in the cache after the service worker has installed
5.) What do you expect to happen and what actually happens.

[2017-11-30 19:41] jeffposnick commented on #1077
If you're a developer who calls `workbox-build.copyWorkboxLibraries()` explicitly, then yes, there's a chance you'd want to make use of the file system path because you'd do something like logging it to `STDOUT`. But there's also a chance you'd want just the directory name, because you're going to construct a URL to use with `importScripts` configuration.

Both are valid things to do with the retu

[2017-11-30 19:50] jeffposnick commented on #794
I believe that https://github.com/GoogleChrome/workbox/issues/933 tracks this in a more general form.

[2017-11-30 19:50] #794 closed

[2017-11-30 19:56] jeffposnick commented on #749
This was implemented in https://github.com/GoogleChrome/workbox/pull/1035

[2017-11-30 19:56] #749 closed

[2017-11-30 20:35] gauntface opened #1086 "Change test-QueuePlugin.mjs to test-Plugin.mjs and Tests Fail"
I changes `test-QueuePlugin.mjs` to `test-Plugin.mjs` as part of #1084 but it causes tests to fail. For now I've just kept the file name as is.

Log of failing tests:

[code]

I'm not sure what the issue is or why they would affect each other, but would be good to rename the file to match the source file.

[2017-11-30 21:20] #1071 closed

[2017-11-30 21:41] jeffposnick opened #1088 "Change runtime-caching-converter's ouput"
**Library Affected**:
*workbox-build*

The code in https://github.com/GoogleChrome/workbox/blob/v3/packages/workbox-build/src/lib/runtime-caching-converter.js needs to be changed to account for https://github.com/GoogleChrome/workbox/pull/1084.

[2017-11-30 23:07] philipwalton commented on #100
@gauntface is this still an issue now that `workbox-google-analytics` uses the the routing and strategy packages?

[2017-11-30 23:32] gauntface commented on #960
Fixed in #978

[2017-11-30 23:32] #960 closed

[2017-11-30 23:39] #997 closed

[2017-11-30 23:40] gauntface commented on #1054
There is the custom inject regex that should enable this.

[2017-11-30 23:40] #1054 closed

[2017-11-30 23:41] gauntface commented on #1040
@iKarthik please reopen if you can provide a demo page or more info.

[2017-11-30 23:41] #1040 closed

[2017-11-30 23:43] #957 closed

[2017-11-30 23:45] gauntface commented on #925
If anyone can provide an example of this behavior it would be extremely helpful, otherwise I'm not sure how to move this forward.

In v3, we will be logging more information that may help figure out bugs like this and the logic has been updated to be more intuitive.

Please raise a further comment and tag me in it if you have more info / demo.

[2017-11-30 23:45] #925 closed

[2017-11-30 23:50] gauntface commented on #100
I'm going to close this given that google-analytics has changed a great deal as has all of the Workbox logging. There may still be some logs that we simply can't surpress which is logged by devtools, but let's see.

[2017-11-30 23:50] #100 closed

[2017-11-30 23:53] gauntface commented on #313
This should be covered by https://developers.google.com/web/tools/workbox/v3/guides/precache-files#using_the_workbox_command_line_interface

We still have a bug open for the migration story which is more like to cover the (I use sw-precache, how do I switch), so going to close this in favor of that.

[2017-11-30 23:53] #313 closed

[2017-11-30 23:56] gauntface commented on #328
Going to close this. We should look to upgrade everything after v3 has landed but this will happen organically and will be difficult to truly mark this issue as "done" given the number of projects using sw-precache.

[2017-11-30 23:56] #328 closed

[2017-11-30 23:59] gauntface commented on #526
This has changed a great deal and I think the existing guides for v3 are a reasonable step to closing this.

I created a place holder doc in the guides section to cover more on the general approach of a Workbox module: https://docs.google.com/document/d/1GZinpmLjRGoYkV534UAZe-gWUfx0i6sUo7JBqFsAb0o/edit?usp=sharing

[2017-11-30 23:59] #526 closed

[2017-12-01 00:00] #533 closed

[2017-12-01 00:02] gauntface commented on #605
Assigning to myself and will add a section to the workbox-cli Module docs for when to use one vs the other.

[2017-12-01 00:04] gauntface commented on #651
This is going to be pretty different in V3 and PR's are out to improve the next version of docs AND the getting started story, so going to close this for now.

[2017-12-01 00:04] #651 closed

[2017-12-01 00:05] gauntface commented on #621
@jeffposnick Would be good to get a design doc before attempting to land anywhere work here for V4

[2017-12-01 00:07] gauntface commented on #623
This has been added in #1075

[2017-12-01 00:07] #623 closed

[2017-12-01 00:07] gauntface commented on #650
The copyLibraries helper method and CDN by default should solve this.

[2017-12-01 00:07] #650 closed

[2017-12-01 00:10] gauntface commented on #657
Discussing the wizard issue further here: https://github.com/GoogleChrome/workbox/issues/1052

Otherwise the documentation for CLI injection can be found on the "precache files" guide on the new doc site. (Will land soon here: https://developers.google.com/web/tools/workbox/guides/precache-files)

[2017-12-01 00:10] #657 closed

[2017-12-01 00:11] gauntface commented on #904
Created a place holder doc for this: https://docs.google.com/document/d/1IjDlBAsB4_SAx2XqPrNDGBj8tsR2UULLxCbJIYIk4NM/edit?usp=sharing

Feel free to add content or suggestions and I'll ensure it lands in V3 release.

[2017-12-01 00:11] #904 closed

[2017-12-01 00:13] gauntface commented on #679
@kaycebasques if you get a chance to call out where we can add some information or word something differently to highlight this it would be useful, otherwise I'm not sure how to action this item.

[2017-12-01 00:13] #679 closed

[2017-12-01 00:15] gauntface commented on #909
We did a lot of refactoring after this issue was raised to help accomodate this so I don't think it's an issue. We have a seperate issue open for adding an integration test that proves whether we do the right thing or not and until that's done we can't prove if we've fixed this issue or not so closing for now as the initial work should have fixed this.

[2017-12-01 00:15] #909 closed

[2017-12-01 00:17] gauntface commented on #910
The _private file is no longer used and we now reference files throughout.I'm not sure if there is anything else to do for this issue so closing for now. We need the Integration Tests for prove anything here.

[2017-12-01 00:17] #910 closed

[2017-12-01 00:18] gauntface commented on #900
The webpack plugin should fit in with the build pipeline a little better in V3.

@jeffposnick, @goldhand  do either of you know if this would be fixed by your changes?

[2017-12-01 00:19] gauntface commented on #865
@jeffposnick can this be closed now?

[2017-12-01 00:20] #861 closed

[2017-12-01 00:21] gauntface commented on #803
I think this is generally done. Docs need writing which is covered in the v3 tracking issue.

[2017-12-01 00:21] #803 closed

[2017-12-01 00:24] gauntface commented on #810
Added a note to document this along with how to use plugins: https://docs.google.com/document/d/1Qye_GDVNF1lzGmhBaUvbgwfBWRQDdPgwUAgsbs8jhsk/edit?usp=sharing

[2017-12-01 00:24] #810 closed

[2017-12-01 00:25] gauntface commented on #802
@jeffposnick @goldhand is this still an issue with V3?

[2017-12-01 00:25] #802 closed

[2017-12-01 00:26] gauntface commented on #795
@jeffposnick @goldhand this sounds like it's fixed in v3 - but not sure.

[2017-12-01 00:27] gauntface commented on #777
Closing this as a duplicate of #778

[2017-12-01 00:27] #777 closed

[2017-12-01 00:28] gauntface commented on #1070
I'm going to close this in favor of continuing discussion in: #778

[2017-12-01 00:28] #1070 closed

[2017-12-01 00:31] gauntface commented on #933
@jeffposnick this can be closed given the workbox-sw changes no just being a loader

[2017-12-01 00:33] gauntface commented on #914
This is covered in the Module Docs for workbox routing that will be published here: https://developers.google.com/web/tools/workbox/modules/workbox-routing

[2017-12-01 00:33] #914 closed

[2017-12-01 00:39] gauntface commented on #937
Getting started guide has the window load code
Will add a comment on the cache header and the the link to the getting started guide once the big changes land on WF.

[2017-12-01 00:40] #980 closed

[2017-12-01 00:42] gauntface commented on #1038
Just checked the new docs for precache and I explicitly call out what a "precache manifest" is and us that term throughout.

[2017-12-01 00:42] #1038 closed

[2017-12-01 00:44] gauntface commented on #772
I'm going to close this issue, if anyone wants this feature please feel free to re-open this issue.

[2017-12-01 00:46] gauntface commented on #773
I'm going to close this issue in favor of an "advanced recipes" guide: https://docs.google.com/document/d/1s-Ym4tNrs22EwmgPC0wA4I0-bA5GPwODzUgKwZ0k8VU/edit?usp=sharing

[2017-12-01 00:46] #773 closed

[2017-12-01 00:47] gauntface commented on #109
Doc is here: https://docs.google.com/document/d/1qN3dHKkTHG-jWjWTwNzIN7NhVzd555R6FGa3AqRya_c/edit?usp=sharing just needs writing

[2017-12-01 00:47] #109 closed

[2017-12-01 00:52] gauntface opened #1092 "Automate workbox-sw list and / or add test to capture issues"
The module names to namespace is hardcoded and likely to causes issues in the future. We should automate generation and add a test.

[2017-12-01 01:03] #1078 closed

[2017-12-01 01:14] #210 closed

[2017-12-01 06:03] Snickdx commented on #1063
I switched to firebase hosting, https://jcal-6d7d9.firebaseapp.com/. Splash screen works with this service worker (generated from "workbox-cli generate:sw"). I believe I used inject: manifest in the OP but I'll open another issue if I can recreate the issue. Thanks.

[2017-12-01 13:57] beatrizdemiguelperez opened #1093 "Follow symbolic links when performing glob operations"
**Library Affected**:
workbox-build

**Issue**:
Hi,
We are trying to wrap workbox with ember build using the package workbox-build.
On post build hook ember-cli has some symbolic-links. The problem is that when workbox-build tries to list the files, those files that are symbolic are ignored and then not included on the manifest. In fact, we get no error at all.

We want to raise an error when an u

[2017-12-01 14:59] elf-pavlik commented on #802
If you decide to add `importScripts` support for webpack chunks, it may make sense to open new issue or re-open #584
Soon I may need to share some chunks between service worker and the main app so it may provide another use case that could need such future.

This issue here probably should stay closed as it started with my misunderstanding of how WorkboxPlugin plays together with the rest of webpa

[2017-12-01 15:36] jeffposnick commented on #933
I'd like to leave this open, as there are still some ergonomic issues around automatically opting-out of using the CDN copy of Workbox if we see a signal that a custom build is being used.

[2017-12-01 15:37] jeffposnick commented on #802
Let's use https://github.com/GoogleChrome/workbox/issues/933 as a general issue for tracking opting-out of using the CDN copy of Workbox in favor of using custom Workbox bundled code.

[2017-12-01 15:43] jeffposnick commented on #1093
I'm on board with just defaulting to `follows: true` in v3 of `workbox-build`, and marking it as a breaking change.

I can't think of scenarios in which developers would have symbolic links that match one of the patterns but which they wouldn't want to be picked up.

I'll just confirm that the logic we have that generate hashes of files' contents works when the source is a symbolic link, but I'm a

[2017-12-01 16:26] jeffposnick commented on #795
I am not 100% sure either. I've been focusing more efforts on the use case when `swSrc` is not specified (i.e. the generate SW use case) then when it is specified, which is a use case that this issue tracks.

We might be able to roll this up into https://github.com/GoogleChrome/workbox/issues/933, though, to at least consolidate the discussion. @codepunkt does it sound like that issue covers some

[2017-12-01 16:27] jeffposnick commented on #865
Yup.

[2017-12-01 16:27] #865 closed

[2017-12-01 16:29] jeffposnick commented on #900
This functionality is not currently in v3. It's worth keeping open to track the request. (And PR contributions are welcome!)

[2017-12-01 17:14] #934 closed

[2017-12-01 19:51] gauntface commented on #937
Will be fixed with: https://github.com/google/WebFundamentals/pull/5397

[2017-12-01 19:51] #937 closed

[2017-12-01 20:06] jeffposnick opened #1096 "Rethink valid runtimeCaching.options"
**Library Affected**:
*workbox-build*

Working on #1095 made me realize that there's some cleanup to be done related to what we accept for `runtimeCaching.options` in v3. In v2, we basically supported the same set of options that [`sw-precache` supported](https://github.com/GoogleChromeLabs/sw-precache#runtimecaching-arrayobject) (plus a `plugins` property that could be used to provide additional

[2017-12-01 20:12] gauntface commented on #605
Should be fixed by: https://github.com/google/WebFundamentals/pull/5400

[2017-12-01 20:12] #605 closed

[2017-12-01 20:17] #1088 closed

[2017-12-01 20:35] gauntface commented on #903
Thinking on this a little more, this is messy for precaching.

Let's say you have a precache of the following:

- /index.html
- /about.html
- /something/nested.html

At the moment (Out of the box) we will do the following:

- Match for the URLs out right (i.e. '/index.html', '/about.html', '/something/nested.html).
- If that fails, we match minus search params
- If that fails and the URL **DOES**

[2017-12-01 20:54] jeffposnick commented on #903
I'm okay with that additional "magic" being added in, and perhaps on by default, with the option to disable it via `prettyUrls: false`.

FWIW, the other option is to create a recipe that they used in their build process along the lines of:

[code]

That's pretty gnarly, and wouldn't work well for developers who are just using the CLI or webpack plugin. So we can support this by default instead.

[2017-12-01 21:25] #1055 closed

[2017-12-02 00:14] gauntface commented on #1072
There is a link pointing to drive for the plugins docs, so will leave this open for now. After that doc is written and moved over to d.g.c we should be good to close this.

[2017-12-02 00:21] gauntface commented on #933
@jeffposnick could you provide a little more info.

My understanding is that to opt out of the CDN from webpack the following would happen:

- Developer would inject the manifest meaning the plugin would just inject and do nothing with respect to using the CDN vs local files.
    - If the developer decides NOT to use the CDN, they'd get a copy of the files from Github, workbox-cli or workbox-build

[2017-12-02 00:23] gauntface commented on #1093
Would be good to still offer this as an option and default to true.

[2017-12-02 00:25] gauntface commented on #795
Well the new workbox webpack plugin can be tests here:

[code]

@codepunkt if you get a chance to try it out it would definitely help to figure out if we are closer to what you were looking for.

[2017-12-02 00:26] gauntface commented on #900
FYI: I'm not suggesting we build minification into workbox-build, just that we should work with a webpack setup that has minification.

[2017-12-02 14:45] jeffposnick opened #1102 "webpack-plugin takeaways: vue-cli webpack integration"
**Library Affected**:
*workbox-webpack-plugin*

I'm filing this bug as a reminder to address a few takeaways after integrating the `3.0.0-alpha.2` version of `new WorkboxPlugin()` (without any config) into a `vue init webpack`-scaffolded project.

The manifest it generates looks like:

[code]

There are a few takeaways to follow up on. Some of which may already be tracked independently.
- We need

[2017-12-02 15:03] jeffposnick opened #1103 "Use a better default for workbox wizard's swDest"
**Library Affected**:
*workbox-cli*

Going through the `workbox wizard` flow, one of the questions you're asked is where you'd like to save the generated service worker file (i.e. the `swDest` config setting).

The default right now is the hardcoded string `build/sw.js`:

https://github.com/GoogleChrome/workbox/blob/b7d7f003c924650d2786fa9adccd6abf987eb584/packages/workbox-cli/src/lib/questions/as

[2017-12-03 19:52] beatrizdemiguelperez commented on #1093
https://github.com/GoogleChrome/workbox/pull/1104

[2017-12-04 04:57] UltCombo commented on #900
👍
Currently, my build script does a second Webpack run configured specifically to minify the generated service worker from the first run. Not ideal, but it suffices for the time being.

[2017-12-04 16:09] jeffposnick commented on #933
There's not a huge amount of code that needs to be changed, but there's currently some awkwardness due to assumptions being made in the webpack plugin, roughly around

https://github.com/GoogleChrome/workbox/blob/f743aa9c817f6c20003c2711c14c71000c0f30f7/packages/workbox-webpack-plugin/src/index.js#L123-L128

The webpack plugin currently uses the presence/absence of `swSrc` to toggle between the eq

[2017-12-04 17:41] #1086 closed

[2017-12-04 18:56] gauntface commented on #933
The only thing I ask is that we have consistency across behaviours in webpack, workbox-build and workbox cli.

[2017-12-04 19:35] anilanar commented on #933
I personally like symmetries between different parts of a software and I think the following flow is not far-fetched.

1) Copy paste a typical webpack configuration that sets up chunkhashes, `vendor` and `main` chunks, js loaders and uglifiers etc.
2) Use a plugin (let's call it `SwWebpackPlugin`) to generate `sw.js` that would import scripts (analogous to `HtmlWebpackPlugin`). Workbox library is

[2017-12-05 16:24] jeffposnick commented on #935
FYI, I've asked https://stackoverflow.com/questions/47658134 about whether it's possible/advisable to infer some sort of "how was this asset created/named" data from inside the plugin, as I think that would help a lot when it came to safely answering the "should this be versioned/cached?" question by default.

We'd still want to allow folks to override those default decisions, though.

[2017-12-05 16:27] surma commented on #983
I guess the question then is: When I write my own module for `surmaAnalytics`, should I put my cache name into `core` as well? If so, how?

[2017-12-05 16:47] #1103 closed

[2017-12-05 22:16] jeffposnick opened #1107 "IndexedDB precache details not being deleted correctly"
**Library Affected**:
*workbox-precaching*

Steps to reproduce:
- `npm install -g workbox-cli@3.0.0-alpha.2`

- Use a `workbox-config.js` file like:
[code]

- Run `workbox generateSW workbox-config.js`

- Create three local `.html` files, one of which registers the `sw.js`. The other two can be empty.

- Start a local web server.

- Visit the page that registers the `sw.js`, and notice that all th

[2017-12-05 22:25] gauntface commented on #983
What would you like to see as the behaviour here?

Original thinking was:
- require consistency for Workbox modules
- make it easy to get the defaults
- make it easy to override the defaults

By the sounds of you - we haven't done any of this for you, so what would you expect and like?

[2017-12-07 12:28] stenmuchow commented on #795
@gauntface I just ran into this issue as well, the new 3.0.0 alpha seems to be acceptable in so far as what it creates. I do however when debugging on firefox locally (we have proxied localhost urls and chrome is too cranky to allow this) get a network error when it tries to import the workbox-cdn url...

It seems to not want to allow me to download this resource... :/

[2017-12-07 16:54] jeffposnick commented on #795
@stenmuchow, can you provide the exact URL that's requested and failing, the proxy configuration you're using with Firefox, and a screenshot/text of the failure message?

[2017-12-07 19:18] jeffposnick opened #1109 ""One of the specified object stores was not found." exception when using precaching"
**Library Affected**:
*workbox-precaching*

The original details from @beatrizdemiguelperez's report in our Slack channel:

[code]

[code]

[2017-12-07 19:21] jeffposnick commented on #1109
The code associated with the stack trace is

https://github.com/GoogleChrome/workbox/blob/af47ff9a3c92c61c36f6652e755f491834baeb29/packages/workbox-core/_private/DBWrapper.mjs#L228

Given that service worker code, the only thing that should be touching IndexedDB is `workbox.precaching`.

The fact that the developer is explicitly calling `workbox.core.setCacheNameDetails({prefix: "buzz"})`, and tha

[2017-12-07 19:30] philipwalton commented on #1109
It seems likely that a previous version of the IndexedDB database exists with the same name (i.e. one created by Workbox v2 code), so when the v3 Workbox code is running, its `onupgradeneeded` callback is never invoked, and thus the new object stores aren't created.

Perhaps the issue is here?
https://github.com/GoogleChrome/workbox/blob/09f6340/packages/workbox-precaching/models/PrecachedDetailsM

[2017-12-08 08:14] stenmuchow commented on #795
Further findings for the alpha release... When pushed onto our development server with a valid SSL cert, I can test it on chrome and there are no issues with the package. However there are issues with your documentation now.

As I am trying to create my own service worker, following the guide set forth in [Step 6](https://developers.google.com/web/tools/workbox/get-started/webpack#inject)
I have a

[2017-12-08 08:34] stenmuchow commented on #795
@jeffposnick Firefox debugging....

Failing URL - https://storage.googleapis.com/workbox-cdn/releases/3.0.0-alpha.2/workbox-sw.js
But this is only locally...

**Proxy config**
URL: http://logistics.softwearconnect.lc

**etc/host**
127.0.0.1       logistics.softwearconnect.lc

**nginx** to serve from my dist dir
[code]

Then following the service worker debugging on FF localhost.

Advanced Settings

[2017-12-08 11:53] stenmuchow commented on #795
Then upon further research it seems the API is massively altered so the most of my comments are mute.

Based on these [docs](https://developers.google.com/web/tools/workbox/reference-docs/v3.0.0-alpha.1/)...

My created sw file looks like this now:

[code]

This has managed to make my errors go away and the files to download properly, but i seem to have lost all functionality of the SW.

[2017-12-08 19:11] gauntface commented on #795
@stenmuchow thanks for sticking with us on this (and it sounds like we are moving in the right direction).

Can you share the Webpack code you are using and just to check - you are running 3.0.0-alpha.2 for your webpack plugin.

[2017-12-08 19:14] #1093 closed

[2017-12-08 19:15] gauntface commented on #1109
I'll dig into this today and try and repro from old to new Workbox. Sounds like just using a new version number and managing the upgrade will be enough.

[2017-12-08 19:19] jeffposnick opened #1110 "Better docs around using `swSrc` mode with the webpack plugin"
**Library Affected**:
*workbox-webpack-plugin*

Taken from https://github.com/GoogleChrome/workbox/issues/795#issuecomment-350245911, it's not clear how to make the `precacheAndRoute()` call in a `swSrc` service worker file in order to take advantage of the external manifest file.

[2017-12-08 19:21] jeffposnick commented on #795
To avoid confusion, ensure that you're looking at material at https://developers.google.com/web/tools/workbox/next/ as that's what applies to the current alpha release. (And in case you missed it, the [3.0 alpha release notes](https://github.com/GoogleChrome/workbox/releases/tag/v3.0.0-alpha.2) give a broad outline of what changed.)

Going to your second example, for a second, you write:

[code]

[2017-12-08 19:32] gauntface commented on #933
I like the sound of this proposal and I'm thinking that for injectManifest in workbox build and CLI, they could follow this pattern of adding an `importScripts()` to a service worker with a revision file name for the manifest and it defines a specific variable name (in this case `self.__precacheManifest`).

All of this SGTM, but I do recall me and @jeffposnick discussed this approach (or something

[2017-12-08 20:02] stenmuchow commented on #795
@gauntface - No problem, it's in my best interest to get this working ;) Or at least I can feel good about myself in someway... 🤔

I guess this is the only interesting part from my webpack config...

[code]

[2017-12-08 20:09] stenmuchow commented on #795
@jeffposnick Indeed I am looking at those docs...

Based on the info found [here](https://developers.google.com/web/tools/workbox/guides/precache-files)

<img width="988" alt="screen shot 2017-12-08 at 8 04 50 pm" src="https://user-images.githubusercontent.com/3219270/33783129-4469ffac-dc53-11e7-807d-1951e0bb4e60.png">

I followed that piece of logic to determine the setup, or the auto inject.\

N

[2017-12-08 21:22] #1107 closed

[2017-12-08 22:39] #1109 closed

[2017-12-09 00:14] gauntface commented on #795
@stenmuchow this is partly my fault. No one has written anything for the webpack config and I don't know how it's meant to be used so I left it, but I also didn't realise there was a completely different behaviour, I'll try adding something now just so it's clear it's different.

[2017-12-10 08:54] johnnyreilly opened #1113 "Clarify the optional role of glob* config in workbox-webpack-plugin docs"
**Library Affected**:
*workbox-webpack-plugin@3.0.0-alpha.2*

**Browser & Platform**:
webpack 3

**Issue or Feature Request Description**:
Hi!

I'm in the process of writing a PWA guide for the webpack documentation site: https://github.com/webpack/webpack.js.org/pull/1737

I realised that Workbox 3.0 was in alpha now and so it was probably better to use that rather than 2.0.  However, I'm getting

[2017-12-10 09:16] johnnyreilly commented on #1113
Further to that, if you drop the `swDest` parameter you get this error:

[code]

This seems to be talking about *globPattern* but the docs speak only of _globPattern**s**_

Again somewhat confusing...

[2017-12-10 09:31] johnnyreilly commented on #1113
It looks like the mechanism for passing config has changed.  Would you be able to clarify how config of the plugin should take place now please?

Thanks!

[2017-12-10 13:10] DecentM commented on #772
It'd be great if this was implemented.
I'd like to migrate from `sw-toolbox` to `workbox-sw`, but since I transform all my JS with Browserify, I can't.
For example, this is how my current worker with `sw-toolbox` looks:
[code]

Compared to that, trying the same with `workbox-sw` fails:
[code]
Indeed, WorkboxSW is undefined.
I'm not familiar with Webpack, but from  a quick glance, it looks like it

[2017-12-11 09:31] beatrizdemiguelperez commented on #1109
Hi @gauntface,

As you said from an incognito window it worked with alpha version.

Now i tried these changes on v3 branch and it works perfectly, so bug is fixed.

When will you publish v3 tag or next alpha?

Thanks!!

[2017-12-11 15:18] beatrizdemiguelperez opened #1114 "logs are sometimes not being grouped properly"
I notice something weird with logs
Sometimes logs are not being grouped properly and my logs are inside "workbox level"
I mean, the groupEnd sometimes is not working well and my logs go inside yours

![screenshot](https://user-images.githubusercontent.com/9552730/33838069-a6824d56-de8e-11e7-8c54-f6ec269318a9.png)

[2017-12-11 17:34] gauntface commented on #1114
My guess is that the error is resulting the groupEnd() not getting called. I'll have a look at a fix shortly when I get in the office - will likely need to do this in a few places.

If you get a chance, could you provide the stack trace for "Entry was not found."

[2017-12-11 17:39] rjsteinert opened #1115 "Service worker cache network requests canceled, "Too many transactions queued""
**Library Affected**:
workbox-sw

**Browser & Platform**:
Does not work on Chromium v49, does work on Chrome v63.

**Issue or Feature Request Description**:
When registering service worker, all resources to cache are listed as "canceled".

![screen shot 2017-12-11 at 12 31 19 pm](https://user-images.githubusercontent.com/156575/33844906-bd221d30-de6f-11e7-805d-9bcc98425ada.png)

![screen shot 2017

[2017-12-11 19:15] jeffposnick commented on #1113
Hello @johnnyreilly—Yes, the build configuration docs are still a work in progress. Apologies, and thanks for bearing with us as we get things in order for the official v3 release.

As of https://github.com/GoogleChrome/workbox/pull/1085, which was part of the `alpha.2` release, config options are passed through from the `WorkboxWebpackPlugin()` constructor to the underlying `workbox-build.generat

[2017-12-11 19:36] jeffposnick commented on #772
The following code will work:

[code]

`workbox-sw.js` needs to be either a local URL of a copy of the library we distribute, or it could point to an "unofficial" CDN URL like `https://unpkg.com/workbox-sw@2.1.1/build/importScripts/workbox-sw.prod.v2.1.1.js`. In Workbox v3, we make it easier to refer to a copy of the Workbox libraries via an official CDN URL.

The `importScripts()` call will take

[2017-12-11 19:42] jeffposnick commented on #1109
Hello @beatrizdemiguelperez—While this isn't always the case, we try to stick to a bi-weekly release schedule.

As per https://developers.google.com/web/tools/workbox/community#team_calendar, the next release should go out on Thursday.

(During the alpha/beta period, those releases might not always match up, but that's the rough idea.)

[2017-12-11 19:51] #1114 closed

[2017-12-11 20:02] jeffposnick commented on #1115
The published copies of Workbox do not support Chromium v49.

Our official support matrix is at https://github.com/GoogleChrome/workbox/wiki/V3-:-Browser-Support

If you'd like to use Workbox v2 with Chromium v49, you can check out the project's `#master` branch, modify the relevant Babel transpilation to use a different minimum supported browser version:

https://github.com/GoogleChrome/workbox/b

[2017-12-11 20:02] #1115 closed

[2017-12-11 20:05] johnnyreilly commented on #1113
Thanks for responding @jeffposnick - I appreciate you taking the time.

I think I've worked out what's available to me:

[code]

However that doesn't seem to include `importWorkboxFromCDN`.  I'd really like to push for this to be included as an option.  I'm afraid, based on my own experience, many workplaces are likely to resist using Workbox 3.0 if it's a CDN only option.

Yes that does work.  So

[2017-12-11 21:07] DecentM commented on #772
I know it's not _necessary_ to bundle it, but I'd much prefer to skip the extra HTTP request.
Bundling also provides the flexibility to post-process the created worker, like minifying, or importing other modules in one build step.

[2017-12-11 21:16] stevenfitzpatrick opened #1117 "Webpack-Workbox-plugin 3.0.0-alpha.2 console error produced Failed to execute 'transaction' on 'IDBDatabase'"
**Library Affected**:
workbox-webpack-plugin

**Browser & Platform**:
Chrome 63

**Issue or Feature Request Description**:
Bug

When trying out the v3 version of workbox-webpack-plugin 3, with the following set up.

[code]

I am seeing the following console errors when deployed.

[code]

I have the file deployed here if you want to see in action the error.
https://stevenfitzpatrick.io/

You might

[2017-12-12 15:06] jeffposnick commented on #1117
Apologies that you're running into this.

That sounds very much like https://github.com/GoogleChrome/workbox/issues/1109. It should be fixed in the next alpha release (likely later this week).

[2017-12-12 15:06] #1117 closed

[2017-12-12 15:44] beatrizdemiguelperez commented on #1114
The stack trace for "Entry was not found" was:
`sw.js:1 Uncaught (in promise) DOMException: Entry was not found.
    Promise rejected (async)
   self.addEventListener.event @ _default.mjs:152`

[2017-12-12 21:40] gauntface opened #1118 "Improve generated service worker"
Using the webpack plugin with a single file, the generated service worker is:

[code]

I'm not sure why this couldn't just be:

[code]

[2017-12-12 22:29] johnnyreilly commented on #1113
To be clear, (my comment above may not have been) I think there is an issue.  With `globDirectory` / `globPatterns` - my minimal repro illustrates the issue.  Running locally it fails with:

[code]

[2017-12-12 22:52] johnnyreilly opened #1119 "workbox-webpack-plugin@3.0.0-alpha.2 Service Worker throws this error: Failed to execute 'transaction' on 'IDBDatabase'"
**Library Affected**:
*workbox-webpack-plugin@3.0.0-alpha.2*

**Browser & Platform**:
webpack 3

**Issue or Feature Request Description**:
Hi!

When using a Service Worker generated by this code: https://github.com/johnnyreilly/workbox-3-globPatterns-bug-repro but with `new WorkboxPlugin({clientsClaim: true, skipWaiting: true})` in the config and this added to __index.js__:

[code]

When accessing

[2017-12-13 00:14] gauntface commented on #1119
@johnnyreilly is there anything else on the stack trace? IDBWrapper lives in workbox-core so it's not 100% clear what is causing this.

My hunch is that this is related to a bug that existed in workbox-precaching that is fixed on the v3 branch (I'll cut a release tomorrow so you can try it out). See: https://github.com/GoogleChrome/workbox/issues/1109

[2017-12-13 00:39] gauntface opened #1120 "Recommended Approach for Refreshing Page on new SW"
@beatrizdemiguelperez asked this question in the Slack channel and I know the twitter bootstrap peeps had similar issues so would be good to add some documentation on the topic.

I've just been looking around the old Chrome Dev Summit site and kind of pulled together this solution which detects the update and will refresh all clients, but I know @jeffposnick is a wizard with this, so wanted to che

[2017-12-13 01:22] #1014 closed

[2017-12-13 01:30] gauntface opened #1121 "Need to cover NavigationRoute in docs"
Just realised this isn't covered anywhere on the docs - easiest place is in the routing guide.

[2017-12-13 06:10] johnnyreilly commented on #1119
That was the full stack trace I'm afraid. Ping me when the release is cut and I'll give it a test. If it's still unhappy I'll supply a minimal repro to ease your investigation

[2017-12-13 07:02] johnnyreilly opened #1122 "workbox-webpack-plugin 3.0.0-alpha.2 - importWorkboxFromCDN: false not possible"
**Library Affected**:
*workbox-webpack-plugin@3.0.0-alpha.2*

**Browser & Platform**:
webpack 3

**Issue or Feature Request Description**:
`importWorkboxFromCDN: false` doesn't seem to be a supported option for the Workbox 3 webpack plugin.  I'd really like to push for this to be included as an option.  I'm afraid, based on my own experience, many organisations are likely to resist using Workbox 3

[2017-12-13 07:57] srosset81 commented on #179
Hi @jeffposnick, @gauntface,
I need to add `credentials: 'same-origin'` to **all** fetch requests in order to make a PWA work in a password-protected website.
How do I do that with Workbox ? I noticed the RequestWrapper class includes a `fetchOptions`, but I can't find a way to use it.
Thanks !

[2017-12-13 09:00] adrigzr opened #1123 "Unable to access IndexedDB on Android Webview"
**Library Affected**:
*workbox-core*

**Browser & Platform**:
*Android 7 Webview with Google Chrome Chrome/62.0.3202.84*

**Issue or Feature Request Description**:
*On Webviews, when workbox opens IndexedDB for precaching, it throws "DOMException: The user denied permission to access the database.". `StoragePermission` is granted for the app.*
*On the other hand, IndexedDB on `window` context of W

[2017-12-13 13:51] beatrizdemiguelperez opened #1124 "sw.js:1 Uncaught (in promise) DOMException: The requested version (1) is less than the existing version (2)."
Hi,

I got this error on page load:

[code]

 (screenshot)
![captura de pantalla 2017-12-13 a las 14 40 34](https://user-images.githubusercontent.com/9552730/33941979-c0501650-e014-11e7-94d0-395a77e47c93.png)

ServiceWorker was generated with workbox-build on branch v3 (generateSW) with this options:

[code]

[2017-12-13 18:41] gauntface commented on #1124
I think your versions are getting mixed up somewhere.

If you look in the screenshot - you have workbox-sw.prod.v2.1.2.js in your files, and that would match the error where version 1 of the indexedDB is being used. If you have sw.js building with v3, it'll register v2 of iDB.

My hunch is you were using v3, it registered v3 of indexedDB and for some reason (maybe a fresh install of workbox) you h

[2017-12-13 18:43] gauntface commented on #179
@srosset81 can you please move this to a new issue as you are asking a different question.

[2017-12-13 18:44] gauntface commented on #1123
Thanks for the issue, I'll nudge some people and see if there is an explanation / solution.

[2017-12-13 18:45] gauntface commented on #1122
:+1:

[2017-12-13 18:57] gauntface commented on #1123
Turns out that this was a bug in the webview and has been fixed: https://bugs.chromium.org/p/chromium/issues/detail?id=783159

However, it'll be some time before I imagine the WebView will get updated. The only option I can think of to get around this is to implementa basic precache yourself:

[code]

You can use workbox-build to still get a manifest of assets to precache. There are still likely s

[2017-12-13 19:20] jeffposnick commented on #1110
https://github.com/google/WebFundamentals/pull/5498 should help once that's merged.

[2017-12-13 19:28] gauntface commented on #1119
@johnnyreilly could you give v3.0.0-alpha.3 a try and see if you still hit this issue: https://github.com/GoogleChrome/workbox/releases/tag/v3.0.0-alpha.3

[2017-12-13 19:45] jeffposnick opened #1125 "Update build configuration docs to point to d.g.c content"
**Library Affected**:
`workbox-build`, `workbox-cli`, `workbox-webpack-plugin`

Assuming https://github.com/google/WebFundamentals/pull/5498 is merged, we need to update the existing JSDocs for `workbox-build` and `workbox-webpack-plugin`, as well as the output of `workbox-cli --help`, to point to the new URL as the canonical source of build configuration documentation.

[2017-12-13 19:56] jeffposnick commented on #1120
I mentioned this in https://github.com/google/WebFundamentals/pull/5493 as well, but I really like the writeup that @dfabulich from the Redfin team put together at https://redfin.engineering/how-to-fix-the-refresh-button-when-using-service-workers-a8e27af6df68 and I feel like pointing folks to that right now could end up being more useful that providing our or copy-and-paste solution.

I've brough

[2017-12-13 20:07] gauntface commented on #1120
To be honest - the article is full of valuable info, but pointing people to that is horrendous in terms of the knowledge required to be learnt when all they want is to add a refresh button, providing a copy and paste solution is a valid one here.

I totally agree that we should look into adding a window API, but I think that will happen in the new year when we plan out v4 features and start design

[2017-12-13 20:15] johnnyreilly commented on #1119
Yup - all good.  Well done!

[2017-12-13 20:15] #1119 closed

[2017-12-13 20:28] jeffposnick commented on #1123
That's a really unfortunate bug. At least the failures weren't a complete mystery.

It's worth noting that in addition to precaching, cache expiration and background sync rely on `IndexedDB` as well, so it's possible that you'd bump up against this bug even if you avoid using precaching.

If I were to recommend a workaround that didn't involve the official Workbox precaching behavior, I'd probably

[2017-12-13 21:16] jeffposnick commented on #795
https://github.com/google/WebFundamentals/pull/5498/files#diff-de2ecb2b4b7018b1cbd91913f18500e5R95 should also help here.

[2017-12-13 21:18] jeffposnick commented on #1122
Yup, this is still a pain point that needs to be addressed prior to the final v3 release.

https://github.com/GoogleChrome/workbox/issues/933 tracks a similar discussion; @johnnyreilly are you cool with closing this in favor of weighing in there?

[2017-12-13 21:21] gauntface commented on #1123
Side Note: You could warm the runtime cache as outlined in the upcoming docs here: https://github.com/google/WebFundamentals/pull/5493/files#diff-2ab944086580b765976735c780105b07R137

This way you'd have initial cached entries and they'd regularly get updated

[2017-12-13 21:56] johnnyreilly commented on #1122
Sure - I'll repost there.

[2017-12-13 21:56] #1122 closed

[2017-12-13 21:58] johnnyreilly commented on #933
As discussed in the closed linked issue, `importWorkboxFromCDN: false` doesn't seem to be a supported option for the Workbox 3 webpack plugin.  I'd really like to push for this to be included as an option.  I'm afraid, based on my own experience, many organisations are likely to resist using Workbox 3.0 if it ties them to a CDN they don't control.

FWIW I'm not taking a view on this myself, but I'

[2017-12-13 22:23] gauntface commented on #933
@johnnyreilly it's not going to get harder (this was an issue with V2).

Sadly the docs for build and webpack and just reference docs and are lacking pretty badly but Jeff is working on some of that stuff as I type this.

My understanding from the source code is that:

1.) If you are generating a service worker, i.e. you have no `swSrc`, and you set `importWorkboxFromCDN: false`, you should be get

[2017-12-13 22:24] gauntface commented on #1120
This has landed on WebFundamentals, so going to close this for now.

[2017-12-13 22:24] #1120 closed

[2017-12-13 22:33] gauntface commented on #772
@DecentM

[2017-12-13 22:34] gauntface commented on #772
I'm open to supporting this workflow if anyone is willing to have a stab at a PR. We've gone to a lot of effort to enable importing for a rollup build process, so it would be nice to have a browserify support as well.

[2017-12-13 22:53] johnnyreilly commented on #933
@gauntface - thanks for the clarification. That sounds perfect!

[2017-12-13 23:40] dfabulich commented on #1120
Thanks for linking to my guide! I just filed https://github.com/google/WebFundamentals/issues/5504 on this… I don't agree with the guidance there.

Overall, I feel that Workbox could stand to do a little more here… at the very least, Workbox could/should automatically generate a `message` handler that can handle the `force-activate` messages that the documentation recommends.

[2017-12-14 00:14] dfabulich commented on #1120
As for @jeffposnick's suggestion that Workbox could offer a page-client-side solution here, I think the right thing to do is to provide a "prolyfill" (a forward-looking polyfill for behavior that may one day be standardized).

I've posted a suggested prolyfill in a comment to https://github.com/w3c/ServiceWorker/issues/1222 and I think it would be better to just standardize on that.

[2017-12-14 08:16] adrigzr commented on #1123
Thanks for the quick response!

Do you know when the patch will be released? Maybe on Chrome 64?

[2017-12-14 08:19] srosset81 commented on #179
@gauntface I've done that on SO, since it's more a question than an issue.
https://stackoverflow.com/questions/47808749/how-to-add-fetch-options-to-workbox
Thanks !

[2017-12-14 16:17] jeffposnick opened #1129 "New library for browser (not SW) to handle registration/updates"
CC: @gauntface @dfabulich

*(This is primarily a placeholder for now, but something to consider for the v4 timeframe.)*

Splitting off the conversation from https://github.com/GoogleChrome/workbox/issues/1120#issuecomment-351504212

There's conversation at https://github.com/w3c/ServiceWorker/issues/1222 about making some relevant changes to the spec, in and if that happens, then Workbox could hel

[2017-12-14 17:22] jeffposnick commented on #933
Having let the feedback here percolate a bit, I wanted to move forward with a summary and proposal.

### Problem
There are three equally valid sources that a developer using the `workbox-webpack-plugin` might want to use when importing the Workbox runtime code:
1. The CDN URLs.
2. A local copy of the full bundles, inside a versioned subdirectory that Workbox creates for you.
3. A custom bundle of

[2017-12-14 18:57] jeffposnick commented on #1123
I don't have any timelines, but https://bugs.chromium.org/p/chromium/issues/detail?id=783159#c28 has details on which patch releases are likely to get the fix.

[2017-12-14 18:58] jeffposnick commented on #1123
(Also, I'm going to close this issue for the sake of housekeeping, since I don't think there's anything actionable from the Workbox side of things.)

[2017-12-14 18:58] #1123 closed

[2017-12-14 19:04] gauntface opened #1131 "Docs on how to set credentials"
This Q: https://stackoverflow.com/questions/47808749/how-to-add-fetch-options-to-workbox

How do we do this for v3?

See: https://github.com/GoogleChrome/workbox/issues/179#issuecomment-351639894 for info.

[2017-12-14 19:06] gauntface commented on #1129
I do think we could implement something in V4 that could inform the spec if it's slow to move.

[2017-12-14 19:08] #1118 closed

[2017-12-14 19:16] gauntface commented on #933
Could we have `importWorkboxFrom` ['cdn', 'local', null] as valid options for **all** the build tools with a default of 'cdn' and kill the `importWorkboxFromCDN`. Main reason is that it forces a choice, provides convenience for CDN and local and has the escape hatch with null (i.e. do nothing).

Regarding the string, I think it's fine, but we should provide a logical error message if a invalid val

[2017-12-14 19:35] jeffposnick commented on #933
I'm cool with using `null` as a valid option to disable any sort of automatic behavior across all of the tools.

But, to clarify, are you fine with allowing a chunk name as a valid `importWorkboxFrom` value for the `workbox-webpack-plugin` use case?

[2017-12-14 20:35] jeffposnick commented on #772
FWIW, you can skip the extra HTTP request and post-process the final file if you explicitly concatenate the full Workbox JavaScript code into your `browserify` output, via something like https://stackoverflow.com/questions/36329775/gulp-browserify-then-concat-files

(It's going to be harder to do this in v3 than it is in v2, since we ship smaller standalone files that would each need to be concate

[2017-12-14 21:06] johnnyreilly commented on #933
I think that's a good shout.

It's not a feature I plan to use but I've no objection to it.

Could you clarify what this means exactly?  What would be the point of doing that / the impact of doing that?

Also, supplying an option of `importWorkboxFrom: null` seems a little non-descriptive.  I can imagine this being an option that people aren't aware of / don't understand.  Would a value of `'disab

[2017-12-14 21:09] gauntface commented on #933
@jeffposnick I honestly don't understand what a "chunk name" means so I have no opinion on this.

:+1: `'disable'` instead of null.

Use case is largely for - I want to create a single bundle of my code and it'll be all minified but I want to inject a manifest and I'll provide a custom regex injection etc.

[2017-12-14 21:14] johnnyreilly commented on #933
Thanks for sharing @gauntface

By manifest I'm assuming you mean one of these?:

[code]

Could you tell me what you mean by this please? Feels like something I should understand but I don't

[2017-12-15 00:42] gauntface commented on #933
in workbox-build at the moment we don't have self.__precacheManifest (although I wish be did), instead it looks for workbox.precache.precacheAndRoute([]) and injects the array of files there (replacing []). We've allowed the ability to custom this regex to inject else where.

It's fair from ideal in v3 and one area I'd like to re-think in V4, but now it's where we are.

[2017-12-15 07:09] johnnyreilly commented on #933
Ah I see - thanks

[2017-12-15 09:29] beatrizdemiguelperez commented on #1124
Hi, i can not deploy this, but you are right, i don't know what happened but now i rerun gulp build and it works. Something weird. you can close this issue. I'm sorry

[2017-12-15 11:13] beatrizdemiguelperez commented on #1120
I tried this approach and it works. I think the docs are a little bit confusing. postMessage works but "controllerchange" event don't (or I cannot get this working)
Thank you for the suggestions :)

[2017-12-15 15:45] jeffposnick commented on #1113
Hello @johnnyreilly—I cloned https://github.com/johnnyreilly/workbox-3-globPatterns-bug-repro and followed your build steps.

The issue that you're running into is that you're opting-in to using `globPatterns` and `globDirectory` with the webpack plugin, but you're referring to a directory (`dist/`) that doesn't yet exist at the time the webpack plugin is run. `dist/` isn't created until after the

[2017-12-15 16:13] ayumihamsaki opened #1134 "Upgrade from V2 to V3 (alpha)"
Hi decided today to upgrade from V2 to V3.0.0 alpha 3. But seem to be getting an error and I can't really see what the issue is?

![1](https://user-images.githubusercontent.com/17784082/34050294-4646736e-e1b2-11e7-8b41-a313efaae020.png)

My Code in sw.js is:

[code]

There was zero problems when running the latest version of V2. I am wondering if I need to change the code or not - or maybe there i

[2017-12-15 16:22] johnnyreilly commented on #1113
Yes that makes sense.  However, I'm guessing this is **always** going to be the case when the webpack / Workbox build is run in a continuous integration setup.  So does a change need to be made to the plugin to delay running until the first webpack compilation has been completed.

[2017-12-15 16:26] gauntface commented on #1134
Because it is a major version bump there are a number of changes, especially around `workboxSW`.

The best thing to do is checkout https://developers.google.com/web/tools/workbox/next/, especially have a quick glance at the code snippets in the Guides.

For an example, the short above snippet would now be:

[code]

The one thing I do need to add in is support for the broadcasting of cache updates

[2017-12-15 16:29] gauntface opened #1135 "Add docs on V2 to V3 migration."
Think it would be good to create this doc to direct people to.

[2017-12-15 16:32] gauntface commented on #1120
@beatrizdemiguelperez Will take a look again. What can I change in the docs to make it less confusing?

https://developers.google.com/web/tools/workbox/guides/advanced-recipes#offer_a_page_reload_for_users

[2017-12-15 16:33] #1124 closed

[2017-12-15 16:33] gauntface commented on #1124
You would not believe how often I hit the same issue - it's easier to do than you'd think.

[2017-12-15 16:37] jeffposnick commented on #1113
We could theoretically make this either a warning rather than a fatal error, or just ignore it entirely (though I'd rather not do that, since misconfigured `glob` patterns is a common source of frustration).

But what I'd like to know more about is what you need Workbox to precache which

1. Don't exist in their final location until after the `webpack` compilation is complete the first time.
2. Is

[2017-12-15 16:41] johnnyreilly commented on #1113
For 2. : I don't want to cache anything that isn't dropped in `dist` as part of the webpack compilation.

For 1 : I want to pre-cache artifacts of the webpack build process.  So, if my build dumps out a bunch of images to the `dist` folder I'd likely want Workbox to precache those.

Does that make sense?

[2017-12-15 17:02] jeffposnick commented on #1113
Yup, it makes sense.

So the takeaway there is that you shouldn't be using `globPatterns` and `globDirectory` at all. The default behavior of the webpack plugin, without those options configured, will give you the precaching behavior you expect.

I've attempted to clarify this at https://github.com/google/WebFundamentals/pull/5521/files#diff-a38ccf8d6592f317c963a81e44622233R36

Let's move any feed

[2017-12-15 17:02] #1113 closed

[2017-12-15 17:03] jeffposnick commented on #1110
It's actually in https://github.com/google/WebFundamentals/pull/5521/files#diff-a38ccf8d6592f317c963a81e44622233R21.

I'm closing this issue in favor of moving any feedback to that PR.

[2017-12-15 17:03] #1110 closed

[2017-12-15 17:04] johnnyreilly commented on #1113
Cool - great.  Thanks!

[2017-12-15 17:22] jeffposnick opened #1136 "Make swSrc webpack plugin mode toggling explicit?"
**Library Affected**:
*workbox-webpack-plugin*

As of v3-alpha.3, the `workbox-webpack-plugin` supports two distinct modes, which roughly translate to what we refer to as `generateSW` and `injectManifest` elsewhere in Workbox.

- If `swSrc` *is not* configured, then the plugin is in `generateSW` mode, where the entire service worker file is created "from scratch" each time a build occurs.
- If `sw

[2017-12-15 17:40] jeffposnick commented on #1102
Regarding

I'm currently at a loss for how to do this in a generic way. I've asked https://stackoverflow.com/questions/47658134/determining-which-pattern-generated-a-webpack-assets-file-name, and have gently ping'ed @thelarkinn to see if he has any ideas.

[2017-12-15 17:46] jeffposnick commented on #1073
Are you suggesting the third option that I listed? Would we avoid the bundle size hit if we went with that approach?

[2017-12-15 17:52] jeffposnick commented on #933
I think we have consensus. I'm going to put together a PR that:

- Removes `importWorkboxFromCDN` from all build tools.
- Add `importWorkboxFrom` => `'cdn'|'local'|'disabled'` as a supported option in all build tools. It will always default to `'cdn'`, and `'disabled'` (which I prefer to `'disable'`) will turn it off.
  - Using it webpack plugin will also allow you to pass in an arbitrary string,

[2017-12-15 18:25] elf-pavlik commented on #933
@jeffposnick you suggested to continue #802 here, with you proposal above it seems that one can only import single chunk (the workbox) but can't import any other chunks.
I will need to share some of the webpack chunks between main application and the service worker, probably I should create separate issue for it?

@gauntface you might want to take a look at
* https://webpack.js.org/guides/code-spl

[2017-12-15 18:37] jeffposnick commented on #933
That sounds like it should be tracked separately, yes.

[2017-12-15 19:31] dfabulich commented on #1120
Perhaps a working example would help? I just made this. https://github.com/dfabulich/service-worker-refresh-sample

@beatrizdemiguelperez Does the sample work for you?

[2017-12-16 01:17] ayumihamsaki commented on #1134
Interesting, thanks Matt.

[2017-12-16 01:17] #1134 closed

[2017-12-16 02:10] ayumihamsaki commented on #1135
Hi going to add a comment here if ok. Just going through the doc's now and updating my code from V2 to V3.

I got a question with regards to it and the solution seems to be missing to the doc's.

On the doc's page: https://developers.google.com/web/tools/workbox/guides/common-recipes

Under the heading: Restrict Caches for a Specific Origin

The following code is very useful:

[code]

My question

[2017-12-16 02:13] ayumihamsaki commented on #1135
p.s. +1 for migration doc's although the guide is very good at updating things.

[2017-12-16 19:32] ayumihamsaki opened #1140 "Question: networkTimeoutSeconds in V3"
Hi I'm in the progress of updating from V2 to V3 and reading through all the new guide (Very Good by the way!!!)

I got a question - issue with regards to it and the solution seems to be missing from the doc's.

On the doc's page: https://developers.google.com/web/tools/workbox/guides/common-recipes

Under the heading: Restrict Caches for a Specific Origin

The following code is very useful:

[cod

[2017-12-18 14:46] beatrizdemiguelperez commented on #1120
Well, I don't think that this is an "advanced recipe".

I mean, If you want to use workbox to precache your files, you have to be sure about it when you deploy your web because there's no going back.

You always want all your clients to update the web, as you did with App Cache.
If you make a mistake here, users will see an outdated version.

So for me, It is very important to know exactly when a

[2017-12-18 15:29] dfabulich commented on #1120
@beatrizdemiguelperez

1) I agree completely with this:

I'd appreciate it if you would make your voice heard on https://github.com/w3c/ServiceWorker/issues/1222 and/or https://github.com/w3c/ServiceWorker/issues/1247 where we're discussing modifying the standard to make this code easier to manage.

In https://github.com/w3c/ServiceWorker/issues/1222 I propose a one-line way of detecting whether a

[2017-12-18 15:46] jeffposnick commented on #1140
Hello @ayumihamsaki—`networkTimetoutSeconds` is still supported in v3, and is documented at https://developers.google.com/web/tools/workbox/reference-docs/prerelease/workbox.strategies.NetworkFirst

Please note that it's only a valid options when using the `NetworkFirst` strategy, so that's the only place it appears in the docs.

[2017-12-18 18:57] gauntface commented on #1073
@jeffposnick Yes the third option

[2017-12-18 19:30] gauntface commented on #1136
This looks good to me, only comment is whether this is any value instead of new, just do:

[code]

Removing the "new" and lower casing the method name.

[2017-12-18 19:43] gauntface commented on #1140
@jeffposnick I'm going to keep bugs like this open as it's a point we can add to the docs that will hopefully help others.

[2017-12-18 20:16] jeffposnick commented on #1136
Every Webpack plugin that I'm familiar with follows the pattern of exposing a class that gets explicitly initialized inside of the `plugins: []` array. That's the model used in the https://webpack.js.org/contribute/writing-a-plugin/ docs, as well.

They're obviously equivalent, but I'm assuming it would feel more fluent for webpack users if we went with `new WorkboxPlugin.GenerateSW({})`.

[2017-12-18 20:42] #1140 closed

[2017-12-19 10:38] ayumihamsaki commented on #1140
Thank you @jeffposnick I was about to use it for a `CacheFirst` strategy as well. So I will make a note of that.

@gauntface where can I keep in the loop, as you mentioned you might be creating a V2 to V3 migration guide. As I would be keen to see it and also I seem to be getting some strange errors with V3 alpha 3. So have decided to wait for a beta release and try again with upgrading from V2.1.

[2017-12-19 16:21] gauntface commented on #1136
SGTM

[2017-12-19 18:53] prateekbh commented on #1136
+1 for `new` pattern. practically every webpack plugin i have used is like this

[2017-12-19 21:15] jeffposnick commented on #179
@srosset81 FYI, I need some more information in order to help you on Stack Overflow: https://stackoverflow.com/questions/47808749/how-to-add-fetch-options-to-workbox#comment82602865_47808749

[2017-12-21 09:05] raviqqe commented on #903
Is there any workaround so far? I really want this feature so that my websites work offline as it is without rewriting `<a/>` URLs.

[2017-12-21 15:16] jeffposnick commented on #903
A workaround is to use a config like the one in https://github.com/GoogleChrome/workbox/issues/903#issuecomment-348611755, where you explicitly set `templatedUrls` to a mapping of "pretty" URL => the underlying `.html` file.

Have you had any luck with that?

[2017-12-21 19:58] robertop87 opened #1142 "Question: how to cache an entire site to be used in an iframe offline"
Sorry if it is not the best place to ask it.

I have a Polymer site working in offline mode, it's working perfectly, but in some points I need to show an iframe (same domain), but the playout is "No internet conecction"; I already cached all files included in the iframe and its own index.html, but the problem persists.

Any suggestion or idea?

[2017-12-21 20:29] raviqqe commented on #903
I forgot to mention that I use the CLI version.

[2017-12-21 20:47] jeffposnick commented on #903
You could actually do this with the CLI version, too 😄

(I totally understand that this is ugly and not what we'd ideally want developers to have to do, but I want to help unblock you given what's currently possible.)

[code]

[2017-12-21 21:23] jeffposnick opened #1144 "globPatterns now defaults to []"
(Assuming https://github.com/GoogleChrome/workbox/pull/1143 is merged.)

The default for `globPatterns` was previously `['**/*.{js,css,html}']` for the `generateSW` and `injectManfiest` modes of `workbox-build`. Now it's `[]`.

Developers who were previously relying on that default can get the equivalent functionality by explicitly setting `globPattnerns: ['**/*.{js,css,html}']` when configuring t

[2017-12-22 03:01] xiaoiver commented on #1102
I use the custom

[2017-12-22 03:10] xiaoiver commented on #1102
Since I'm using the `swSrc`, I can control the whole precache manifest list in a more flexible way.
I use the following code to omit the `.map` and `hot-update` files used by `webpack-hot-middleware`  in development mode.
[code]

[2017-12-22 06:33] raviqqe commented on #903
Thank you @jeffposnick! I ended up this script. Note that I use Jekyll here and compiled HTML files of my website is located in `_site` directory.

[code]

[2017-12-22 11:56] spoman007 opened #1145 "Infinite service calls in offline mode when using BG sync"
Welcome! Please use this template for reporting bugs or requesting features. For questions about using Workbox, the best place to ask is Stack Overflow, tagged with `[workbox]`: https://stackoverflow.com/questions/ask?tags=workbox

**Library Affected**:
*workbox-backgroundSync

**Browser & Platform**:
*Google Chrome v51.0.1

**Infinite service calls when in offline mode**:
[code]

<img width="739"

[2017-12-22 15:30] jeffposnick commented on #1145
CC: @philipwalton

[2017-12-22 19:56] jeffposnick commented on #1144
We decided not to go ahead with changing this default.

[2017-12-22 19:56] #1144 closed

[2017-12-22 19:57] #1136 closed

[2018-01-02 09:07] ZhangYiJiang opened #1147 "Please version the documentation for Workbox"
I've just wasted an hour trying to figure out why some options were having no effect, only to realize that I was looking at the docs for version 3, while we are still using version 2.

There's no indication *anywhere* on the page which version I'm looking at - not in the URL, the header or footer. The documentation for v3 for some components already rank higher than v2 on Google searches, even tho

[2018-01-02 18:41] gauntface commented on #1147
@ZhangYiJiang thanks for the issue - do you have any opinion on where it would make most sense to add the version number?

[2018-01-02 18:59] gauntface commented on #1142
Can you provide the following information:

1.) Where is your service worker file on your website?
2.) What URL is the page being loaded in the browser?
3.) What URL is the page being loaded in the iframe?

[2018-01-02 20:20] #933 closed

[2018-01-02 23:54] ZhangYiJiang commented on #1147
The easiest way would be to just add it to the title of the project on the documentation - for example, Google Sheets API [v3](https://developers.google.com/sheets/api/v3/) vs [v4](https://developers.google.com/sheets/api/reference/rest/).

A more elegant solution would be to make the version number part of the URL, and put the version number somewhere on the page as a menu and let users switch be

[2018-01-03 12:42] robertop87 commented on #1142
@gauntface
1. https://mydomain.com/player/sw.js
2. https://mydomain.com/player/index.html
3. https://mydomain.com/pages/new/333ddd.html

Thanks in advance

[2018-01-03 16:25] jeffposnick commented on #935
FYI, I'm going to put together a PR that follows the `{test, include, exclude}` convention, using https://github.com/webpack-contrib/uglifyjs-webpack-plugin/blob/master/src/index.js. as a model.

This would just filter filenames, and apply after chunks are filtered. (`includeChunks` and `excludeChunks` will stick around for that purpose.)

This might not end up being the final implementation, but

[2018-01-03 17:48] gauntface commented on #1142
@robertop87 the location of the service worker file 'sw.js' means the **scope of the service worker** is `/player/`, this means it will control only pages that start with `/player/`. For the iframe, the service worker will not control that page since it starts with `/pages/`.

If you want to support offline of the service worker file you can do one of the following things:

1.) Move the service wo

[2018-01-03 17:52] gauntface commented on #1147
Thanks @ZhangYiJiang I'll take a look.

I've avoided the version number in the URL for the main URL's simply because google results end up being a nightmare (i.e. old docs get surfaced instead of the newest). But there should be ways around this.

[2018-01-03 19:21] #1147 closed

[2018-01-03 19:26] jeffposnick commented on #912
As per @gauntface, the work tracked in this issue has been completed.

[2018-01-03 19:26] #912 closed

[2018-01-03 19:54] gauntface opened #1150 "Support Navigation Preload"
Title says it all.

Requested by @paulirish.

[2018-01-03 21:09] jeffposnick commented on #1096
I'm going to move ahead with this, targeted for the next v3 alpha release.

[2018-01-03 23:28] gauntface commented on #1147
@ZhangYiJiang please re-open if you think this isn't enough.

[2018-01-04 06:23] ZhangYiJiang commented on #1147
Hi, thanks for the quick response! The changes to the reference documentation are fine, however the v3 page I linked in above still does not have any sort of indication that it is v3. I noticed there's warning at the top of pages in the 'Guides' section - it may be useful to have this over on the pages in the 'Modules' section too

![screenshot from 2018-01-04 14-22-21](https://user-images.githubu

[2018-01-04 15:35] jeffposnick opened #1151 "Support for webpack 4 plugin system"
**Library Affected**:
*workbox-webpack-plugin*

As mentioned in https://medium.com/webpack/the-new-plugin-system-week-22-23-c24e3b22e95 and probably elsewhere, the plugin system is changing in webpack 4.

We need to evaluate those changes and release a compatible version of `workbox-webpack-plugin` in the future.

(If there's anyone in the community familiar with migrating to webpack 4's architect

[2018-01-04 15:50] #935 closed

[2018-01-04 17:57] DavidScales opened #1152 "V3 documentation (minor) - redundant code in example"
**Library Affected**:
*workbox-sw*

**Issue**
*v3 documentation*

I just started reading through the v3 docs - they are awesome so far! :D

The [Force a Timeout on Network Requests example](https://developers.google.com/web/tools/workbox/guides/common-recipes#force_a_timeout_on_network_requests) in the Common Recipes section is as follows:

[code]

I see here that the `cacheableResponse` statuses

[2018-01-04 18:15] DavidScales opened #1153 "V3 documentation - canonical method for setting cache expiration in routes"
**Library Affected**:
*workbox-sw*

**Issue**:
*v3 documentation*

I see that there are two documented ways of configuring cache expiration details when setting up a route.

In the [Get Started](https://developers.google.com/web/tools/workbox/guides/get-started) guide, the `cacheExpiration` property is used directly (note that I stripped the comments from this snippet):

[code]
and in the [Home pa

[2018-01-04 19:07] gauntface commented on #1152
Thanks for calling this out @DavidScales - should be fixed with linked PR.

[2018-01-04 19:08] gauntface commented on #1153
We ended up removing the first approach you call out because it meant that there was no way to use the cacheFirst strategy without loading all plugins. Instead the developer has to explicitly add the plugin (as shown in the second example).

Should be fixed in the linked PR.

[2018-01-04 19:34] #1153 closed

[2018-01-04 19:34] #1152 closed

[2018-01-04 19:36] gauntface commented on #1147
Adding that in this PR: https://github.com/google/WebFundamentals/pull/5604

[2018-01-05 01:33] chrstntdd opened #1158 "cacheFirst always hitting the network"
**Library Affected**:
*workbox-sw and workbox-build...?*

**Browser & Platform**:
*all browsers.*

**Issue or Feature Request Description**:

This may be a mistake in my config, but I have tried just about everything and can't seem to get precaching to work at all. The overarching issue is that despite the installation of my service worker succeeding and the assets being precached on the same inst

[2018-01-05 08:56] romulocintra opened #1159 "Generate Changelog"
**Issue or Feature Request Description:**

Will be great if in some way you can generate a change log to easy follow changes on workbox , i've been following commits etc ... but change log will be really helpful to all community using workbox

[2018-01-05 16:22] jeffposnick commented on #1159
Our strategy has been to compile a list of changes in each tagged release we publish, and make those available at https://github.com/GoogleChrome/workbox/releases

We've got another alpha release coming up shortly, and we'll continue that practice to cover the significant changes.

Then, when the final v3 release is ready, we'll aggregate all of the individual pre-release change listings into a si

[2018-01-05 18:18] gauntface commented on #1159
@romulocintra if the above doesn't work for you - can you suggest any way of automatically managing this? I can guarantee that we will fail to manage it manually.

[2018-01-05 18:19] DavidScales commented on #1158
It looks like the precaching stage is working, since you can see the files in the cache with dev tools, which makes me think it must be an issue with route matching. Is it possible that the regex in your `registerRoute` call is off? Currently it looks like you have `/\.js|\.css|\.html$/`, which only matches the end of a URL. I think you have to match the entire URL.

Tools like https://regexr.com/

[2018-01-05 18:27] gauntface commented on #1158
Is there an example project or site we can see? It's normally easier to diagnose.

Things will be getting better for debugging and understanding what is happening in V3, checkout the precaching demo: https://workbox-demos.firebaseapp.com/demo/workbox-precaching/

[2018-01-05 18:38] romulocintra commented on #1159
Hi  @gauntface  and @jeffposnick  , your are doing a good job 🥇 with workbox and we are following updates on codebase to keep up to date  in our developments . The previous strategy for me is ok and together with commit history is "easy"  to track  changes.

But following a pattern and using something like  [lerna-changelog](https://github.com/lerna/lerna-changelog) could make easy and all changes

[2018-01-05 20:30] #1096 closed

[2018-01-05 21:42] jeffposnick commented on #1158
Based on your HTTP server logs, your service worker file is being served from `/dist/sw.js`.

Because it's being served from the `/dist/` subdirectory, an HTML page accessed from the top-level `/` page won't be under its scope, and the service worker won't be able to control that page. That's why you never see it intercepting any traffic.

If you start serving your service worker file from `/sw.js

[2018-01-05 22:01] DavidScales commented on #1158
Ah yeah that makes way more sense than my answer ;) I was mistaken about the regex thing. From testing, it looks like you don't need to match the entire URL with the regex in `registerRoute`.

[2018-01-06 04:23] chrstntdd commented on #1158
@jeffposnick - you're absolutely right! I adjusted things just like you said and now I serve the service worker from `/sw.js`. I knew it was just a minor config problem outside of this library specifically. Thank you for your help.

[2018-01-06 04:23] #1158 closed

[2018-01-08 14:41] robertop87 opened #1161 "[Question] Custom the path of service worker file in index.js"
Hi Everyone.

Currently I have a sw.js out of my app, and I need to use for my app.

After a build i got the index.js file with the next line:
   `navigator.serviceWorker.register('sw.js')`

And I need to set it to:
   `navigator.serviceWorker.register('../sw.js')`

Any suggestion?

Thanks in advaced

[2018-01-08 18:56] gauntface commented on #1161
From the slack channel:

The main scenario is the next:

[7:03]
- I have an wesite here: mydomain.com
- I have my application using context here: mydomain.com/context
- Into my app I am loading iframes that use: mydoamin.com/sf/new/index.html
- My SW is located here: mydomain.com/context/sw.js
* As you told me before it should be located here: mydomain.com/sw.js
- But it's not possible with my cur

[2018-01-08 19:02] gauntface commented on #1161
I don't think your redirects will help.

The best bet if you can't put sw.js in at /sw.js then you should probably look at adding the `Service-Worker-Allowed` header more info: https://www.w3.org/TR/service-workers-1/

I think Stackoverflow my be a better place for your questions as it's a service worker question instead of Workbox.

[2018-01-08 19:02] #1161 closed

[2018-01-08 19:38] #1145 closed

[2018-01-08 19:42] gauntface commented on #1129
Extra note: Would be good to log info on whether a page is controlled, what it's scope is and what the service worker scope is etc. This is quickly becoming a common question / sticking point for developers. Logging for the developers current situation would be helpful.

[2018-01-08 19:47] gauntface commented on #1159
@romulocintra I'm fine with adding this in. We currently have a github publish step that posts a draft for each release so if we could get the change log from the module, we can just auto-add it to the github release.

Is there anyone wanting to have an attempt at this?

[2018-01-08 21:46] prateekbh commented on #1129
Question: There is a repetitive question where people are curious on how to show something in browser as soon as new SW kicks in(bringing in new changes to the web app).

Can we use this lib to send out some event may be which app's code can listen to and show a snack-bar or any other UI may be.

[2018-01-08 22:05] prateekbh commented on #900
need to check the current code. But in case we're still listening to `emit` event from webpack, this might need some substantial work

[2018-01-09 01:13] DavidScales commented on #1052
I've recently started looking into updating Codelabs and some other training materials with v3, and have to say that I'm facing the same issue as @gauntface - I think it's awkward to generate a file & then modify it.

I understand @jeffposnick thought process of streamlining the wizard for the beginner dev use case, but I think that the wizard flow could support either case without too much impact

[2018-01-09 01:31] gauntface opened #1162 "Add docs on using Workbox CLI in Alpha"
The command should be:

[code]

But we don't document this in the "next" release docs.

[2018-01-09 02:13] nasearle commented on #1052
I'm in the same boat and would appreciate being able to inject a manifest from the command line without having to edit the config.

If you do end up making this change, I'd like to throw in a vote for using a flag instead of a prompt.
1. It's unambiguous. In order to inject a manifest, developers have to already know that's what they want. That way there's no confusion.
2. If developers already kn

[2018-01-09 07:21] romulocintra commented on #1159
@gauntface i can take a look at ;)

[2018-01-09 13:32] ayumihamsaki opened #1163 "Question: Which file to link too?"
Sorry this might be the dumbess question in the world.

It seems like everything in V2 has been changed. I will post a screenshot of the old layout:

![1](https://user-images.githubusercontent.com/17784082/34722979-dbeaed40-f540-11e7-804e-abee2323e79c.png)

So before we would link to a .js file in the import scripts choosing either production or dev. Now all that is gone and we have this:

![2](ht

[2018-01-09 16:47] ayumihamsaki opened #1164 "Turn off a service worker in parts of the website"
Hi,

Service Workers are great and I love them, but they are very annoying when trying to work in the backend of a website like an admincp.

In Google Chrome there is a feature that you can turn off a service worker for a website - works great!

I just wondered if its possible to write a small JavaScript and add it to all the admincp pages that tells the browser to turn off the service worker auto

[2018-01-09 17:19] jeffposnick commented on #1052
Given popular demand, I can add in support for

[code]

(I'd like to use `--swSrc|sw-src` as the flag name to reflect that that's also the config name.)

One other thing that I'd like to do with that approach is to validate the file that you pass in to ensure that it contains a match for the default `injectionPointRegExp` value, and refuse the start the wizard otherwise:

https://github.com/Google

[2018-01-09 17:37] DavidScales commented on #1052
ah yeah that makes more sense as a flag name

that seems like a good idea to me 👍  that way devs can catch it during set up

[2018-01-09 18:41] gauntface opened #1165 "CDN publishing fails when part of the larger gulp publish chain"
This is the error thrown by `gulp publish-github` when we do a release via `gulp publish` and all steps are chained.

[code]

[2018-01-09 21:12] jeffposnick commented on #1163
I'm sorry that you're running into issues.

You mention that something's changed with your local copies of the Workbox library, but can you let us know whether you recently did something like reinstall the library via `npm`, or redownload an archive of the library files (if so, from which URL)?

Since you're showing screenshots of your local filesystem, we need to know what method you used to obta

[2018-01-09 21:21] jeffposnick commented on #1164
Hello @ayumihamsaki—Are those AdminCP pages purely server-rendered? (I'm not familiar with it, but I think it's a PHP script?)

I think what you're describing is just making sure that there aren't any service worker runtime caching routes that match the URLs you're using for your AdminCP pages. If all of your AdminCP pages share a common URL path prefix, that would make it much cleaner to keep thi

[2018-01-09 21:48] ayumihamsaki commented on #1164
Hi Jeff,

Thanks for reply, Jake gave me a good answer will post his code here and also the link. I think this code should work for Workbox, maybe you guys want to add it to the doc's.

Code:

[code]

Linked from: https://github.com/w3c/ServiceWorker/issues/1257

[2018-01-09 21:48] #1164 closed

[2018-01-09 22:02] ayumihamsaki commented on #1163
Hi @jeffposnick

I have worked it out now after reading your comment. Yes you are correct. When you download using `npm` and download the `zip` from the releases section they are not packaged in the same way. I thought they were exactly the same, but they are totally different.

To answer you: I first downloaded using `npm`, but today I downloaded using the releases `zip`.

Thanks for your help, p

[2018-01-09 22:02] #1163 closed

[2018-01-09 22:12] jeffposnick commented on #1164
Hello @ayumihamsaki—I'm glad things are working for you!

I think the main thing is that, by default, Workbox won't intercept any `fetch` requests. Once you add in precaching, it will start intercepting requests for precached resources, but presumably your AdminCP URLs aren't precached (that's why I asked about server rendering).

So if Workbox was intercepting those URLs, it's likely because you

[2018-01-09 22:14] jeffposnick commented on #1163
Thanks to @gauntface's efforts, the upcoming v3 releases will all have links to `.zip` archives of the fully compiled library code. You can see that for one of the v3 alpha releases at https://github.com/GoogleChrome/workbox/releases/tag/v3.0.0-alpha.4

(In v3, you'll also be able to run `workbox copyLibraries <path/to/dest/dir>` using `workbox-cli`.)

So you're suggestion will be implemented in t

[2018-01-09 22:55] ayumihamsaki commented on #1164
@jeffposnick Thanks for the offer, I am waiting for Workbox V3 to come out of alpha and into beta, so I will sort this issue out later.

[2018-01-09 23:55] DavidScales commented on #1052
Related question

Currently, completing `workbox wizard` produces this log:

Would it be possible also to modify this log if the user supplies the `swSrc` flag? Since the suggested `workbox generateSW workbox-config.js` command make less sense in this context. Perhaps the log could be changed to `workbox injectManifest workbox-config.js`?

[2018-01-10 06:18] nulun opened #1167 "add expiration rule for globPatterns in workbox-build?"
Can I add expiration rules for globPatterns in workbox-build?

[2018-01-10 07:45] NoamPaz opened #1168 "Expiration plugin throw error when cachedResponseWillBeUsed gets undefined as cachedResponse"
**Library Affected**:
Expiration plugin in workbox 3.0.0-alpha.3

**Browser & Platform**:
Version 63.0.3239.108 (Official Build) (64-bit)

**Issue or Feature Request Description**:
I am using expiration plugin as following:

[code]
For the first time the cachedResponseWillBeUsed gets undefined in the cachedResponse parameter and call to _isResponseDateFresh function with the undefined response.
In

[2018-01-10 16:25] DavidScales commented on #1168
I'm having a similar issue in Workbox 3.0.0-alpha.4

I was trying

[code]

and getting the same error:

[code]

I first tried a generic operation to check that I wasn't just doing something weird:

[code]

which worked as expected. So then I removed the `maxAgeSeconds` property to eliminate the header check, but got a new error:

[code]

 which seems like it might be related. I'll dive into it a l

[2018-01-10 19:30] jeffposnick commented on #621
![pbc](https://user-images.githubusercontent.com/1749548/34791344-afb29728-f612-11e7-85be-80439877d70a.png)

Feedback is welcome, especially around the "Open Questions" section at the end: https://docs.google.com/document/d/1oZOIsJjZ31DjQksU8Zlq3Tql6f13c-5aWHKFxpZynqo/edit?usp=sharing

[2018-01-10 20:03] gauntface commented on #1168
Thanks for raising the issue - will take a look

[2018-01-10 20:37] gauntface commented on #1168
The cache expiration is a bug in Workbox. The request lifecycle can return null which the plugin was accounting for.

PR has been raised to fix this.

@DavidScales I'm not able to reproduce your error. Is there any chance you could send me an example site and / or a glitch.me example?

[2018-01-10 20:44] gauntface commented on #1167
@nulun the globPatterns is for precaching (i.e. caching files during the installation of the service worker). To change these files, you should publish a new service worker (i.e. re-deploy your app).

The expiration is useful for files that don't need to be cached during install and / or for files that are dynamic and seperate from your build process.

For that you should be using a strategy under

[2018-01-10 20:44] #1167 closed

[2018-01-10 20:45] gauntface commented on #1052
+1 from me. Feels like a simple enough tweak.

[2018-01-10 20:48] gauntface commented on #1129
@prateekbh yes thats on the cards - I need to put together a proposal for all this.

[2018-01-10 23:48] DavidScales commented on #1168
@gauntface

Looks like glitch.me & I aren't getting along too well but I made a quickly stripped down version of the app.

If you visit the [hosted app](https://davidscales.github.io/workbox-test/index.html), the service worker is installed and working. Then click on the link to "Article 1" (the erroneous route is for articles) and you should see the error in the console.

The [code is here](https

[2018-01-11 15:38] #1168 closed

[2018-01-11 23:24] DavidScales commented on #1168
potentially a silly question / not trying to sound impatient ;) - does this patch end up in 3.0.0-alpha.5 or is there another way for me to test it?

[2018-01-11 23:45] addyosmani commented on #1135
As a start, we can link folks out to the migration codelab: https://codelabs.developers.google.com/codelabs/sw-precache-to-workbox/index.html?index=..%2F..%2Findex#0

[2018-01-12 00:24] gauntface commented on #1168
@DavidScales you could run gulp build and host the file on your site and then in your service worker:

[code]

That should result in the build being used instead of the CDN.

[2018-01-12 18:42] DavidScales commented on #1135
just to note - that Codelab currently documents an sw-preache --> workbox v2 transition

hopefully @nasearle (who authored it) can update it at some point. would it better as an sw-precache --> workbox v3 lab, or as a workbox v2 --> workbox v3 lab?

I'm currently updating the [Build a PWA with Workbox Codelab](https://codelabs.developers.google.com/codelabs/workbox-lab/#0) from v2 to v3 right now.

[2018-01-12 19:34] gauntface commented on #1168
@DavidScales the .5 release is now out with the fix. Would love to know if it fixed your problem.

[2018-01-12 20:48] jeffposnick opened #1172 "Issue with importWorkboxFrom: 'local' in webpack plugin"
**Library Affected**:
*workbox-webpack-plugin*

When trying out `GenerateSW({importWorkboxFrom: 'local'})` I ended up with the following:

[code]

That `"/"` should have been `"workbox-v3.0.0-alpha.5/workbox-sw.js"`.

[2018-01-12 21:57] DavidScales commented on #1168
@gauntface thanks for the advice on the `gulp build` thing

Currently looks like alpha.5 doesn't fix my error :(

Commenting out the cacheableResponse plugin seems to work:

[code]

Also looks like it's only a problem when there is no image in the cache - if I comment out the `cacheableResponse` plugin, let the image cache, then uncomment the plugin, it behaves as intended.

This code is a bit abo

[2018-01-13 00:57] gauntface opened #1174 "workbox-build getModuleUrl should throw for no input"
Running:

[code]

Will return the URL: `https://storage.googleapis.com/workbox-cdn/releases/3.0.0-alpha.5/undefined.js`

It should throw when no module name is passed in.

[2018-01-13 06:43] NoamPaz opened #1175 "Failed to create 2 store objects in the DB for 2 expiration objects"
**Library Affected**:
workbox 3.0.0-alpha.4

**Browser & Platform**:
Version 63.0.3239.108 (Official Build) (64-bit) - PC

**Issue Description**:
I create 2 expiration object on 2 different cache names, one for the assets routing and one for GET rest API routing.

[code]

In the assets routing I use both updateTimestamp, expireEntries function of the assetsExpirationManager instance, and in the GE

[2018-01-13 12:59] romulocintra commented on #1159
@gauntface  silly question on runing demos  locally

gulp demos:serve:local

Error: Unable to authorize access to project workbox-demos

[2018-01-13 22:30] #1172 closed

[2018-01-14 19:16] #1052 closed

[2018-01-16 08:00] sourvb commented on #934
Just for reference,

I have achieved it using [copy-webpack-plugin](https://github.com/webpack-contrib/copy-webpack-plugin) for copying files which I do not want to include in Webpack pipeline otherwise.

[2018-01-16 10:55] kamalendugarai opened #1176 "Geting error: One of the glob patterns doesn't match any files...."
Tried many thing but it still saying "One of the glob patterns doesn't match any files". Please remove or fix the following:

[code]

**My webpack config file as  #below...**

[code]

I have removed many plugins like hard-source-webpack-plugin, clean-webpack-plugin, webpack-pwa-manifest, favicons-webpack-plugin and tried but issue remain same
Please help me out

[2018-01-16 19:14] jeffposnick commented on #1176
Hello @kamalendugarai—I'm sorry that you're running into issues.

One thing that I find confusing is that your configuration specifies `globPatterns: ['**/*.{html,js,css}']`, but the error message says that the failing `globPattern` is `"*.{html, js,css}"`, without the leading `'**/'` wildcard. Can you confirm that you're definitely passing `'**/*.{html,js,css}'` when configuring the plugin? I'm n

[2018-01-16 19:28] gauntface commented on #1159
Chances are thats Firebase's serving infra not working because you don't have access to firebase project (Not that it's needed for any reason other than Google Cloud probably being greedy with it's emulation)

[2018-01-16 19:32] gauntface commented on #1175
I'm a bit confused about the code that causes the issue - it it just the code snippet above that causes the error - or is it a route that causes the problem?

A minimal example would be helpful.

Also there is an alpha ending in `.5` that is published now that has some expiration fixes.

[2018-01-16 19:36] gauntface opened #1178 "Cacheable Response Plugin Issue"
From @davidscales

Original Error Message

[code]

Commenting out the cacheableResponse plugin seems to work:

[code]

Also looks like it's only a problem when there is no image in the cache - if I comment out the `cacheableResponse` plugin, let the image cache, then uncomment the plugin, it behaves as intended.

This code is a bit above my level, but using the debugger it looks like the `_isRespo

[2018-01-16 19:40] gauntface commented on #1178
Ah I have an idea of what this might be - thank you David for the extra debugging. Will add some extra tests and assertions and hopefully find a fix.

[2018-01-16 19:49] gauntface commented on #1135
I would love a focus on sw-precache / toolbos to V3.

This V2 to V3 guide will likely be applicable to a smaller bunch of people and the changes can largely be summarised succinctly - I just want it to exist when we launch.

[2018-01-16 19:54] nasearle commented on #1135
Should be able to start updating that codelab this week! I'll keep you posted

[2018-01-16 21:15] jeffposnick commented on #1165
I was digging into this a bit and it sounds like it could be the same thing as https://github.com/archiverjs/node-archiver/issues/288

It's unfortunate that the rejected promise within the `gulp` task leads to a real loss of stack context when the error is logged, but the `'publish-github:generate-from-tags` task does call` archiver`, so that's one similarity. And that other bug report also involv

[2018-01-16 21:36] jeffposnick commented on #1165
It turns out that the `archiver` module already returns a promise from its `finalize()` method: https://github.com/archiverjs/node-archiver/blob/d43f922abcf2e9b407fa45591e0e8665fc0f8786/lib/core.js#L762-L795

(This isn't mentioned in [the docs](https://archiverjs.com/docs/Archiver.html#finalize), but I filed a PR to fix that: https://github.com/archiverjs/node-archiver/pull/306.)

I'm going to put

[2018-01-16 22:15] jeffposnick opened #1180 "Error with multiple calls to copyWorkboxLibraries()"
**Library Affected**:
*workbox-build*

@jgw96 reported this to me directly: After the first call to `workbox-build.copyWorkboxLibraries()`, calling it again while the destination directory still exists will lead to errors like

[code]

[2018-01-17 01:35] gauntface commented on #1168
Moved discussion to: https://github.com/GoogleChrome/workbox/issues/1178

[2018-01-17 11:22] kamalendugarai commented on #1176
Thanks @jeffposnick for your help.
Sorry, that was a typo.
I have changed globpatterns:['**/*.{html, js, css}'] to globPatterns: ['**/*.js'], now its showing same error with globPatterns: '**/*.js' and if I revert back then its showing the error with globpatterns:'**/*.{html, js, css}'.
I will try the beta version for sure but I would like to solve the issue I raised here also as I do not want to

[2018-01-17 15:22] NoamPaz commented on #1175
It still happens on alpha.5.
Here is an example code that causes this issue.
[code]
It happens after executing of both cacheDidUpdate functions in the above code at least one time each.

[2018-01-17 15:55] #1174 closed

[2018-01-17 16:09] #1180 closed

[2018-01-17 16:17] jeffposnick commented on #1176
What's are the full contents of your `dist_path` directory after the build has completed? (With the `Workbox` plugin commented out for the time being.)

[2018-01-17 19:32] jeffposnick commented on #961
I believe that #1157 fixed this, as we're no longer stuck on `0.49`:

https://github.com/GoogleChrome/workbox/blob/29e85277ab80ce9ad728e16d1d50b6b51f0a2be8/package.json#L94

(Please reopen if I'm misinterpreting the original issue.)

[2018-01-17 19:32] #961 closed

[2018-01-17 22:28] #1178 closed

[2018-01-17 22:39] gauntface commented on #1175
Thanks for the extra info - I was able to reproduce it - will look into the issue now.

[2018-01-17 23:56] DavidScales opened #1185 "Error: Plugin.cacheWillUpdate() fails to return Response"
**Library Affected**:
*workbox-sw (v3 alpha 5)*

Hi again @gauntface,

#1182 fixes my issue in #1178 👍

but my original code:

[code]

is now throwing a new console error:

[code]

Sorry to keep breaking stuff 😿

[2018-01-18 01:16] gauntface commented on #1185
Are you sure everything is up to date?

This looks like workbox-core is up to date but the cacheable-response plugin is not, i.e. it's returning a promise like it did before which caused the original error.

[2018-01-18 05:49] NoamPaz opened #1186 "Prod error: Unable to import module 'workbox-google-analytics'"
**Library Affected**:
3.0.0-alpha.5

**Browser & Platform**:
Version 63.0.3239.108 (Official Build) (64-bit) - PC

**Issue Description**:
Use workbox google analytics:
[code]
On dev mode it works, but when I'm switching it to production mode:
[code]
I get the following error:
[code]

Additional info:
workboxServiceWorker.js line 60 is the line of workbox.googleAnalytics.initialize(); command in my

[2018-01-18 07:18] NoamPaz opened #1187 "Feature suggestions"
Hi,
I'm working with Workbox 3.0.0 as an advanced user to make a huge and complicated product to be a PWA (works on sloppy network) as phase one, and almost a complete offline as phase two.
During the implementation I've found few things that was missing to me and I would like to suggest some features that may help Workbox to be more flexible for advance use.

**Features Description**:

1. Add ign

[2018-01-18 15:14] jeffposnick opened #1188 "Handle cache-misses by falling back to network (by default?)"
**Library Affected**:
`workbox-strategies`, `workbox-precaching`, `workbox-routing`

There are three places where cached responses would normally be used, but, in the case of a cache miss, falling back to the network might be preferable to a hard failure.

- [x] One is in the [`NetworkFirst` strategy](https://github.com/GoogleChrome/workbox/blob/v3/packages/workbox-strategies/NetworkFirst.mjs#L115

[2018-01-18 15:15] NoamPaz opened #1189 "Missing files in the precache (only up to 50 files)"
**Library Affected**:
3.0.0-alpha.5

**Browser & Platform**:
Version 63.0.3239.108 (Official Build) (64-bit) - PC

**Issue Description**:
I'm using precache as following:
[code]
I have a precache manifest array with 80 files.
After the workbox was loaded I get a "prefetching 80 files" message in the console, but in the application tab of the devtool I see only 50 files under the install time cache

[2018-01-18 15:34] jeffposnick commented on #1189
Chrome's cache storage viewer paginates the entries, and only shows 50 at a time.

To move between pages of entries, use the back/forward arrows at the top of the viewer:

<img width="118" alt="screen shot 2018-01-18 at 10 32 16 am" src="https://user-images.githubusercontent.com/1749548/35106003-155fe642-fc3b-11e7-8995-b94e078ace4a.png">

[2018-01-18 15:34] #1189 closed

[2018-01-18 16:34] jeffposnick commented on #1186
I'm able to reproduce this locally with a `sw.js` consisting of:

[code]

After unwinding the minification a bit to figure out which statement is actually causing the syntax error, it looks like it's the `new Promise(...)` from

[code]

The corresponds to the following two blocks of unminified code:

https://github.com/GoogleChrome/workbox/blob/40c2ac21860784aeb9e3a45340c7258aaf0e9218/packages/wor

[2018-01-18 16:38] NoamPaz commented on #1189
Thanks @jeffposnick. How did I miss those buttons :/

[2018-01-18 16:41] jeffposnick commented on #1189
Don't blame yourself for a non-obvious UX!

[2018-01-18 17:06] NoamPaz commented on #1185
I am using it as following:
[code]
And I'm still getting:
[code]
I thought it was already solved and I'm using alpha.5.
@DavidScales Does the above error happen to you? The examples are almost the same, except I'm using networkFirst, while you're using cacheFirst strategy.

[2018-01-18 18:19] gauntface commented on #1189
Please feel free to file bugs on crbug.com for things like this - I've hit this issue some many times and without more reports - the devtools team won't change it.

[2018-01-18 18:20] gauntface commented on #1186
@philipwalton if you don't have bandwidth for this - please let me know I'll pick it up.

[2018-01-18 18:21] gauntface opened #1190 "Add Integration Test to workbox-background-sync"
Currently there are no integration tests to ensure the library has basic functionality in the browser.

[2018-01-18 18:22] gauntface opened #1191 "Add Integration Test to workbox-broadcast-cache-update"

[2018-01-18 18:23] gauntface opened #1192 "Add Integration Test to workbox-core"

[2018-01-18 18:24] gauntface opened #1193 "Add Integration Test to workbox-google-analytics"

[2018-01-18 18:24] gauntface opened #1194 "Add Integration Test to workbox-range-requests"

[2018-01-18 18:25] gauntface opened #1195 "Add Integration Test to workbox-routing"
Has some tests but would be good to cover more of the API (given it's importance).

- Add test for string routes.

[2018-01-18 18:26] gauntface opened #1196 "Add Integration Test to workbox-strategies"
Current have tests for cacheFirst and cacheOnly.

- staleWhileRevalidate
- networkOnly
- networkFirst

[2018-01-18 18:26] gauntface opened #1197 "Add Integration Test to workbox-sw"
Should be able to load each module.

[2018-01-18 18:27] gauntface opened #1198 "Add Demo for workbox-background-sync"

[2018-01-18 18:27] gauntface opened #1199 "Add Demo for workbox-google-analytics"

[2018-01-18 18:27] gauntface opened #1200 "Add Demo for workbox-range-request"

[2018-01-18 18:28] gauntface opened #1201 "Add module guide for workbox build"

[2018-01-18 18:29] gauntface opened #1202 "Have another parse at webpack docs."
https://developers.google.com/web/tools/workbox/modules/workbox-webpack-plugin

May be out of date with latest changes - configuration is still insanely large block of content, if there is a better way to present the information, we should go for it.

[2018-01-18 18:35] philipwalton commented on #1186
@gauntface if you have time, that would be great. I'm trying to get two other projects out the door before the M64 release.

[2018-01-18 18:49] jeffposnick commented on #1186
I'm happy to pick up the fix, too 😄 I just figured I'd give Phil first crack at it.

Testing things out locally, it looks like explicitly flagging `getTextFromBlob` as being an `async` function and `await`ing the new promise inside of the function is enough to get the final `prod` bundle happy.

(Thanks for filing https://github.com/GoogleChrome/workbox/issues/1193 to track the integration test, M

[2018-01-18 18:54] DavidScales commented on #1185
@gauntface I'm not entirely sure, here is what I'm doing:

1. git pull workbox repo's v3 branch
2. `npm install` & `gulp build` to generate the most up-to-date files
3. copying the generated files (`workbox/packages/workbox-cache-expiration/build/workbox-cache-expiration.dev.js`, etc.) into my local app directory
3. `importScript`ing those into my SW instead of the v3-alpha-5 file from the CDN.

I

[2018-01-18 19:03] jeffposnick commented on #1202
(Also tracked in https://github.com/google/WebFundamentals/issues/5567, and is currently a WIP to reflect the latest changes.)

[2018-01-18 19:59] gauntface opened #1204 "Improve code coverage pass"
We are pretty solid on the code coverage but would be good to ensure there are any last easy wins.

[2018-01-18 20:00] gauntface opened #1205 "Docs - Precaching (Add info on CLI, build and webpack)"
https://developers.google.com/web/tools/workbox/guides/precache-files

[2018-01-18 20:02] gauntface opened #1206 "Add assertion checks to plugin return types."
I don't think it's particularly strong in terms of checks and resulted in some issues already.

[2018-01-18 20:04] gauntface opened #1207 "Docs - Common Recipes"
The fonts example is incorrect / incomplete - it won't cache the actual fonts.

[2018-01-18 20:05] gauntface opened #1208 "Docs - Bring the generate complete sw to web fundamentals"
https://docs.google.com/document/d/1HgotdVKaE_6V027Y8APcC3E4p6h3_mguj9uzKkZYris/edit

[2018-01-18 20:06] gauntface opened #1209 "Docs - Migration guide for sw-toolbox and sw-precaching"
This is incomplete but needs writing before V3.

https://docs.google.com/document/d/1qN3dHKkTHG-jWjWTwNzIN7NhVzd555R6FGa3AqRya_c/edit

[2018-01-18 20:17] gauntface commented on #1185
@DavidScales can you create a fake repo with just the build files that reproduces the problem?

[2018-01-18 20:22] gauntface commented on #1188
1. We could definitely be smarter here.
1. I'm lost as to when this could be the case unless we aren't throwing an error (resulting in an aborted sw install). But still I'm ok with adding it in as a last resort.
1. Again agree we should change this behavior, although we should probably throw a warning in dev when caches.match is a miss and we fall back to the network - just to encourage precaching

[2018-01-18 20:39] #1175 closed

[2018-01-18 21:20] DavidScales commented on #1185
@gauntface Okay here is the [code repo](https://github.com/DavidScales/workbox-test).

If you clone the repo & run a local server, you should see the `The return value from 'Plugin.cacheWillUpdate()' must be an instance of class Response` error.

However, the GitHub pages [hosted app](https://davidscales.github.io/workbox-test/index.html), throws a different error... of course ;) For that, on inst

[2018-01-18 21:46] jeffposnick commented on #1202
See https://github.com/google/WebFundamentals/pull/5677

[2018-01-18 22:01] DavidScales commented on #1188
I think this is an interesting direction. I like this particularly for precache stuff, where the routing is implicit (though like Matt I'm not sure in which scenarios this would happen).

For runtime caching though, one consideration I'd like to propose is that the current pattern supports

network first --> cache fallback --> custom logic fallback

pretty readily, and the dev could implement a ne

[2018-01-18 22:27] nasearle commented on #1185
Including the workbox-cacheable-response.dev.js file fixes the error

[2018-01-18 22:38] nasearle commented on #1185
Also works with just the workbox-sw.js library imported if we use the short hand code without using the plugins explicitly:

[code]

[2018-01-18 23:18] DavidScales commented on #1185
@nasearle ah yes! adding that file fixes it, thanks. I think Matt said they are moving away from supporting the shorthand in #1153

@gauntface you were right I just misread **cacheable-response** plugin as **cache-expiration** plugin in your previous message (my bad), thanks!

@NoamPaz using the earlier mentioned strategy seems to be working now - I just modified my code to include the additional

[2018-01-18 23:18] #1185 closed

[2018-01-19 09:18] angelinaqj opened #1210 "Question about runtime caching to cache cross-domain resources?"
I have a question:
Why When I used `runtimeCaching` to cache cross-domain images, the `Cache Storage` displayed in the Chrome browser's developer tools grew rapidly, but these images are usually only a few dozen KB?
（If I don't cache these images, no problem...）
For example:

![qq 20180119170639](https://user-images.githubusercontent.com/13939701/35143025-23c9c47c-fd3b-11e7-862b-99a745e5495e.png)

[2018-01-19 16:16] DavidScales commented on #1210
@jeffposnick probably knows more about this, see his great [stack overflow answer](https://stackoverflow.com/questions/39109789/what-limitations-apply-to-opaque-responses) about the limitations of opaque responses:

[2018-01-19 17:06] izyl opened #1211 "Add FAQ with explanation of scoping"
**Library Affected**:
*workbox-sw*

**Browser & Platform**:
*Google Chrome Version 63.0.3239.132 (Build officiel) (64 bits)*

**Issue or Feature Request Description**:
*Route is not working if sw.js is not served at root*

## Context description

Hello all,

I got a portal with a lot of site like this :
server:port/portal/app1
server:port/portal/app2
...
server:port/commons/servlet1
server:port/co

[2018-01-19 17:16] jeffposnick commented on #1210
Yup, that's indeed the case.

The underlying reason behind that padded quota storage usage is described at https://bugs.chromium.org/p/chromium/issues/detail?id=796060#c17

If you have control over the server used to host the images, [enabling it for CORS](https://enable-cors.org/) would work around the issue.

[2018-01-19 17:16] #1210 closed

[2018-01-19 17:33] jeffposnick commented on #1211
You're bumping into restrictions in the service worker specification.

There's background information on service worker scoping at various places:
- https://stackoverflow.com/questions/35780397/understanding-service-worker-scope
- https://developers.google.com/web/fundamentals/primers/service-workers/#register_a_service_worker
- https://developers.google.com/web/fundamentals/primers/service-worker

[2018-01-19 21:41] izyl commented on #1211
I knew about the scope pb this id why i tried attention the root ans resigned myself tout add a route in the server config.

But i don't understand why route doesnt work for external urls when the service worker is nested ?

[2018-01-19 23:15] gauntface commented on #1188
This and some of the comments in the streaming proposal doc makes me consider Jake's proposal a little more about the ability to change functions together.

router.registerRoute(matchCb, handler1Cb, handler2Cb, handler3Cb).

[2018-01-20 02:34] sorin-davidoi commented on #1188
I think I'm bumping into this. Instead of generating the cache list server-side, I'm scraping the links from the DOM and sending them to the service worker. I expected this would work, but the links are added to `_entriesToCacheMap` without being cached. After further reading, I see that this is the expected behavior, but it might be worth being highlighted in the documentation.

[code]

[2018-01-20 13:36] kamalendugarai commented on #1176
I tried 'dist' and 'dist/' but its not working either. I had a doubt that something gone wrong in experiment so, I have tried with a new setup but issue remains same.

Can you direct me to a working code base which I can try.

[2018-01-21 18:11] mischnic opened #1215 "workbox-build: cacheableResponse Plugin without 'new'"
**Library Affected**:
workbox-build 3.0.0-alpha.5

**Browser & Platform**:
tested on Google Chrome 63.0.3239.132

**Issue or Feature Request Description**:

This is the error I get (configuration and resulting sw.js below):
[code]

Manually adding `new` before `workbox.cacheableResponse.Plugin` yields:
`TypeError: Failed to execute 'put' on 'Cache': parameter 2 is not of type 'Response'` in workbo

[2018-01-22 03:39] angelinaqj commented on #1210
Thanks @DavidScales @jeffposnick .
But the Response Headers of the image is:
[code]

So I think the images are allowed across domains, aren't they?

[2018-01-22 16:28] #1192 closed

[2018-01-22 16:36] jeffposnick commented on #1176
https://developers.google.com/web/tools/workbox/get-started/webpack uses Workbox 2.x and walks through the process of using the webpack plugin. Does that help?

[2018-01-22 18:57] jeffposnick commented on #1210
If your image requests originate from an `img` element in the DOM, then you need to explicitly opt-in to CORS mode the `crossorigin` attribute of `img`. If you don't opt-in, the original request won't contain CORS request headers, leading to an opaque, rather than CORS, response.

[code]

There's more detail at https://developer.mozilla.org/en-US/docs/Web/HTML/Element/img#attr-crossorigin

[2018-01-22 19:42] jeffposnick commented on #1205
Is this closed by https://github.com/google/WebFundamentals/pull/5681, or was there anything else you wanted to add?

[2018-01-22 20:59] mischnic commented on #1215
Just making sure you didn't miss it:

- adding `new` still throws an error on the first load after installing the service worker:
![workbox](https://user-images.githubusercontent.com/4586894/35243980-f16a18a2-ffbe-11e7-9f00-e7f16e077b6e.png). The image is getting cached nevertheless.

(I don't if this is intentional, but without the `cacheableResponse` part the image is still getting cached, despi

[2018-01-22 21:13] jeffposnick commented on #1215
I think that second part is something @gauntface was tracking in https://github.com/GoogleChrome/workbox/issues/1178

[2018-01-23 00:14] prateekbh opened #1218 "Investigate reducing the size of the production bundles"
Comparing two examples of same `preact-cli` project below for simple precache use case.

1.) https://preact-cli-workbox.surge.sh/ <= With workbox

2.) https://default-preact-cli.surge.sh/ <= With sw-precache

The first one's(Workbox) sw file usage cost ~13kb(core+precache+actual SW - manifest) while the later(sw-precache) costs ~4kb(actual SW + manifest).

[2018-01-23 00:26] gauntface commented on #1218
This isn't something we can really do anything about in v3 as we are too late in the game, but we could try and have another crack and file size in v4.

@prateekbh it would be helpful if you can just dump these files into a repo - just so that we can easily view the contents of files (I'm not crazy familiar with sw-precache's output).

It's also very justified to stick with sw-precache (or anythin

[2018-01-23 00:58] #1199 closed

[2018-01-23 01:07] gauntface commented on #1211
@izyl You should be able to get requests for external URL's in your page *if* your service worker is controlling the current page the user is viewing.

A service worker can control the current page *if* it's scope matches that of the current page.

The scope is a little tricky to explain but previously I had written to describe it:

Does that make things more confusing or easier to understand? Eit

[2018-01-23 01:07] #1205 closed

[2018-01-23 01:15] gauntface commented on #1188
@sorin-davidoi can you provide an example?

I think the reason it's not working for you is because precaching expects to run synchronously in the service worker (this is async due to the messaging).

You could just use the PrecacheController for your use case: https://developers.google.com/web/tools/workbox/modules/workbox-precaching#advanced_usage

[2018-01-23 01:22] #1207 closed

[2018-01-23 01:22] gauntface commented on #1202
I still think the information could be reorganized to be easier to read / navigate.

At the moment the top level structure is:

- What are the plugins?
- Considerations
    - Should the plugin create your service worker file?
    - Do you need to cache additional, non-webpack assets?
- Configuration
    - GenerateSW Plugin
    - InjectManifest Plugin

Ideally it would look a little more like:

- W

[2018-01-23 12:47] kamalendugarai commented on #1176
I am using webpack 3.10.0, is it not compatible with workbox!

[2018-01-23 13:44] sorin-davidoi commented on #1188
Refactored the code to generate the caching list at compile-time, and I don't have the original at hand anymore.

Yes, but I think it would be nice if that was more explicitly states in the docs, or `precacheAndRoute` could throw an error if it is run asynchronously.

[2018-01-23 16:10] #1215 closed

[2018-01-23 16:30] jeffposnick commented on #1176
webpack 3.10.0 should be compatible with Workbox. (That's our intention, at least.)

There are some known changes to plugins in the webpack 4.x alphas, which we haven't tackled yet (see #1151).

Could you clarify what you mean when you say that webpack 3.10.0 isn't compatible?

[2018-01-23 19:03] gauntface commented on #1218
I've taken @prateekbh's builds and just reduced it down to the source code for sw precache and workbox.

[Service Worker Pieces.zip](https://github.com/GoogleChrome/workbox/files/1657117/Service.Worker.Pieces.zip)

This is a kind of brain dump.

SW-Precache:
- sw.js 4030B (4KB) **GZIP: 1.73KB**

Workbox Files:
- sw.js 945B (1KB) **GZIP: 515B (0.5KB)**
- precache-manifest 1469B (1.5KB) **GZIP: 538B

[2018-01-23 20:24] #1191 closed

[2018-01-23 22:25] DavidScales opened #1222 "v3 - trouble getting Background Sync to work"
**Library Affected**:
*workbox-sw, workbox-backgroundSync*

**Issue or Feature Request Description**:
I'm having some trouble setting up background sync with v3.

I started with the alpha 5 build & the code from the [background sync guide](https://developers.google.com/web/tools/workbox/modules/workbox-background-sync):

[code]

On registration I get an error: `Uncaught ReferenceError: Route is no

[2018-01-24 15:22] jeffposnick commented on #1222
Hello @DavidScales—Sorry that you're running into issues.

I believe your first issues, regarding the definition of `Route`, is because you're using the bare symbol `Route` without the `workbox.routing` namespace. So `new workbox.routing.Route({...})` should work.

Regarding your second attempt, I believe that failure is due to `NetworkFirst` implicitly adding request/response pairs to the cache w

[2018-01-24 16:34] jeffposnick commented on #1165
Boo. Just tried another `gulp publish` with #1179 merged, and I'm getting the exact same error.

[2018-01-24 16:40] jeffposnick commented on #1165
For future reference, while this bug is still open, you can resume the publishing process after this failure by running the following two commands:

[code]

[2018-01-24 19:14] gauntface opened #1223 "Log console warning in dev when adding POST request to cache"
Code like the following:

[code]

Will result in a log such as:

[code]

We should be printing a console warning along the lines of:

This informs the developer of the problem as well as highlights the problem URL

[2018-01-24 19:20] #1222 closed

[2018-01-24 19:47] gauntface opened #1224 "Throw when precaching is used async"
Throw error when precache is used async (i.e. not in the synchronous flow of the service worker).

@sorin-davidoi was attempting to do the following:

[code]

[2018-01-24 21:36] #1194 closed

[2018-01-24 23:12] gauntface opened #1226 "Background sync is a black box - Add logging"
There should be logging to make it clear what is happening so figuring out what events are occuring, when and the result of the events is impossible :(

[2018-01-25 02:04] akash5474 opened #1227 "[workbox-webpack-plugin] v3 Entries array passed to manifestTransforms is empty"
**Library Affected**:
workbox-webpack-plugin@3.0.0-alpha.6

**Browser & Platform**:
node v8.9.1, npm v5.5.1, Mac OSX 10.13.2

**Issue or Feature Request Description**:

Title describes the issue, the manifestEntries array passed as an argument into manifestTransform functions is empty.

I've created a repo to illustrate the problem.  Here's a link to the branch with a minimal example reproducing t

[2018-01-25 02:38] akash5474 opened #1228 "[workbox-webpack-plugin] v3 webpack's output.publicPath option is not added to precache-manifest in service-worker"
**Library Affected**:
workbox-webpack-plugin@3.0.0-alpha.6

**Browser & Platform**:
node v8.9.1, npm v5.5.1, Mac OSX 10.13.2

**Issue or Feature Request Description**:

Inside the generated service worker, the string passed into the `importScripts` function for the precache-manifest file does not prepend webpack's output.publicPath.

This is relevant in the case where the service-worker needs to b

[2018-01-25 12:41] izyl commented on #1211
Ok i understand and i will try what you say.

**I modified my tomcat to serve the sw.js at the root and now all my routes are working.**
This is enough for me since i got only one disconnect SPA in my portal for the time being.

Thank you a lot for your time and this wonderfull project.
The loading time is incredible, i can even load a page with data in tables instantly, you give us INCREDIBLE UX.

[2018-01-25 13:08] maple3142 opened #1229 "Service worker event waitUntil() was passed a promise that rejected with 'Error: '."
**Library Affected**:
workbox-build@2.1.2

**Browser & Platform**:
chrome 63 & firefox 58 on windows 10

**Issue or Feature Request Description**:
go to [https://blog.maple3142.net/](https://blog.maple3142.net/) and open console, and get an error
but no error on a local http server

firefox error message:
[code]
chrome error message:
[code]

[gulp config of workbox](https://github.com/maple3142/Bl

[2018-01-25 15:35] jeffposnick commented on #1209
This is addressed in https://github.com/google/WebFundamentals/pull/5705

[2018-01-25 15:35] #1209 closed

[2018-01-25 16:21] gauntface commented on #1229
The full error:

[code]

This error is because the 404 file is returning with a status code of `404`, which Workbox is treating as an error and refusing to cache.

The best option for this is to create a file that doesn't return a 404 status code.

[2018-01-25 16:23] gauntface commented on #1211
Thanks @izyl. I'm going to change the title of this bug to add the above to an FAQ as I fear this question may keep on arising and having a consistent place to tweak the wording for easier understanding would be useful.

[2018-01-25 16:26] gauntface commented on #1228
cc @jeffposnick

[2018-01-25 16:29] gauntface commented on #1227
My hunch is that your config is using chunks from webpack rather than globbing for any files from disk and it's only the globbed files that would appear in the manifestTransform.

@jeffposnick is this a case of docs needing updating?

[2018-01-25 16:50] #1190 closed

[2018-01-25 17:40] jeffposnick commented on #1227
@gauntface is correct. `manifestTransforms` applies to assets that are picked up outside of a webpack configuration.

I should be able to add in a new `joi` validation rule to detect when `manifestTransforms` is set and `globPatterns` isn't set, and throw a build-time error with more details.

This is covered by https://developers.google.com/web/tools/workbox/modules/workbox-webpack-plugin by virt

[2018-01-25 18:16] jeffposnick commented on #1228
Thanks for reporting this. I'll switch the precache manifest `importScripts()` URL to use the same prefixing logic used for `importWorkboxFrom: 'local'`:

https://github.com/GoogleChrome/workbox/blob/1eb463e52fdb30d1d3e757d7cc3ac7e5f2154388/packages/workbox-webpack-plugin/src/lib/get-workbox-sw-imports.js#L44-L45

[2018-01-25 18:36] jeffposnick commented on #1227
...and just to explore some alternative approaches before we lock down the v3 interface:

- We could apply `manifestTransforms` to the both the webpack-generated precache manifest and the precache manifest that's generated by file globbing. This may or may not be confusing for developers if there's one type of transformation that they expected only to apply to globbed files and it accidentally get

[2018-01-25 19:58] gauntface commented on #903
This is actually documented under clean URLs here: https://developers.google.com/web/tools/workbox/modules/workbox-precaching

[2018-01-25 19:58] #903 closed

[2018-01-25 21:18] DavidScales commented on #1222
No worries, thanks for the explanation @jeffposnick, that make sense. Switching to `NetworkFirst` seems to have solved the cache error.

The updated code:

[code]

does store the failed request in IndexedDB (and appears to be syncing once online) 👍

I was still having issues using `new workbox.routing.Route` but it looks like the documentation change fixed that. For posterity in this thread, its a

[2018-01-25 21:37] gauntface opened #1236 "Workbox CLI should print out help when no command is passed in."
Just tried to use workbox, not really thinking about command etc, and I got this:

[code]

We should show a useful error message and either call out `--help` or just print the help text after the error message.

[2018-01-25 21:39] gauntface opened #1237 "Workbox CLI - add a note about "root" of webapp being build directory"
I just noticed that when we ask for the root of a web app, it's clear that it's the build directory that users should be pointing the config too.

Output for my selection

Should we change the request to:

[2018-01-25 21:41] gauntface opened #1238 "Workbox CLI - Run generateSW,and it doesn't auto-detect default config file."
Would be nice if the default config file was picked up
[code]

[2018-01-25 21:46] gauntface opened #1239 "Workbox CLI should disable or exclude maps when asking about file extensions"
I just went through the default wizard steps and it defaults result in map files being added to cache list.

[2018-01-25 22:01] gauntface opened #1240 "Common Recipes - support JS and config options"
At the moment the common recipes only define how to apply them in JS and not how to use them in configuration.

[2018-01-25 22:04] gauntface opened #1241 "Add CLI configuration to /web/tools/workbox/modules/workbox-cli"
At the moment there is no configuration for the CLI. This should be able to re-use table in webpack which Jeff has done the leg work for - just needs hooking up.

[2018-01-25 22:18] jeffposnick commented on #1238
Bah, this was a regression from when I started passing through flags like `--injectManifest` through from the CLI.

I'll get it sorted.

[2018-01-25 22:19] #1228 closed

[2018-01-25 22:19] #1195 closed

[2018-01-25 22:22] #1236 closed

[2018-01-25 22:23] jeffposnick commented on #1239
Is it because you saw `.map` as one of the extensions that you could choose from in the list of possible extensions, and you checked the box for it?

If so, we could filter that out so that it's not presented as an option to choose from.

[2018-01-25 22:27] gauntface opened #1244 "Add workbox-build Module Page"
This should include configuration as well.

https://developers.google.com/web/tools/workbox/modules/workbox-build

[2018-01-25 23:39] #1237 closed

[2018-01-26 01:42] DavidScales opened #1247 "v3 bgSync queueDidReplay fires even when queue is empty"
**Library Affected**:
*workbox-backgroundSync*

**Browser & Platform**:
*Google Chrome v63.0.3*

After creating a background sync queue:

[code]

Calling `bgSyncQueue.replayRequests()` fires the `queueDidReplay` callback even if there are no queued requests to replay. I'm assuming this is not intended behaviour but if I'm wrong about that, is there a more fine-grained way of determining if queued

[2018-01-26 01:43] DavidScales opened #1248 "v3 bgSync replayRequests unsupported"
**Library Affected**:
*workbox-backgroundSync*

**Browser & Platform**:
*Google Chrome v63.0.3*

I'm trying to set up background sync with Workbox v3. After #1222, I have [basic functionality](https://developers.google.com/web/tools/workbox/modules/workbox-background-sync), and I've added the `queueDidReplay` callback to show a notification when bg sync occurs:

[code]

This currently works, but b

[2018-01-26 01:45] DavidScales opened #1249 "v3 bgSync queueDidReplay fires even when offline"
**Library Affected**:
*workbox-backgroundSync*

**Browser & Platform**:
*Google Chrome v63.0.3*

Still working on background sync, I've got the basic example working from #1222, and now I'm trying to use the `queueDidReplay` callback:

[code]

This mostly works as expected, except it fires even when I'm offline. These are the steps I'm taking:

1. While online, make POST request to endpoint (api/a

[2018-01-26 02:21] maple3142 commented on #1229
But `404.html` is meant to be 404 page.
And my server is firebase hosting, according to [document](https://firebase.google.com/docs/hosting/url-redirects-rewrites#section-404), `404.html` will send a 404 status code.

[2018-01-26 07:32] arthow4n commented on #438
Hi there, I found this is removed from V3 milestone, does that mean there will not be an official solution for this in V3?

[2018-01-26 14:49] jeffposnick commented on #1229
Given that, I don't think you should precache your `404.html` page. (The scenarios in which you'd want to display it from the service worker's cache without going to the network are pretty limited, for one thing.)

If you add `**/404.html` to your list of `globIgnores` when configuring `workbox-build`, then it should end up excluded from the list.

[2018-01-26 15:24] neutraali opened #1250 "[workbox-webpack-plugin] Missing debug mode / logging"
**Library Affected**:
*workbox-webpack-plugin 2.1.2*

**Browser & Platform**:
*Google Chromium 61.0.3163.100 - Linux Mint 18.2 Cinnamon 3.4.3 64-bit*

**Issue or Feature Request Description**:

We're using Webpack 3.8.1 to build our app using `workbox-webpack-plugin` with the following configuration:

[code]

... Then in our app, we then register the Service Worker as [the guide](https://developer

[2018-01-26 15:51] jeffposnick commented on #1250
The issue is that you're serving your service worker from `http://localhost:8080/static/js/sw.js`, and that means that the maximum scope of the service worker is `http://localhost:8080/static/js/`. It will only control pages that are hosted under that scope, and presumably your HTML is served from elsewhere.

To fix this, you need to serve you service worker from a location "higher up" in your ser

[2018-01-26 15:51] #1250 closed

[2018-01-26 16:17] neutraali commented on #1250
Thanks for the speedy reply Jeff! Scoping is clearly something that has escaped my notice so far.

Apparently **ServiceWorker** requires some exceptions to our current directory structure.

[2018-01-26 17:01] jeffposnick commented on #1129
Maybe we can take this one step further and, in our helper method that wraps registration, **refuse** to register a service worker whose maximum scope does not include the current page.

In practice, the only times that I've seen developers "legitimately" register a service worker whose scope doesn't include the current page is the push-notification-only service worker use case, where a fake scope

[2018-01-26 17:13] akash5474 commented on #1227
@jeffposnick Thanks for the response and fixing the other issue I opened.

I did overlook the "These options configure behavior unrelated to the webpack compilation." text, completely my fault.  A build time error would definitely be helpful.

Adding a gap between the tables might improve the visibility, I kind of scrolled past the row with that message without noticing (entirely my fault).  Maybe

[2018-01-26 18:52] prateekbh commented on #1249
Working with `sync` event on local can be tricky. To emulate proper offline behavior

a.) You need to shut down the server
b.) Shut down your actual network(disconnect WIFI, pull of LAN etc)

Only then browser will know you are offline, because browser takes actual network as  the single source of truth.
Hence if you do `a.` but not `b.` browser will think its a server error, or if you do `b.` but

[2018-01-26 18:57] prateekbh commented on #1247
@DavidScales based on this code: https://github.com/GoogleChrome/workbox/blob/v3/packages/workbox-background-sync/Queue.mjs#L134

`queueDidReplay` should be called with an Array of replayed requests.

Now for a quick fix, I guess you can look into this array if this empty or not. But it might make sense to not call this callback at all if the array is empty @philipwalton WDYT?

[2018-01-26 18:58] prateekbh commented on #1248
@philipwalton should we just expose `replayRequests` from the plugin as well?

[2018-01-26 20:01] philipwalton commented on #1247
Yeah, it probably makes sense to only replay if there's at least one request.

[2018-01-26 20:07] philipwalton commented on #1248
I don't think so. The reason we originally changed the `Plugin` class to not inherit from the `Queue` class was to avoid unintentional naming clashes. I think it mixes concerns too much to have plugin classes implement anything other than plugin lifecycle methods.

It sounds to me like @DavidScales should be using the `Queue` class directly and creating his own `fetchDidFail` method in an object t

[2018-01-26 21:03] TheLarkInn commented on #1151
Hey @jeffposnick. Here's a really small example of how the api has changed from a plugin author's perspective:

Take a very simple plugin described here:

[code]

Instead of arbitrary loosy-goosy event strings being thrown around everywhere, tapable 1 now enforces that "hooks" (the events) are now registered statically on the Tapable instance.

Therefore if you were to take the same plugin and mig

[2018-01-26 21:04] TheLarkInn commented on #1151
Also here is a great example of a large plugin that is commonly used with it's own event hooks and apis also https://github.com/jantimon/html-webpack-plugin/pull/823

[2018-01-26 21:08] jeffposnick commented on #1151
Thanks, @TheLarkInn! Are there best practices for shipping something that's compatible with the legacy API and the webpack 4+ API?

Based on what you describe, I'd be tempted to do something like this, but I have no idea if that's actually the right approach:

[code]

[2018-01-27 00:39] DavidScales commented on #1248
Thanks for the replies.

@philipwalton can I request documentation updates then? I'm not sure how to go about doing that with the current [v3 backgroundSync guide](https://developers.google.com/web/tools/workbox/modules/workbox-background-sync) or [modules documention](https://developers.google.com/web/tools/workbox/reference-docs/prerelease/workbox.backgroundSync).

To me the documentation sugges

[2018-01-27 01:10] DavidScales commented on #1247
@prateekbh

Ah I see. But I'm not sure how to call `queueDidReplay` with a specific array? My expanded code is here:

[code]

and is based on the [backgroundSync guide](https://developers.google.com/web/tools/workbox/modules/workbox-background-sync). Testing the code above logs an empty array, suggesting to me that perhaps the queued requests (the `Array of StorableRequest` in [Queue doc](https://

[2018-01-27 01:25] DavidScales commented on #1247
I guess on further reflection I could see use cases either way. Before it was confusing because I wasn't able to tell when syncing was actually occurring, but with @prateekbh's pointer, I could see showing info to the user regardless of if requests were sent. E.g., if some were sent, I could notify how many were sent, and if none were sent (empty array), I could still notify that they are up-to-da

[2018-01-27 02:22] TheLarkInn commented on #1151
Most of what webpack-contrib will do is sem ver major to drop the old plugin system and add the new.

[2018-01-27 04:03] DavidScales commented on #1249
Yes! that super fixed it.

It also solves the issue of the bg sync taking 5 minutes to occur on Chrome, because it looks like turning the wifi back on triggers the event 😄

Thanks!

[2018-01-27 04:03] #1249 closed

[2018-01-27 06:18] jeffposnick commented on #1151
We're using `lerna` throughout this repo and in general, need to keep versioning of the webpack plugin tied to the underlying Workbox libraries. We'd need to release the webpack plugin as a module whose versioning was tied to Workbox v3, but which supported both webpack 3 and webpack 4.

I guess the worst case scenario would be to publish a different set of classes within our module, with a `-lega

[2018-01-27 06:42] TheLarkInn commented on #1151
So you could technically just do:

[code]

[2018-01-29 15:18] gauntface opened #1251 "Timeouts Occuring in Integration Tests"
[code]

I've been putting off any work in trying to speed up our integration tests, so this may be a good time to do some house keeping and sure up our integration tests.

[2018-01-29 17:12] #1238 closed

[2018-01-29 17:15] prateekbh commented on #1247
Which actually is a valid use case, is this good to close @DavidScales  @philipwalton

[2018-01-29 17:20] #1196 closed

[2018-01-29 17:28] DavidScales commented on #1247
@prateekbh Good with me. Thanks again.

[2018-01-29 17:32] #1197 closed

[2018-01-29 17:43] #1193 closed

[2018-01-29 19:07] #1247 closed

[2018-01-29 19:29] nasearle opened #1253 "v3 what's the purpose of precaching.addRoute?"
**Library Affected**:
*workbox-sw (v3 alpha 6)*

Just wondering in what situation we would want to use `precaching.addRoute`? It seems like everything it does is covered by `precaching.precacheAndRoute`?

Maybe I'm missing something, but it would make more sense to me if `precaching.addRoute` were more like `routing.registerRoute`, letting you set up your own caching strategy, and just went to the

[2018-01-29 20:01] gauntface commented on #1248
I didn't meant to push this to master, but to bring bg sync docs in line with the rest of the module.

Changes are here: https://github.com/google/WebFundamentals/commit/112812dead4eb947b944153baa66512241d6dff0

[2018-01-29 20:03] gauntface opened #1254 "maxRetentionTime in bg sync"
I just noticed that `maxRententionTime` is in ms, which I'm not sure makes sense given that sync events generally takes minutes to trigger if they aren't instant, so should we change this to minutes instead of ms?

[2018-01-29 20:07] gauntface commented on #1227
@akash5474 can you share what the set up on your project is, what the desirable manifest should be and what the actual manifest is.

At the moment I'm struggling to follow what is going wrong / options to fix it.

[2018-01-29 20:12] gauntface commented on #1129
Yeah agree that we can should covered info around the controlled pages.

[2018-01-29 20:17] gauntface commented on #1229
+1 @jeffposnick's comment and if you want to cache a page for offline usage, I'd use a seperate file - this will also help you differentiate between a missing file and an offline response from your service worker (i.e. use a page `offline.html` to cache and return in case of offline or error.)

[2018-01-29 20:18] gauntface commented on #438
Not at the moment no sorry.

[2018-01-29 20:20] gauntface commented on #1239
Yes it was @jeffposnick - I'm happy for it to be excluded or just unselected by default.

[2018-01-29 20:27] gauntface commented on #1253
The `addRoute()` method is an "advanced feature".

Basically there may be a case where you want to precache some files but not serve them up as you'd like some control, in that case you **wouldn't** want precache to add a route.

Perhaps the naming is wrong, open to suggestions, but the idea is, for those uses, instead of `precacheAndRoute()` you'd just use `precache()`.

Why seperate them out? We

[2018-01-29 20:29] gauntface commented on #1222
@DavidScales just to confirm you are happy with this being closed? Nothing remains to be done right?

[2018-01-29 20:35] gauntface commented on #1208
This has been started.

[2018-01-29 20:57] DavidScales commented on #1222
@gauntface yes, thanks!

[2018-01-29 21:08] gauntface commented on #1244
Dupe: #1201

[2018-01-29 21:08] #1244 closed

[2018-01-29 21:45] DavidScales commented on #1248
@gauntface sorry but I still don't see why my original posted code shouldn't work, based on the updated documentation. And I don't see why I would use the Queue class directly like @philipwalton is suggesting, nor how I would do so to implement my desired behavior 😕

The **[Using Workbox Background Sync with other Workbox Packages](https://github.com/google/WebFundamentals/blob/master/src/content/

[2018-01-29 22:00] TheLarkInn commented on #1151
👌

On Mon, Jan 29, 2018, 12:00 PM Jeffrey Posnick <notifications@github.com>
wrote:

[2018-01-29 22:16] gauntface commented on #1248
Your original code works for me: https://quixotic-quit.glitch.me/

[2018-01-29 22:26] DavidScales commented on #1248
An

`Uncaught TypeError: workbox.claimClients is not a function`

error causes the sw registration to fail

`TypeError: Failed to register a ServiceWorker: ServiceWorker script evaluation failed`

But yeah my code above works - what doesn't work is then calling `bgSyncPlugin.replayRequests()`

[2018-01-29 22:34] gauntface commented on #1248
That API doesn't exist on the plugin: https://developers.google.com/web/tools/workbox/reference-docs/prerelease/workbox.backgroundSync.Plugin

The class Queue itself has that method: https://developers.google.com/web/tools/workbox/reference-docs/prerelease/workbox.backgroundSync.Queue

[2018-01-29 22:39] gauntface commented on #1248
I think I fixed the demo, but Chrome is showing:

(anonymous) @ (index):23

and Firefox doesn't support Sync but will show notification intermittently.

[2018-01-30 00:22] jeffposnick commented on #1254
Minutes SGTM.

[2018-01-30 00:33] jeffposnick commented on #1227
Whatever URL you use for `navigateFallback` should also be listed in the precache manifest, yes. This is the URL that corresponds to your "app shell". If it's not cached, then you'd see the error you're getting in that screenshot (a discussion of this behavior is tracked in #1188).

If you're precaching your app shell via the URL `/static/app/index.html`, then have you tried specifying `navigateFa

[2018-01-30 01:01] nasearle commented on #1253
I guess I'm not sure what those cases are and it seems like `precaching.addRoute()` is unnecessary.

Ok, right. I was incorrectly thinking that `precaching.precache()` was the solution to our problem in thread #773: that it's like a `warmRuntimeCache` that just puts things in the precache cache instead of the runtime cache. If that were the case we could use it to precache things, but still set up

[2018-01-30 01:29] gauntface commented on #1253
This is largely to be flexible.

For example, a site with service worker templating - will want to cache tempalte files, but all navigations go through the service worker and precached templates are retrieved in my own route, merged together and returned to the user.

In this case I may not want precaching responding to routes/

Precaching is still seperate from #773.

We could just remove all thi

[2018-01-30 01:33] #1239 closed

[2018-01-30 02:08] jeffposnick commented on #1253
The historical discussions behind the current implementation can be found in https://github.com/GoogleChrome/workbox/issues/700 and https://github.com/GoogleChrome/workbox/issues/747

As a developer, I'd personally always use `precacheAndRoute()`, but as Matt says, there was enough of a demand outlined in those discussions to offer flexibility. We made the decision to break things up. I don't know

[2018-01-30 03:54] #1229 closed

[2018-01-30 14:34] rubenspgcavalcante opened #1256 "Not working with webpack-dev-server"
**Library Affected**:
*workbox-build*

**My environment**
Node v8.6.0
- webpack: v3.10.0,
- webpack-dev-server: v2.9.7
- workbox-webpack-plugin: v2.1.2

**Issue or Feature Request Description**:
Even with the #808 the workbox still waiting for the files be in the filesystem to map them inside the sw.
With the sample configuration:
[code]

If I run it with webpack-dev-server (all files are set in m

[2018-01-30 15:20] akash5474 commented on #1227
@gauntface, I think @jeffposnick is on the right track to understanding my initial problem which led to me trying to use the `manifestTransforms` option incorrectly.

A better way to describe what I'm trying to accomplish might be that I'm generating part of the app shell server side.  For example I may add some items to `<head>` based on the device type.

I did try this but it caches the `/static

[2018-01-30 17:21] gauntface commented on #1227
Is '/' made up of templates available in your webpack config? Or are these files only on the server.

[2018-01-30 17:24] gauntface commented on #1256
Thanks for the bug - we have actually improved this a lot in V3 which should be hitting Beta soon (next week or so), so I'm going to close this issue for now - you can find more info here: https://developers.google.com/web/tools/workbox/modules/workbox-webpack-plugin

duplicate of: https://github.com/GoogleChrome/workbox/issues/577

[2018-01-30 17:24] #1256 closed

[2018-01-30 17:26] gauntface commented on #1253
@nasearle is there a better naming for this?

Basically addRoute will add a fetch listener and for each request try and see if it's in the precache cache, otherwise it'll just fallback to the router.

If you don't call addRoute or precacheAndAddRoute then the files will be precached and updated with precache, but you are responsible for using and serving the files.

[2018-01-30 18:35] DavidScales commented on #1248
Yeah, for sure. To re-iterate/summarize, I know that
* my above code works, except for `replayRequests`
* `replayRequests` isn't supported in `Plugin`

Given that, my questions are:

1. Why doesn't the `replayRequest` API exist on `Plugin`?
* @philipwalton kind of answered this, but it's still not clear to me
* [V2 supported replayRequests in the Plugin](https://developers.google.com/web/tools/wor

[2018-01-30 18:53] jeffposnick commented on #1151
Looping back around, the conclusion of https://github.com/webpack/webpack/issues/6411#issuecomment-361439615 is that feature detection (rather than version detection) is the recommended approach, and code like

[code]

should be sufficient to detect the plugin system we're operating under.

[2018-01-30 19:36] gauntface opened #1259 "Workbox Node Modules Need some Coverage Love"
Coverage is low for some of the node module files.

[2018-01-30 19:43] nasearle commented on #1253
@gauntface the names are fine; they describe what you get and they're simple. Ok I can see the case for having a separate `precache` method that lets you do something like retrieve templates from the precache in your own routes. `precaching.precache` makes sense to me.

Still not confident about the use cases of `addRoute`, but I accept yours and @jeffposnick's responses 😉

[2018-01-30 20:23] gauntface opened #1260 "GenerateSW vs InjectManifest - importWorkboxFrom"
I'm little confused by the differences in the GenerateSW and InjectManifest allowed values for `importWorkboxFrom`.

Why does inject manifest not allow 'local'?

[2018-01-30 21:17] gauntface commented on #1248
@DavidScales Can you open a bug with code example on the Queue stuff and keep this issue focused on the Plugin stuff. I'm just getting pretty lost with the amount of code going around in this issue and what is the actual problem.

Why not expose `replayRequests()` on the Plugin. The answer is simply - that's not something you should need to do. What is the use case for wanting it?

[2018-01-30 21:18] #1253 closed

[2018-01-30 21:18] #1206 closed

[2018-01-31 02:15] #1202 closed

[2018-01-31 04:41] raejin opened #1261 "InjectManifest in Webpack doesn't support publicPath for `workbox-sw` importWorkboxFrom as a chunk"
**Library Affected**:
workbox-webpack-plugin@3.0.0-alpha.6

**Browser & Platform**:
all browsers

**Issue or Feature Request Description**:

### Update 1/31/18
Now that I actually tried including the bundle, I don't believe this would have worked since the service worker script will not be aware of Webpack bundling. Maybe InjectManifest doesn't support importing `workbox-sw` from a Webpack chunk?

[2018-01-31 14:25] joe1chen commented on #438
@jeffposnick For some reason the code that you posted just didn't work for me but it did give me a clue as to where to start.  The `catch` code just never got called when offline and it would show the default browser offline page.

I ended up getting getting it to work with the following code. I noticed that the `then` function returns an undefined response when offline so I return the cached offl

[2018-01-31 15:06] moimael opened #1262 "Provide additional context in joi-generated validation errors, if possible"
**Library Affected**:
*workbox-webpack-plugin@v3.0.0-alpha.6*

**Browser & Platform**:
*webpack*

**Issue or Feature Request Description**:
Using the latest alpha of the webpack plugin i get the error above. The doc state that it takes a RegExp or null, not an object, am i doing something wrong ?

[code]

[2018-01-31 15:25] moimael commented on #1176
I have the same issue with 3.0 alpha 6

[2018-01-31 17:11] #1198 closed

[2018-01-31 17:16] gauntface commented on #1261
@jeffposnick this was something I struggled with.

I know developers are going to want to opt out of the CDN usage and "chunk" example is pretty light on information as to how to use it.

Related to: https://github.com/GoogleChrome/workbox/issues/1260

Is there a reason `local` isn't a valid option here?

[2018-01-31 17:18] gauntface commented on #1262
@moimael can you provide the config you are using for dontCacheBustUrlsMatching? This will probably help with debugging.

[2018-01-31 17:20] gauntface commented on #1176
@moimael can you provide your config please.

[2018-01-31 17:51] gauntface opened #1263 "Range Request Docs"
Needs demo adding and module page.

[2018-01-31 19:31] #1204 closed

[2018-01-31 19:44] #1208 closed

[2018-01-31 19:54] jamesshannon commented on #155
Just wanted to say that I've been thinking about this for my "prefetchcache top 10 articles" idea, which is a use case largely for news publishers.

It would dovetail into this nicely, where those 10 articles would be marked as "optional", and then I wouldn't need to develop heuristics around Save-Data, CT, and ECT.

[2018-01-31 20:02] #1241 closed

[2018-01-31 20:03] jeffposnick commented on #1260
`injectManifest` is premised on the idea that there is a single point in the service worker file that we're going to modify (defined by `injectionPointRegexp`), and the only modification we're going to make is injecting the manifest.

Since the only thing we're modifying is the manifest, there's no provisions for modifying `importScripts()` and modifying the workbox module loader's base directory.

[2018-01-31 20:08] jeffposnick commented on #1260
And I'll also put in a caveat that the webpack plugin's `InjectManifest` mode has a different implementation than the `workbox-build`/`workbox-cli` mode, in that the injection is done by generating an external `precache-manifest.[hash].js` file that's then pulled in via `importScripts()` into `swSrc`.

So in the webpack case, we are modifying `importScripts()` already rather than relying on a sing

[2018-01-31 20:11] jeffposnick commented on #1261
Thanks, @raejin—figuring out various `publicPath` interactions, including which asset paths passed in to the plugin interfaces already have it appending vs. which don't—has been a source of pain.

Your patch looks good to me—do you have any interest in filing a PR? I'd be happy to do it if you'd prefer not to, as I'd also want to accompany it with a new test case for our unit tests.

[2018-01-31 20:43] mischnic opened #1264 "Documentation about importWorkboxFrom"
The documentation at https://developers.google.com/web/tools/workbox/reference-docs/prerelease/module-workbox-build#.Configuration still references the old `importWorkboxFromCDN` (changed in #1137)

[2018-01-31 20:57] raejin commented on #1261
@jeffposnick I'd love to. Will followup a PR with additional test cases.

[2018-01-31 21:32] jeffposnick commented on #1264
Apologies for the lack of updates on this front—https://github.com/GoogleChrome/workbox/issues/1201 will be addressed in the near future, and a change like https://github.com/GoogleChrome/workbox/compare/update-configuration-links?expand=1 will follow once that's done to point to the new configuration guide.

I'm going to close this in favor of using #1201 to track the work.

[2018-01-31 21:32] #1264 closed

[2018-01-31 22:07] #1263 closed

[2018-01-31 22:13] gauntface commented on #1260
@jeffposnick Does the webpack `InjectManifest` use importWorkboxFrom? If so - it should support all options, or not support the command at all.

I'm fine with developers using workbox-build's `copyLibraries()` in conjunction with `injectManifest()` because they are using `workbox-build`. For the webpack injectManifest plugin, it feels like we are forcing the developer to figure out an extra step o

[2018-01-31 22:51] DavidScales opened #1266 "v3 bgSync Queue not queueing failed requests"
**Library Affected**:
*v3 workbox-sw*

**Browser & Platform**:
*Google Chrome v64.0.3*

I'm trying to implement background sync on an API route, such that failed requests to the route are stored in a bgSync queue (IndexedDB), and resent later when online.

I originally tried using `workbox.backgroundSync.Plugin`, based on the v3 guide for [Using Workbox Background Sync with other Workbox Packages]

[2018-01-31 22:55] DavidScales commented on #1248
okay I've created an issue for getting `Queue` to work

[2018-01-31 22:56] prateekbh commented on #1266
So `workbox.backgroundSync.Queue` and `workbox.backgroundSync.QueuePlugin` are two different classes. `workbox.backgroundSync.Queue` has a method `[fetchDidFail](https://github.com/GoogleChrome/workbox/blob/v3/packages/workbox-background-sync/Plugin.mjs#L41)` which enque the request when it fails on network.

The best bet is to extend `https://github.com/GoogleChrome/workbox/blob/v3/packages/workb

[2018-01-31 23:18] raejin commented on #1260
Is it possible to consider supporting `copyLibraries()` implicitly by configuring `importWorkboxFrom` option? I would love to explore this possibility but would like to know if this will be considered a path forward.

Currently, `InjectManifest` supports the option of `importWorkboxFrom` to be pointing at a valid chunk. However, after experimenting with this option, I believe that it is not the mo

[2018-01-31 23:19] jeffposnick commented on #1260
Yup, the webpack plugin's `InjectManifest` uses `importWorkboxFrom`.

Adding support for `importWorkboxFrom: 'local'` to the webpack plugin means that in addition to modifying `importScripts()`, we'd also have to insert

[code]

somewhere into the `swSrc` file, which is *possible*, but I've been hesitant to mess too much with the source service worker file when in `InjectManifest` mode.

I think t

[2018-01-31 23:28] jeffposnick commented on #1260
@raejin—We heard feedback with the previous release of Workbox that developers wanted the option of using webpack to create their own custom bundle, based on the individual modules, instead of of using our prepackaged bundles. I *think* we've met that use case in v3, though it might not be the use case that's right for your project.

When using webpack's `InjectManifest`, `importWorkboxFrom` suppo

[2018-02-01 01:01] #1201 closed

[2018-02-01 06:06] raejin opened #1267 "`importScripts` include duplicated entries in Webpack development"
**Library Affected**:
workbox-webpack-plugin@3.0.0-alpha.6

**Browser & Platform**:
all browsers

**Issue or Feature Request Description**:
We are using Webpack dev server to serve JavaScript from a separate subdomain, as per new changes come in the dev server will re-compile and update the asset. I notice the `importScripts` statement started to include multiple precache manifest script URLs like

[2018-02-01 08:47] moimael commented on #1262
Sure, here you go:

[code]

[2018-02-01 08:47] moimael commented on #1176
Sure:

[code]

[2018-02-01 08:48] moimael commented on #1176
And the specific error i get is this one:

[code]

[2018-02-01 18:31] #1261 closed

[2018-02-01 18:45] gauntface commented on #1176
@jeffposnick does it make sense to change this to a warning and only through if none of the glob patterns find files? That's probably what I would expect rather than a hard error.

@moimael is there a file you are expecting to match against this `manifest.*.js`?

[2018-02-01 18:49] gauntface commented on #1262
@moimael this should be a regex, not a string.

So it would end up being: `dontCacheBustUrlsMatching: /./`

@jeffposnick is there anyway we can change the error from `joi` to call out being a RegExp. The message of `must be an object` is misleading, but I can see where it's coming from with `dontCacheBustUrlsMatching: joi.object().type(RegExp),`

[2018-02-01 18:51] gauntface commented on #1267
That PR looks great to me although I'm not 100% what this is for: `Array.prototype.push.apply(importScriptsArray, workboxSWImports);`

[2018-02-01 18:54] jeffposnick commented on #1262
I'll leave this issue open to see whether there's anything we can do to tell `joi` to throw an error that includes the context about the expected object type.

[2018-02-01 18:56] #1254 closed

[2018-02-01 19:01] jeffposnick commented on #1267
Thanks for pointing this out, @raejin!

The repeated compilations use case isn't something that's been on our radar, so I wonder whether there are other areas that we would to account for in regards to resetting back to initial state.

Do you have a good way to reproduce this without fully adopting your webpack dev server setup so that we can confirm whether anything else might be amiss?

[2018-02-01 19:01] gauntface commented on #1266
@prateekbh that isn't the approach we should be encouraging here.

@DavidScales I get your usecase, but IMO, this is actually more an issue with DevTools / setting things up and I don't want to add an API just because it can't be tested.

If you want - you can dispatch a fake sync event - forcing a replay of the requests OR you can use the Queue class directly, code off the top of my head would be

[2018-02-01 19:03] gauntface commented on #1248
@DavidScales I think the plugin is what you want - you just want a way to Force a sync event - i.e. work with DevTools. I'll dig into what you can use for the code lab - but adding the API isn't the way forward IMO.

[2018-02-01 19:12] jeffposnick commented on #1176
@moimael, if you've switched to the v3 prerelease webpack plugin, then using `globPatterns` shouldn't be required anymore, assuming all your assets are part of the webpack compilation. We've got some new docs up at https://developers.google.com/web/tools/workbox/modules/workbox-webpack-plugin#full_generatesw_config explaining that behavior.

@gauntface, I was in favor of raising a hard error becau

[2018-02-01 19:32] jeffposnick commented on #1227
I don't think you can use precaching for your HTML in that case. If you need to serve HTML that varies depending on some characteristic of the client's request headers, that's not nuance that you'd be able to represent with precaching.

You could use runtime caching instead, potentially with a stale-while-revalidate policy, and get some of the same benefits of taking network delays out of the rend

[2018-02-01 19:34] gauntface commented on #1248
Ok so it looks like you can just use the sync button in Chrome DevTools to force everything to kick off - I didn't have to set a tag or anything.

![screenshot from 2018-02-01 11-34-30](https://user-images.githubusercontent.com/139760/35699108-e9b1c72c-0743-11e8-9149-7e69b48e3629.png)

[2018-02-01 21:28] prateekbh commented on #1266
makes sense, this one is pretty minimal and cleaner

[2018-02-01 21:44] ciampo opened #1271 "Using v3 today"
Hello,
I'm starting a new project and I'd like to use v3. Is there any place where I can find up-to-date documentation about the library and its Webpack plugin? I couldn't find any specific info on the README and couldn't understand if [these docs](https://developers.google.com/web/tools/workbox/modules/workbox-webpack-plugin) are up to date.

**Library Affected**:
*workbox-webpack-plugin*

**Brow

[2018-02-01 21:54] jeffposnick commented on #1271
Thanks for bearing with us as we transition our docs over.

https://developers.google.com/web/tools/workbox/modules/workbox-webpack-plugin should be up to date with the current v3 alpha.

(Other webpack docs, like https://developers.google.com/web/tools/workbox/get-started/webpack, still refer to the v2 syntax.)

[2018-02-01 22:02] gauntface commented on #1271
@ciampo rule of thumb - if the top is bright orange - it's v3, if its blue - it's v2.

[2018-02-01 22:02] #1125 closed

[2018-02-01 22:03] #1262 closed

[2018-02-01 22:44] gauntface opened #1272 "broadcast cache update integration test flakey"
For some reason the broadcast cache update is flakey - I have to run fetch('/test/uniqueETag') to pass the test.

[2018-02-01 22:46] raejin commented on #1267
@gauntface Since `workboxSWImports` is an array, and I want to push the elements onto `importScriptsArray` without creating a new array, this is how I did it. I will adopt a cleaner syntax in the PR.

@jeffposnick I have created a repo just to demonstrate this bug, which it doesn't require Webpack dev server. The demo uses the Webpack watch mode.

https://github.com/raejin/workbox-webpack-plugin-b

[2018-02-01 23:48] ciampo commented on #1271
@jeffposnick and @gauntface — thank you for the very quick response and for the effort that you put in releasing this new version (I just noticed the version bump to beta!)

[2018-02-01 23:48] #1271 closed

[2018-02-02 09:06] moimael commented on #1176
@gauntface Yes I do have a file that matches this. I have `public/dist/js/manifest.1bd239584b430d363eb7.js` (the hash changes between build of course)

@jeffposnick I know but we have a particular setup, our frontend app is divided into "subapps" (ex: admin, landing-pages, ...), each app is independent and is handling one specific business domain. So we generate one service worker per app so peopl

[2018-02-02 15:14] jeffposnick commented on #1267
Thanks, @raejin! We're not heavy webpack users on the core team, so getting feedback from developers in the real world is very much appreciated.

I tried out your demo with a few other configuration options that might be passed to Workbox and things look good other than the `importScripts` issue.

If you're up to filing the PR to fix the issue, go for it!

[2018-02-02 15:22] jeffposnick commented on #1176
What's responsible for writing `public/dist/js/manifest.1bd239584b430d363eb7.js` out to disk? Is it another part of the webpack build process that might run after the Workbox webpack plugin runs? If so, it might be that the file doesn't yet exist on disk at the time Workbox is running.

I don't fully understand the webpack plugin lifecycle and order of events, but the v2/v3 Workbox plugins listen

[2018-02-02 15:33] gauntface opened #1274 "Link workbox-build module page from workbox/modules/"
https://developers.google.com/web/tools/workbox/modules/

[2018-02-02 15:34] gauntface commented on #1248
@DavidScales I've added a section to the bottom of the background sync stuff: https://developers.google.com/web/tools/workbox/modules/workbox-background-sync

[2018-02-02 15:38] gauntface commented on #1266
@DavidScales your code above is a mash up of the plugin and the lower level code, but the lower level code isn't a drop in replacement.

I.e. only the Plugin class can be used as a plugin, the Queue is designed so that you can you it on it's own (i.e. without all the other workbox modules).

I've updated the doc some more for plugin / advanced usage (Plugin / Queue) and I've added testing to doc a

[2018-02-02 16:39] gauntface commented on #1227
You can also just add a server side generated manifest:

[code]

Then you would have a service side endpoint that would respond to `/server-side-manifest.js` and return something like:

[code]

You would need to create a revision that is a hash of the contents of '/' (i.e. if you change the output of '/' the revision value changes too).

[2018-02-02 16:59] gauntface commented on #1267
Thanks again for digging in to all this @raejin  :)

[2018-02-02 17:02] #1272 closed

[2018-02-02 22:28] raejin commented on #1267
🙌

Thank you guys for working on this awesome toolbox, which makes it so much easier for us to implement & debug the service worker piece. Will definitely keep a closer eye on undiscovered edge case if it manifests in my development cycle.

Again, appreciate the hard work on Workbox!

[2018-02-03 03:43] #1267 closed

[2018-02-03 21:49] DveMac opened #1277 "Self is undefined when importing precache-manifest file"
**Library Affected**:
workbox-webpack-plugin

**Browser & Platform**:
all browsers

**Issue or Feature Request Description**:
When using workbox-webpack-plugin and babel with webpack. In the generated file `precache-manifest.XYZ.js` self is undefined. And so an error is throw when trying to assign to `self.__precacheManifest`

**WorkboxPlugin config**
[code]

**Console logs**

[code]

[2018-02-04 15:55] ladycc33 opened #1278 "nothing"
Welcome! Please use this template for reporting bugs or requesting features. For questions about using Workbox, the best place to ask is Stack Overflow, tagged with `[workbox]`: https://stackoverflow.com/questions/ask?tags=workbox

**Library Affected**:
*workbox-sw, workbox-build, etc.*

**Browser & Platform**:
*E.g. Google Chrome v51.0.1 for Android, or "all browsers".*

**Issue or Feature Reques

[2018-02-04 16:06] ladycc33 opened #1279 "no"
Welcome! Please use this template for reporting bugs or requesting features. For questions about using Workbox, the best place to ask is Stack Overflow, tagged with `[workbox]`: https://stackoverflow.com/questions/ask?tags=workbox

**Library Affected**:
*workbox-sw, workbox-build, etc.*

**Browser & Platform**:
*E.g. Google Chrome v51.0.1 for Android, or "all browsers".*

**Issue or Feature Reques

[2018-02-05 10:04] moimael commented on #1176
So the latests plugin I have is the ModuleConcatenationPlugin, and right before workbox runs. So it should catch the manifest file. It is generated at the same time as other chunks with the CommonChunkPlugin.

[2018-02-05 13:17] svdoever commented on #1162
We are now already at workbox-cli@3.0.0-alpha.6, did this by trial and error... is there a way to specify "latest" from the alpha, like in @next that is used by many other libs?

[2018-02-05 18:12] #1279 closed

[2018-02-05 18:12] #1278 closed

[2018-02-05 18:13] jeffposnick commented on #1279
(I'm closing this as it appears to just be the boilerplate. If you're having a specific problem, please let us know by providing relevant details in a new issue.)

[2018-02-05 18:18] jeffposnick opened #1281 "webpack v3 + v4 integration tests"
**Library Affected**:
*workbox-webpack-plugin*

https://github.com/GoogleChrome/workbox/pull/1275 adds support for webpack v4's plugin architecture. However, our current test suite only runs integration tests against webpack v3.

A module like https://www.npmjs.com/package/npm-install-version might be a sane way to test against multiple versions without having to play games with `package.json`.

R

[2018-02-05 20:34] jeffposnick commented on #1227
[code]

won't work, because precaching relies on there being a change to the top-level service worker file in order to trigger a new `install` event. Nothing in the top-level service worker file wouldn't end up changing if there were a hardcoded `'/server-side-manifest.js'` URL.

(The webpack plugin, which also relies on an external manifest, automatically inserts a statement into the top-level se

[2018-02-05 20:46] DavidScales commented on #1266
@gauntface thanks for all your help, I appreciate it and apologies if I'm dragging this out too much.

I think I have a better understanding of the differences between the `Plugin` & the `Queue`. The reason I was so keen to stick with `Plugin`, is because it really makes the most sense to me in this context to use `Plugin`, since I am trying to use bgSync "with other Workbox modules".

Going forwa

[2018-02-05 20:48] jeffposnick commented on #1277
[`self` is defined](https://developer.mozilla.org/en-US/docs/Web/API/WorkerGlobalScope/self) as part of the `WorkerGlobalScope`, and when used inside of a service worker (or a script imported by a service worker) it should always refer to the current global scope.

So... there's no reason that I'm aware of why `self` would be undefined when evaluated in a service worker.

I wonder whether webpack

[2018-02-05 21:03] DavidScales commented on #1248
@gauntface the documentation change is very helpful thanks!  👍

And I'm convinced of switching over to DevTools like you've suggested.

From my standpoint we can close this issue, everything unresolved is alive in #1266

However, (this possibly warrants a separate issue?) I'm not able to run the `gulp demos` you're mentioning. From the workbox repo, v3 branch, running `gulp demos` (after `npm inst

[2018-02-05 21:03] jeffposnick commented on #1176
Another thing to keep in mind is that the `glob` pattern matching is done against files that have been written to disk. I looked back up at your original `webpack` config and noticed that you're configuring `settings.devServer`—I believe that the webpack dev server maintains its own in-memory filesystem and does not write anything out to disk. Or are you seeing the same failure when using webpack

[2018-02-05 21:11] jeffposnick commented on #1162
Looks like @gauntface added info on installing the beta release [to the docs](https://developers.google.com/web/tools/workbox/modules/workbox-cli#install_the_cli). It's

[code]

[2018-02-05 21:11] #1162 closed

[2018-02-05 22:29] DveMac commented on #1277
@jeffposnick many thanks for your reply.

The precache-manifest file generated by the webpack plugin seems pretty standard...

[code]

and the reference injected by the plugin does too

[code]

My gut feeling too is that that webpack/babel is somehow interfering but I am at a loss as to where to look.

[2018-02-05 23:30] DveMac commented on #1277
Gah, I found the issue. Elsewhere in sw.js I had `const self = this || {}`.  Removing this fixed the issue. Apologies for a confusing issue report!

[2018-02-05 23:30] #1277 closed

[2018-02-06 09:51] moimael commented on #1176
This is not my config in the first post ;) We are only enabling workbox for production mode. We are actually using sw-precache with the webpack plugin currently and it works fine with the manifest file. The file is correctly writen to disk before the plugin runs.

[2018-02-06 11:48] rajagopalx opened #1282 "Background sync demo is not working"
I think demo in https://workbox-demos.firebaseapp.com/demo/workbox-background-sync/  is not working.

**Browser & Platform**:
Google Chrome  63.0.3239.132 on Windows 10

[2018-02-06 14:39] gauntface commented on #1282
@rajagopalx could you provide:

1. Reproduction steps - what did you do
1. What did you expect to happen
1. What actually happened

[2018-02-06 14:49] gauntface commented on #1248
@DavidScales thats because the joy that is Firebase hosting + functions requires you to be logged in and have access to the project - regardless of local testing or actually deploying :(

I'm going to close this issue now if everything seems patched up in docs.

[2018-02-06 14:49] #1248 closed

[2018-02-06 14:55] gauntface commented on #1266
The error you are getting is because addRequest doesn't expect a URL string, expects a Request instance. Maybe `args.event.request` instead of `args.url.href`.

@prateekbh do you have any bandwidth to add typechecking to `addRequest()` to ensure it's a Request type and show an error message otherwise?

[2018-02-06 16:15] prateekbh commented on #1266
yep will do that

[2018-02-06 18:10] DavidScales commented on #1248
ah ok. SGTM. thanks again!

[2018-02-06 18:11] DavidScales commented on #1266
Ah ok. For posterity, changing to `args.event.request` throws:

[code]

Because I forgot to `clone` the request:

[code]

But yeah it works like magic. Thanks again guys! :D

This issue is good to close by me, but I'll leave it open if @prateekbh wants to use it to track his typechecking fix.

[2018-02-06 18:13] gauntface commented on #1266
Can we keep this open for the following:

- [ ] Change demo so we show off fetch event
- [ ] Add an assertion to input of `addRequest()`

[2018-02-06 18:17] prateekbh commented on #1266
Do you want the demo to not use a `fetch` instead of a strategy?

[2018-02-06 19:15] gauntface commented on #1266
@prateekbh sorry - went auto-pilot - I meant change the docs to show off a fetch.

[2018-02-06 19:17] gauntface commented on #1227
@jeffposnick you are right is would need to be:

[code]

[2018-02-07 01:54] gauntface commented on #1260
I would love `importWorkboxFrom: 'local'` to work in the inject manifest plugin. I would also be fine with either forcing the developer to set `modulePathPrefix` manually or injecting it - the tricky part we are solving is getting the files.

Regarding why not add to workbox-build or CLI is because the places where you'd use these (i.e. a node script of a terminal) to inject your manifest is also

[2018-02-07 19:25] #1274 closed

[2018-02-07 20:50] merlinnot opened #1283 "Delay precaching"
I have an app which loads some data through web channels. I’d like to be able to load an application shell and all relevant data before service worker starts downloading any assets, but I’d like the service worker to cache those files which are a part of the shell/current view.

My desired scenario goes as follows:
1. User requests the page
2. `index.html` is downloaded alongside with service work

[2018-02-08 02:07] raejin commented on #1227
How do you feel about supporting the `templatedUrls` option with the insight from Webpack compilation? Currently with our setup, I'm generating this piece of information outside of the Workbox plugin cycle as a workaround to generate hash for the shell since it depends on Webpack generated files. Because Webpack hasn't `emit` anything real to the disk at the plugin stage, globbing won't work.

Ins

[2018-02-08 15:45] garviand commented on #1222
@jeffposnick What is the reasoning behind not supporting POST requests for the caching strategies? Forgive my ignorance, but it would seem that caching the response from POST requests would be a very common use case.

[2018-02-08 17:34] jeffposnick commented on #1222
@garviand, that's part of the Cache Storage API specification. See [5.4.4, step 3.2](https://w3c.github.io/ServiceWorker/#cache-addAll):

I believe the rationale is that POST and PUT requests are traditionally used to make non-reversable changes to server-controlled resources, and a scenario in which you bypass the server and respond with a previously cached response would not meet developers' exp

[2018-02-08 17:37] garviand commented on #1222
Makes a lot of sense, thank you.

[2018-02-08 17:51] garviand opened #1285 "InjectManifest Plugin – Set manifest dest"
**Library Affected**:
*workbox-webpack-plugin* (v3.0.0-alpha-5)

**Issue or Feature Request Description**:
*Add option to set the `manifestDest` when using InjectManifest Plugin with Webpack*

Since it is important to put the service worker file at the root of the files you want to cache (for scoping reasons), it is possible that the `precache-manifest.js` file could be in a different directory. I

[2018-02-08 18:36] gauntface opened #1286 "Module Exports in Workbox Failing to Precache"
I'm still exploring the cause of this so bare with me on the amount of information (which may or may not be relevant).

SW just needs to cache a file with an export:

[code]

[code]

The error printed the the console is:

The base of the stack trace is Babels generators.

The interesting thing here is why the contents of the file is being examined in any form during precaching.

Other side note: I

[2018-02-08 18:43] gauntface commented on #1286
Basic Repro: https://quixotic-quit.glitch.me/

[2018-02-08 18:50] gauntface commented on #1286
Bug occurs in Chrome 65 (Canary)

[2018-02-08 19:09] gauntface commented on #1286
Reduced test case outside of Workbox exposed the same behavior: https://bugs.chromium.org/p/chromium/issues/detail?id=810469 so closing this for now.

[2018-02-08 19:09] #1286 closed

[2018-02-08 20:32] #1251 closed

[2018-02-08 21:02] jeffposnick commented on #155
I'm going to re-open this issue for consideration in a future release, and move over @merlinnot's comment from https://github.com/GoogleChrome/workbox/issues/1283#issue-295287842 to consolidate:

[2018-02-08 21:02] jeffposnick commented on #1283
Thanks! Closing in favor of tracking this in https://github.com/GoogleChrome/workbox/issues/155

[2018-02-08 21:02] #1283 closed

[2018-02-08 22:13] gauntface commented on #1227
@raejin I can picture a scenario where that would be useful, not sure what the config options of that would look like however (and I'm a newb at Webpack). Could you open an issue with a proposal of a config that you think would fit this use case?

[2018-02-08 22:20] gauntface commented on #155
I'm still confused as to what the request is here.

All of the above sounds like its logic specific to an app and it's separate to precaching (i.e. precache a small set and cache other stuff seperately at another time). So what is Workbox doing / not-doing that is required here?

[2018-02-08 22:34] raejin opened #1287 "Fail the Webpack build if a chunk doesn't exist"
**Library Affected**:
workbox-webpack-plugin@^3.0.0-beta.0

**Browser & Platform**:
all browsers

**Issue or Feature Request Description**:
It would be problematic if we cannot track if a specified precaching Webpack chunk doesn't actually exist in the compilation. According to the source, `chunks` option is used as a whitelist to ensure the specified chunks to be considered from the compilation.

[2018-02-09 05:41] mnquintana opened #1288 "Can't pass credentials when precaching routes"
**Library Affected**:
workbox-precaching@3.0.0-beta.0

**Browser & Platform**:
All browsers

**Issue or Feature Request Description**:
Currently `workbox.precache` isn't passing credentials along when fetching assets, which means that any requests that require, say, a valid cookie, will fail. 😢

It looks like this is because the `PrecacheController` is explicitly passing in `null` for `fetchOption

[2018-02-09 11:32] mischnic opened #1289 "workbox-build: broadcast update"
**Library Affected**:
workbox-build, maybe other?

**Browser & Platform**:
Chrome 64, workbox-build@3.0.0-beta.0

**Issue or Feature Request Description**:
The documentation for `generateSW` at https://developers.google.com/web/tools/workbox/modules/workbox-build#full_generatesw_config says the option key is `broadcastUpdate`, while in reality it is `broadcastCacheUpdate`.

https://github.com/Goog

[2018-02-09 15:52] garviand commented on #1211
*bump* this did trip me up for a while. I was under the impression that you can have a service worker registered at any scope to control any page, but it could not intercept fetch events for URLs outside of its scope. This isn't as much of a workbox issue as a general service worker issue to be fair.

[2018-02-09 20:31] jeffposnick commented on #1285
Thanks for the feature suggestion. As of the current implementation, the precache manifest will end up served from whatever your `publicPath` is configured to be:

https://github.com/GoogleChrome/workbox/blob/50fab168140067c213f97fea58bdc0657dd60b89/packages/workbox-webpack-plugin/src/inject-manifest.js#L100-L103

I can't say that I'm familiar with all the different ways that folks have webpack se

[2018-02-09 20:37] jeffposnick commented on #1289
Thanks for pointing that out—we'll get that mapping updated (as well as the docs).

[2018-02-09 20:43] jeffposnick commented on #1289
(Marking this as `breaking-change` so we make sure to take note of it when documenting the v3 options.)

[2018-02-09 20:52] jeffposnick commented on #1288
Thanks for reporting this!

We hardcoded `same-origin` for precaching in the previous Workbox release (and in `sw-precache`), and it seemed to be non-controversial. Here's the v2 code:

https://github.com/GoogleChrome/workbox/blob/60d90262077c18e34240921fe0d36b876f5ca3b0/packages/workbox-precaching/src/lib/controllers/base-cache-manager.js#L28-L35

@gauntface, I'll put together a PR to add this in

[2018-02-09 23:05] gauntface opened #1294 "Safari Tech Preview - No controllerchange events."
https://planet-money.glitch.me/

This page demonstrates how we test when a service worker is activated and controlling a page. In Firefox and Chrome the red background turns green when the SW is registered and becomes the controller.

Safari Tech Preview doesn't seem to trigger controllerChange events, meaning the page stays red - refreshing the page will show its controlled and turn green.