[2020-12-22 17:44] jeffposnick commented on #2563
With https://github.com/GoogleChrome/workbox/pull/2673 in place, _most_ of the time you shouldn't need to use `dontCacheBustURLsMatching` with `workbox-webpack-plugin` v6+. So if you're using `webpack`, this shouldn't be as much of an issue.

Assuming you're not using `webpack`, you don't need to match the entire URL in your RegExp. I think you could get away with using `/\.[0-9a-f]{16}\.js$/` as

[2020-12-22 17:44] #2563 closed, assigned to nobody

[2020-12-22 18:50] jeffposnick commented on #2707
That sounds very much like what you might see if your `vendor.[hash].js` chunk is larger than the maximum size that Workbox is configured to precache by default. (You should see a warning message generated as part of your build letting you know that `vendor.[hash].js` is too big and won't be precached.)

You can adjust the [`maximumFileSizeToCacheInBytes`](https://developers.google.com/web/tools/w

[2020-12-22 18:50] #2707 closed, assigned to nobody

[2020-12-22 19:12] jeffposnick commented on #2689
I'm going to close this for now, as it's not something that we can reproduce. If you can still reproduce the issue, and can get back to me with those additional details, we can revisit.

[2020-12-22 19:12] #2689 closed, assigned to jeffposnick

[2020-12-22 19:16] jeffposnick commented on #2668
I don't think we can address this extra log message, unfortunately. `workbox-google-analytics` works by adding in the `BackgroundSyncPlugin` to some routes that match Google Analytics pings, and the `BackgroundSyncPlugin` is invoked whenever there's a failure to transmit the request. So we need that failure to happen, and it can't be caught and silently ignored.

[2020-12-22 19:16] #2668 closed, assigned to nobody

[2020-12-22 19:24] jeffposnick commented on #2607
Could you share a use case that demonstrates why using `swSrc` doesn't meet your needs? Note that the `InjectManifest` plugin will trigger a child compilation, using the settings from your main `webpack` compilation, so I'm not aware of major differences between providing the service worker code as a file via `swSrc` and using a named `entry`.

[2020-12-22 20:16] bhollis commented on #2706
Awesome, thanks. It'd be great to have that info in the upgrade guide or 6.0.0 release notes.

[2020-12-23 10:33] AlvinTCH commented on #2707
Thanks for the quick reply! Increased the maximumFileSizeToCacheInBytes while doing tests on the stability after breaking up the vendor chunks. Seems to be alight so far without seeing the blank pages on subsequent redeploys

[2020-12-23 21:04] comatory opened #2708 "workbox-webpack-plugin not caching JS assets when running in development mode"
**Library Affected**:
`workbox-webpack-plugin`

**Browser & Platform**:
Chrome 87 on MacOS

**Issue or Feature Request Description**:
When using `GenerateSW` as a plugin, the resulting service worker does not cache any JavaScript created by webpack. This only happens when webpack mode is set to `development`.

My webpack config:

[code]

[2020-12-24 16:19] jeffposnick commented on #2706
(FWIW, we do [call out](https://github.com/GoogleChrome/workbox/releases/tag/v6.0.0#tag-select-menu-76f59f90-4603-11eb-9244-5f78c5428ec6:~:text=workbox%2Dwebpack%2Dplugin%20will%20also%20now%20take%20advantage,webpack%20automatically%20adds%20to%20hashed%20assets.) that we're now using the `immutable` metadata in the "webpack improvements" section of https://github.com/GoogleChrome/workbox/release

[2020-12-24 16:45] MostafaSh opened #2709 "getting non-precached-url error when running webApp on a none root scope (this is not an issue. just delete it)"
I am really deeply sorry. making this issue was my mistake. pls ignore and remove it

[2020-12-28 20:26] kevinfarrugia opened #2710 "self.__WB_MANIFEST is undefined"
**Library Affected**:
*workbox-webpack-plugin*

**Browser & Platform**:
- Webpack: v4.44.2
- Workbox: v6.0.2 (also replicated on v5.1.4)

**Issue Description**:
When debugging inside my service worker I noticed that `self.__WB_MANIFEST` is undefined and unless defaulting to an empty array (`precacheAndRoute(self.__WB_MANIFEST || [])`), it throws an exception:

![Screenshot from 2020-12-28 19-36-23

[2020-12-29 00:13] MrCsabaToth commented on #2258
@jeffposnick in my case I have a Jekyll based AMP website so my hands are really tied when fixing this. I identified that the only POST request going out to Google Tag Manager (`https://www.googletagmanager.com/gtag/amp?__amp_source_origin=https%3A%2F%2Fcsaba.page`) and even that is indirectly generated by the `amp-analytics` component. My plan was to apply a `networkOnly` strategy for that domain

[2020-12-29 20:50] rrd108 opened #2711 "Default values at the docs"
**Issue or Feature Request Description**:
*request: list the default values in the docs of GenerateSW*

[2020-12-30 12:45] mfbx9da4 opened #2712 "source-map build dependency breaks when fetch() is polyfilled"
**Library Affected**:
workbox-webpack-plugin

**Issue or Feature Request Description**:
When combining source maps with webpack and workbox I get the following error at build time.

[code]

My nextjs webpack config looks like so
[code]

A minimal [failing example can be found here](https://github.com/mfbx9da4/next-with-workbox-example)

To recreate run `npm run build` (after cloning and npm instal

[2020-12-30 12:46] mfbx9da4 commented on #2712
I saw https://github.com/GoogleChrome/workbox/issues/2559 it's probably related?

[2020-12-31 07:18] PostAlmostAnything opened #2713 "How Do I Clear a Specific Cache When a New Record is Created?"
I have a site that users post to frequently and would like to enable caching of pages, but so far my efforts can online limit the amount of time a cache can be kept. This is problematic if a user posts a comment on an article because users that have already been to the article are served the same one when they go back to it.

Would it be possible to delete the cache just for that article when a ne

[2021-01-01 16:55] rrd108 opened #2714 "get response with backgroundsync"
**Library Affected**:
workbox-background-sync

**Browser & Platform**:
all browsers

**Issue or Feature Request Description**:
How can I get the server response when the backgroundsync was successfull?
I am posting a task and I need the id from the API response.

[2021-01-04 12:19] rrd108 opened #2715 "workbox-webpack-plugin v6"
**Library Affected**:
workbox-webpack-plugin

**Browser & Platform**:
all browsers

**Issue or Feature Request Description**:
Is there a scheduled day for using workbox v6?

[2021-01-04 20:11] #2715 closed, assigned to nobody

[2021-01-05 12:11] ketys-from-meiro commented on #2299
Hi @jeffposnick, thanks for your reply!

**Ad your second point first** - this is definitely not my problem because max. size of the whole bundle app file is according to console around 800kB, it also doesn't throw any warning in console during build, so I assume everything is OK.

**now to your first point** - I'm not using lazy loading in app, so I can show you my updating procedure while I'm de

[2021-01-06 15:17] jeffposnick commented on #2713
Hello! Could you provide some more context about a few things?

- In your example, do the `https://example.com/posts/...` URLs correspond to HTML pages, or for an API that returns content?

- When you talk about clearing the cache after a new comment is posted, are you just talking about clearing the cache for the user who actually posted the comment? Because obviously other return visitors to you

[2021-01-06 22:19] roikoren755 commented on #2478
Is there any update on the state of the migration in this repo?

I'd be more than happy to help, and submit a PR or two migrating packages to TypeScript. Just point me in the right direction :)

[2021-01-07 07:30] govizlora commented on #1692
I have the same issue with `html-webpack-plugin`. There is a naiver solution using the [additionalManifestEntries](https://developers.google.com/web/tools/workbox/reference-docs/latest/module-workbox-webpack-plugin.GenerateSW#GenerateSW) parameter. Though, I don't know how to generate the hash, so I used the current time for the revision.

[2021-01-07 18:08] jeffposnick commented on #2478
Not for `workbox-webpack-plugin` at this time.

I am in the middle of migrating `workbox-build` to TypeScipt (#2477, WIP code at https://github.com/GoogleChrome/workbox/compare/wb-build-ts). That is a more involved migration, as it's also going to including switching from `joi` to something like https://github.com/gristlabs/ts-interface-checker or https://github.com/pelotom/runtypes to use the Typ

[2021-01-07 18:32] roikoren755 commented on #2478
Sounds good!
Like I said, I'd be more than happy to help with the migration, not only for `workbox-webpack-plugin`, but for other packages in this repo as well. Anything you need help with, especially if it has to do with migrating to TypeScript, just let me know :)

[2021-01-07 22:13] jeffposnick commented on #2712
Hello!

So it turns out this is due to https://github.com/mozilla/source-map/issues/349

I'm assuming that Next.js polyfills `fetch()` in some way?

`source-map` `v0.8.0-beta.0` apparently resolves the issue, even if there's a `fetch()` polyfill. Based on the discussion in that issue I linked to, it doesn't sound like there's going to be a `v0.8.0` stable anytime soon, so I think we can resolve th

[2021-01-07 22:17] jeffposnick commented on #2711
Thanks for raising this–we do have the default values in the JSDocs, from which our documentation is derived, but the JSDoc to HTML publishing flow that we're currently using ends up dropping them.

We have some updates to this flow planned, and I think we can get it addressed.

[2021-01-08 01:49] #2709 closed, assigned to nobody

[2021-01-08 08:35] mfbx9da4 commented on #2712
Thanks @jeffposnick, this will be a huge help to the nextjs community.

[2021-01-08 12:07] rrd108 commented on #2714
I made a plugin for this: https://www.npmjs.com/package/@rrd/workbox-backgroundsync-message

At the moment it is for vue apps.

I think the easiest way to do it is to fire `fetchDidSucceed` event in the `replayRequest()` method. By that we would be able to hook in.

[2021-01-08 15:56] #2712 closed, assigned to nobody

[2021-01-08 16:14] jeffposnick commented on #2708
My guess would be that your JavaScript assets are larger than 2mb, which is the default `maximumFileSizeToCacheInBytes` value. You can configure a larger value, like `maximumFileSizeToCacheInBytes: 10 * 1024 * 1024`, if you'd like.

There should be a warning message logged by `webpack` when this happens, letting you know about the assets that weren't precached.

[2021-01-08 16:33] comatory commented on #2708
Yes that is the case and the warning is indeed there. Thanks for pointing that out.

[2021-01-08 16:33] #2708 closed, assigned to nobody

[2021-01-08 16:52] pmochine opened #2717 "Workbox throws warning but still caches it (was provided in your Workbox chunks config, but was not found in the compilation.)"
**Library Affected**:
workbox-webpack-plugin: ^6.0.2

**Issue or Feature Request Description**:
Currently, I'm upgrading from workbox-webpack-plugin: ^4.3.1 to ^6.0.2, but I noticed a warning that I'm not sure how I should solve it.

It says: `WARNING in The chunk '/js/manifest' was provided in your Workbox chunks config, but was not found in the compilation``

The weird part is that the `manifest

[2021-01-08 19:16] jeffposnick commented on #2717
The `chunks` option allows you to say "only precache the `webpack` chunks with matching [_chunk_ names](https://webpack.js.org/glossary/#c)".

Based on that error message, `'/js/manifest'` isn't a _chunk_ name that matches any of the chunks in your `webpack` configuration. `'/js/manifest.js'` looks like it's an [_asset_ name](https://webpack.js.org/glossary/#a).

That warning message is logged to

[2021-01-08 21:57] jeffposnick commented on #2710
If you're getting that error, it would imply that the `InjectManifest` plugin isn't actually being executed as part of your build, as the job of the `InjectManifest` plugin is to replace `self.__WB_MANIFEST` with an array of entries to precache. Could you check whether your configuration is actually leading to the plugin being applied? You should see an entry created by `InjectManifest` correspond

[2021-01-10 11:34] kevinfarrugia commented on #2710
Thank you for following up.

I can confirm that it is now loading the `self.__WB_MANIFEST` correctly and it contains the expected array of entries to precache. I have not done any changes to the webpack configuration (or anything else related to this) so I cannot understand why this issue appeared and now disappeared by itself. If it re-occurs I will debug as you have suggested.

[2021-01-10 11:34] #2710 closed, assigned to nobody

[2021-01-10 13:18] pmochine commented on #2717
@jeffposnick ok thanks and I tried to put your tips into practice. However, it would be cool if you use chunks and include at the same time.
Like:

            chunks: [
                'routes-settings', 'routes-sell-food', 'routes-checkout',
                '/js/app', '/js/moment', '/js/canvas',
            ],
            include: [
                '/js/vendor.js',
                '/js/manifest.

[2021-01-11 17:05] jeffposnick commented on #2717
The underlying code in question is https://github.com/GoogleChrome/workbox/blob/2df5ce58bd74abd8da4ec90e427f0e4431a0cff2/packages/workbox-webpack-plugin/src/lib/get-manifest-entries-from-compilation.js#L62-L141

That code should add an asset to the precache manifest if both of these compound conditions are true:

- The asset is a member of a chunk that's allowed via the `chunks` config, **or** the

[2021-01-11 19:19] vendion opened #2719 "workbox-webpack-plugin InjectManifest fails on build"
**Library Affected**:
workbox-webpack-plugin

**Browser & Platform**:
all browsers

**Issue or Feature Request Description**:
When using the workbox-webpack-plugin to inject a list of resources that should be precached by the service worker the webpack build step fails.

**NPM package.json**
[code]

**webpack.mix.js**
[code]

**resources/js/service-worker.js**
[code]

Attached is the _npm-debug.lo

[2021-01-11 20:24] jeffposnick commented on #2719
Hello! Thank you for providing that info.

I'm not familiar with `laravel-mix`, so it would be difficult for me to replicate your demo locally. Unfortunately, the `npm-debug.log` you provided does not include any information about the underlying error—just a message indicating that some error occurred, and a stack trace that doesn't include any mention of Workbox.

That being said, this code in yo

[2021-01-11 20:44] vendion commented on #2719
My mistake on that, I forgot to remove that semicolon when I generated the debug output to try and report this. I get the same result with the following:

[code]

[2021-01-11 21:13] jeffposnick commented on #2719
Thanks for checking that.

Going back to your `npm-debug.log` output, though, there isn't actually any reference to the underlying error there. Is there _anything_ else logged when you run there? Is there a way of adding in addition logging when using `laravel-mix` to orchestrate `webpack`? I would very much assume that `webpack` is throwing some sort of error here, due to the `InjectManifest` plu

[2021-01-11 23:26] joshkel opened #2721 "Service worker stuck in busy state with NetworkFirst requests"
**Library Affected**:

workbox-strategies 6.0.2

**Browser & Platform**:

Tested on Google Chrome 87.0.4280.141 for Windows

**Issue or Feature Request Description**:

My application is set up with the ["offer a page reload"](https://developers.google.com/web/tools/workbox/guides/advanced-recipes#offer_a_page_reload_for_users) recipe and has a route registered with NetworkFirst. However, I noticed

[2021-01-12 00:28] vendion commented on #2719
Looking at the _npm-debug.log_ file that is surprisingly sparse of any helpful data, there is a lot more information that gets written to `STDOUT` that is missing from this file. It also looks like I can get `laravel-mix` to dump out the generated file that gets ran by `webpack` so maybe this can be helpful in figuring out what the cause of this is.

I will try to provide the full output when `web

[2021-01-12 08:48] davidmaxwaterman opened #2722 "example in docs doesn't work for iframe"
**Library Affected**:
workbox-sw

**Browser & Platform**:
chrome: 87.0.4280.141 (Official Build) unknown (64-bit)

**Issue or Feature Request Description**:
https://developers.google.com/web/tools/workbox/modules/workbox-routing

[code]

I have a service worker which uses workbox 3.6.3, and my PWA have an iframe that loads an html file and the sw attempts to manipulate the html on-the-fly using th

[2021-01-12 12:01] davidmaxwaterman commented on #2722
Turns out I needed to copy the response.headers into the new response's options:

[code]

I suggest that is added to the example to prevent more people like me ;)

[2021-01-12 14:21] vendion commented on #2719
So I can't get it to dump the generated `webpack` config due to the error but attached is what gets written to `STDOUT` and `STDERR` when I run `npm run dev` which does at least provide the error that gets thrown when `webpack` is running. Maybe something in there will be useful in figuring out what the issue is.

[npm-output.log](https://github.com/GoogleChrome/workbox/files/5802652/npm-output.lo

[2021-01-12 14:48] cleytontiagosorinho commented on #2719
Bom

[2021-01-13 18:48] pmochine commented on #2717
@jeffposnick I love you effort and support. You are really the best! <3

Nonetheless, I would love to update my first comment.  You are saying:

However, now with the updated knowledge of getting the [chunk names back](https://github.com/JeffreyWay/laravel-mix/issues/2762),
this still is an issue that should work but is not working in my case.

Have a look at my shortened output table. This time w

[2021-01-13 19:25] pmochine commented on #2717
@jeffposnick here is a basic laravel package with workbox. This results in the same two warnings.

https://github.com/pmochine/workbox-laravel-mix

Thank you for your help

[2021-01-13 19:56] 0x62 opened #2723 "swAssetString.match is not a function when building for production"
**Library Affected**:
*workbox-webpack-plugin* - v6.0.2

**Browser & Platform**:
Build step

**Issue or Feature Request Description**:
Building in production throws error when using the Webpack Plugin

*Webpack config:*

[code]

*src/service-worker.js:*

[code]

[2021-01-13 21:55] jeffposnick commented on #2719
Thanks for passing that along!

The relevant bits that I found are:

[code]

and

[code]

That means that the `async` function declaration is causing a syntax error, and shows that you're using `node` v6.17.1, which, yes, does not have support for [`async` or `await`](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Statements/async_function).

The current version of Workbox requi

[2021-01-13 21:55] #2719 closed, assigned to nobody

[2021-01-13 22:16] jeffposnick commented on #2723
Thanks for letting us know. The relevant code is:

https://github.com/GoogleChrome/workbox/blob/2df5ce58bd74abd8da4ec90e427f0e4431a0cff2/packages/workbox-webpack-plugin/src/inject-manifest.js#L301-L302

At the point in time that that code runs, a child compilation should have already taken place that creates the `swDest` asset, so I'm not sure what the root cause is at the moment.

- What version

[2021-01-14 12:44] yorrd opened #2724 "webpack externals for sw.js compilation"
**Library Affected**:
*workbox-webpack-plugin*

**Issue or Feature Request Description**:
In our code base, we use [webpack externals](https://webpack.js.org/configuration/externals/#externals) quite regularly. I'm trying to set up a service worker using workbox and noticed that I can't influence the webpack config used to build the service worker file apart from adding plugins. The externals opti

[2021-01-14 14:36] jeffposnick commented on #2724
If you're using the `InjectManifest` plugin (which I think you are), it will trigger a [child compilation](https://webpack.js.org/api/compilation-object/#createchildcompiler), inheriting settings from the parent compilation. (We also support allowing you to add in some specific plugins just to the child compilation, as you noted.) While I don't personally have experience using externals with `webp

[2021-01-14 15:38] jeffposnick commented on #2722
Sure, that sounds like a reasonable change to the docs.

[2021-01-14 15:42] jeffposnick commented on #2721
Thanks for reporting this.

I would like to get to the bottom of this behavior—if we need to make changes to add in extra `waitUntil()` calls, then that's doable, but not understanding _why_ means that we're potentially just papering over a larger issue.

Could you share the URL for your web app? You could DM `@jeffposnick` on Twitter if you can't share it publicly on GitHub.

[2021-01-14 17:54] jeffposnick commented on #2717
Thanks for that clean reproduction!

From examining that while debugging, I can see that `compilation.namedChunkgroups`, which is what Workbox is currently using, only has one entry (for the `/js/app` chunk). `compilation.namedChunks`, however, has four entries, including the chunks that you're trying to use.

<img width="1559" alt="Screen Shot 2021-01-14 at 12 50 30 PM" src="https://user-images.g

[2021-01-15 02:17] ahmad-reza619 opened #2726 "[workbox-webpack-plugin] Not compatible with webpack 3?"
Welcome! Please use this template for reporting bugs or requesting features. For questions about using Workbox, the best place to ask is Stack Overflow, tagged with `[workbox]`: https://stackoverflow.com/questions/ask?tags=workbox

**Library Affected**:
workbox-webpack-plugin

**Browser & Platform**:
All browsers

**Issue or Feature Request Description**:
Hello there, i'm having an issue where i'm

[2021-01-15 02:32] ahmad-reza619 commented on #2726
After taking a look into the js code behind workbox webpack plugin, it seems that these [line](https://github.com/GoogleChrome/workbox/blob/2df5ce58bd74abd8da4ec90e427f0e4431a0cff2/packages/workbox-webpack-plugin/src/generate-sw.js#L223) is the one that cause these issue, changing it into
[code]
fix this issue, but i got another bug that says `Cannot destructure property PROCESS_ASSETS_STAGE_OPTIM

[2021-01-15 07:59] vaclav-zeman opened #2727 "Background sync queue not adding entries to IndexedDB"
**Library Affected**:
*workbox-sw*

**Browser & Platform**:
*Chrome 87.0.4280.141* (fresh install, no extension or settings changes)

**Issue or Feature Request Description**:
When user goes offline and attempts to submit an entry, the fetchDidFail function correctly calls the queue.pushRequest with correct `request` object. The problem happens deep in [DBWrapper.js](https://github.com/GoogleChrom

[2021-01-15 20:03] jeffposnick commented on #2726
`workbox-webpack-plugin` has required `webpack` v4.x [since the Workbox v5.0.0 release](https://github.com/GoogleChrome/workbox/releases/tag/v5.0.0#:~:text=2123%5D-,workbox-webpack-plugin,-This).

If you need to still use `webpack` v3.x, you'll have to use an earlier version of `workbox-webpack-plugin`, like v4.3.1.

[2021-01-15 20:03] #2726 closed, assigned to nobody

[2021-01-15 21:20] rowntreerob opened #2728 "V4 to v5 upgrade - generateSW no longer creates service-worker.js (webpack is bundler)"
--resolved, see comment --

using webpack , my cli build stdout is at the bottom and looks OK but there is no service-worker.js being created.

it runs ok on v 4.3.1 for the 3 workbox packages mentioned in the package json
on v 5.1 it seems to run ok but there is not any service worker being written to the FS

package.json :
[code]
webpack.config.js:
"plugins" section :
[code]
stdout:
[code]

**Li

[2021-01-16 20:17] thequailman opened #2729 "workbox-webpack-plugin build error with TypeScript and eval-cheap-source-map"
Welcome! Please use this template for reporting bugs or requesting features. For questions about using Workbox, the best place to ask is Stack Overflow, tagged with `[workbox]`: https://stackoverflow.com/questions/ask?tags=workbox

**Library Affected**:
workbox-webpack-plugin

**Browser & Platform**:
all browsers

**Issue or Feature Request Description**:
When using workbox-webpack-plugin with Typ

[2021-01-16 21:05] yorrd commented on #2724
@jeffposnick thanks for your super helpful response. That turned out to be a great workaround.

Actually, the problem wasn't even that the externals aren't copied to the child compilation (they are), it's just that I need different externals than for the main application. The `importScript` now imports a `.js` file that is emitted by a different webpack configuration altogether which just runs in

[2021-01-16 21:05] #2724 closed, assigned to nobody

[2021-01-17 15:35] rowntreerob commented on #2728
-- resolved --  used a github project as a template for a better upgrade of my project ( package.json ) and discover that my version of generateSW in webpack.config had something that v 5 workbox was quietly rejecting .  So the conf below worked with WB v 5.1

  new GenerateSW({
    include: [/\.html$/, /\.js$/, /\.css$/, /\.jpg$/, /\.png$/, /\.ico$/],
  }),

[2021-01-17 16:50] tomtom94 opened #2730 "Webpack InjectManifest can't be read by add-on browser (error due to object spread ?)"
I am unable to build a proper InjectManifest service worker.

When the https://website.com/sw.js is read by a browser add-on specific for service workers it just says to me it can't read it. Parsing error. I have been trying everything with babel.

I just suspect this module `workbox-precaching` is badly compiled. But I am using the default setup.

workbox-webpack-plugin v6
workbox-precaching v6
w

[2021-01-18 07:04] vaclav-zeman commented on #2727
Turns out we weren't closing DB correctly in our sync code (`db.close('workbox-background-sync');`) so the opening always timed out

[2021-01-18 07:04] #2727 closed, assigned to nobody

[2021-01-18 17:55] BezMaster opened #2731 "Workbox migration from 5.1.3 to 6.0.2 (precache installation time increases a lot in 6.0.2)"
**Library Affected**:

- "workbox-6.0.2"

**workbox-sw, workbox-build, etc.**

- "workbox-cli": "^6.0.2",
- "workbox-core": "^6.0.2",
- "workbox-precaching": "^6.0.2",
- "workbox-sw": "^6.0.2",
- "workbox-webpack-plugin": "^6.0.2",

**Browser & Platform**:
Version 81.0.4044.92 (Build officiel) (64 bits) & Linux Ubuntu 18.04.4 LTS

**Issue or Feature Request Description**:
Migration from Workbox 5.

[2021-01-19 08:52] sshrshnv opened #2732 "WorkboxWebpackPlugin.GenerateSW: "non-precached-url" error after updating from v5 to v6"
**Library Affected**:
*workbox-webpack-plugin*

**Browser & Platform**:
*all browsers*

**Issue or Feature Request Description**:

I have an error in the console after updating workbox-webpack-plugin from v5.1.4 to v6.0.2:

![Screenshot 2021-01-19 113946](https://user-images.githubusercontent.com/7159528/105009892-1d44e200-5a4c-11eb-830e-f43bbb518853.png)

And offline lighthouse test is broken now

[2021-01-19 11:40] tomtom94 commented on #2730
It really looks like it's working fine.

It really must be a bug with the add on browser don't you think ? https://chrome.google.com/webstore/detail/service-worker-detector/ofdigdofloanabjcaijfidkogmejlmjc

<img width="1422" alt="Capture d’écran 2021-01-19 à 12 37 13" src="https://user-images.githubusercontent.com/262550/105029966-5d5b9300-5a53-11eb-8c03-4b13cb83c8c7.png">
<img width="1421" alt=

[2021-01-19 21:12] #2722 closed, assigned to nobody

[2021-01-19 21:17] jeffposnick commented on #2730
Correct—I don't think the issue described here is a bug in Workbox.

[2021-01-19 21:17] #2730 closed, assigned to nobody

[2021-01-19 21:20] jeffposnick commented on #2732
What does you precache manifest (the array that's passed in to `precacheAndRoute()`) look like in your generated service worker? Are you manually editing that list in some way, like by adding in `'index.html'`?

[2021-01-19 21:24] jeffposnick commented on #2732
You'll get that error if you use `navigateFallback` and pass in the URL of an HTML document that isn't precached.

If you want to use `navigateFallback: 'index.html'`, then make sure that your `index.html` document is included in your precache manifest.

Are you usinig `html-webpack-plugin` (if so, which version?) to generate your `index.html`, or some other approach? And what version of webpack a

[2021-01-19 21:43] jeffposnick commented on #2731
What you describe sounds intentional, due to [this change](https://github.com/GoogleChrome/workbox/releases/tag/v6.0.0#:~:text=Precaching%20now%20processes%20entries%20one%20by%20one%2C%20not%20in%20bulk):

[2021-01-19 21:43] #2731 closed, assigned to nobody

[2021-01-19 21:51] #2728 closed, assigned to nobody

[2021-01-19 23:06] sshrshnv commented on #2732
`index.html` is not included in the precache manifest

`GenerateSW v6.0.2` generates `sw.js` which includes only:
`e.registerRoute(new e.NavigationRoute(e.createHandlerBoundToURL("/index.html")`

`GenerateSW v5.1.4` generates `sw.js` which includes:
`e.precacheAndRoute([{url:"/index.html",revision:"5cb3ce05c54e0ab0fe42583e6b65801a"},...])`
and
`e.registerRoute(new e.NavigationRoute(e.createHandler

[2021-01-20 00:47] 0x62 commented on #2723
`webpack`: 4.44.2

I'm using the default Webpack config bundled with Vue, injecting a couple plugins.

*vue.config.js*:
[code]

[2021-01-20 08:59] BezMaster commented on #2731
@jeffposnick Thanks a lot for your explanation ;)

[2021-01-20 14:27] jeffposnick commented on #2721
After debugging further, there is an active WebSocket connection established by the web app, so this is a duplicate of #2692

[2021-01-20 19:13] jeffposnick commented on #2732
Thanks for that info. I believe what's going on is that you're using a version of `html-webpack-plugin` that isn't fully compatible with `webpack` v5. Your generated `index.html` ends up not being visible to `workbox-webpack-plugin` when using `webpack` v5, so it can't be precached.

As per the current [`html-webpack-plugin` docs](https://github.com/jantimon/html-webpack-plugin#webpack-5), you nee

[2021-01-20 19:13] #2732 closed, assigned to nobody

[2021-01-21 14:09] joshkel commented on #2721
Thanks for investigating, @jeffposnick; I really appreciate it. I've been able to reproduce the issue without the WebSockect connections, so I don't think it's a duplicate. I sent you a DM with more details.

[2021-01-23 13:52] lucsoft commented on #2609
Are there plans to drop support for Node v10 because the LTS only holds until 30. April 2021

[2021-01-24 17:18] sobition opened #2734 "how to change the directory where precache-manifest file is generated"
Welcome! Please use this template for reporting bugs or requesting features. For questions about using Workbox, the best place to ask is Stack Overflow, tagged with `[workbox]`: https://stackoverflow.com/questions/ask?tags=workbox

**Library Affected**:
*workbox-sw, workbox-build, etc.*

**Browser & Platform**:
*E.g. Google Chrome v51.0.1 for Android, or "all browsers".*

**Issue or Feature Reques

[2021-01-24 17:18] #2734 closed, assigned to nobody

[2021-01-25 16:31] jeffposnick commented on #2609
Yeah, potentially. But not until Workbox v7.

(To the point of this original issue, my goal is to migrate off of `joi` and onto https://github.com/rhys-vdw/ts-auto-guard soon, probably as part of Workbox v6, along with `workbox-build` TypeScript declarations that would be the source of truth.)

[2021-01-26 16:47] pat-flew commented on #2393
Seems that simply checking for the presence of the `sync` property in
[https://github.com/GoogleChrome/workbox/blob/3151c3a2740558b87a592f5091cc795815ca3ac5/packages/workbox-background-sync/src/Queue.ts#L363](url) is insufficient for these cases, as background sync is supported by the browser but disabled. Therefore, the check passes, an exception is thrown and the fallback never executes.

[code]

[2021-01-26 20:21] jeffposnick commented on #2729
I'm having a hard time reproducing this given the configuration you shared.

Do you have a sample project (on GitHub, or as a `.zip` file) that you could share which reproduces that behavior?

If you can't share that, what versions of webpack and Workbox are you using? And could you at least share your `sw.ts` file?

[2021-01-26 21:49] patrickcze opened #2736 "Request for workbox-background-sync not making it into the queue"
Welcome! Please use this template for reporting bugs or requesting features. For questions about using Workbox, the best place to ask is Stack Overflow, tagged with `[workbox]`: https://stackoverflow.com/questions/ask?tags=workbox

**Library Affected**:
workbox-background-sync

**Browser & Platform**:
iOS Safari 14.3

**Issue or Feature Request Description**:
I have the following code in my servic

[2021-01-27 03:48] davidmaxwaterman commented on #1550
In case this helps anyone else, this is what worked for me:
[code]

[2021-01-27 10:32] bukharin opened #2737 "workbox-precache caches error responses"
Hi

**Library Affected**:
workbox-precache

**Browser & Platform**:
Google Chrome latest

**Issue or Feature Request Description**:

Workbox precache module caches 404 error response, but it shouldn't, See screenshot:

![image](https://user-images.githubusercontent.com/3126568/105978768-bdd27c00-60b4-11eb-8d3d-7ccd61087f02.png)

Using workbox 6.0.2

My sw.js

[code]

[2021-01-27 11:36] mycolaos commented on #2493
Any news on this? I had this issue using Next.js and Next-PWA which uses Workbox. Because it's a third-party lib (next-pwa) that uses another third-party lib (workbox) inside a framework with its own webpack/babel setup (next.js) it's really crazy to go and try to understand why the bug appears and where and how it should be handled. I mean, this issue creates a domino effect for the third party l

[2021-01-27 16:16] jeffposnick commented on #2737
Hello!

The expected behavior is that any responses with 4xx or 5xx statuses should not be precached by default, and cause the service worker installation to fail:

https://github.com/GoogleChrome/workbox/blob/3151c3a2740558b87a592f5091cc795815ca3ac5/packages/workbox-precaching/src/PrecacheStrategy.ts#L148-L154

Are you possibly passing in a `cacheWillUpdate` plugin when you set up precaching? Tha

[2021-01-27 16:23] jeffposnick commented on #2737
...what also leads me to believe that your screenshot either shows a cache created by a much earlier version of Workbox than v6.0.2, or alternatively, that your service worker file includes additional code that you didn't include, is that your precache is named `talk-precache-v1`.

The default precache name in Workbox v6.0.2 ends in `precache-v2`:

https://github.com/GoogleChrome/workbox/blob/3151

[2021-01-27 18:07] bukharin commented on #2737
@jeffposnick our project start using Workbox from v5, cache names was not changed. Later project have been upgraded to v6.

This is full sw.js:

[code]

[2021-01-27 18:29] jeffposnick commented on #2737
Hmm... we do have a test case for this behavior:

https://github.com/GoogleChrome/workbox/blob/3151c3a2740558b87a592f5091cc795815ca3ac5/test/workbox-precaching/sw/test-PrecacheStrategy.mjs#L105-L117

I'm surprised by what you're seeing.

Is there perhaps a 3xx redirect involved here? In other words, you include a URL that doesn't exist in your precache manifest, and then the server responds first

[2021-01-27 21:00] #2717 closed, assigned to nobody

[2021-01-27 22:10] jeffposnick commented on #2736
Hello @patrickcze,

First off, there's a bug in iOS Safari that affects certain form-based upload flows which you might be running into. It's described in https://github.com/GoogleChrome/workbox/issues/2428, and the underlying Apple bug is https://bugs.webkit.org/show_bug.cgi?id=212858

But it's not clear from your original post whether you're doing form-based uploads, and I was curious about how

[2021-01-28 02:39] anhnt-mageplaza commented on #1528
The main problem here is that the index.html is cached. The solution is to tell the workbox not to cache the index.html and it should have the no-cache header too. Here is our snippet

[code]

[2021-01-28 07:56] sebastienroul commented on #1528
@anhnt-mageplaza Do you mean no cache at all with this `dontCacheBustURLsMatching` ? Cause if so, how do you manage avaibility of index.html when user is offline ?

[2021-01-28 08:49] bukharin commented on #2737
@jeffposnick I can share URL, but the problem not reproduce there. I catched this situation when we deploying a new version and some of our server nodes not received specified `js` files and return 404 response code.

But I can easy reproduce the problem in test branch by adding unexisting js file path:

[code]

First installation of service-worker fails, but in Cache Storage I could find `not-fou

[2021-01-28 08:59] TheParad0X commented on #2431
@fridaystreet how do you prevent the updatefound event from triggering when the service worker is installed for the first time ?

[2021-01-28 09:03] bukharin commented on #2737
How we build SW:

1. We have source `sw.js` in ES6 format
2. Build and minify it using Rollup -  `rollup -c rollup-sw.config.js`
3. Inject workbox manifest, using workbox-cli `workbox injectManifest`

`rollup-sw.config.js`:

[code]

workbox-config.js`:

[code]

[2021-01-28 10:14] bukharin commented on #2737
Also I tried to swap steps of bundling and injecting (I think it's more right way), but it has no effect

[2021-01-28 10:45] fridaystreet commented on #2431
@TheParad0X never noticed any issue on initial install. Are you sure it's called on initial install? I wouldn't have thought it would be triggered until after the first sw is installed as there would be nothing for it to detect an update against?

I think from memory it's doing a chksum check against sw, so if it runs. update() against the same sw that called it, then it's just ignored (ie updatef

[2021-01-28 18:08] jeffposnick commented on #2431
It's true that as per the [Service Worker specification](https://w3c.github.io/ServiceWorker/#service-worker-registration-updatefound-event), `updatefound` is fired whenever the service worker registration's `installing` service worker changes. That includes the very first installation, in which the `installing` worker would change from `null` to the new service worker.

There are a few things you

[2021-01-28 18:18] jeffposnick commented on #2737
Ah, thank you for sharing all those steps. I believe this is a regression due to some changes in our precaching logic introduced in Workbox v6:

https://github.com/GoogleChrome/workbox/blob/590d1264f57392b1feb538440858f20a52fe6fdf/packages/workbox-precaching/src/PrecacheStrategy.ts#L142-L166

That `const response = await handler.fetchAndCachePut(request)` line should just be a `handler.fetch()`, a

[2021-01-28 20:27] TheParad0X commented on #2431
@fridaystreet @jeffposnick Thanks for your replies. I am struggling to create an update prompt when a new Version is available. The "official way" (https://developers.google.com/web/tools/workbox/guides/advanced-recipes#offer_a_page_reload_for_users) states that I have to add an EventListener for the SkipWaiting message in my Service Worker and then show a yes/no prompt as soon as there is a new S

[2021-01-28 21:06] jeffposnick commented on #2431
It sounds like you're unconditionally calling `skipWaiting()` inside of your service worker. You need to follow the second part of that recipe in the documentation, "[Code in your service worker](https://developers.google.com/web/tools/workbox/guides/advanced-recipes#:~:text=Code%20in%20your%20service%20worker)", that gives an example of conditionally calling `skipWaiting()` in response to a messa

[2021-01-28 21:09] TheParad0X commented on #2431
Oh I know that 😁 But for some reason it does not work. Event without the code handling the message bit. This is what my Worker looks like:

`import { cleanupOutdatedCaches, createHandlerBoundToURL, precacheAndRoute } from 'workbox-precaching';
import { NavigationRoute, registerRoute } from 'workbox-routing';

declare const self: ServiceWorkerGlobalScope;
const assetsToCache = self.__WB_MANIFEST;
/

[2021-01-28 21:54] TheParad0X commented on #2431
All right, you were right. However, the "controlling" state does not consistently fire. I figured tried adding clientsClaim right after skipWaiting, but to no avail (well it fired once, but in the following 3 updates it did not fire).

This is my SW template (typescript)

[code]

Am I missing something here ? I need a reliable hook based on which I will call window.reload().

[2021-01-29 11:06] marcofranssen commented on #1819
I'm facing the same issue. It only happens on Google Chrome. Already unregistered all service workers but somehow I can't get it to work in Google Chrome. In firefox the service worker works as it should.

What can I do to fix this in Google Chrome?

I'm running on MacOS big Sur and Google Chrome 88.0.4324.96.

It seems not to be tight to a single subdomain, following urls are the same deployment.

[2021-01-29 18:50] #2737 closed, assigned to nobody

[2021-01-29 20:57] jeffposnick commented on #2712
This is included in the v6.1.0 release.

[2021-01-29 21:34] jeffposnick commented on #2737
This is now fixed in the v6.1.0 release.

[2021-02-01 14:21] openscript commented on #2621
Where can I file a PR on this issue?

It took me quite a while to figure out that the documentation is wrong and the `revision` property isn't optional as stated.

https://developers.google.com/web/tools/workbox/reference-docs/latest/module-workbox-build#.ManifestEntry

[2021-02-01 17:02] jeffposnick commented on #2621
Sorry, again. I've filed https://github.com/GoogleChrome/workbox/compare/revision-jsdoc-fix

[2021-02-01 18:08] rationalthinker1 commented on #2084
I had to modify this to cover other statuses. mainly 0 and 304.

[2021-02-01 18:21] #2621 closed, assigned to nobody

[2021-02-02 18:19] patrickcze commented on #2736
@jeffposnick thanks for all of your work confirming this. I am currently using the AWS Amplify JS SDK for storing files in S3 (https://docs.amplify.aws/lib/storage/getting-started/q/platform/js) and it looks like based on the source code they are using an old S3 js SDK which seems to be using a form based upload.

Any suggestions on how to work around #2428 ?

[2021-02-02 19:04] jeffposnick commented on #2736
Hello @patrickcze—I don't have a good workaround for the underlying Safari issue. Based on my understanding of the problem, the body can't be accessed due to the bug, so it's not possible for Workbox to, e.g. read the body and then serialize it in a different format.

Here's the relevant issues that I'm aware of. Your best bet would be to watch them for updates.

- https://bugs.webkit.org/show_bug

[2021-02-02 19:05] jeffposnick commented on #2736
(We should move this conversation over to https://github.com/GoogleChrome/workbox/issues/2428 now that it's confirmed to be the same underlying issue.)

[2021-02-03 15:06] jeffposnick commented on #2393
Apologies that there's hasn't been any activity on this since it was first reported.

I'm going to explore a few possible workarounds, including the feasibility of attempting a no-op sync registration wrapped in a `try`/`catch` in addition to the `'sync' in self.registration` check.

[2021-02-03 15:40] TheParad0X commented on #2431
I described the problem here: https://stackoverflow.com/questions/66030244/service-worker-sometimes-installes-without-waiting
Any ideas?

Edit: Problem solved.

[2021-02-03 15:53] Anders-Lunde commented on #1663
Struggled for 2 days to make this work, but finally got it. My problem was the order of the methods, and the name of the cache. Matchoptions should maybe be turned off? I'm not sure what this does, but I think it enables the rangerequest for all resources. In my case that is good since it includes mp3 as well then.

@jeffposnick Maybe you should add the below to the docs (https://developers.google

[2021-02-03 18:00] rubas opened #2741 "Please document, that fetchOptions is ignored when request.mode is 'navigate'"
**Library Affected**:
workbox-strategies

**Browser & Platform**:
all browsers

**Issue or Feature Request Description**:

Please mention in the documentation that `fetchOptions` for a `workbox-strategies` is ignored when `request.mode === 'navigate'`. One might spend hours chasing 👻 ...

This behaviour was introduced with https://github.com/GoogleChrome/workbox/pull/1862 and still exists today in

[2021-02-03 21:20] jeffposnick commented on #2741
Sorry about that 😦 . We can get this added to the docs, since I'm still not sure how we're going to resolve #1796. (Implementing in Workbox v7 the work around that broke older versions of Edge is one option, since Edge is now using Chromium under the hood.)

[2021-02-04 01:30] jhenriquevissotto commented on #2669
Same problem here!

[2021-02-04 14:28] teodragovic opened #2742 "Cannot read property '_db' of undefined"
**Library Affected**:
*workbox-expiration*

**Browser & Platform**:
*Chrome 88.0.4324.146, Windows 10 build 21296.1010*

**Issue or Feature Request Description**:
Hi, I'm getting `TypeError: Cannot read property '_db' of undefined` repeatedly in console when running service worker in production. Locally, with debug on, it doesn't happen.

The error points to [this line](https://github.com/GoogleCh

[2021-02-04 15:37] jeffposnick commented on #2742
Thanks for reporting this—I'll look into reproducing it locally, but if you did happen to have a public URL that you could share at which I could access your site, that would speed things up. (Feel free to DM `@jeffposnick` on Twitter if you can't post it here.)

Also, what version of Workbox are you seeing this with? And i assume you're generating your own bundled service worker using something l

[2021-02-04 15:45] teodragovic commented on #2742
Sorry, forgot to mention it - I use workbox 6.1.0 via `preact-cli` (webpack under the hood). Custom sw is generated using [this guidelines](https://preactjs.com/cli/service-worker).

Dev link is sent on twitter DM.

[2021-02-04 16:40] teodragovic commented on #2742
closing this as it seems to be transpilation issue on my end

[2021-02-04 16:40] #2742 closed, assigned to jeffposnick

[2021-02-04 18:55] ElMassimo opened #2743 "[Feature] Allow navigateFallback to be passed as null"
### Feature Request ✨

I would like to propose adding [`allow(null)`](https://github.com/GoogleChrome/workbox/compare/v6...ElMassimo:v6) to the schema definition for [`navigateFallback`](https://github.com/GoogleChrome/workbox/compare/v6...ElMassimo:v6).

That would allow for simpler [merging of options](https://github.com/antfu/vite-plugin-pwa/blob/720d28f7d2caeb3127096045791004ac3651169e/src/con

[2021-02-04 19:43] jeffposnick commented on #2743
👋

I'm in the middle of rewriting the validation logic in `workbox-build` to rely on TypeScript definitions, enforced at runtime with https://github.com/rhys-vdw/ts-auto-guard

I was planning on using:  https://github.com/GoogleChrome/workbox/blob/1e946bffad4bdb7cd620b45c5833fd4c8f0ee353/packages/workbox-build/src/types.ts#L79

but I can switch that over to `navigateFallback?: string | null`.

Are

[2021-02-04 20:00] ElMassimo commented on #2743
That sounds great!

I think it makes sense for any `string` options that are optional, like `cacheId` and `directoryIndex`, where passing `null` explicitly allows to opt-out from any [defaults](https://github.com/ElMassimo/workbox/blob/v6/packages/workbox-precaching/src/utils/generateURLVariations.ts#L26-L26).

Edit: On a closer look, `globDirectory` could also benefit from the same approach.

[2021-02-05 14:58] jakobrosenberg commented on #2588
I'm for at least adding the option to bundle the serviceworker.

Since it's generated on build it doesn't belong in `src` , but it doesn't belong in `build` either since it only works as a source file for a bundler.

For me, this would be the dream:
[code]
It could be solved by using `esbuild` as an optional dependency.

[2021-02-05 18:13] jeffposnick commented on #2588
If someone finds this thread and wants a one-liner that made use of `npx` executions of `esbuild` and `workbox-cli` (chained together), the following works:

[code]

(assuming you have a local `workbox-config.js` file configured with `swSrc: '/tmp/service-worker.js'`). If you'd prefer not to write to `/tmp/`, you could output from `esbuild` directly to your build directory, and then use that path

[2021-02-06 07:40] jakobrosenberg commented on #2588
I had done the opposite (`workbox -> esbuild`) and was getting `Refusing to overwrite input file: public/build/serviceworker.js`. Never even considered that workbox didn't have to run first. 😅

Thanks @jeffposnick

[2021-02-06 16:01] jeffposnick commented on #2588
Yup! We added support for the same `swSrc` and `swDest` specifically to allow for this use case: https://github.com/GoogleChrome/workbox/pull/2231

[2021-02-06 23:43] moos commented on #2389
I never got the "cd1" thing to work with GA4.  I changed it to "up.network" and defined a user prop "network" in GA to track it.  The documentation is annoyingly behind Google's change pace.

[2021-02-08 15:46] mycolaos opened #2746 "InjectManifest is not minified"
I'm using workbox with `https://github.com/shadowwalker/next-pwa`, and it's not clear at all if the file in output should be minified by the `InjectManifest` plugin or not. I get a huge 5k+ line file with a lot of comments in output.
https://developers.google.com/web/tools/workbox/guides/using-bundlers#configure_your_bundler_for_a_development_or_production_build here I can read that this is minifi

[2021-02-08 21:16] jeffposnick commented on #2746
The `InjectManifest` build tool helps generate a list of URLs and revisions to be precached, and replaces a placeholder (`self.__WB_MANIFEST` by default) in the `swSrc` file with that information.

It doesn't attempt to do bundling, or minification. It's focused on that specific task of generating and injecting the manifest.

https://github.com/terser/terser is a good, modern tool for minifying Ja

[2021-02-08 21:16] #2746 closed, assigned to nobody

[2021-02-09 07:33] behnam-maqsudi opened #2748 "registerRoute does not work the first time"
registerRoute does not work the first time.
[code]

 But if I refresh the page, the Route will be registered and it will work offline. Where are the problems?

 before refresh

![image](https://user-images.githubusercontent.com/40948849/107331044-95d91480-6ac7-11eb-9ed5-d744487267b9.png)

after refresh

![image](https://user-images.githubusercontent.com/40948849/107331292-eb152600-6ac7-11eb-8e34-9

[2021-02-09 18:30] jeffposnick commented on #2748
Hello @benamm!

The first time you register a service worker, the service worker will install and activate, but it will not take control of any open tabs. (Unless you call `self.clients.claim()` inside of the `activate` handler.) It's not until you navigate to a page under your service worker's scope a second time that the service worker will be in control, and the runtime routes will be in effect

[2021-02-09 18:30] #2748 closed, assigned to nobody

[2021-02-09 18:37] behnam-maqsudi commented on #2748
Hello, thank you for answering.
I was not convinced, I thought the user will be able to see the page again
if he refreshes

Please tell me how to fix this problem?

[2021-02-09 18:51] behnam-maqsudi commented on #2748
i use self.clients.claim()  or clientsClaim() but not register

[2021-02-09 19:17] jeffposnick commented on #2748
Apologies for missing that you were already claiming your clients.

That being said, if your runtime route only matches your `/` URL, then the cache will only be automatically populated with the entry for `/` the next time a request is made for `/`. That happens when a user refreshes the page and the browser requests `/`.

If you want to populate that cache ahead of time, you should do it explicit

[2021-02-09 20:45] jeffposnick commented on #2721
(This is a different issue, due to the `NetworkFirst` strategy waiting on a timeout promise that never resolves.)

[2021-02-10 17:53] StanzillaManticore opened #2749 "Improve logging when Chrome's offline check fails"
Welcome! Please use this template for reporting bugs or requesting features. For questions about using Workbox, the best place to ask is Stack Overflow, tagged with `[workbox]`: https://stackoverflow.com/questions/ask?tags=workbox

**Library Affected**: workbox
*workbox-sw, workbox-build, etc.*

**Browser & Platform**: Google Chrome 89
*E.g. Google Chrome v51.0.1 for Android, or "all browsers".*

[2021-02-10 20:59] jeffposnick commented on #2749
Apologies, but I need a bit more information to determine how to help.

Are you posting this because you don't expect there to be a request automatically made for your `start_url`, and you're curious as to why it's being logged in the Network panel? If so, it's probably due to https://developer.chrome.com/blog/improved-pwa-offline-detection/

[2021-02-10 21:01] StanzillaManticore commented on #2749
I'm curious as to why it shows up as an error, yes.

[2021-02-10 21:23] jeffposnick commented on #2743
Okay, I've added it to https://github.com/GoogleChrome/workbox/commit/1c2df4ff17cf58ea5bf1f4caa0997f0cf12de4c4

[2021-02-10 21:23] #2743 closed, assigned to jeffposnick

[2021-02-11 12:45] #2700 closed, assigned to nobody

[2021-02-11 12:45] #2703 closed, assigned to nobody

[2021-02-11 14:42] jeffposnick commented on #2749
So [that's](https://developer.chrome.com/blog/improved-pwa-offline-detection/) why the request is being made in the first place. In terms of why the request results in an error, are you precaching your `/index.html` or `/` URL? If not, and you're just relying on that `request.mode === 'navigate'` route, I'm assuming the reason it fails is because the `/?utm_source=web_app_manifest&utm_medium=web_a

[2021-02-11 16:31] StanzillaManticore commented on #2749
I am indeed not precaching `/` or `/index.html`, would you say that adding that is the better path here or rather the `matchOptions` version?

[2021-02-11 17:58] jeffposnick commented on #2749
It depends! If you precache `/index.html`, it will be served with a cache-first strategy and won't be updated until the [service worker lifecycle](https://developers.google.com/web/fundamentals/primers/service-workers/lifecycle#waiting) allows the latest service worker to take over. If your priority is showing a fresh `/index.html` each time a user returns your web app, then it won't be a good ide

[2021-02-11 18:00] StanzillaManticore commented on #2749
Oh awesome, thank you!

[2021-02-11 18:20] StanzillaManticore commented on #2749
@jeffposnick So I tried that, full code here:

[code]

But this would still cause the `fetch` failure, even after clearing all data and installing fresh.

[code]

[2021-02-11 18:41] jeffposnick commented on #2749
Hmm... do you happen to have this deployed to a public URL at which I could check it out live? Feel free to DM `@jeffposnick` on Twitter if you can't share it in a public issue.

[2021-02-11 18:49] StanzillaManticore commented on #2749
Yes, I can! This is currently deployed on https://development.docs.coregames.com/

[2021-02-11 20:47] jeffposnick commented on #2749
This took a while to figure out until I tried it out in a TypeScript project, at which point it identified the following mistake:

[code]

Can you try again with those missing `{}`?

I am still trying to figure out exactly why there might be even a one-time failure to fetch that page when Chrome automatically checks for offline capabilities, but that fix should at least (I hope) make the cache fal

[2021-02-11 21:06] StanzillaManticore commented on #2749
I deployed a new version with that change but it looks like the fetch still fails :(

[2021-02-11 21:23] jeffposnick commented on #2749
I was having a really hard time understanding why I was seeing your `offline.html` page instead of your index page when manually navigating to `https://development.docs.coregames.com/?utm_source=web_app_manifest&utm_medium=web_app_manifest&utm_campaign=web_app_manifest` while offline. And the `{cacheKeyWillBeUsed}` at least explains that!

But yes, the automatic fetch that Chrome performs that's d

[2021-02-13 16:55] #2741 closed, assigned to jeffposnick

[2021-02-14 15:29] jeffposnick opened #2755 "Safari integration test flakiness"
There is some longstanding flakiness in our integration tests with Safari. With Safari 14.0.2, I can see the failures locally and on GitHub Actions with the `should broadcast a message to all open window clients` from `workbox-broadcast-update`, and `reports all events for an external SW registration` from `workbox-window`.

The commonality between those two tests is that they involve opening new

[2021-02-14 16:39] #2321 closed

[2021-02-15 10:54] dantart commented on #2632
Hi there!
Something weird happens... and I think this is related.
When I have the DevTools opened, the CORS have no problems at all, but when I load elements on the fly (once the page is loaded), and DevTools is closed, they don't load.
I think this is also related: https://frantzroulet.com/blog/jekyll/update/2020/09/21/how_to_make_cross-origin_cors_requests_on_an_ovh_object_storage_bucket.html
An

[2021-02-17 06:55] #2721 closed, assigned to nobody

[2021-02-17 10:29] KolyaKorruptis opened #2757 "Is the revision hash used to check delivered network resources during precaching?"
This just a question I have about precaching:
When a new SW is activated and populates the cache, it adds the revision hash as a parameter (__WB_REVISION__=XXX) to the network request URL. Presumably to bust CDN caching.

Is the network resource that gets delivered checked against this MD5 hash?

Background: Due to rolling updates across load balanced servers on our side, a user may receive a new

[2021-02-17 14:09] jeffposnick commented on #2757
The precaching network requests vary a bit between v4.x and the current v6.x release.

If I remember correctly, in v4.x, we did use the `__WB_REVISION__` for two purposes: both for providing some measure of avoiding any caches for the network request, and also to allow two responses that would otherwise have the same URL (and therefore the same cache key) when stored in the local Cache Storage API

[2021-02-17 14:09] #2757 closed, assigned to nobody

[2021-02-17 17:16] jeffposnick opened #2758 "Prompt for ignoreURLParametersMatching in workbox wizard"
For background, see https://stackoverflow.com/questions/66229902/

We can add a question to `workbox wizard` that checks to see if the developer has a web app manifest with a `start_url` that uses a query parameter, like `homescreen=true` or something else other than `utm_` or `fbclid`, and if so, sets up the `ignoreURLParametersMatching` parameter for them.

[2021-02-17 17:26] philipwalton opened #2759 "The workbox-google-analytics package does not support Google Analytics 4"
**Library Affected**:
*workbox-google-analytics*

The current version `workbox-google-analytics` supports catching and replying failed beacons sent to the [Measurement Protocol v1](https://developers.google.com/analytics/devguides/collection/protocol/v1). However, for [Google Analytics 4 properties using gtag.js](https://developers.google.com/analytics/devguides/collection/ga4), beacons are now se

[2021-02-18 19:43] StephanBijzitter opened #2760 "Allow navigateFallback option for GenerateSW to be an array of multiple routes"
**Library Affected**:
workbox-webpack-plugin

**Browser & Platform**:
Irrelevant.

**Issue or Feature Request Description**:
I generate an app shell for every language my SPA supports, essentially: I have as many SPAs as languages. They all use the same service worker, the only difference is just that each index.html contains a reference to a specific translation file.

So my URLs look like this:

[2021-02-18 19:47] StephanBijzitter commented on #2760
I'd definitely be willing to create a pull request for this, provided someone gives me the go-ahead :-)

[2021-02-18 22:03] jeffposnick commented on #2760
First, to clarify, `navigateFallback` isn't an option that's intended for "users if they happen to lose their network connection." The route that it sets up will use a cached response whenever there's any navigation request for any URL that isn't explicitly precached. It's meant for SPA-style routing, like you say, but I just to make sure you were aware that it's not really an offline-specific thi

[2021-02-20 23:07] gfoidl opened #2761 "Uncaught (in promise) TypeError: Failed to fetch in Strategy"
**Library Affected**:
*workbox-strategies* 6.1.0
(webpack v4 with inject plugin)

**Browser & Platform**:
*Gooble Chrome Version 88.0.4324.182*

**Issue or Feature Request Description**:
The error should not be uncaught, as the strategy delivers a result.

It's not a public web-app, so sorry that I can't share an url.
Basically it's just a backend-server with a REST-based API, and the frontend wit

[2021-02-22 19:15] jeffposnick commented on #2721
This is fixed in the v6.1.1 release.

[2021-02-22 19:23] jeffposnick commented on #2761
What you're seeing is expected, especially when using the development bundles of Workbox that includes extra logging. Hopefully the next few lines of logging where Workbox says that it was unable to get the response from the network and is therefore falling back to the cache makes it clear what's going on.

It's that exception during the `fetch()` that triggers the fallback to the cache, and we ex

[2021-02-22 19:23] #2761 closed, assigned to nobody

[2021-02-22 19:44] gfoidl commented on #2761
Thanks for clarification!

[2021-02-23 00:08] StanzillaManticore commented on #2749
I updated to 6.1.1 today after I saw that the PR was merged but it looks like it still errors. Updated version is at the same URL as above.

[2021-02-23 15:34] ognjenjevremovic commented on #2758
Hey @jeffposnick 👋

I have been developing a PWA lately for my personal website and found workbox to be super useful! (Thanks GoogleChrome dev team for such an amazing tool 🥳 ).

I wanted to contribute to the project and saw this issue open and labeled as a good first issue.
Since I didn't make any PR to workbox previously, I find this issue to be very welcoming to first time contributors to the p

[2021-02-23 15:54] jeffposnick commented on #2758
Thanks for the kind words, and the offer to help! It would be appreciated.

The code for `workbox-cli` is in TypeScript, so it would help if you're comfortable with that. Otherwise, we can provide some guidance during a PR review.

There are three pieces of the codebase you'd have to modify:

- A new question under that would live in [this directory](https://github.com/GoogleChrome/workbox/tree/v6

[2021-02-23 16:16] ognjenjevremovic commented on #2758
Thank you so much for a prompt response and for the detailed instructions regarding this issue.
I'll be sure to take a closer look and hopefully report back with the PR in the upcoming days 🙂 .

I'll be sure to write back if something is unclear or I need a further guidance.

[2021-02-24 13:35] smaltzahn opened #2762 "provide workbox version (v6) without npm modules like in the versions before (v4 and v5)"
**Library Affected**:
Irrelevant.

**Browser & Platform**:
Irrelevant.

**Issue or Feature Request Description**:
In our current Project we don't use any bundlers. So we don't want to use npm modules. In previous Versions (v4 and v5), you provide more Versions to download. Is this possible for the current Versions to? (v6)

[2021-02-24 15:21] jeffposnick commented on #2762
The one thing that's changed recently is that we stopped posted a `.zip` archive of all the bundled modules along with each GitHub release.

You can obtain a local copy of the equivalent by running `workbox-cli`:

[code]

[2021-02-24 15:21] #2762 closed, assigned to nobody

[2021-02-25 00:55] StephanBijzitter commented on #2760
Alright, I just got around to changing my configuration.

I appreciate the thorough comment! I was probably going to need `InjectManifest` at one point either way, so I guess this was the needed motivation to do it now rather than later.

There's just one option I couldn't figure out and that's how I can split the `workbox-*` dependencies into a different file, much like `GenerateSW` does by defau

[2021-02-25 00:55] #2760 closed, assigned to nobody

[2021-02-25 16:18] jeffposnick commented on #2760
Under the hood, `workbox-webpack-plugin`'s `GenerateSW` mode uses Rollup, which sounds surprising, but we really want to keep the core code consistent between all the different build tools. Splitting out the dependencies, like the Workbox runtime libraries, into separate chunks is handled via https://github.com/surma/rollup-plugin-off-main-thread:

https://github.com/GoogleChrome/workbox/blob/80be

[2021-02-25 17:36] StephanBijzitter commented on #1619
What about production builds, though? I'd like to be able to include the logs on our staging environments (and only keep them turned off for the live environment).  I tried setting `mode: 'development'` for `InjectManifest` (webpack plugin), but that seems to have absolutely no effect.

[2021-02-25 18:05] jeffposnick commented on #1619
Workbox uses `process.env.NODE_ENV` to enable/disable the execution of verbose logging.

When using the `InjectManifest` `webpack` plugin, the `NODE_ENV` setting from the parent compilation's `mode` _should_ be inherited, i.e. https://webpack.js.org/guides/production/#specify-the-mode

[2021-02-25 21:37] ognjenjevremovic opened #2764 "[Workbox wizard] (rood directory question) Not allowing to manually set the path"
**Library Affected**:
*workbox-cli*

**Browser & Platform**:
*Node v15.3.0.*

**Issue or Feature Request Description**:
While working on #2758 and testing the changes locally I saw there is an issue with the workbox wizard when prompted with the question for _root directory of your web app_.
I tested this behavior both with the _v6_ working git branch as well as with the *@latest* stable (npm publ

[2021-02-25 21:45] ognjenjevremovic commented on #2764
I'll be able to address this issue on my own and provide a PR in the upcoming days, as I'm somewhat familiar with the `workbox-cli` package (after making my first PR today).

I'll be more than glad to provide further contributions to the `workbox` project.
Please, do feel free to assign this issue to me after performing the necessary triage 🙂 .

Thanks!

[2021-03-01 21:22] jeffposnick commented on #2764
Thank you!

[2021-03-01 21:28] #2758 closed, assigned to ognjenjevremovic

[2021-03-02 10:49] sneakyfildy commented on #1619
Just in case, filtering workbox using console filters seems to do not work

[2021-03-02 13:44] budarin opened #2765 "Add createHandlerBoundToURL response to the cache if it is missing"
**Library Affected**:
*workbox-precaching*

**Browser & Platform**:
*"all browsers".*

**Issue or Feature Request Description**:
We use to code to precache navigation route "app-shell.html" as

[code]

but if the item, for some reasons and with someone (buggy code, extension or by user), is deleted from the cache - we have not have offline mode in the future
requests will be made to the server but

[2021-03-02 15:36] jeffposnick commented on #2765
One of the key principles for `workbox-precaching` is that the precache manifest associated with a given service worker uniquely determines the state of the cached responses that the service worker will use. Allowing updates to the cache "at runtime," without a corresponding change in a manifest, works against that principle.

We do understand that users could open up DevTools and accidentally del

[2021-03-02 15:36] #2765 closed, assigned to nobody

[2021-03-02 16:36] budarin commented on #2765
@jeffposnick

Thanks for the explanation!

I'm not sure that repopulating the cache with entries from the manifest is wrong in case when all the entries have long term cache hash in their names

how can we use the plugin with the code ?
[code]
and with the code ?
[code]

[2021-03-02 16:47] jeffposnick commented on #2765
Something like the following _should_ work (again, untested):

[code]

[2021-03-02 16:48] budarin commented on #2765
@jeffposnick  Thanks!

[2021-03-03 12:14] budarin commented on #2765
My success story with Workbox !:)
https://vadim-budarin.medium.com/pwa-для-ssr-приложения-в-5-строк-на-workbox-6-dc89fc513361

thank you for your work!

[2021-03-03 12:25] webmaxru commented on #2765
Thanks for this article and for your kind words about my recent Workbox tech talk there, @budarin!

To make this content available for the global audience, let's also post an English version? (I can help with the translation)

[2021-03-03 15:20] jeffposnick commented on #2749
Sorry for the delay in getting back to you.

I think that everything is working as "expected," but unfortunately it is a bit confusing now that the automatic offline navigation detection fires off a navigation request for your `start_url` with the network simulated as offline.

I realize that you're seeing the request failure message logged just because that's what happens when you use a `NetworkF

[2021-03-03 19:13] davidpaley opened #2767 "StaleWhileRevalidate do not make the second call to update the Service Worker"
**Library Affected**:
*workbox-webpack-plugin*

**Browser & Platform**:
*"all browsers".*

**Issue or Feature Request Description**:
I am using [Next Offline library](https://github.com/hanford/next-offline) for [this site](https://www.cityfurniture.com/product/6190100/havana-dark-gray-upholstered-side-chair-w-chrome-legs). I set this configuration:
[code]
As the js files are configured with the s

[2021-03-04 15:26] stashdjian commented on #2749
We also started seeing "Failed to Fetch" ghost requests errors with Chrome 89 release starting yesterday. These are coming from the new PWA installability checks as reported by Jeff. This is being done to prove that a website that claims to be installable through reporting a link rel="manifest" is really capable of delivering content while offline. So if you page is not reporting a manifest file,

[2021-03-04 18:58] jeffposnick commented on #2767
I'm seeing the revalidation requests when I visit your site; are you sure that when you're testing things, the service worker is in [control of the page](https://developers.google.com/web/fundamentals/primers/service-workers/lifecycle#scope_and_control)? Try navigating away after your first visit, and then returning. Alernatively, try setting `clientsClaim: true` if you want the newly registered s

[2021-03-04 20:41] vell174 opened #2768 "CacheFirst image maxEntries not working"
**Library Affected**:
workbox v6.1.0

**Browser & Platform**:
*Google Chrome 89.0.4389.72".*

**Issue or Feature Request Description**:
Setting workbox:
[code]
I want to see the limit of 400 images retrieved from the CDN.

What am I doing wrong?

![image](https://user-images.githubusercontent.com/67749799/110027376-b22d4180-7d53-11eb-8ce3-0b2e60eb3848.png)

[2021-03-04 21:55] jeffposnick commented on #2768
I'm not sure what the issue is—that does look like a valid configuration, and you shouldn't end up with more than 400 cache entries.

Is there anything logged in the JS console when your web app accesses images? In general, if you're using the development builds of Workbox, you should see quite a bit of detail logged, including messages related to cache expiration.

Is there a public URL at which

[2021-03-05 06:49] vell174 commented on #2768
@jeffposnick  Hi, in console.log
![image](https://user-images.githubusercontent.com/67749799/110077617-4c1ed980-7da8-11eb-8005-c0b5ad2fa888.png)
![image](https://user-images.githubusercontent.com/67749799/110077705-6e185c00-7da8-11eb-878a-91a88462ade3.png)
![image](https://user-images.githubusercontent.com/67749799/110077828-a7e96280-7da8-11eb-9945-01475d333240.png)

It is written that deleted tri

[2021-03-05 15:59] jeffposnick commented on #2768
Thanks for including that extra logging information in the screenshot. That confirms that `workbox-expiration` _thinks_ that it's found and deleted the extra entries, at least.

I haven't seen this behavior before, and while I could try to reproduce it locally, is there any chance that you could either share your project's source code (if it's something I could run myself, which maybe isn't the ca

[2021-03-05 20:55] vell174 commented on #2768
@jeffposnick created a test case.

https://vell174.github.io/pwapp/

[2021-03-05 22:49] jameelmoses opened #2769 "@rollup/plugin-replace 'preventAssignment' warning"
**Library Affected**:
workbox-build

**Browser & Platform**:
node

**Issue**:
Get a warning in my terminal every time `workbox-build` is run.

```@rollup/plugin-replace: 'preventAssignment' currently defaults to false. It is recommended to set this option to `true`, as the next major version will default this option to `true`.```

https://github.com/rollup/plugins/blob/6bee5980155df7b73cfbd9746556

[2021-03-07 01:12] StephanBijzitter opened #2770 "Export all public types directly from workbox-window"
As a follow-up on https://github.com/GoogleChrome/workbox/pull/2255

**Library Affected**:
*workbox-window.*

**Browser & Platform**:
*TypeScript*

**Issue or Feature Request Description**:
While a lot of the types can currently be imported, they do use the source filepaths, which could break at any point as SemVer does not (and should not) handle things like that.

So this, while currently valid,

[2021-03-07 13:52] StephanBijzitter opened #2771 "WorkboxMessageEvent discards event.ports"
**Library Affected**:
*workbox-window*

**Browser & Platform**:
*All browsers that support service workers and message channels*

**Issue or Feature Request Description**:
When sending a message from the service worker to all clients (in the case of testing, only one client), the client does not receive the message port with which to respond. This happens when adding the message event listener thr

[2021-03-08 21:57] jeffposnick commented on #2768
Thanks for the reproduction!

This issue is due to the presence of the `Vary: Origin, Accept-Encoding` header on the image responses. When Workbox calls `cache.delete()` to delete the entry, the Cache Storage API can't find the correct entry to remove.

If you use

[code]

it should work—that will cause the [`{ignoreVary: true}` parameter](https://developer.mozilla.org/en-US/docs/Web/API/Cache/del

[2021-03-08 21:57] #2768 closed, assigned to nobody

[2021-03-09 01:01] jeffposnick commented on #2768
And for what it's worth, I understand that this can be very hard to debug. I've filed https://bugs.chromium.org/p/chromium/issues/detail?id=1186049 with the Chrome DevTools team (that issue might be flagged as private now, but it should be public in the future) to request that the DevTools Cache Storage viewer interface show the value of the Vary: header by default, and potentially [link to this p

[2021-03-09 15:49] jeffposnick commented on #2770
Sounds reasonable!

Feel free to file a PR to accomplish this if you're comfortable doing so—otherwise, someone from the core team will pick it up.

[2021-03-09 15:59] jeffposnick commented on #2771
You should be able to get this from the [`originalEvent` property](https://developers.google.com/web/tools/workbox/reference-docs/latest/module-workbox-window.Workbox#:~:text=event.-,originalEvent,-Event) in the `WorkboxMessageEvent` object:

[code]

That being said, it sounds reasonable to extend the code so that `ports` is mirrored as a property on `WorkboxMessageEvent` directly:

https://github

[2021-03-09 22:03] jeffposnick commented on #2769
Thanks for letting us know. We can address this in the next release.

[2021-03-10 11:42] DotIN13 opened #2773 "Fallback .html extension matters to fallback setup?"
I'm following the [google developer guide](https://developers.google.com/web/tools/workbox/guides/advanced-recipes#offline_page_only) to build a PWA with a fallback page.

my SW:
[code]

But the fallback page always respond with ERR_INTERNET_CONNECTION.

After changing `/404` to `/404.html` and serving the page with the extension, the issue was gone.

Out of curiosity, I would like to know why URL

[2021-03-10 15:01] slorber opened #2774 "Undocumented v6 breaking change: PrecacheController.install/active"
Hi,

Not 100% sure but it seems like in the code and TS typedefs, the PrecacheController install/activate methods now take the event as param, while it wasn't the case before.

Not passing the event lead to console errors after an upgrade:

![image](https://user-images.githubusercontent.com/749374/110649263-baed9f80-81b9-11eb-9038-754ad9da7942.png)

[code]

FYI the doc seems wrong to me and this i

[2021-03-10 15:12] phil-w commented on #2493
Where would that setting be, precisely?

I'm trying to use the WorkboxPlugin.InjectManifest webpack 5 plugin and I can't get past this error. I just need to make this go away. Where exactly is the setting for " Workbox's `babelPresetEnvTargets`" ? What do I set it to in order to remove the error? I need to know what the incantation is, and where to put it. Anyone?

[2021-03-10 16:24] #2769 closed, assigned to jeffposnick

[2021-03-10 16:47] jeffposnick commented on #2774
Thank you for pointing this out—yes, `PrecacheController` does require an `ExtendableEvent` to be passed in as a parameter to both its `install()` and `activate()` methods in v6.

I'll get the JSDoc and other guidance updated to make it clear that this changed, and is a breaking change.

[2021-03-10 19:01] #2764 closed, assigned to ognjenjevremovic

[2021-03-10 19:41] jeffposnick commented on #2773
This all depends on the setup of your web server. Based on what you describe, it sounds like your web server returns a valid HTML document when `/404.html` is requested, but doesn't know how to handle a request for `/404`. If your web server is configured to respond with the contents of local files in a static directory, it's probably because you have a local file named `404.html`.

This is mostly

[2021-03-10 22:13] jeffposnick commented on #2749
This gets a big tough to track down to all the async code, but ultimately, when there's an `Uncaught (in promise) TypeError: Failed to fetch` message logged, despite the fact that the `Strategy` (`NetworkFirst` or `StaleWhileRevalidate`) is able to generate a response from the cache, it comes from the `throw error` at the end of

https://github.com/GoogleChrome/workbox/blob/2c8bfe7a840567cc4e693ca

[2021-03-11 01:05] DotIN13 commented on #2773
Thank you so much for answering, looks like I'll have to explore more to understand the mechanism of file hosting.

[2021-03-11 01:30] DotIN13 commented on #2773
I've done multiple experiments with my Jekyll+Webpack+WEBrick setup, looks like the service worker was able to cache all of `/404`, `/404/` and `/404/index.html`. All three had the same correct content length:

![cache](https://user-images.githubusercontent.com/34450555/110722128-c0e09080-824c-11eb-937c-ec23a903a63e.png)

but only `/404/` and `/404/index.html` settings gets correct redirect respon

[2021-03-11 03:06] philipwalton commented on #2749
In addition to the code highlighted above, there's also console noise (e.g. red error messages) from this code:

https://github.com/GoogleChrome/workbox/blob/2c8bfe7a840567cc4e693cae38441e46a7b0256b/packages/workbox-strategies/src/StrategyHandler.ts#L212-L213

I think we'd have to find a way to avoid both if we want to not scare developers into thinking something is wrong (when it isn't). Experime

[2021-03-11 03:22] philipwalton commented on #2749
Thinking about this a bit more (and playing with a few options in the code), I don't think we need (or want) to remove the rethrow in the `_awaitComplete()` method.

The problem currently (upon further investigation) is that the fetch error is even making its way to the `_awaitComplete()` method in the first place. I think this is happening because in `StrategyHandler#fetch()` we add the response

[2021-03-11 04:23] DotIN13 commented on #2773
I see from https://github.com/GoogleChrome/workbox/issues/903#issuecomment-348607719 that workbox handle `/404` defaultly as `/404.html`, so that is why I am experiencing this.

[2021-03-11 09:41] slorber commented on #2774
thanks :)

[2021-03-11 11:57] phil-w commented on #2749
I hit the same error with a home-grown service-worker and came to "workbox" in the hope it would be over it already.

I don't get the scary red messages in Firefox. Alternatively removing the site's manifest (!) avoids generating the messages.

[2021-03-11 12:32] davidpaley commented on #2767
@jeffposnick It is working except for the files that comes from the same origin. For example,
this is production: https://www.cityfurniture.com/browse/dining-room. If you check for the chunks, for example, at this moment: https://www.cityfurniture.com/_next/static/chunks/commons.98875a76810ab7396f70.js. I can only see the fetch of the service worker after the second reload.
![image](https://user-i

[2021-03-11 14:26] joker-777 opened #2776 "New offline check of Chrome always logs an error"
**Library Affected**:
workbox-routing, workbox-strategies, workbox-precaching

**Browser & Platform**:
Chrome Version 89.0.4389.82 (Official Build) (64-bit) and Arch Linux

**Issue or Feature Request Description**:
It looks like [Chrome now always does an offline check](https://developer.chrome.com/blog/improved-pwa-offline-detection/) with the `start_url` from `manifest.json` when loading a page.

[2021-03-11 14:48] jeffposnick commented on #2749
Thanks for looking into this, @philipwalton.

Regarding the development build logging messages, I think that's okay, as we also log additional info about how we're falling back to the cache:

https://github.com/GoogleChrome/workbox/blob/2c8bfe7a840567cc4e693cae38441e46a7b0256b/packages/workbox-strategies/src/NetworkFirst.ts#L207-L214

If folks are using the development build, I think there's enoug

[2021-03-11 14:51] jeffposnick commented on #2749
And we can also change that `logger.error()` in `StrategyHandler.ts` to a `logger.info()` to make it clearer that it might not ultimately be a failure.

[2021-03-11 15:02] jeffposnick commented on #2749
I made both those changes in a local copy of Workbox used on https://so-pwa.firebaseapp.com/, and this is what ultimately is logged in the console when the automatic offline check takes place:

![Screen Shot 2021-03-11 at 9 59 30 AM](https://user-images.githubusercontent.com/1749548/110806902-811ba800-8250-11eb-80d6-43395e052894.png)

This is still not "great" in that there's some red logged, but

[2021-03-11 15:20] jeffposnick commented on #2776
Please see the discussion in #2749

[2021-03-11 15:20] #2776 closed, assigned to nobody

[2021-03-11 15:28] jeffposnick commented on #2749
Also, I wanted to let folks know that separate from the issue of how Workbox logs things, we are actively working with the Chrome DevTools team to provide more context about what's going on during the automatic offline check. Those improvements would help developers regardless of whether they're using Workbox or not.

[2021-03-11 15:45] joker-777 commented on #2776
Thanks for pointing to it. I wasn't able to find this issue when I did my investigation for this error, unfortunately.

[2021-03-11 16:15] jeffposnick commented on #2767
After investigating a bit more, the reason you're not seeing revalidation revalidation requests for those URLs is that they're precached, and therefore the runtime caching strategy doesn't apply to them. You can verify this by looking at the precache manifest in your service worker:

[code]

Precached URLs will be updated automatically "in the background" when the manifest information for them cha

[2021-03-11 16:15] #2767 closed, assigned to nobody

[2021-03-11 16:22] #2774 closed, assigned to nobody

[2021-03-11 17:43] jeffposnick commented on #2749
After chatting with @philipwalton about this, I think the consensus is that making the change outlined in https://github.com/GoogleChrome/workbox/issues/2749#issuecomment-796410150 falls more into the category of "bug fix for unintended behavior" than "breaking change of documented API" so we should be able to get it out sooner in the next Workbox v6 release.

[2021-03-11 18:40] jeffposnick commented on #2767
By the way, I wrote about the techniques I used when debugging this at https://jeffy.info/2021/03/11/debugging-sw-request.html

I hope that helps some other folks!

[2021-03-11 21:59] jeffposnick commented on #2493
Hey all. Sorry for not updating this for a while.

@phil-w, the [`babelPresetEnvTargets` setting](https://developers.google.com/web/tools/workbox/reference-docs/latest/module-workbox-webpack-plugin.GenerateSW#:~:text=babelPresetEnvTargets) is available when you're using the `GenerateSW` plugin.

If you're using the `InjectManifest` plugin, then any Babel plugins from the parent compilation is appl

[2021-03-12 04:09] steveoh opened #2778 "Content-Length 0"
**Library Affected**:
*workbox-build*

**Browser & Platform**:
*Google Chrome v89.0.4389.82 on MacOS*

**Issue or Feature Request Description**:
I've got a lot of precache items displaying 0 content-length. Which is fouling up my app when it loses service. This does not seem to be the case with firefox.

![image](https://user-images.githubusercontent.com/325813/110890769-e356c600-82ad-11eb-9f7d-10

[2021-03-12 13:37] jeffposnick commented on #2778
Can you share a link to a public URL at which this can be reproduced?

[2021-03-12 15:04] steveoh commented on #2778
This website is password protected but I can certainly spend some time with a repro.

[2021-03-12 15:09] jeffposnick commented on #2778
You can DM https://twitter.com/jeffposnick if you feel comfortable sharing it privately, and I'll take a look.

[2021-03-12 15:46] steveoh commented on #2778
I should have said it's protected data for law enforcement.

[2021-03-12 15:56] jeffposnick commented on #2778
Gotcha 😄

I wonder whether you might be running into issues due to precaching running before you've got a valid auth credentials, in that case? Perhaps your web server is configured to respond with an empty HTTP response when that happens.

`workbox-precaching` [sets](https://fetch.spec.whatwg.org/#concept-request-credentials-mode) `credentials: 'same-origin'` on the requests that it uses to popul

[2021-03-12 17:34] #2749 closed, assigned to nobody

[2021-03-12 18:34] davidpaley commented on #2767
Thank you so much @jeffposnick! You are totally right! And thank you for the blog post, really interesting :)

[2021-03-12 18:35] #2399 closed

[2021-03-12 19:42] steveoh commented on #2778
The network pane screenshot shows the file being successfully requested with content and then when offline the failure. I wouldn't think that would be an issue since the service worker is served over the same secure connection as the items it's trying to precache.

[2021-03-13 18:06] Alex-Golovin commented on #2749
Hi @jeffposnick , my app have similar issue.

https://songbook.app/en?standalone=true - while this page URL is already in cache - workbox still throws an error that it can't fetch this url.

<img width="1440" alt="Screenshot 2021-03-13 at 20 05 10" src="https://user-images.githubusercontent.com/8227614/111039618-a585a900-8437-11eb-961c-7d7b7af9b233.png">

I've tried to add it to runtime cache usin

[2021-03-14 06:53] hannandesai commented on #2070
@jeffposnick I face the same issue as faced by  @qqilihq , in my case i am call periodically workbox update method to check for update, but in my case new service get activated but controlling event never gets fired.

Is there somethinng i am missing please guide me.

Thanks in Advance!

[2021-03-14 06:54] hannandesai opened #2779 "@jeffposnick I face the same issue as faced by @qqilihq , in my case i am call periodically workbox update method to check for update, but in my case new service get activated but controlling event never gets fired."
@jeffposnick I face the same issue as faced by  @qqilihq , in my case i am calling periodically workbox update method to check for update, but in my case new service get activated but controlling event never gets fired.

Is there somethinng i am missing please guide me.

Thanks in Advance!

_Originally posted by @hannandesai in https://github.com/GoogleChrome/workbox/issues/2070#issuecomment-79884

[2021-03-15 00:45] PostAlmostAnything opened #2780 "Firefox: Refreshing Page or Loading New Page Causes Javascript Function to Return Undefined"
The following is a snippet of code I just wrote to select a random affiliate ad from an array containing URL pairs for landing pages and banner ad images. It works fine in Chromium browsers, but  in Firefox it only works when the page is first loaded unless I unregister my Workbox service worker. If I fail to do that the results return as "undefined" and the log entries are not written in the cons

[2021-03-15 06:23] niwatoliver opened #2781 "What is the maximum number of maxEntries?"
Workbox has a variety of features that have been very helpful.

However, there is a behavior that is bothering me. It is about the value of `maxEntries` in `ExpirationPlugin`.
The maximum value here is 50, as described in https://developers.google.com/web/tools/workbox/guides/storage-quota#what_configuration_options_are_supported I thought so.
In fact, I have confirmed that the number of entries s

[2021-03-15 21:01] jeffposnick commented on #2769
This is resolved in https://github.com/GoogleChrome/workbox/releases/tag/v6.1.2

[2021-03-15 21:02] jeffposnick commented on #2749
This should be resolved in https://github.com/GoogleChrome/workbox/releases/tag/v6.1.2

[2021-03-15 21:02] jeffposnick commented on #2764
Thanks again! You changes are released as part of https://github.com/GoogleChrome/workbox/releases/tag/v6.1.2

[2021-03-16 08:15] cebjyre opened #2782 "findMatchingRoute (Router.ts) docs are missing the sameOrigin parameter"
**Library Affected**:
workbox-routing

**Browser & Platform**:
all browsers (or none?)

**Issue or Feature Request Description**:
The change to add the sameOrigin parameter to router checks (#2505) updated the code for `findMatchingRoute`, but not the documentation block immediately above it - expand the context above https://github.com/GoogleChrome/workbox/pull/2505/files#diff-d5f776d2af13bb6daa2

[2021-03-16 10:31] StanzillaManticore commented on #2749
Awesome, thank you!

[2021-03-16 14:37] jeffposnick commented on #2781
There is no hardcoded limit on the value of `maxEntries`. Workbox should support values over than 100 without a problem. At some point, the algorithm used to find and expire old entries might start slowing down if the values get very, very large—we haven't really tuned it specifically for performance. Additionally, browsers might impose some limits on storage that are separate from Workbox, and wh

[2021-03-16 14:37] #2781 closed, assigned to nobody

[2021-03-16 14:39] jeffposnick commented on #2780
Hello! Unfortunately, I'm having a hard time understanding how the code snippet you provided relates to Workbox or service workers.

If you have a live reproduction of a site that reproduces the issue, then could you share the URL? Without that, just that code snippet isn't enough to go on, unfortuantely.

[2021-03-16 14:40] niwatoliver commented on #2781
thanks.

[2021-03-16 14:41] jeffposnick commented on #2779
There isn't enough context here to create a new issue. I'm going to reply in the old issue thread and we can reopen that if needed.

[2021-03-16 14:41] #2779 closed, assigned to nobody

[2021-03-16 14:42] jeffposnick commented on #2070
@hannandesai, if you could provide details about which version of `workbox-window` you're using, as well as a code snippet illustrating your usage, we can advise.

[2021-03-16 14:49] jeffposnick commented on #2778
If possible, providing a reproduction without sensitive data that I could access would help debug this more quickly.

Absent that, what happens if you start from scratch (say, in an Incognito window) and go through the initial precaching flow, and take a look at the entries in the Network panel corresponding to the precaching requests? They should have little ⚙️  icons next to them. Does anything

[2021-03-16 18:25] #2782 closed, assigned to nobody

[2021-03-16 19:33] steveoh commented on #2778
Maybe this is a devtools bug?

content-length is 0 but the cache has data...

![image](https://user-images.githubusercontent.com/325813/111368880-0261a900-865c-11eb-94e8-f357ba2026af.png)

[2021-03-16 19:47] jeffposnick commented on #2778
Perhaps if there's a chunked transfer encoding used for the response, and there's no `Content-Length` header, then that's what you end up seeing in DevTools?

The actual response should be valid, though. You mentioned that it wasn't worked as expected?

[2021-03-16 20:25] steveoh commented on #2778
I updated from the cra pwa template 5.1.4 version of workbox to 6.1.1 or whatever is current and I think that problem has fixed itself.

That is interesting tht the dev tools only show the header value. I could technically make those values whatever i wanted? I assumed that cache would calculate those for it's own size limitation logic

[2021-03-16 21:25] jeffposnick commented on #2778
I don't know a ton about how DevTools calculates those values, but based on the work a colleague recently did related to something similar (https://bugs.chromium.org/p/chromium/issues/detail?id=1186049) I think it just reads whatever is stored as part of the serialized response headers. That just affects the DevTools UI, not any "real" functionality.

In any case, it sounds like this is resolved?

[2021-03-16 21:25] #2778 closed, assigned to nobody

[2021-03-16 21:46] jeffposnick commented on #2773
Oh, so looking more closely, the issue is that your response was the result of a redirect, and there's a service worker [security restriction](https://bugs.chromium.org/p/chromium/issues/detail?id=658249) that prevents redirected responses from being used to fulfill navigation requests.

I'm assuming `/404` redirects to `/404/`. What I'd suggest doing is to change things so that `/404/` is used as

[2021-03-16 21:46] #2773 closed, assigned to nobody

[2021-03-16 21:58] chrishoage commented on #2070
@jeffposnick We are having very similar problems as hannandesai.

We are using `workbox-window` and `workbox-webpack-plugin` `6.1.1`

[code]

In our `serviceWorker.ts` we have the following message handler

[code]

We have code that creates a singleton from `createWorkboxWorker` and registers the service worker during our app initialization.

We then have a component that calls `checkUpdate` from

[2021-03-17 00:18] DotIN13 commented on #2773
That fully dspell my doubts, thanks a lot for your kind explanation!

[2021-03-17 01:03] PostAlmostAnything commented on #2780
It has to do with Workbox because like I said I need to unregister the service worker for the script to work after the first page is loaded. That service worker is a Workbox service worker.

[2021-03-17 06:53] hannandesai commented on #2070
@jeffposnick Thanks for the reply.
I am using worbox-window 6.1.2 & workbox-cli 6.1.2

Below is my code for service worker registration using workbox-window

[code]
Below is my service worker file

[code]
Here i check for uodates manually after every one minute.
I tried clientsClaim both at global level and after activate but none of them is triggering controlling event.

[2021-03-17 07:05] Alfsuper commented on #1730
Today I have the same problem as you in another link, the same error text. But when I change the link from the wireless connection from my router to my phone, no problem, it works. The router configuration has some protection because when I connect to the wifi of my phone the link to the web is fine, I hope that if this is helpful even if it has been a long time, greetings to all.

[2021-03-17 14:29] jeffposnick commented on #2780
I understand that you need to unregister the service worker, but unfortunately that doesn't provide enough of a clue to understand what's going on.

As mentioned, the best way to get help for this would be to provide a URL at which a live version of your web app can be accessed. I'll take a look at what's going on. If you can't share the URL publicly, you can send a DM to https://twitter.com/jeffp

[2021-03-18 01:17] PostAlmostAnything commented on #2780
I would love to post a link, but due to the content at that link I fear that GitHub will either suspend my account or limit my posting abilities if I post it.

[2021-03-18 05:08] weiwei-lin opened #2784 "workbox-webpack-plugin generates a different sourcemap in every build run."
**Library Affected**:
workbox-webpack-plugin

**Browser & Platform**:
all browsers

**Issue or Feature Request Description**:
The generated sourcemap is unstable (changes on every build).
This breaks our CI.

Reproduce:
webpack.config.ts
[code]
run the build script.
service-worker.js.map
[code]
run the build script again.
service-worker.js.map
[code]
Notice that the hash has changed.

[2021-03-18 06:40] budarin opened #2785 "I'm trying to add the Statoscope webpack plugin for analyzing the service worker bundle, but to no effect"
**Library Affected**:
*any*

**Browser & Platform**:
*any*

**Issue or Feature Request Description**:
I want to analyze service worker bundle with [Statoscope](https://github.com/smelukov/statoscope).

Configuring the plugin:
[code]
but there is no any effect - the plugin doesn't work

Note: for the app bundle, this plugin is triggered

[2021-03-18 11:18] dryabov commented on #2780
1. Why do you use `leaderboards[Math.floor(Math.random() * leaderboards.length - 1)]`? There should be no `-1`, as `Math.random` generates real numbers between 0 (including) and 1 (excluding), otherwise you can try to access `leaderboards[-1]`.
2. The next point is `randAd.toString().split(',')`, where `randAd` is already an array of 2 elements, and such a code looks weird.

[2021-03-18 15:21] jeffposnick commented on #2070
Hello @chrishoage and @hannandesai! Thanks for sharing that. I'll provide specific debugging feedback on each implementation.

Before I do that, I just wanted to clarify what `workbox-core`'s `clientsClaim()` does, with an eye towards getting this information into our official documentation.

Prior to Workbox v6, `workbox-core` exposed two helper methods that wrapped underlying service worker API

[2021-03-18 15:58] jeffposnick commented on #2582
@evdama: A complication around support for `localStorage` is that it can't be accessed from inside of a service worker. So if we did support clearing it, that would only work when `workbox-clear-storage` was used from a `window` client, not from inside of a service worker.

Maybe that's okay, if folks think they are more likely to use this sort of module from their `window` client code? But we'd h

[2021-03-18 16:48] chrishoage commented on #2070
@jeffposnick Thank you for the detailed write up. In our case, we only added `core.clientsClaim()` very very recently in an attempt to solve the problem at hand.

We noticed there were a few places in the docs that `clientsClaim` was called after `skipWaiting` and thought it couldn't hurt to try to see if it helped with the `controlling` event not firing after using `update()` (Obviously this didn

[2021-03-18 16:48] jeffposnick commented on #2785
Hello @budarin.

I'm not familiar with Statoscope, so I can't give a definitive answer without doing some more investigation.I read up a little bit about what it does, and it sounds like it only works if the webpack compilation has full stats enabled, correct?

The `InjectManifest` plugin works by creating a `webpack` child compilation, and running that separately from the main `webpack` compilati

[2021-03-18 17:08] hannandesai commented on #2070
@jeffposnick Thanks you for detailed explanation this help me understands clientsClaim() wrapper clearly.

But as i mentioned i tried clientsClaim() wrapper at top level also but still it wont trigger the controlling event, and just to inform controlling event is called when i manually reload the page but when we try to update service worker using workbox update method it wont get called.

[2021-03-18 18:24] jeffposnick commented on #2070
Yup, understood. I will dive into both code samples soon. I just know that `clientsClaim()` can be confusing to use and wanted to clarify that off the bat.

[2021-03-18 18:35] ognjenjevremovic commented on #2764
Thank you so much for the attribution and the opportunity to contribute back to the amazing *workbox* project 🙂 .

[2021-03-18 20:11] jeffposnick commented on #2784
Hmmm... the relevant code is https://github.com/GoogleChrome/workbox/blob/27080cccfbc360b121083bb47e20429997051a6f/packages/workbox-build/src/lib/bundle.js#L28-L33

(`workbox-build` and `workbox-webpack-plugin` both use this module.)

I'll take a look to see whether that path can be cleaned up to something more meaningful/stable, as that obviously doesn't seem like a valid URL to include as one of

[2021-03-18 20:17] budarin commented on #2785
Thanks for the reply.
I'll try to ask the Statoscope contributer about it

[2021-03-18 21:41] jeffposnick opened #2786 "workbox-window should fire controlling events with isExternal: true"
In Workbox v6, we modified the behavior of most of the previous `workbox-window` events so that instead of having "expected" and "external" flavors (`waiting`, `externalwaiting`, etc.) we would always fire events with the expected name (`waiting`, etc.) and set the `isExternal` boolean flag accordingly.

This change did not happen for the `controlling` event, however, and the only time `controllin

[2021-03-18 22:09] jeffposnick commented on #2070
@hannandesai: Just a few random comments:

I had some issues getting your code to compile as-is, because you're doing things like `const path = require("path");` inside of a service worker, which won't work. I'm assuming you have something custom in your build process that somehow translates that into code that will run inside of the `ServiceWorkerGlobalScope`, but I'm not sure what it is. So I pa

[2021-03-18 23:10] PostAlmostAnything commented on #2780
I used "- 1" because of an example on StackOverflow that said that was how to do it in cases like this one. I used string split because I don't work with javascript much and was not sure how to access the second column by itself, so I took the whole row, converted it to a string, and split it at the comma.

[2021-03-19 05:31] hannandesai commented on #2070
@jeffposnick yup, sorry as i forgot to correct the code, that listening controlling event for serviceWorker.wating is just to give it a try, otherwise i am using as you mentioned.

Will definitely looking forward for #2786 to resolve.

Thanks in Advance

[2021-03-19 12:52] jeffposnick commented on #2070
@hannandesai, just to reiterate, if you need this functionality you don't have to wait for #2786. You can add

[code]

to your code right now if you want to be notified of the controller changing all the time. If you only want to be notified when the controller changed after being previously being set to a different service worker, add the event listener conditionally:

[code]

That should be func

[2021-03-19 13:03] jeffposnick commented on #2070
@chrishoage, looking at your `workbox-window` example now, I think it's directly related to #2786, in that

[code]

won't currently fire if the service worker that takes control was installed and activated due to a `wb.update()` check. Apologies for that.

The same workaround mentioned above should apply, where you listen to the `controllerchange` event that's already part of the service worker AP

[2021-03-19 13:46] jeffposnick commented on #2031
@plandem, I'm just seeing your last message now. #2786 tracks making sure that `controlling` is fired consistently in v6, with `isExternal` used to distinguish between the two cases (for those who care).

[2021-03-19 16:58] chrishoage commented on #2070
@jeffposnick Thank you for your help in diagnosing the problem. Good to know we were not holding it wrong.

We will wait for the PR linked in the GHI to land.

[2021-03-20 13:29] budarin commented on #2785
we found out that at the moment Statoscope does not support child compilation, but in the next release it will support

[2021-03-20 13:29] #2785 closed, assigned to nobody

[2021-03-21 05:27] scytacki opened #2788 "workbox-window's getSW() should resolve with shift-reload"
**Library Affected**:
*workbox-window*

**Browser & Platform**:
*"all browsers"*

**Issue or Feature Request Description**:
When there is an active service worker and a user does a shift  reload. the `getSW()` promise never resolves.  I would expect it to return the active (but not controlling) service worker.

The docs say:

In the case of a shift reload with an existing active service worker, th

[2021-03-21 19:38] planeth44 opened #2789 "request.formdata will fail if request is issued by a fetch in page"
**Library Affected**:
background-sync

**Browser & Platform**:
 Google Chrome for Linux

I have a page with a form. This form is submitted via a fetch() in the page.
This fetch is captured by the SW and if the page is offline the catch will trigger, and the request will be queued.
All is well until now.
But, if I want to use ```request.clone().formData()```, while offline, this will fail.

Now, if

[2021-03-22 01:49] scytacki commented on #2788
A related issue happens when the page is reloaded while a first time service worker is installing. In the reloaded page `navigator.serviceWorker.controller` will be falsey, and `_registration.installing` will be set. `Workbox#getSW()` does not resolve for basically the same reason as above.

Additionally the registration `updatefound` event won't fire because the service worker was in the installi

[2021-03-22 05:54] slavafomin opened #2790 "Add Error objects, not strings, to compilation.warnings"
Hello!

**Library Affected**:
`workbox-webpack-plugin@6.1.2`

I'm experiencing a situation, where the manifest, generated by the `InjectManifest` plugin doesn't include the `main.js` file (this is a main and a single entry point of my application).

I've tried to use the `webpack-manifest-plugin` and I can confirm that it's manifest correctly lists all the output files, including the `main.js` one

[2021-03-22 06:16] slavafomin commented on #2790
Well, the problem was with the `maximumFileSizeToCacheInBytes` option, which is enabled by default and applies even in development. Sadly, this behavior is not documented anywhere, even the default value for `maximumFileSizeToCacheInBytes` is not documented. I found it just by a lucky guess.

I would suggest to update the documentation to make this point much more clear. Also, it could be a good i

[2021-03-22 07:33] boraturant opened #2791 "The parameter 'options.event' passed into 'workbox-strategies.StrategyHandler.constructor()' must be an instance of class ExtendableEvent."
**Library Affected**:
*workbox-strategies, workbox-routing.*

**Browser & Platform**:
*Google Chrome*

I am using the advanced Router.register/handle pattern as documented in https://developers.google.com/web/tools/workbox/modules/workbox-routing#advanced_usage

Registering a ne route with router object.

[code]

Then handing it in fetch:

[code]

The fetch event throws the below error:

Uncaught

[2021-03-22 19:33] #2736 closed, assigned to nobody

[2021-03-22 19:38] jeffposnick commented on #2789
Hello @planeth44!

Can you clarify a few things to help us investigate further?

First, and you seeing this in all web browsers, or just one of them? I know that Safari has [some issues](https://bugs.webkit.org/show_bug.cgi?id=212858) with `FormData`, though I haven't heard of a known bug that specific matches what you're describing here.

Second, are there any exceptions thrown when you call `awa

[2021-03-22 20:01] jeffposnick commented on #2790
I apologize for the frustration that this caused.

Our current JSDoc to HTML generation pipeline unfortunately omits our documented default values, so while this is considered our "source of truth", it's not visible like it should be:

https://github.com/GoogleChrome/workbox/blob/27080cccfbc360b121083bb47e20429997051a6f/packages/workbox-webpack-plugin/src/inject-manifest.js#L100-L103

(We have pla

[2021-03-22 20:07] jeffposnick commented on #2791
Apologies; the documentation needs to be updated to reflect the changes in the latest Workbox releases.

We'll update the recipe to read:

[code]

[2021-03-22 20:33] raphcollective commented on #2790
I also faced the exact same issue this week. I didn't get a warning while compiling, I only discovered that option because of this thread.

[2021-03-22 20:44] jeffposnick commented on #2790
Thanks for letting us know. The intention is definitely for there to be a warning bubbled up that gets reported by `webpack`. Let me try to reproduce the issue to see if something's preventing that from happening.

[2021-03-22 20:46] raphcollective commented on #2790
Thanks for having a look! I'm using the following packages:
[code]

[2021-03-22 20:56] ChildishGiant opened #2792 "Uncaught (in promise) no-response: no-response :: [{"url":"http://127.0.0.1:8080/index.html","error":{}}]"
[code]

<details>
<summary>Here is my sw.js</summary>

[code]
</details>

I have a catch handler and default handler but neither seem to be triggered.

[2021-03-22 21:02] jeffposnick commented on #2790
I tried to reproduce this with a basic `package.json`:

[code]

and the `webpack` configuration:

[code]

Running the `webpack-cli` to build it leads to a warning logged as expected:

[code]

That's what I would expect to see, and indicates that the warnings and logs from `workbox-webpack-plugin` are properly reflected in the `webpack` compilation. I _think_ it would give a developer enough to go

[2021-03-22 21:07] jeffposnick commented on #2792
Hello @ChildishGiant!

Which version of Workbox are you using? This sounds somewhat similar to (but not exactly the same as) what was reported in #2749. If you're using Workbox v6, could you update to Workbox v6.1.2 and confirm that you're still seeing the same behavior?

[2021-03-22 21:14] ChildishGiant commented on #2792
I'm using `"workbox-recipes": "^6.1.2"` yea.

[2021-03-22 21:55] raphcollective commented on #2790
I agree that the warning would be enough to figure out what's going on. The issue must be coming from either mix or the plugin wrapper but I'm wondering why some warnings are showing up fine then. For example, this one is displayed without issue:

Is that message using a different method to display the warning?

[2021-03-23 13:11] jeffposnick commented on #2790
That specific warning comes from: https://github.com/GoogleChrome/workbox/blob/27080cccfbc360b121083bb47e20429997051a6f/packages/workbox-webpack-plugin/src/inject-manifest.js#L277-L285

The warning about the maximum file size, and any other warnings related to manifest entries, come from: https://github.com/GoogleChrome/workbox/blob/27080cccfbc360b121083bb47e20429997051a6f/packages/workbox-webpack

[2021-03-23 14:13] raphcollective commented on #2790
That fix did make a difference, I can now see the warnings. Maybe it is related to how [this package](https://github.com/geowarin/friendly-errors-webpack-plugin#readme) used by laravel-mix parses the errors and warnings? It looks like it hasn't been updated in a while.

[2021-03-23 14:28] jeffposnick commented on #2790
Okay, thanks for confirming. I can put together a PR that switches that code over to wrap the strings in `Error` objects, after confirming that it's backwards compatible with `webpack` v4.40+. (I think it should be.)

[2021-03-23 14:32] raphcollective commented on #2790
That'd be great, thank you for your help and responding so quickly!

[2021-03-23 14:33] jeffposnick commented on #2790
...and now I remember that we made that change to some other parts of the codebase recently to resolve #2674, but it looks like that one line of code still was using strings directly. Sorry about that.

[2021-03-23 19:42] boraturant commented on #2791
Thanks!

[2021-03-23 19:42] #2791 closed, assigned to nobody

[2021-03-24 05:00] slavafomin commented on #2790
Hello! Thank you for a quick and detailed response.

I don't believe I saw the warning. At least not after I've figured this out by myself. The problem with warnings is that Webpack can generate a lot of messages and most developers are getting blind to it's output. I still believe that default settings should be more conservative.

[2021-03-24 08:42] planeth44 commented on #2789
Hello @jeffposnick
For now, I've tried with both Chrome and Firefox on Linux(Ubuntu 20)
I know about Safari issues on formData, but I don't think this is the case here.

I've re-run the code below:

[code]
As you suspect the issue is not related to ```workbox-background-sync```. The above code runs without any call to workbox

The catch block in Chrome returns: ```TypeError: Failed to fetch``` and

[2021-03-24 10:55] mavr1982 commented on #1663
is there any news on this ?
I have issues with videos (mp4, webm, ogv) on most of the browsers but Chrome.

[2021-03-24 13:28] jeffposnick commented on #2790
One way of looking at it, which has motivated the defaults that have been in place for five years or so now, is that accidentally forcing your users to precache, say, dozens of megabytes of image assets is not being conservative.

There's a balance we have to strike between confusing developers who are unclear on why something isn't precached (and hopefully the warning messages help here) and conf

[2021-03-24 21:56] budarin opened #2794 "Need to have an ability to log bad-precaching-response errors"
**Library Affected**:
*workbox-precaching*

**Browser & Platform**:
*any*

**Issue or Feature Request Description**:
In some situations some resources could be lost in k8 infrastructure
We need to have an ability to log such errors and react on them

[2021-03-24 22:54] #2790 closed, assigned to nobody

[2021-03-25 12:50] jeffposnick commented on #2789
Thanks, @planeth44. And one more thing: can you share the code that runs in your web page which handles the form submission via `fetch()`? Ideally both the HTML for the form and the JavaScript for the submission process, if possible.

It sounds like something about the process of serializing the form into an HTTP request might be causing the issue you're seeing.

[2021-03-25 15:45] jeffposnick commented on #2794
You can do this by adding in a plugin implementing the [`handlerDidError` callback](https://developers.google.com/web/tools/workbox/guides/using-plugins) to the underlying `PrecacheStrategy` that `workbox-precaching` uses. There's a helper method, `addPlugins()`, that you can call to add it (since most developers won't instantiate the `PrecacheStrategy` directly).

[code]

[2021-03-25 15:45] #2794 closed, assigned to nobody

[2021-03-25 16:45] undermuz commented on #2263
I have an error because of this fix:
`Uncaught SyntaxError: missing ) after argument list`

When i set devtool = "nosources-cheap-module-source-map" and disable optimization.minimize, this no error occurs

[2021-03-25 18:23] budarin commented on #2794
thanks!

[2021-03-25 20:34] undermuz commented on #2729
@jeffposnick
I have same error, but i don't use typescript:
https://github.com/GoogleChrome/workbox/issues/2263#issuecomment-807077067

[2021-03-26 10:59] planeth44 commented on #2789
@jeffposnick
see the HTML and the js below.
Just to be clear: if I submit the form while online, the code runs as intended. It only failed if I try to submit when offline.

the HTML page is just a form:
[code]

//app.js
[code]
//pwa-components/input-files-multiple/script.js
[code]

[2021-03-28 05:54] yanfengliu commented on #2632
Please note that if your DevTools by default disables cache when it is open.

[2021-03-28 12:40] Thefore opened #2795 "gooworkbox"
Welcome! Please use this template for reporting bugs or requesting features. For questions about using Workbox, the best place to ask is Stack Overflow, tagged with `[workbox]`: https://stackoverflow.com/questions/ask?tags=workbox

**Library Affected**:
*workbox-sw, workbox-build, etc.*

**Browser & Platform**:
*E.g. Google Chrome v51.0.1 for Android, or "all browsers".*

**Issue or Feature Reques

[2021-03-29 13:28] anuragl94 opened #2796 "Incorrect format of "ignoreURLParametersMatching" values generated via `workbox wizard` cli command"
**Library Affected**:
workbox-cli

**Browser & Platform**:
Windows

**Issue or Feature Request Description**:
Running `workbox wizard` resulted in the following config file:
[code]

Running `workbox generateSW` on this config file results in this error:
[code]

From the docs, it is clear that `ignoreURLParametersMatching` expects an array of Regular Expressions, not strings.
The wizard script shou

[2021-03-29 20:23] #2795 closed, assigned to nobody

[2021-03-30 13:43] jeffposnick opened #2797 "Release ES module dev/prod bundles of all packages"
Right now, we only produce ES module dev/prod bundles for the `workbox-window` package, since using ES imports has, until recently, only been viable from the `window` context of a web page.

At some point in the near future, [ES imports inside of the `ServiceWorkerGlobalScope`](https://chromestatus.com/feature/4609574738853888) may be supported in Chrome/Edge.

Sooner than that, the [Deno Deploy](

[2021-03-30 19:07] planeth44 commented on #2789
I think I solved this :
[code]

[2021-03-30 19:07] #2789 closed, assigned to nobody

[2021-03-30 20:30] micahjon opened #2798 "How to pre-cache a NavigationRoute NetworkFirst request?"
**Library Affected**:
workbox

**Browser & Platform**:
All browsers (tested Chrome 89 on Mac)

**Issue or Feature Request Description**:
I was able to add a cached page request to a NavigationRoute's NetworkFirst cache. But when I navigate to the page while offline, the cached response is not used.

I'm guessing this is b/c NavigationRoutes only use navigation requests, not standard cached request

[2021-03-31 20:00] jeffposnick commented on #2798
Hello @micahjon! I've [answered](https://stackoverflow.com/a/66879031/385997) on Stack Overflow.

[2021-03-31 20:00] #2798 closed, assigned to nobody

[2021-03-31 20:24] jeffposnick commented on #2792
Hello!

You mention `workbox-recipes` v6.1.2, but from your service worker code, I see that you're using `workbox-strategies` and `workbox-routing`. Are those also v6.1.2?

If you have your code deployed somewhere at a public URL, we can take a look there and potentially debug things quicker.

[2021-03-31 20:55] ChildishGiant commented on #2792
I installed through `workbox-recipes`, just checked the package lock and everything's 6.1.2. I've been having some other build issues and now cannot reproduce this. I'll close this issue and reopen if I run into this again

[2021-03-31 20:55] #2792 closed, assigned to nobody

[2021-03-31 22:36] JSebastianOspina commented on #2796
Same here

[2021-04-01 01:47] rupertdance opened #2800 "setCatchHandler not being triggered on cache miss"
**Library Affected**:
workbox 5.1.4

**Browser & Platform**:
Chrome desktop, et al

**Issue **:
In order to check a number of dynamically named caches (ie. page-cache-123 where 123 is the ID of an edition of content) I have added a caches.match into a fetch event listener. I did this because I couldn't figure a way to make workbox NavigationRoutes find caches inside my differently named caches. Th

[2021-04-01 13:52] jeffposnick commented on #2800
Hello @rupertdance!

One fundamental issue that would need to be sorted out first is that [`workbox-routing`](https://developers.google.com/web/tools/workbox/modules/workbox-routing), and the various methods it exposes (like `setCatchHandler()`), work by registering their own `fetch` event listener, which then uses the routing information you configure to determine whether or not to respond to a g

[2021-04-01 13:52] #2800 closed, assigned to nobody

[2021-04-01 19:33] jeffposnick commented on #2723
Hello!

Sorry for the delay in getting back to you.

I'm able to reproduce the issue following your configuration, but only if I include the `ImageminPlugin` in your build configuration. If I omit `ImageminPlugin` then the compilation succeeds as expected.

The underlying error seems to occur because `ImageminPlugin` processes the service worker asset created by `InjectManifest` in the child compi

[2021-04-01 19:33] #2723 closed, assigned to nobody

[2021-04-02 17:04] tropicadri opened #2801 "Deprecate DBWrapper"
**Library Affected**:
*workbox-background-sync, workbox-expiration, workbox-core*

**Browser & Platform**:
 "all browsers".*

**Issue or Feature Request Description**:
Deprecate the [DBWrapper](https://github.com/GoogleChrome/workbox/blob/v6/packages/workbox-core/src/_private/DBWrapper.ts) in favor of [idb](https://www.npmjs.com/package/idb), idb provides the functionality the wrapper gives and wi

[2021-04-02 21:00] jeffposnick commented on #2796
Thanks for reporting this; we have a PR out to fix it, but in the meantime, feel free to manually edit the config file to remove the `"` around the RegExps.

[2021-04-03 18:29] arleyandrada opened #2803 "Cross-Origin-Resource-Policy "cross-origin" not present in workbox-strategies.dev.js"
Unable to make my website "cross-origin isolated" using COOP and COEP.
https://web.dev/coop-coep/

Resource:
https://storage.googleapis.com/workbox-cdn/releases/XXXXX/workbox-strategies.dev.js

Error:
To use this resource from a different origin, the server needs to specify a cross-origin resource policy in the response headers.

Missing response header:
Cross-Origin-Resource-Policy: cross-origin

[2021-04-05 04:56] shadowwalker commented on #2749
CC: @jeffposnick

Hi all, after some digging and testing. I found an **INTERESTING** way to pass new offline check in Chrome properly.

With workbox `6.1.2`, this issue is mitigated by not logging the failed fetch as an error to console. Which is good so that you are not bombed with this red error message and don't know what you should do. But it appears the `Network` tab in development tools stil

[2021-04-05 16:34] jeffposnick commented on #2749
Hello @shadowwalker—I'd very much suggest not attempting to avoid DevTools noise via that approach. There's overhead in re-creating the request, and I don't really understand what's going on that would cause it to lead to different logs being displayed.

The Chrome team has heard the feedback from this thread and elsewhere, and [rolled back](https://chromium-review.googlesource.com/c/chromium/src/

[2021-04-05 17:04] iambenmitchell commented on #1730
I am getting the same issue with

http://ipv6-test.com/button-ipv6-small.png

Safari:
<img width="668" alt="image" src="https://user-images.githubusercontent.com/27426792/113601472-4a5f6480-9639-11eb-84d2-36172df694eb.png">

Chrome:
<img width="556" alt="image" src="https://user-images.githubusercontent.com/27426792/113601531-5cd99e00-9639-11eb-81a3-ed00c64b0c42.png">

Solution:

The server suppor

[2021-04-05 19:36] jeffposnick commented on #2803
Hello—I just tried to set that `Cross-Origin-Resource-Policy: "cross-origin"` header on a test Google Cloud Storage item (which is what we used for the "CDN" copy of Workbox), and unfortunately, it does not appear possible at the moment. If you attempt to set that header metadata, it ends up being served with an `x-goog-meta-` prefix in the response headers, and described in the [documentation](ht

[2021-04-06 03:35] #2796 closed, assigned to nobody

[2021-04-06 11:58] ZFYL commented on #1709
So, i've been trying to understand this `cacheKeyWillBeUsed` and its quite confusing that the original response is a `Response `object but the modified one is a simple string. Please add a single line comment the documentation that the return should be a string which will be the url in the `cache.put(url, request)` Cache API call. This will help by a lot!

[2021-04-06 15:46] jeffposnick commented on #1709
@ZFYL, I am not clear what the issue is that you're running into. A `Response` object and a simple string aren't traditionally interchangeable at all. Do you mean a `Request` object?

Both a `Request` object and a string could be used as a cache key. If your `cacheKeyWillBeUsed` callback returns a `Request` object, then that will be used as a cache key. If your callback returns a string, then a `R

[2021-04-07 05:47] KevinGruber opened #2806 "[workbox-build] Uses old deprecated @hapi/joi"
Welcome! Please use this template for reporting bugs or requesting features. For questions about using Workbox, the best place to ask is Stack Overflow, tagged with `[workbox]`: https://stackoverflow.com/questions/ask?tags=workbox

**Library Affected**:
*workbox-build, workbox-webpack-plugin*

**Browser & Platform**:
*Webpack*

**Issue or Feature Request Description**:
*workbox-build is currently

[2021-04-07 08:24] rubas opened #2807 "More precise documentation around StaleWhileRevalidate's behavior"
**Library Affected**:
workbox-strategies

**Browser & Platform**:
all browsers

**Feature Request Description**:

   Control extension indicates that caches MAY serve the response in
   which it appears after it becomes stale, up to the indicated number
   of seconds.
https://tools.ietf.org/html/rfc5861#section-3

The current implementation of the `stale-while-revalidate` is very inflexible and ju

[2021-04-07 14:37] jeffposnick commented on #2807
Hello @rubas!

Apologies if I'm misunderstanding your request, but are you asking for the ability to use the `StaleWhileRevalidate` strategy and completely skip the revalidation (i.e. network) step if some criteria are met?

I'd normally say that one way to handle that would be to ensure that you're using the HTTP cache and associated `Cache-Control:` headers effectively, since if you are, the rev

[2021-04-07 14:43] jeffposnick commented on #2806
Apologies for the inconvenience that this might be causing.

We're in the midst of [rewriting](https://github.com/GoogleChrome/workbox/tree/wb-build-ts) `workbox-build` in TypeScript, and as part of that conversion, we'll be moving from `@hapi/joi` to [auto-generated validation logic](https://github.com/GoogleChrome/workbox/blob/1c2df4ff17cf58ea5bf1f4caa0997f0cf12de4c4/packages/workbox-build/src/t

[2021-04-07 14:50] KevinGruber commented on #2806
Hi :-)

Thanks for answering and awesome to hear.
I am looking forward to that 👍

[2021-04-07 15:45] rubas commented on #2807
Thank you, Jeff. I don't know anybody who answer all issues always this fast and extensive!!

Correct. As the name implies the idea is that you are allowed to use/send "stale" content while fetching an updated version in the background.

Normally (in the context of http cache, varnish strategies ...) you always have two parameters with this strategy:
- when is the cache considered stale? (ie after

[2021-04-07 16:58] jeffposnick commented on #2807
Yeah, that's a valid point w.r.t. Workbox's naming—I did think about it when I was writing https://web.dev/stale-while-revalidate/

I don't know that we're going to change anything at this point, as the (technically inaccurate) `StaleWhileRevalidate` strategy name is used very pervasively in the codebase and supporting build tools. I think it's more likely that we'll add a caveat in the documentat

[2021-04-07 19:51] denieler commented on #2786
@jeffposnick Hey Jeffrey! I'm testing the newest version of Workbox and it looks like there is something working not exactly correct with this new functionality.

I have this implementation of "page reload for users":
[code]

and first time, when I have a new version of service worker - I decline to activate it (the new version).
Then at `showSkipWaitingPrompt` in the `event` received I see `isUpd

[2021-04-07 21:40] jeffposnick commented on #2786
Hello @denieler—how are those new releases detected? Are you calling `wb.update()` after each deployment of a new service worker, keeping the same page open? And which browser are you seeing this behavior with?

[2021-04-07 21:41] jeffposnick commented on #2786
Hello @denieler—how are those new releases detected? Are you calling `wb.update()` after each deployment of a new service worker, keeping the same page open? And which browser are you seeing this behavior with?

[2021-04-07 21:42] jeffposnick commented on #2713
I'm closing this for now, but if you have any info to share to address the above questions, please let us know and we can revisit.

[2021-04-07 21:42] #2713 closed, assigned to nobody

[2021-04-07 21:51] chrishoage commented on #2786
@jeffposnick has this functionality been released? The commit referenced (https://github.com/GoogleChrome/workbox/commit/2426f72aef51ec78c0a750c79d6615ee0aee3fe3) has not been included in any tag as far as I can tell, and npm is still at version 6.1.2

I had figured the fix for `controlling` not firing on an external worker had not been released yet?

[2021-04-07 21:57] jeffposnick commented on #2786
Oh, that's an excellent point—you're correct in that we need to cut a new release for that and a couple of other bug-fix PRs that have been merged recently.

CC: @tropicadri

[2021-04-08 06:21] denieler commented on #2786
@jeffposnick yes, I've tried to reproduce it with `wb.update()` and with
[code]

However, I've tried this with the version `5.1.4` of `workbox-window` and it looks like the behaviour is very similar.

The first time it calls `waiting` event callback with `isUpdate: true`,
the second time it calls `externalwaiting` event callback with `isUpdate: undefined`
and the third time it stops calling `waiti

[2021-04-08 23:51] tatethurston commented on #2749
Also encountering this issue on iOS Safari 12-14.x with next-pwa `v5.1.4`. Looks like `dynamicStartUrl` became the default in https://github.com/shadowwalker/next-pwa/commit/c6416215bcdec6cc49540259f47863f14ea8f39d

[2021-04-09 06:41] rupertdance commented on #2800
Thanks so much Jeff, great explanation and very helpful there!  If you'd indulge a follow up question it'd really help me out! I'm attempting to cache selected pages before returning the `return await fetch(request);` but having some trouble, perhaps as the documents are using then() and its conflicting with the `await`? Is there a clean way to cache the pages as do the return there?

[2021-04-09 13:12] jeffposnick commented on #2800
If you're using `Promise`-based APIs, it's technically possible to mix `.then()` and `await`, and every once in a while there is actually a good reason to do so. But in general, you'll find it much easier to write your code if you exclusive use `await` (or if you exclusively use `.then()`).

Guides [like this one](https://developer.mozilla.org/en-US/docs/Learn/JavaScript/Asynchronous/Async_await)

[2021-04-09 13:21] jeffposnick commented on #2786
We're looking to get Workbox v6.1.3 out with these related changes early next week. Please give it another try then.

[2021-04-09 14:59] denieler commented on #2786
thank you @jeffposnick! definitely looking forward 🙇

[2021-04-09 20:41] shadowwalker opened #2809 "Make range requests available in GenerateSW webpack plugin"
Can we make range requests plugins available in GenerateSW config here?

https://developers.google.com/web/tools/workbox/reference-docs/latest/module-workbox-build#.RuntimeCachingEntry

[2021-04-12 10:00] radulle opened #2810 "worbox-window: 'externalwaiting' missing in 'keyof WorkboxEventMap' in typescipt definitions"
**Library Affected**:
*workbox-window*

**Issue or Feature Request Description**:
'externalwaiting' missing in 'keyof WorkboxEventMap' in typescipt definitions

![image](https://user-images.githubusercontent.com/46776951/114375126-a7e93900-9b84-11eb-98d9-d7910d57dc1f.png)

[2021-04-12 15:34] jeffposnick commented on #2810
Hello @radulle!

Assuming you're using Workbox v6, this is to be expected, as the "external" flavors of `workbox-window` events [were removed](https://developers.google.com/web/tools/workbox/guides/migrations/migrate-from-v5#removal_of_external_events_in_favor_of_an_isexternal_property).

[2021-04-12 15:34] #2810 closed, assigned to nobody

[2021-04-12 17:38] radulle commented on #2810
@jeffposnick than [advanced recepies](https://developers.google.com/web/tools/workbox/guides/advanced-recipes) on dev.google are missleading. Also "Offer a page reload for users" when accepted in one tab will not work properly in other tabs (they will not get reloaded).

[2021-04-12 18:13] jeffposnick commented on #2810
Apologies; there's a PR out to address that (https://github.com/google/WebFundamentals/pull/9316), but some of the folks responsible for reviewing it have been out of the office. It'll be taken care of in the near future!

[2021-04-12 19:03] jeffposnick opened #2812 "Consider adding a --skipTests flag to gulp publish"
Sometimes a `gulp publish` can fail due to reasons that have nothing to do with our test suite. If that happens, doing a re-publish will require running the full test suite again, which can easily take ~15 minutes.

We should consider adding a `--skipTests`  flag to `gulp publish` to make it easy to skip the test suite for those situations.

(Alternatively, we could consider skipping the full set

[2021-04-12 19:54] #2812 closed, assigned to nobody

[2021-04-12 23:00] jeffposnick commented on #2809
Hello @shadowwalker!

Yes, I think we should be able to include support for it in `GenerateSW` in a future release.

[2021-04-12 23:02] jeffposnick commented on #2786
Workbox v6.1.5 (which ended up being the next release's version number) includes the changes in #2787. Hopefully things work as expected for you with that version.

[2021-04-13 09:01] yinxiL opened #2815 "Regular Expression DoS vulnerability"
We are working on the [ReDoS](https://www.owasp.org/index.php/Regular_expression_Denial_of_Service_-_ReDoS) problem and detected 1 vulnerable regex(es) from your repository.

1: `['|"]workbox:((?:[^:'"]*|:)*)['|"]` in workbox/test/all/node/test-package.js

Please try the following:

	var pattern = "['|\"]workbox:((?:[^:'\"]*|:)*)['|\"]";
	var input = "\"workbox:\b\b\b\b\b\b\b\b\b\b\b\b\b\b\b\b\b\b

[2021-04-13 11:51] denieler commented on #2786
Hey, @jeffposnick 👋 Thank you for the release you've guys made 💪 it almost fixed the issue I've reported, however it looks like there is still something wrong there happening. I don't yet have a confident way to reproduce it, but I will try and report later if will find something.

It looks like the `waiting` listener sometimes got "stuck" and stop being executed after multiple postponing updates

[2021-04-13 18:29] jeffposnick commented on #2729
Adding [this report](https://stackoverflow.com/questions/67060410/workbox-webpack-plugins-injectmanifest-only-works-with-devtoolmodulefilenamete) to the thread to consolidate issues; we will try to address them all via some changes to `workbox-webpack-plugin`.

[2021-04-14 14:19] jeffposnick opened #2816 ""Generate offline fallback SW" mode in build tools"
Many developers would like to use a service worker for an offline fallback page, e.g. to [meet the minimal offline support criteria](https://developer.chrome.com/blog/improved-pwa-offline-detection/), without integrating Workbox's build tools into their site deployment, which is otherwise necessary in order to use precaching-based solutions.

We can automate this process in Workbox's build tools v

[2021-04-14 14:59] tomayac commented on #2816
Especially like the idea that this would take care of sub resources. 👍

[2021-04-14 15:55] joshkel opened #2817 "Multiple controlling events"
**Library Affected**: workbox-window

**Browser & Platform**: Tested on Chrome 89.0.4389.114 for Mac

**Issue or Feature Request Description**:

I'm having trouble getting the Workbox class's `controlling` event to work like I expect - or maybe I'm misunderstanding how it's expected to work.

Scenario: I want my page to reload on update, [like in the recipe](https://developers.google.com/web/tools

[2021-04-14 16:52] dumbmatter opened #2818 "Better dev logging for Vary: headers"
Welcome! Please use this template for reporting bugs or requesting features. For questions about using Workbox, the best place to ask is Stack Overflow, tagged with `[workbox]`: https://stackoverflow.com/questions/ask?tags=workbox

**Library Affected**:
workbox-expiration

**Browser & Platform**:
Chrome 89.0.4389.114 (Official Build) (64-bit) on Linux

**Issue or Feature Request Description**:

I

[2021-04-15 01:53] tropicadri opened #2819 "Clear gitHead attribute added by lerna when published failed"
**Library Affected**:
*all packages*

**Issue or Feature Request Description**:
During the last deploy lerna added an attribute to each package.json, apparently this can happen if the publish doesn't finish correctly. We need to clean that attribute from all the our package.json. See more details here: https://github.com/lerna/lerna/issues/1880

[2021-04-15 18:03] artola commented on #1663
Someone can help me with `GenerateSW` config for video on iOS?

This is my config and the video is working in all browsers, except iOS Safari (without SW the video plays well, or just excluding with ` exclude: [/\.mp4$/]`.

[code]

[2021-04-15 18:06] artola opened #2821 "Video on iOS Safari not playing"
**Library Affected**:
*workbox v6.1.5*

**Browser & Platform**:
*iOS Safari (only)*

**Issue or Feature Request Description**:
This is my config and the video is working in all browsers, except iOS Safari (without SW the video plays well, or just excluding with `exclude: [/\.mp4$/]`.

[code]

*When reporting bugs, please include relevant JavaScript Console logs and links to public URLs at which th

[2021-04-15 18:23] #2819 closed, assigned to nobody

[2021-04-15 18:35] jeffposnick commented on #2821
Hello @artola!

There's guidance at https://developers.google.com/web/tools/workbox/guides/advanced-recipes#cached-av for playing back cached media. It's a little more involved than what you could accomplish with your basic `GenerateSW` config that uses the default precaching behavior.

Switching to using the `InjectManifest` plugin along with a [handwritten `swSrc`](https://developers.google.com/

[2021-04-15 18:35] #2821 closed, assigned to nobody

[2021-04-15 21:34] jeffposnick commented on #2818
This is the same issue as https://github.com/GoogleChrome/workbox/issues/2768#issuecomment-793109906

The URL in your example, https://play.basketball-gm.com/gen/real-player-data-13819e3692.json, has the `Vary: User-Agent` response header set.

Improvements to Chrome DevTools's cache viewer interface [were recently implemented](https://bugs.chromium.org/p/chromium/issues/detail?id=1186049), and th

[2021-04-17 14:36] jeffposnick opened #2822 "Workbox DevTools extension"
Moving over some ideas from a [Twitter conversation](https://twitter.com/adityapunjani/status/1383235796468060160) with @adityapunjani:

I could imagine visualizing the current precache manifest along with any pending updates while there's a new service worker installing might also be useful.

I am not familiar with what goes into building a Chrome DevTools extension, so I would definitely need to

[2021-04-17 14:42] jeffposnick commented on #2818
I was thinking more about this, and while the DevTools enhancements are nice, we could probably help folks by adding in dev-only logging when a `Response` with a `Vary:` header is written to the cache. (Due to the way `ExpirationPlugin` works, I don't think the logging would made sense there, so it would probably need to be a more general thing, inside of `workbox-strategies`'s `StrategyHandler`.)

[2021-04-20 22:58] jeffposnick commented on #2817
Thanks for catching that, @joshkel. My supposition is that

https://github.com/GoogleChrome/workbox/blob/ef225a97db24eaf29d9e320f52286408669c7a7e/packages/workbox-window/src/Workbox.ts#L191-L192

was written with `{once:true}` originally, as an optimizing for when there was no concept of "external" `controlling` events in `workbox-window`, and that we should have removed the `{once: true}` when we

[2021-04-23 04:17] NicoSerranoP opened #2824 "OfflineFallback Recipe is not working"
**Library Affected**:
*workbox*

**Browser & Platform**:
*Chrome, Firefox, Edge*

**Issue or Feature Request Description**:

The Offline Fallback recipe described here: [https://developers.google.com/web/tools/workbox/modules/workbox-recipes#offline_fallback](https://developers.google.com/web/tools/workbox/modules/workbox-recipes#offline_fallback) is not working. I am writing a simple service work

[2021-04-23 16:04] FossPrime commented on #2513
Removing the old guides entirely is a really poor experience for people on Vue/React who can't update easily as Workbox is preconfigured and the benefit of going rogue does not outweigh the benefit of having the framework preconfigure things.

I'll rely on unofficial documentation for now, then upgrade once the new versions of the frameworks and components come out of alpha

[2021-04-23 17:42] jeffposnick commented on #2513
The old guides are still available for each major version, by swapping out `/latest/` for `/v4/`, etc. in our URLs:

E.g. https://developers.google.com/web/tools/workbox/reference-docs/v4/

(We don't retain every minor version release of the generated docs, just the "last" one for a given major version.)

Prior to making this change, if you were to search for, e.g., `workbox-routing`, you'd likely

[2021-04-23 19:21] jeffposnick commented on #2404
Given that I'm unable to reproduce, and have shared a working configuration, and that we've released new updates to `workbox-webpack-plugin` since the original report, I'm going to close this issue.

If you're still running into this issue with the current version of `workbox-webpack-plugin`, sharing a configuration that can reproduce the issue would be appreciated, and we can reopen at that point

[2021-04-23 19:21] #2404 closed

[2021-04-23 19:23] jeffposnick commented on #2178
I'm closing this issue for now, as I don't believe there are any reports of this recurring with Workbox v6.x.

[2021-04-23 19:23] #2178 closed

[2021-04-23 19:31] jeffposnick commented on #2148
Hey All—I want to revisit this, as we last left things with me being unable to reproduce the issue, as `fetchDidFail` was being invoked with the underlying `POST` request, meaning that it should be re-queued by `workbox-background-sync`.

If someone could put together a sample along the lines of https://gist.github.com/jeffposnick/9f46f36d3ccb39324e47f3433fe881a6 where the `POST` request never mak

[2021-04-23 19:31] #2148 closed

[2021-04-23 20:00] raftx24 opened #2825 "Precache event"
Welcome! Please use this template for reporting bugs or requesting features. For questions about using Workbox, the best place to ask is Stack Overflow, tagged with `[workbox]`: https://stackoverflow.com/questions/ask?tags=workbox

**Library Affected**:
*workbox*

**Browser & Platform**:
*all browsers*

**Issue or Feature Request Description**:
*Feature Request*

I need an event for precaching loa

[2021-04-23 20:23] jeffposnick commented on #2788
Regarding the first comment, yes, that makes sense, and sounds like a bug in our current implementation. I believe that we should resolve both `getSW()` and the `active` promise when there's already an active service worker associated with the current registration that isn't in control of the current page, i.e. because someone shift-reloaded. That matches the documented behavior, so I would catego

[2021-04-23 20:53] jeffposnick commented on #2825
I'm not sure that I understand that use case.

Normally, a developer would detect that precaching has fully completed because the service worker would progress from the `installing` stage to either `waiting` or `activating`.

If you wanted to detect when individual responses are added to the cache, you can do that via adding a `cacheDidUpdate` plugin, e.g. https://github.com/GoogleChrome/workbox/i

[2021-04-23 20:59] developdeez opened #2826 "WARNING in InjectManifest has been called multiple times"
Hi Im using the receipes accroding to the example and injecting my sw using the webpack plugin (InjectManifest).

Everything seems fine but I noticed this error (below). Should I be concerned? If so how do I fix it?

`WARNING in InjectManifest has been called multiple times, perhaps due to running webpack in --watch mode. The precache manifest generated after the first call may be inaccurate! Plea

[2021-04-24 01:38] FossPrime commented on #2513
I'm aware that the old API docs can be accessed with the URL trick, but **the guides and recipes** cannot. I got everything I needed piecemealing third party recipes and the API reference.

I learned SW by messing around in glitch. The Workbox API is very different, but really well thought out. Thanks!

[2021-04-24 02:02] jeffposnick commented on #2513
Yes, unfortunately we don't have a good model for dealing with incompatible changes to our unversioned guides and recipes. Apologies, but I'm glad you've been able to get up to speed!

[2021-04-24 02:04] jeffposnick commented on #2826
You don't have to be worried in general—especially if you're using `--watch` as the error message assumes. There's more context in #1790, but it's not something that would affect your production deployments.

[2021-04-24 02:04] #2826 closed, assigned to nobody

[2021-04-24 14:20] jackdbd commented on #2582
If I understood correctly, this module would allow operations ranging from deleting a single runtime cache, to a complete
storage dump, like the one Jake Archibald suggests in the section "Recovering after a successful hack" of this article. Correct?
https://jakearchibald.com/2018/when-packages-go-bad/

And I guess that what this module would be able to do should depend on the service worker's `sc

[2021-04-24 16:10] jackdbd commented on #2299
I had a similar problem with the `index.html` revision. I have a simple 11ty website hosted on Netlify, and I'm using workbox-build's `generateSW` to build the service worker.

If I am not mistaken, the Workbox `revision` string of an asset is a MD5 content hash of the asset itself.

The code that generates this hash should be in [get-string-hash.js](https://github.com/GoogleChrome/workbox/blob/v6

[2021-04-24 17:44] developdeez opened #2827 "Updating Cache on new changes"
I recently started using WorkBox reciepes.
I noticed when I cached 'everything' during development, it didn't update the site with my changes.
I thought WorkBox automatically updated to latest.
If it's supposed to this is a bug.

**My big concern is when I make an update to the app, users wont get it until the cache expires. The update could be critical.**

My setup:

[code]

[2021-04-25 16:32] raftx24 commented on #2825
@jeffposnick thanks they are enough.

[2021-04-25 16:32] #2825 closed, assigned to nobody

[2021-04-26 13:53] dflorey commented on #2178
I'm still getting this issue when using the `generateSW` plugin most likely due wrong config (?).
`    generateSW({
      swDest: 'dist/edit/sw.js',
      globDirectory: 'dist/',
      mode: "production",
      sourcemap: false,
      navigationPreload: true,
      navigateFallback: "/edit/index.html"
`
I think the plugin takes care to pre-caching the resouces (they show up in workbox-precache), b

[2021-04-26 14:00] dflorey opened #2828 "Rename workbox-precache when using generateSW plugin"
**Library Affected**:
*generateSW*

**Issue or Feature Request Description**:
Unable to find a way to rename the workbox-precache name (probably just needs some documentation). I tried with cacheName on top level, but got an error.

[2021-04-26 14:33] jeffposnick commented on #2178
@dflorey, you'll get that error if you're setting `navigationPreload: true` but not actually creating a route in `runtimeCaching` that will match your navigations and use a strategy like `NetworkFirst` or `NetworkOnly` to consume the navigation preload response.

The workaround would be to not set `navigationPreload: true` unless you explicitly use it via `runtimeCaching`.

[2021-04-26 14:37] jeffposnick commented on #2178
...and that is actually something that is supposed to be required, if you're using a recent version of `workbox-build`:

https://github.com/GoogleChrome/workbox/blob/2ddef47bbd8a44d3e1ce5e8b13598e022b0b99c7/packages/workbox-build/src/options/partials/generate.js#L82-L85

I'm kind of curious as to how you were able to use `navigationPreload` without `runtimeCaching`.

[2021-04-26 14:40] dflorey commented on #2178
All I need is a way to make the app available when offline. I've tried
https://github.com/GoogleChrome/workbox/issues/2816
but still get the error (and I guess I need navigationPreload for working offline?).
I've to say it's pretty hard to debug especially when using generateSW I guess.

[2021-04-26 14:41] jeffposnick commented on #2828
The `cacheId` configuration option will let you set a global cache prefix, which will apply to both the precaching cache name as well as the default runtime cache:

https://github.com/GoogleChrome/workbox/blob/2ddef47bbd8a44d3e1ce5e8b13598e022b0b99c7/packages/workbox-build/src/templates/sw-template.js#L29

Beyond that, if you need further configuration options, [switching to `injectManifest`](http

[2021-04-26 14:41] #2828 closed, assigned to nobody

[2021-04-26 14:44] jeffposnick commented on #2178
The example in #2816 includes `runtimeCaching`:

[code]

Taking a step back, using navigation preload really isn't the same thing as making your app available when offline.

Could you open a new issue describing the application architecture you're using, along with your desired caching behavior (cache-first for your HTML, fallback to previously cached when offline, a custom offline page, etc.)? Ap

[2021-04-26 14:50] dflorey commented on #2178
Thanks a lot for taking the time. I'll open a different issue describing my app.

[2021-04-26 14:52] jeffposnick commented on #2827
If you're serving _all_ of your site's assets via `workbox-precaching`, then the "[How workbox-precaching Works](https://developers.google.com/web/tools/workbox/modules/workbox-precaching#how_workbox-precaching_works)" information is relevant; it explains how the service worker updates previously precached URLs after each re-deployment, but will not actually use those updated resources until after

[2021-04-26 15:11] jeffposnick commented on #2299
@jackdbd, this has always been one of the more difficult things to explain in our docs, but `workbox-build` does support that use case out of the box, via the [`templatedURLs` option](https://developers.google.com/web/tools/workbox/reference-docs/latest/module-workbox-build#:~:text=service%20worker%20files.-,templatedURLs,-Optional).

You provide an object whose keys are the "real" URLs that shoul

[2021-04-26 15:11] #2299 closed

[2021-04-26 16:16] Snugug commented on #2827
As Jeff says, if you're precaching all of your site's content they'll be picked up by `workbox-precaching`, not recipes, so they'll follow the precaching flow described in the link. If, instead, you'd like to download new versions of assets when your service worker installs and still have your strategies be in charge of incremental updates, Workbox Recipe's [warm strategy cache](https://developers

[2021-04-26 19:08] developdeez commented on #2827
Ok. So Im working on a PWA so I assume I would set it to ignore the js files. And staticResourceCache would take care of caching my js and scss, while updating if there's a new version.

Latest attept based on answers:

[code]

Is this correct to get the newest js and styles of my PWA. Also do you recommend adding html for PWAs? Any example of best practice using WorkBox in a PWA, possibly?

[2021-04-26 23:16] cssagogo opened #2829 "Workbox 6: ReferenceError: swDest is not defined"
Getting ReferenceError: swDest is not defined when trying to run Workbox 6...

https://stackoverflow.com/questions/67274743/workbox-6-referenceerror-swdest-is-not-defined

[2021-04-27 05:20] jitendra1607 commented on #2396
i am also having the same issue. Any proper solution?

[2021-04-27 12:56] jeffposnick commented on #2829
(This was answered at https://stackoverflow.com/a/67275374/385997)

[2021-04-27 12:56] #2829 closed, assigned to nobody

[2021-04-27 18:09] jeffposnick commented on #2827
After chatting with @Snugug, I think some of the confusion might be that the "[Quick Usage](https://developers.google.com/web/tools/workbox/modules/workbox-recipes#quick_usage)" section of the `workbox-recipes` guide currently tells folks to use `precacheAndRoute()`, but not everyone actually needs to use `workbox-precaching` as part of their service worker, and it can be confusing as to how preca

[2021-04-27 19:47] jeffposnick commented on #2824
You're correct, in that the current documentation will steer folks towards a service worker that sets up the global `catch` handler, but that handler never gets used unless there's a matching route that intercepts the (potentially failing) request.

Using `setDefaultHandler()` to establish a network-only route that's used by default should be enough to get the code working, without fundamentally c

[2021-04-27 20:46] jeffposnick commented on #2815
This is a test-only harness script that isn't passed user-defined input. I don't believe it needs to be addressed.

[2021-04-27 20:46] #2815 closed, assigned to nobody

[2021-04-27 20:47] jeffposnick commented on #2780
I don't believe that this issue describes anything actionable that we can address, so I'm going to close it. If you are still having problems and can provide more details about reproducing, please let us know and we can revisit.

[2021-04-27 20:47] #2780 closed, assigned to nobody

[2021-04-27 20:53] NicoSerranoP commented on #2824
Thank you @jeffposnick it is working now! :)

[2021-04-27 20:56] jeffposnick commented on #2695
I realize now that it's not going to be possible to distinguish between times `precache()` or `precacheAndRoute()` are called in, e.g., a `message` handler vs. the times that they're called a subsequent time after the service worker has finished installation (which is not something we want to warn about). So I don't think there's anything we can do here.

[2021-04-27 20:56] #2695 closed, assigned to nobody

[2021-04-27 20:57] jeffposnick commented on #2824
Great! Sorry again for the frustration.

[2021-04-27 20:57] #2824 closed, assigned to jeffposnick

[2021-04-27 21:22] developdeez commented on #2827
@jeffposnick that causes an error when building (Im using webpack):
`ERROR in Can't find self.__WB_MANIFEST in your SW source.`

[2021-04-27 22:32] #2701 closed, assigned to nobody

[2021-04-27 23:48] jeffposnick commented on #2827
You'd get that error if you're using the `InjectManifest` plugin, which attempts to locate `self.__WB_MANIFEST` in your service worker file and replace it with a list of assets to precache.

If you're not using precaching anymore, you don't have to use `InjectManifest`. You can just add your service worker in as an entry and have webpack bundle it directly like any other entry.

There's more guida

[2021-04-27 23:48] #2827 closed, assigned to nobody

[2021-04-28 00:09] blephy commented on #1692
Yep, you can use this https://github.com/GoogleChrome/workbox/issues/2299#issuecomment-826918658

[2021-04-29 07:15] thepassle opened #2831 "[discussion] Resources for Multi Page Applications (MPA's)"
Hey gang,

This issue is more of a starting point for a discussion rather than an issue or feature request for the workbox library — I hope that's okay. (Although it may evolve into a feature request I suppose 😄 )

At [open-wc](https://open-wc.org/) and [modern web](https://modern-web.dev/), we build our documentation site with a meta-framework built on top of 11ty and rollup. Our documentation si

[2021-04-29 07:35] daKmoR commented on #2831
### To highlight another very confusing situation for our users:
1. User visits `open-wc.org`
2. User has a valid cache and it works offline
3. We publish a new blog post as `open-wc.org/blog/my-new-post/`
4. We share that link on twitter and people click it
5. New Users see the blog post
6. Existing users see a 404 page until the page reloads with the service worker (which can take up to 25 secon

[2021-04-29 07:42] PlopTheReal opened #2832 "How to cancel downloading media such as videos when navigating away"
**Library Affected**:
*workbox 5.1.4* (via next-offline 5.0.5)

**Browser & Platform**:
*Google Chrome  90.0.4430.85*

**Issue**:
When running without the service worker, fetch requests made by the browser are automatically canceled when the DOM element that contains a video or an image is removed from the DOM.
With the service worker running, it starts streaming the entire files even when you nav

[2021-04-29 10:08] joker-777 opened #2833 "Make __WB_MANIFEST not mandatory"
**Library Affected**:
workbox-webpack-plugin

**Browser & Platform**:
any

**Issue or Feature Request Description**:
We don't want to cache any assets yet. we just want to show an offline page for now. Can you make the existence of `__WB_MANIFEST` not mandatory?

[2021-04-29 12:28] alyssaruth commented on #2729
Just adding my voice to this, as we're seeing this error too. In our case, the error is introduced when upgrading workbox to version 5 (which happens automatically as part of bumping our version of `create-react-app`). We've followed the migration guidance and are left with this problem, which is blocking us from getting onto the latest `create-react-app` version.

[2021-04-29 13:24] jeffposnick commented on #2833
Hello @joker-777. If you don't want to precache anything, you don't need to use the `InjectManifest` plugin. The purpose of that plugin is, as the name suggests, to derive a precache manifest from your `webpack` assets and inject it into your service worker.

You can pick and choose the pieces of Workbox's runtime libraries that you want to use, and follow the guide at https://developers.google.co

[2021-04-29 13:56] jeffposnick commented on #2831
Hey @daKmoR and @thepassle—thanks for bringing this up. I've got a lot of thoughts on the matter 😄

First off, I agree that the current setup you have is not ideal—I don't think (pre)caching full HTML documents is a good pattern to follow, and whenever possible, recommend caching partial HTML templates and content separately. Unfortunately, many of these patterns require adopting a specific archit

[2021-04-29 14:35] joker-777 commented on #2833
@jeffposnick Thanks for your response. I was already thinking about adding the service-worker as another entry file but then it would be transpiled into a different destination folder which is not `public`. I liked on this plugin that it allowed me to specify a separate destination path only for service worker.

[2021-04-29 17:26] jeffposnick commented on #2833
I don't recommend using `InjectManifest` just for that side effect.

One alternative is to create multiple webpack compilations, each with different `path` configurations, and put the service worker entry in a separate compilation that writes to the desired location.

I believe this is referred to as "multi-compiler": https://github.com/webpack/webpack/blob/master/examples/multi-compiler/webpack.c

[2021-04-29 17:26] #2833 closed, assigned to nobody

[2021-04-29 17:57] konradjurk opened #2834 "Access denied error from CDN"
**Library Affected**:
workbox-sw 6.1.5, 6.1.2

**Issue**:

When importing workbox via:

[code]

... Chrome throws the following error:

[code]

Indeed, trying to retrieve the given URL https://storage.googleapis.com/workbox-cdn/releases/6.1.2/workbox-sw-f1fb93d893910bf40bf15ac76b8b0098.js shows an access denied error:

[code]

Am I doing anything wrong here?

[2021-04-29 18:14] konradjurk commented on #2834
Solved, sorry for the noise. I'm using the file `sw.js` to configure workbox and the ember build process seems to replace all occurences of `sw.js` with `sw-{hash}.js` during the build process. That included the import statement of `workbox-sw.js` inside `sw.js`, producing the illegal file name `workbox-sw-{hash-of-my-sw-js-file}.js` :D

[2021-04-29 18:14] #2834 closed, assigned to nobody

[2021-04-30 01:32] #2807 closed, assigned to nobody

[2021-05-03 06:57] joker-777 commented on #2833
@jeffposnick Thanks a lot for your recommendation. That's very helpful.

[2021-05-03 20:28] jeffposnick commented on #2832
Hello @PlopTheReal!

I'm not sure what the right solution to this is, and I'll try to dig around a bit more to see if there's something triggered by Workbox's logic, or if this is something that would be an issue for any site that used a service worker to intercept Range requests for video bytes.

Before I do that, could you clarify what you mean by "navigate away from the element"? Are you talkin

[2021-05-04 06:38] daKmoR commented on #2831
Thank you for your hints 🤗

It kicked our buts to take/offer more control over how the service worker system should be for our static sites.

We are now planning to use a very simple setup using workbox
https://github.com/modernweb-dev/rocket/blob/main/packages/cli/preset/_assets/service-worker.js
for all of them.

Right now we test it on [base system site](https://rocket.modern-web.dev/).

It's a

[2021-05-04 07:15] PlopTheReal commented on #2832
Thanks for such a feedback!
Sorry I was not clear, technically it's a SPA: `<video>` elements are removed / added to the DOM (same document). It's not a real navigation to a new URL.
So far the only solution that I was thinking about is excluding '.mp4' but it seems that my setup isn't working :
[code]

The video elements looks like the following:
[code]

To 'try' to force a cancel when the video

[2021-05-04 13:56] jeffposnick commented on #2831
Hey @daKmoR—glad the resources were useful.

The main concern that I have with the approach in that service worker is what I describe [here](https://developers.google.com/web/updates/2018/05/beyond-spa#:~:text=Don%27t%20cache%20full%20HTML):

I do agree that the proposed service worker logic it makes more sense that precaching dozens of HTML document and then re-downloading them all each time one

[2021-05-04 14:05] redalpha01 commented on #1767
To those that come in the future and want to work @jeffposnick's solution but it doesn't see m to use the right cache, use the runtime cache mentioned here instead :
https://developers.google.com/web/tools/workbox/guides/advanced-recipes#warm_the_runtime_cache

[2021-05-04 22:23] daKmoR commented on #2831
awesome thank you 🤗

yes I see this as a starting point that we can build upon 👍
it's already improving the current situation - but yes it's not (yet) the final solution

more iterations will be needed - we now have at least a plan and a it seems feasible way of implementing it 🤗

[2021-05-05 10:28] hyfydistro opened #2835 "Repeated description on a different property and a misleading type"
**Library Affected**:
workbox-build.

**Browser & Platform**:
Version 1.23.75 Chromium: 90.0.4430.93 (Official Build) (32-bit)

**Issue or Feature Request Description**:
At Google Web, Node Packages > workbox-build > RuntimeCachingEntry, under "Properties" > Options > Parameter. I found the following properties questionable.

- `precacheFallback.fallbackURL`
It describe its syntax should be a `num

[2021-05-05 13:37] jeffposnick commented on #2835
Thanks—this is fixed in https://github.com/GoogleChrome/workbox/commit/d67213424fb5f57cb0342c2a0dec5d257c21230c, which will be merged into the main `v6` branch in the near future.

[2021-05-05 13:37] #2835 closed, assigned to nobody

[2021-05-05 15:33] Philocybin4k opened #2836 "072495"

[2021-05-05 16:52] #2836 closed, assigned to nobody

[2021-05-07 16:43] micahjon commented on #2528
I appreciate the simplicity of downloading assets one by one and the goal of reducing impact on other network requests, but it would be nice if this was configurable.

For instance, imagine you're pre-caching some data (e.g. API request) that isn't available at the edge in your user's region. Now retrieving that data from the other side of the world holds up all your other assets at the edge from

[2021-05-09 03:45] developdeez commented on #2827
@jeffposnick I made that change now I get
`TypeError: ServiceWorker script at https://foxtailapp.com/service-worker.js for scope https://foxtailapp.com/ encountered an error during installation.`
Where would I find this error or is this because Im not using the Inject now

[2021-05-09 10:23] hyfydistro opened #2839 "Could we see default values on properties in the Documentation?"
**Library Affected**:
*workbox-sw, workbox-build, etc.*

**Browser & Platform**:
*E.g. Google Chrome v51.0.1 for Android, or "all browsers".*

**Issue or Feature Request Description**:
Could we see default values on properties in the Documentation? I think it would be easier to read the documentation with an example below it too.

At [runtimeCachingEntry](https://developers.google.com/web/tools/wo

[2021-05-10 18:57] jeffposnick commented on #2839
I do apologize about the lack of default values—that data is in our JSDocs, but the current JSDoc to HTML generation pipeline does not carry them over. Our current plan is to revise our HTML generation process, using the TypeScript definitions as the source of truth, and as part of that process, it's a priority to ensure that the default values are reflected in the generation docs.

CC: @tropicadr

[2021-05-10 21:58] jeffposnick commented on #2827
You should see a description of what the underlying error is in the Chrome console, around the same place as that log message. Unfortunately, the log message you shared is very generic and it's not clear from it what's causing it.

[2021-05-10 22:46] tropicadri commented on #2273
Given that we were unable to reproduce  and that we've released new updates to workbox-webpack-plugin since the original report, I'm going to close this issue.

If you're still running into this issue with the current version of workbox-webpack-plugin, sharing a configuration that can reproduce the issue would be appreciated, and we can reopen at that point.

[2021-05-10 22:49] tropicadri commented on #2494
Given the workaround, and that we've released new updates to Workbox, I'm going to close this issue.

If you're still running into this issue with the current version we can reopen at that point.

[2021-05-10 22:49] #2494 closed, assigned to nobody

[2021-05-11 01:01] tropicadri commented on #2520
Since v6 `getCacheKeyForUrl` is in PrecacheController and `PrecacheRoute` was added to match incoming requests and handle fetching responses from the precache.

I'm closing this issue if there is still missing functionality we can revisit and reopen.

[2021-05-11 01:01] #2520 closed, assigned to philipwalton

[2021-05-11 14:40] jcharnley commented on #2649
testing out workbox-webpack-plugin v6.0.0-alpha.3 still creates the auto folder were the manifests lay. Am gonna try and build a custom index.html and see if that works. I cannot downgrade to webpack v4 either as too many things break

[2021-05-11 14:44] jeffposnick commented on #2649
`workbox-webpack-plugin` is currently up to the `v6.1.5` release, and should be fully compatible with `webpack` v5.x.

I'd recommend trying that instead of `v6.0.0-alpha.3`

[2021-05-11 17:48] jcharnley commented on #2649
ok thanks ill give that a try now. just a question, what is the auto folder all about and why cant I see it in my dist build, my CDN cannot reach it, wasnt sure id I need to make a origin/path for it...

[2021-05-11 17:52] jeffposnick commented on #2649
`auto` was something that `webpack` v5 set the `publicPath` to by default, but the production releases of `workbox-webpack-plugin` should override that default.

[2021-05-12 01:37] developdeez opened #2841 "Script errors when using reciepes"
Hi Im using Workbox by simply adding the reciepes from the docs to my src folder. It seems to cause an error in scripts:
![image](https://user-images.githubusercontent.com/13059525/117905407-f83cdf00-b287-11eb-8eff-215a1c3002d2.png)

Any ideas?

[2021-05-13 06:23] sofiaps opened #2842 "Improve examples for using custom onSync callback in Queue class"
**Library Affected**:
workbox-core

**Browser & Platform**:
all browsers

**Issue or Feature Request Description**:
registerRoute does not work after service worker has been activated, although clientsClaim has been called.

**My service-worker.ts file:**
[code]

**My main.ts file:**

[code]

  **and my package-json:**

[code]

I also tried calling self.clients.claim() in the activated event liste

[2021-05-13 14:52] StephanBijzitter opened #2843 "Deprecate mode in the InjectManifest config"
**Library Affected**:
workbox-webpack-plugin (latest at time of writing)

**Browser & Platform**:
Irrelevant

**Issue or Feature Request Description**:
The documentation for `mode` states:

I'm currently trying to debug why Safari appears to bypass the service worker fetch handlers on some devices (as reported by customers and reproduced by us), so I wanted to keep the logging enabled for the prod

[2021-05-13 14:56] StephanBijzitter commented on #2843
Not sure if that makes this a bug report or a feature request, but it comes down to:
- if I set `mode: 'development'` using the `InjectManifest` function, I expect to keep the logs in the final bundle, even if `NODE_ENV` is set to `'production'`

[2021-05-14 08:48] bhumit070 commented on #2062
SO like how do i use environment variables in my service worker file

[2021-05-14 14:59] jeffposnick commented on #2062
You should be able to pass in whichever `webpack` plugin you want to use to perform the replacement to the `plugins` option of `InjectManifest`.

[2021-05-14 15:03] bhumit070 commented on #2062
How to use it without webpack 🙂🙂

[2021-05-14 15:07] jeffposnick commented on #2841
If you're seeing that error, it's because your `/service-worker.js` file is not being served with the appropriate `application/javascript` `Content-Type`, and instead is using a `text/html`.

That's probably because your web server responds to any top-level URL with the HTML for your single-page app. You need to configure your web server to properly serve the top-level service worker JavaScript fi

[2021-05-14 15:07] #2841 closed, assigned to nobody

[2021-05-14 15:09] jeffposnick commented on #2062
You'll need some sort of build tool to replace the environment variable placeholders with their actual values. If you don't use `webpack`, you'll have to use something else, most likely something from https://bundlers.tooling.report/

[2021-05-14 16:09] bhumit070 commented on #2062
Ok will look into it

[2021-05-14 19:52] jeffposnick commented on #2842
Hello @sofiaps!

I don't see anything that jumps out to me based on the code you shared or the description of the problem.

Do you have an instance of your service worker and web app deployed at a public URL that I could try out? I'd like to take a closer look and [debug further](https://jeffy.info/2021/03/11/debugging-sw-request.html). If you can't share the URL publicly, you can DM `@jeffposnick

[2021-05-15 13:11] sofiaps commented on #2842
Hello @jeffposnick and thanks for the prompt response!

It seems that the first API response was being received before the service worker registration was through. I am registering the service worker using APP_INITIALIZER, so that I make sure the service worker has been registered before anything else and it seems to be working as expected now.

[2021-05-15 16:55] sofiaps commented on #2842
Hi again @jeffposnick ! I have another question that came up while trying to register PUT/POST calls.... Is there any way to get the body sent in the handlerCallbak function, so that I could manage the failed requests on network errors? Thanks in advance! :)

[2021-05-17 03:11] #2801 closed, assigned to tropicadri

[2021-05-17 07:55] SimonSiefke opened #2844 "Mismatch between Docs and Types"
**Issue or Feature Request Description**:
In the docs StaleWhileRevalidate is called without options https://developers.google.com/web/tools/workbox/guides/advanced-recipes#comprehensive_fallbacks

[code]

But using it without options gives a type checking error with the TypeScript compiler:

![required-options](https://user-images.githubusercontent.com/23744935/118450274-4f153f00-b6f4-11eb-820c-9

[2021-05-17 08:27] SimonSiefke opened #2845 "Another mismatch between Docs and Types"
**Issue or Feature Request Description**:
In the Docs, setCatchHandler is called like this https://developers.google.com/web/tools/workbox/guides/advanced-recipes

[code]

This gives a type checking error with the TypeScript compiler, because `Response.error()` is not of type `Promise<Response>`:

![type-checking-error-2](https://user-images.githubusercontent.com/23744935/118454628-df558300-b6f8-1

[2021-05-17 17:21] jeffposnick commented on #2845
Thanks—we'll update the docs to use an `async` function there, as we don't want to change the underlying `RouteHandlerCallback` type.

[2021-05-17 18:12] jeffposnick commented on #2842
If you'd like to access the body of a failed `POST`/`PUT` request in the event of a failure, you need to [`clone()`](https://developer.mozilla.org/en-US/docs/Web/API/Request/clone) the request before it's sent to the network. After it's already been sent to the network, the body is considered "consumed" and can't be accessed again.

The easiest way to do this using Workbox would probably be via a

[2021-05-17 20:11] jeffposnick commented on #2729
I've been able to reproduce this but only when `devtool : 'eval-cheap-source-map'` **and** `optimization.minimize: true` are both set. That doesn't strike me as a particularly _common_ configuration, but at the same time, I'd like to get it working.

[2021-05-17 22:40] #2845 closed, assigned to nobody

[2021-05-18 08:03] sofiaps commented on #2842
Thanks again @jeffposnick  for your great support! For now, a simple request.clone().json() has worked for me in order to retrieve the body in my registered routes for the POST/PUT calls, but I am about to re-write my service worker using custom strategies and plugins, so they will for sure come in handy. :+1: :slightly_smiling_face:

[2021-05-19 17:21] kb-coder opened #2848 "addEventListener fetch gives Typescript errors"
**Library Affected**:
*workbox-window v6.1.5*

**Issue or Feature Request Description**:
When trying to add a listener to the workbox instance for `fetch`, I get Typescript error "Argument of type 'fetch' is not assignable to parameter of type 'keyof WorkboxEventMap' ts(2345)"
![image](https://user-images.githubusercontent.com/11179251/118855902-2c695e80-b88b-11eb-8e61-b189e45726a1.png)

[code]

[2021-05-21 12:57] dman777 commented on #671
@jeffposnick  This is really useful. I did not see this in documentation. Did I miss it? I only saw something of the lines where the header check had to be in the workbox strategy.

[code]

[2021-05-21 13:18] cawa-93 commented on #2809
I'm looking forward to it! And not just for the webpack.

[2021-05-21 13:51] dman777 commented on #671
Also, just to mention the previous example will not work because of the `get` method on header. Instead, you need to do this:

[code]

[2021-05-21 14:06] jeffposnick commented on #671
Hello @dman777!

There are a couple of places in which the docs provide examples of using a custom `matchCallback` function, along with the parameters that it's passed:

- https://developers.google.com/web/tools/workbox/guides/route-requests#matching_a_route_with_a_callback_function
- https://developers.google.com/web/tools/workbox/modules/workbox-routing#matching_and_handling_in_routes

Apologies

[2021-05-21 17:50] chandlervdw commented on #2786
I'm also seeing this issue on `6.1.5` with the `waiting` event. It feels inconsistent as to whether the correct `isExternal` and `isUpdate` values are emitted with this event. My scenario:

[code]

It’s hard to reproduce but it doesn't seem to matter if the tab is in the background or not and generally just feels inconsistent. I feel like I'm super close with this but this really feels like an iss

[2021-05-23 20:29] Debdut opened #2849 "Audio Not Getting Cached When Using Audio API"
**Library Affected**:
*workbox-strategies* *workbox-range-requests* *workbox-cacheable-response*

**Browser & Platform**:
"all browsers"

**Issue or Feature Request Description**:

I'm loading the audio using Audio API in the `main.js`
[code]

The `service-worker.js` CacheFirst strategy with RangeRequests Plugin
[code]

Every file expect the audio files are getting cached, but the `audio-cache` as

[2021-05-24 02:14] mswysocki opened #2850 "Events for multiple "external" service worker updates are not triggered"
Welcome! Please use this template for reporting bugs or requesting features. For questions about using Workbox, the best place to ask is Stack Overflow, tagged with `[workbox]`: https://stackoverflow.com/questions/ask?tags=workbox

**Library Affected**:
workbox-window

**Browser & Platform**:
all browsers

**Issue or Feature Request Description**: When there are multiple stacked new service worker

[2021-05-24 18:59] ErfanMHDi opened #2851 "Convert "Import" to "Const" when using WorkBox from Local"
**Library Affected**:
*workbox-navigation-preload*

**Browser & Platform**:
*"all browsers"*

**Issue or Feature Request Description**:
Hello, im trying to use workbox from my localhost instead of CDN, i understand that in this case i have to use and convert "Import" to "Const" as it's been mentioned here: [LINK](https://developers.google.com/web/tools/workbox/modules/workbox-sw#convert_code_using

[2021-05-24 21:50] jeffposnick commented on #2849
Hello @Debdut!

I believe the issue is that when Chrome (and maybe other browsers; I tested in Chrome) executes `new Audio('/music/sample.mp3')`, that ends up firing off a `Range: bytes=0-`  request for the MP3, and the response is an HTTP 206. A 206 (i.e. partial response) can't be directly added to the Cache Storage API.

You can see more detail about what's going on if you use Workbox's develop

[2021-05-24 21:50] #2849 closed, assigned to nobody

[2021-05-24 21:56] #2844 closed, assigned to nobody

[2021-05-24 23:06] jeffposnick commented on #2851
The equivalent statement would be

[code]

[2021-05-24 23:06] #2851 closed, assigned to nobody

[2021-05-24 23:24] ErfanMHDi commented on #2851
@jeffposnick Thanks for your reply,
but i think there is a still problem with `navigationPreload.enable();`
i'm trying to use this code [here](https://developers.google.com/web/tools/workbox/guides/advanced-recipes#provide_a_fallback_response_to_a_route).
and here is my Service worker file content:
[code]

the result is this error in console:
`Uncaught TypeError: Cannot read property 'enable' of u

[2021-05-24 23:25] jeffposnick commented on #2850
Thanks—conceptually this is the same type of change as what's described at https://github.com/GoogleChrome/workbox/issues/2817 for `controlling`—we can make both those changes.

[2021-05-25 13:44] jeffposnick commented on #2851
Your code currently has:

[code]

You should switch this to:

[code]

[2021-05-25 14:24] ErfanMHDi commented on #2851
Thank you for your response,
That fixes the problem.

The last thing i'm trying to fix here is having a css with some fonts and png file in offline page.
using this content in service worker file loads the offline page but it fails to load it's assets.
of course it was mentioned in the documents that

 but what if offline page need an image or some fonts inside?
i've tried precache the assets of o

[2021-05-25 17:08] jeffposnick commented on #2851
I don't think that's the right approach for what you describe. Using `workbox-precaching` implies that you have a build process set up to generate the list of assets to precache, and that doesn't appear to be the case based on your example.

The easiest approach would probably be to follow the examples from [`workbox-recipes`](https://developers.google.com/web/tools/workbox/modules/workbox-recipes

[2021-05-25 18:19] jeffposnick commented on #2848
Hello @kb-coder!

`fetch` events are only fired within the `ServiceWorkerGlobalScope`, i.e. within the code that lives in your service worker file. The `workbox-window` library contains code that is meant to run in the `window` global scope, i.e. within the context of your main page.

To handle `fetch` events, make sure the code is in the service worker file that you register (`service-worker.js`

[2021-05-25 18:19] #2848 closed, assigned to nobody

[2021-05-25 18:47] ErfanMHDi commented on #2851
Thank you for your answer.
it's perfectly working,
except there is an error for logo.png looks like it's something wrong with file type and cacheFirst strategy

`workbox Network request for '/wp-assets/store/offline/logo.png' threw an error. TypeError: Failed to fetch`

and another thing is that `offlineFallback()` is creating its own cache named as "workbox-offline-fallback" with only offline/ind

[2021-05-25 19:27] jeffposnick commented on #2851
Are you getting the `workbox Network request for '/wp-assets/store/offline/logo.png' threw an error. TypeError: Failed to fetch` message during service worker installation, or after installation, when you attempt to simulate what happens when you're offline?

I also recommend testing this in a fresh Chrome Incognito window so that you can ensure you're not see the after effects of the previous att

[2021-05-25 19:33] ErfanMHDi commented on #2851
it happens when i reload the page in offline mode,
im doing all in Chrome Incognito every time.

this is WorkBox Log when first page loads:
[code]

and this when page goes offline and i hit refresh :

[code]
![Screen Shot 2021-05-26 at 00 05 53](https://user-images.githubusercontent.com/74935638/119558031-2bb65800-bdb6-11eb-88b7-5b3c04a97532.png)

[2021-05-26 06:22] sofiaps commented on #2842
Hello @jeffposnick! May I ask another question? I use the Queue class to store and replay tge failed requests, but I would like to send a message from the service worker to the app, once the replay is done, so that I could do some more actions on the client side, but I haven't found a way to do that.. Is it possible to post a message from the service worker (outside the 'message' event-listener) ,

[2021-05-26 13:40] as1hyper opened #2852 "title"
comment

[2021-05-26 13:41] #2852 closed, assigned to nobody

[2021-05-26 13:52] tschoppe opened #2853 "Workbox Webpack Plugin InjectManifest compilation error"
Welcome! Please use this template for reporting bugs or requesting features. For questions about using Workbox, the best place to ask is Stack Overflow, tagged with `[workbox]`: https://stackoverflow.com/questions/ask?tags=workbox

**Library Affected**:
*Workbox Webpack Plugin, InjectManifest*

**Browser & Platform**:
*N/A*

**Issue or Feature Request Description**:
*Moving issue to Github from ht

[2021-05-26 18:44] jeffposnick commented on #2842
Does the answer at https://stackoverflow.com/a/67537862/385997 help?

If so, we can get that example moved into the docs so that it's easier to find.

[2021-05-26 20:18] sofiaps commented on #2842
@jeffposnick Unfortunately, I'm not able to use 'self' to get the clients. I've tried it before, since it is mentioned in the docs that we should now use self.skipWaiting() instead of just skipWaiting, but I keep getting an error, since in order for my service worker to properly work, I have it declared as `declare const self: ServiceWorkerGlobalScope & ServiceWorker;`. I'm not sure how 'self' sho

[2021-05-26 21:07] jeffposnick commented on #2842
Inside of a service worker script, you should use

[code]

(and also make sure the [`'webworker'` `lib` is included](https://github.com/microsoft/TypeScript/issues/14877#issuecomment-493729050) in your TypeScript compilation).

You should not use `& ServiceWorker` to combine the types, as `self` is not an instance of `ServiceWorker`.

[2021-05-26 21:24] sofiaps commented on #2842
@jeffposnick yes, sorry! I changed it recently to try something out, but even when declaring it as ServiceWorkerGlobalScope, I cannot access clients (or skipWaiting() ) this way unfortunately.
![image](https://user-images.githubusercontent.com/31549943/119733323-a5fbe080-be79-11eb-9d5a-1de8ea468ac0.png)

Also, I cannot use 'webworker' in my lib file, since when I do, I get errors on building
![ima

[2021-05-26 21:38] jeffposnick commented on #2842
I am not 100% sure how to help you, as we're wading into TypeScript setup issues that are unrelated to Workbox.

But I can tell you that `skipWaiting()` is defined as part of the `ServiceWorkerGlobalScope` [inside of the `webworker` TypeScript library](https://github.com/microsoft/TypeScript/blob/3e29397d74c0dc2ad4c9df2fec6c1a41eb404c2a/lib/lib.webworker.d.ts#L2955), so if you're not using `webwor

[2021-05-26 21:57] sofiaps commented on #2842
@jeffposnick I tried by including webworker lib in a different tsconfig.json in my service-worker folder, which extends the main one, and also by triple slash reference... It just doesn't want to work :smile: Anyway, thanks for your help, I really appreciate it!

[2021-05-27 00:19] rosslavery commented on #2053
@sourybunny were you able to find a solution here? We're encountering identical behaviour here.

[2021-05-28 13:56] tony-scio opened #2854 "Consider `durability: relaxed` for indexeddb writes"
**Library Affected**:
*workbox-expiration*

**Browser & Platform**:
Chrome

**Issue or Feature Request Description**:
Hi, I'm a former chrome engineer working on a web app now. We've studied some chrome traces of our app where the expiration cache timestamps writes get backed up and cause significant contention. This bottleneck can be alleviated by setting `durability: relaxed` on any `readwrite`

[2021-05-29 11:59] ErfanMHDi commented on #2851
it looks like the png file is loading without any problem if i refresh the page.
when i open a page in an Incognito mode in chrome and then go offline after the initial load the png file gets the above error and won't show up.
but if i open an Incognito window and open a page and then reload the page (or visit another page of domain) and then go offline then the png file is loading without any pro

[2021-05-31 17:10] budarin opened #2855 "Trusted types support in workbox-window's register()"
**Library Affected**:
workbox--window

**Browser & Platform**:
Any browser with support of CSP 2.0

**Issue or Feature Request Description**:
When installing the CSP policy "require-trusted-types-for 'script'" - the security error occurs in the browser

![image](https://user-images.githubusercontent.com/8055157/120225058-3c028300-c24d-11eb-9b5d-bc39eb0fd214.png)

Usefull link : [Prevent DOM-based

[2021-06-01 02:53] weiwei-lin opened #2856 "Support matching URI-encoded requests against the precache manifest"
**Library Affected**:
workbox-webpack-plugin

**Browser & Platform**:
all browsers

**Issue or Feature Request Description**:
the generated service worker doesn't not encode file names of the cached files.
For instance, the plugin will generate the following code.

[code]

However, when webpack-html-plugin will generate the following html.
[code]
Note that the `@` is encoded to `%40`.

As a result

[2021-06-01 19:05] jeffposnick commented on #2851
There might be a `Vary:` header that's causing your explicit caching during `install` to not match the runtime request, but for the request to match when the cache is populated at runtime? It's rather hard to say without actually accessing the site with Chrome's DevTools open an taking a look at the actual network traffic, unfortunately.

[2021-06-01 19:24] jeffposnick commented on #2856
Hmm, I'm not really sure that encoding the `@` in URLs automatically is the right thing for Workbox to do. My understanding is that URLs with unencoded `@` in them are widely supported by browsers, and introducing a breaking change is something we'd like to avoid. (I also think that there would be issues around, e.g., whether to encode a ` ` as `%20` or `+`, since both are valid.)

What you could

[2021-06-01 19:39] jeffposnick commented on #2855
Hello @budarin—thanks for reaching out about this.

Is that code you shared from `workbox-window`, or is it your own code for registering a service worker? It's transpiled, so I can't tell for sure.

I'm not 100% clear on the implications of using trusted types and how Workbox could help with the `TrustedScriptURL` requirement, but I'll escalate the question to some of my teammates that work in th

[2021-06-01 19:45] jeffposnick commented on #2855
...actually, does doing something like what's outlined in Example 2 of https://w3c.github.io/webappsec-trusted-types/dist/spec/#policies-hdr help, where you pass in an object with a `createScriptURL()` function to `createPolicy()`, and the return value of passing your service worker's URL to that `createScriptURL()` is then passed to `navigator.serviceWorker.register()`? From reading the spec, tha

[2021-06-01 20:10] budarin commented on #2855
Hi!

It's transpiled workbox code

I 've got what you're talking about.
I thought you'd implement this on the library side - user should pass in constructor a trusted type object

Well, okay - this option solves the problem!
Thanks for the tip

[2021-06-01 20:11] budarin commented on #2855
I don't know if I should close this discussion - will you still think about the implementation?

[2021-06-01 21:26] budarin commented on #2855
I implemented a simple policy for verifying that a URL belongs to the same domain as the document is, which can also be implemented in a package

[code]
but its not a protection - its a simple stub to mute security errors

[2021-06-01 22:41] jeffposnick commented on #2855
Okay, let's leave this open to track the feature request of having `workbox-window` handle that for you.

But, for what it's worth, `navigator.serviceWorker.register()` already has a built-in same-origin check, and will throw and fail registration if you pass in a cross-origin URL. (This behavior is part of the service worker specification.) So I'm not sure how useful this security policy actually

[2021-06-01 22:45] budarin commented on #2855
but we must do it because browsers are complaining on security error! :(

as a workaround google suggest to write a default  policy in an app https://web.dev/trusted-types/#use-a-default-policy
this may be mentioned in docs

[2021-06-01 22:49] jeffposnick commented on #2853
Thanks for transferring this over. My current guess is that there's another `webpack` plugin that might be causing `compilation.fileDepdencies` to be overwritten with an unexpected value.

Can you provide as much of you`webpack` configuration as you feel comfortable sharing, but in particular, the `plugins` setting?

[2021-06-01 23:11] jeffposnick commented on #2854
Thanks for bringing this up—@tropicadri is now our resident IndexedDB expert, and I'll let her weigh in.

[2021-06-02 02:29] weiwei-lin commented on #2856
I fixed it with npm-patch. So strictly speaking, this is not blocking me.

I think your concern about backward compatibility makes sense. However, given `@` is a reserved character in
https://datatracker.ietf.org/doc/html/rfc3986#section-2.2
Is it possible that we at least add some documentation or show a warning when `@` is in the precached filename?
A lot of npm packages are prefixed with `@` an

[2021-06-02 12:48] tschoppe commented on #2853
Sure thing here is my plugins array:
[code]
Let me know if I can provide more info! Thanks a lot!

[2021-06-02 15:11] #2729 closed, assigned to nobody

[2021-06-02 15:50] justinbayctxs opened #2858 "Allow on-demand precaching for cache recovery"
**Library Affected**:
workbox-precaching

**Browser & Platform**:
All

**Issue or Feature Request Description**:
In Workbox v6, PrecacheController changed such that precaching can only be performed during certain SW lifecycle events. This unfortunately breaks a use case that was supported in v5 and before -- cache recovery. If SW cache entries are removed by a browser while the SW stays active, of

[2021-06-02 17:52] jeffposnick commented on #2853
Okay, so there are definitely a few potential culprits there.

Is there any chance that you could start with disabling all of them except for `InjectManifest`, confirm that the build succeeds (hopefully!), and then re-add them one at a time until the build fails? That would presumably result in figuring out whether one of the plugins is messing with `compilation.fileDepdencies`.

[2021-06-02 18:07] sofiaps commented on #2842
Forgot to mention that I found a workaround, in case anyone faces the same problem in Angular. I ended up calling the function mentioned at https://stackoverflow.com/a/67537862/385997  from a JS file (created along with the respective typings)

[2021-06-02 18:16] crubier opened #2859 "webpackCompilationPlugins option of InjectManifest seems to be ignored"
**Library Affected**:
workbox-build

**Browser & Platform**:
NA

**Issue or Feature Request Description**:

webpackCompilationPlugins Option of InjectManifest seems to be totally ignored in my setup.

When looking at the codebase of workbox, the name of this option is only mentionned in 4 places: twice in docs, once in input validation, and once in a test file, nowhere is it used in actual code.

[2021-06-02 18:55] jeffposnick commented on #2856
Thinking more about it, it's probably "safe" (from a semver perspective) if we added something like that custom `urlManipulation` function that called `decodeURIComponent()` to run as part of the default logic in `workbox-precaching` that tries to find equivalent cache entries for an incoming URL:

https://github.com/GoogleChrome/workbox/blob/f6fb94a9d8b922fdcb758129d94e6d2a959f2167/packages/workb

[2021-06-02 20:16] tschoppe commented on #2853
Your hunch was absolutely correct as the vue-builder-webpack-plugin was still assuming that `compilation.fileDependencies` was an array not a `SortableSet`. I'm going to close this one out now. Thanks for the help!

[2021-06-02 20:16] #2853 closed, assigned to nobody

[2021-06-02 21:28] jeffposnick commented on #2858
A few random thoughts:

- Do you know why your users end up with inconsistent precaches? Is this due to users explicitly messing around with things in DevTools, or does it happen organically for some reason? FWIW, the methods I'm aware of for clearing site storage will also unregister any service workers.

- Performing operations each time the service worker starts up (which is I'm assuming what y

[2021-06-02 21:34] jeffposnick commented on #2859
Hello @crubier—the option is used in https://github.com/GoogleChrome/workbox/blob/f6fb94a9d8b922fdcb758129d94e6d2a959f2167/packages/workbox-webpack-plugin/src/inject-manifest.js#L205-L209

Working with `webpack`'s child compiler is [notoriously difficult](https://medium.com/@prateekbh/my-experience-writing-a-webpacks-child-compiler-plugin-a1237c175947), but my understanding is that the code above

[2021-06-02 22:31] crubier commented on #2859
Hi @jeffposnick ,

Ok well, sorry, I think I found a bug in Github code search feature then aha.

My Github code search gave these result, but indeed the code you are talking about exists (and should have been visible in the search result I expect)

<img width="798" alt="Screenshot 2021-06-02 at 23 28 52" src="https://user-images.githubusercontent.com/2954572/120560337-70677200-c3fa-11eb-9dd4-0806

[2021-06-03 14:05] jeffposnick commented on #2859
If you have any follow-ups, feel free to post details. I'm going to close this for now, though.

[2021-06-03 14:05] #2859 closed, assigned to nobody

[2021-06-03 16:28] justinbayctxs commented on #2858
Thanks for the considered response! There are some interesting things here.

1.  So far exposure to this problem is quite limited, but it was _not_ due to explicit end-user action. My understanding is that browsers are free to nuke "origin storage" as they see fit, so on low-spec devices presumably some kind of quota restriction may be hit more often. Critically, I'm not aware of anything tying a

[2021-06-03 18:37] jeffposnick commented on #2858
Sure—this is a complex space where some browser environments might not always behave as expected, so it's good to talk it through.

1. The service worker spec isn't normative about this, but [this](https://w3c.github.io/ServiceWorker/#privacy) and [this](https://w3c.github.io/ServiceWorker/#cache-lifetimes) section cover some of the recommended behaviors for browsers—basically, service worker regi

[2021-06-04 22:10] ivandotv opened #2860 "Typescript confusion"
**Library Affected**:
workbox-window
**Browser & Platform**:
"all browsers".*

**Issue or Feature Request Description**:
I'm trying to use `workbox-window` in Typescript however,  the package doesn't export any event type declarations?

[code]
`WorkboxLifecycleWaitingEvent` is not exported from `workbox-window`

[2021-06-05 02:23] budarin commented on #2855
Without changes in WorkBox - I can not apply trusted type security on my site.
You should provide a constructor with custom TrustedType policy object parameter with createScriptURL.

[code]

https://webappsec.dev/assets/pub/Google_IO-Securing_Web_Apps_with_Modern_Platform_Features.pdf

[2021-06-07 14:08] hyfydistro commented on #2839
Oh, I am not a season TypeScript user. I hope in the future, you find an alternative to update the doc besides the exclusivity with TypeScript.

Thank you.

[2021-06-07 16:54] samgermain opened #2861 "No matching service worker detected. You may need to reload the page, or check that the scope of the service worker for the current page encloses the scope and start URL from the manifest."
**Library Affected**:
*webpack-workbox-plugin*

**Browser & Platform**:
*Google Chrome*

I include `new GenerateSW(),` in the plugins of my webpack config but receive this warning when running lighthouse on my website

[code]

I can see that the service worker is running in my console, because it prints

LOG from GenerateSW
<i> The service worker at service-worker.js will precache
<i>         107

[2021-06-10 20:53] tropicadri commented on #2602
Progress we are down to 184 errors and 114 warnings :) just from removing the dbWrapper code. I'll work this week in removing the errors and hopefully we can upgrade eslint version soon

[2021-06-10 21:46] jeffposnick commented on #2602
Thanks! As an FYI, I needed to upgrade to `typescript: ^4.1.5` as part of the `workbox-build` migration (which is still dragging on...):

https://github.com/GoogleChrome/workbox/blob/1f780ac0dd1fc632f769dfcf72ca9b6030a91391/package.json#L117

There were a few compilation issues that I had to clean up after that switch related to the custom `Deferred` class.

[2021-06-10 21:51] jeffposnick commented on #2861
Hello @samgermain!

You might be seeing that error if you are registering a service worker that is located at a subpath of your site (e.g. `/static/service-worker.js`), rather than served at a top-level URL (e.g. `/service-worker.js`). Your service worker needs to be registered as `/service-worker.js` in order to control the `start_url` of `/`, as per the service worker [scoping rules](https://dev

[2021-06-10 21:51] #2861 closed, assigned to nobody

[2021-06-11 00:16] jeffposnick commented on #2860
Hello!

While it's true that `WorkboxLifecycleWaitingEvent` is not explicitly exported, that's because you should never need to instantiate an instance from your own code. You're passed an instance of `WorkboxLifecycleWaitingEvent` via the `waiting` callback as the first parameter, and there's no need to explicitly state its type like you're doing in the code snippet—TypeScript knows that it's a `