[2021-06-11 06:35] samgermain commented on #2861
@jeffposnick
So then I would change `new GenerateSW()` to something like `new GenerateSW({scope: "/"})`?

[2021-06-11 07:33] EtienneBruines opened #2862 "StaleWhileRevalidate ignores ETag and Last-Modified"
**Library Affected**:
`workbox-strategies:6.1.5`

https://developers.google.com/web/tools/workbox/reference-docs/latest/module-workbox-strategies.StaleWhileRevalidate

**Browser & Platform**:
Probably all browsers, but tested on Chrome 93.

**Issue or Feature Request Description**:
The cached response sent from the service worker to the browser is correct. But, when the service worker then tries t

[2021-06-11 10:09] ivandotv commented on #2860
That is true, only if you create the function inline.
[code]
The first case is very common.
Also , ESLint can give you an error there, depending on your configuration.

This is very limiting

[2021-06-11 16:00] jeffposnick commented on #2839
Closing this in favor of https://github.com/GoogleChrome/workbox/issues/2711, which I realize is already tracking the same thing.

[2021-06-11 16:00] #2839 closed, assigned to nobody

[2021-06-11 16:01] alyssaruth commented on #2729
Just trying to get my head around what's happened here - it looks to me like a fix has been implemented in `workbox` itself (merged ready for V6), rather than in the `workbox-webpack-plugin`. Is that correct? Are any changes anticipated to `workbox-webpack-plugin` around this issue?

We're in a position where the upgrade we want to do ties us to workbox v5, meaning we'd be unable to get the fix in

[2021-06-11 18:27] jeffposnick commented on #2729
Hello @alexburlton-sonocent—all of the Workbox libraries are released concurrently ([using `lerna`](https://github.com/lerna/lerna)) and have matching version numbers.

The fix for this issue was merged into the `v6` branch and will go live with the planned `v6.2.0` release of all of the Workbox libraries (including `workbox-webpack-plugin`), which is unfortunately still blocked on a few more chan

[2021-06-11 18:28] jeffposnick commented on #2860
Fair enough! We can get those event definitions exported as part of an upcoming Workbox v6 release.

[2021-06-11 18:53] steven87vt commented on #1348
so i have this problem still. im using `"workbox-webpack-plugin": "^5.1.4"`

basically we have a vendor build and an app build:
[code]

everything is configured correctly i assume, because all of our vendor packages imports work like vuex, bootstrap, etc.

[code]

this is the manifest injected into the service worker:

[code]

i original attempted to use `config.additionalManifestEntries` but saw

[2021-06-11 18:58] jeffposnick commented on #2862
Hello @EtienneBruines—I'm surprised to hear that, as it's not the expected behavior.

I just want to clarify—both [`ETag`](https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/ETag) and [`Last-Modified`](https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Last-Modified) are HTTP response headers, not request headers, so I would not expect them to be present on any outgoing requests. Are

[2021-06-11 19:02] jeffposnick commented on #2861
This isn't directly related to options passed to `GenerateSW()` (though you _may_ need to configure [`modifyUrlPrefix`](https://developers.google.com/web/tools/workbox/reference-docs/latest/module-workbox-webpack-plugin.GenerateSW#:~:text=used-,modifyurlprefix,-Optional) to adjust the URL paths).

It's related to where you host your service worker file on your web server and the URL used when you

[2021-06-11 19:07] EtienneBruines commented on #2862
@jeffposnick Thank you for your reply.

You are correct, I meant that no `If-Match` or `If-Modified-Since` request headers were present, even though possible values for such headers were provided through the `ETag` and `Last-Modified`http response headers of previous requests.

No plugins were used.

[2021-06-11 19:14] EtienneBruines commented on #2862
Apparently, this was due to a browser bug. Updating the browser seemed to fix the issue.

Sorry for taking up your time! :see_no_evil: @jeffposnick

[2021-06-11 19:14] #2862 closed, assigned to nobody

[2021-06-11 19:46] atjn opened #2863 "Consider adding `maxUnusedSeconds` and `updateStale` to `ExpirationPlugin` config"
**Library Affected:**
*workbox-expiration*

**Issue or Feature Request Description:**
Hi there! Thanks for making this incredibly useful tool :)

I have a bunch of use cases where I need to either update a resource periodically or where I need to remove a resource that hasn't been used for a while. The `ExpirationPlugin` with `maxAgeSeconds` can _sort of_ solve these use cases, but it isn't elegan

[2021-06-11 20:20] samgermain commented on #2861
Where would I put this line of code?
I'm using React and webpack, and tried adding it to my main App.js file before anything is rendered

I still get the warning, but I also recceive a lot of

`workbox Router is responding to: /main/main.js`

in the console now from `logger.js`

-----------
Also I get these when I try to visit these domains

`Cannot GET /static/service_worker.js` and `Cannot GET /

[2021-06-11 20:40] jeffposnick commented on #2861
https://developers.google.com/web/fundamentals/primers/service-workers/registration has some general guidance about _when_ to call `navigator.serviceWorker.register('/service-worker.js');`. That would be translatable into code that would go in `App.js` in all likelihood.

If you're seeing a request for `/static/service_worker.js` then it means that something, like an older version of your site, mu

[2021-06-11 20:44] samgermain commented on #2861
I'm getting those cannot get when I specifically visit those urls

[2021-06-11 20:50] jeffposnick commented on #2861
I'd recommend making sure that you're explicitly including the `service-worker.js` file that's generated by `GenerateSW()` in your deployment process when you update your site's content, and ensure that it's located at the top-level of your content, so that it's reachable from `/service-worker.js`. Unfortunately, the specifics of how to do that are very dependent on what you're using for web hosti

[2021-06-11 21:13] samgermain commented on #2861
So it's working now, I'm a lot of lines of

`Router is responding to: /images/image.webp`

Is there a way to turn this off for images, I feel like it's too much

[2021-06-11 22:28] samgermain commented on #2861
How do I find out what the service-worker src is? I figure I can just specify them in my `WebpackPwaManifest`. I figure the dest woul d just be `service-worker.js`.

------------

I can visit /service-worker.js now by the way, I was getting the get before I added that code from earlier in this comment

[2021-06-11 22:43] samgermain commented on #2861
So when I add

[code]

to my App.js, then hot reload no longer works, the lighthouse warning still shows up, but the weird thing is that I'm able to still visit `localhost:8080/service-worker.js` and it shows the service worker

[2021-06-12 14:51] cawa-93 opened #2864 "There is no way to set `matchOptions` for `ExpirationPlugin` in generateSW"
**Library Affected**:
*workbox-build*, generateSW

**Browser & Platform**:
"all browsers"

**Issue or Feature Request Description**:
There is no way to set `matchOptions` for `ExpirationPlugin`.

I can only specify these options at a higher level:
[code]
But it will generate the following SW:
[code]
Note that `matchOptions` no are passed to the [`ExpirationPlugin`](https://developers.google.com/we

[2021-06-13 07:51] mattixiv opened #2866 "Production build of workbox-window used in development by default"
**Library Affected**:
workbox-window

**Browser & Platform**:
Webpack v5, maybe other bundlers

**Issue or Feature Request Description**:
One gets an impression when reading [this part](https://developers.google.com/web/tools/workbox/modules/workbox-window#avoiding_common_mistakes) of documentation that you get a nice situation report in the console regarding the service worker lifecycle by just i

[2021-06-16 15:49] steven87vt commented on #1348
So another update. Looking back at our git history has revealed back when we used version 4 we depended on the following `InjectManifest` plugin options:

https://developers.google.com/web/tools/workbox/reference-docs/latest/module-workbox-build#.injectManifest

Parameter | Type | Description
:--- | :---: | :---
globDirectory | string | The local directory you wish to match&nbsp;globPatterns&nbsp;

[2021-06-16 16:11] steven87vt commented on #1348
After having a coworker point out that the document link above clearly references `6.1.5` 🤦 I upgraded and repeated the build and still see the same error output.

[code]

`webpack-config.js`
[code]

`npm build output`
[code]

[2021-06-16 16:28] jeffposnick commented on #1348
Hello @steven87vt—regarding the supported options, they're documented for v6 at https://developers.google.com/web/tools/workbox/reference-docs/latest/module-workbox-webpack-plugin.InjectManifest#InjectManifest

(you were looking at the `workbox-build` docs, which support a different set of parameters).

The latest version of `workbox-webpack-plugin` differs from v4 in that it no longer uses `glob`

[2021-06-16 19:55] steven87vt commented on #1348
Awesome thanks for that clarification! So then `additionalManifestEntries` is the correct way forward with capturing that information?

If  `additionalManifestEntries` is the way to go my hash generation technique employed above (borrowing the hash from workbox) no longer works for me as  `packages/workbox-webpack-plugin/src/lib/get-asset-hash.js` changed to support webpack 5 (somewhere along the

[2021-06-17 13:41] #2477 closed, assigned to nobody

[2021-06-17 13:41] #2806 closed, assigned to nobody

[2021-06-17 14:54] jeffposnick commented on #2864
I just tested locally and confirmed that this should be resolved with #2865.

[2021-06-17 14:54] #2864 closed, assigned to nobody

[2021-06-17 19:40] jeffposnick commented on #2855
I took a closer look at this, and I can see how we can improve things from a TypeScript perspective, but I'm not sure that it is necessary to overload the constructor to explicitly support `trustedTypes`.

What I can do is modify the constructor so that it's clear that the parameter can either be a `string` or a `TrustedScriptURL`. From what I can tell, the "official" TypeScript runtime libraries

[2021-06-17 21:48] jeffposnick commented on #2855
Okay, I actually had to add in a few explicit `.toString()` calls, so there were some code changes in #2872

This seems to work, for anyone looking for an example:

[code]

[2021-06-18 05:14] SaravgiYash commented on #2266
@jeffposnick Sorry for asking here but can you please guide me on what should I do:
I am currently using workbox CDN for my sw.js
But now I want to move away from CDN, the project also uses webpack but when I try to use the workbox-webpack plugin it works but the generated file static/build/sw.js contain 10248 lines of code so is it normal? or I am missing something.
And How can I only precache fe

[2021-06-18 07:46] SaravgiYash commented on #2749
@jeffposnick I am using both `offlineFallback` for offline page and `warmStrategyCache` to fetch the URL without visiting the page and using runtime caching but even after the HTML for that URL is cached I am seeing the offline page.

[code]

[2021-06-21 13:08] budarin opened #2873 "Provide build-time variables for conditional code compilation"
We need to use wokbox in dev mode without some code and plugins, but now we are forced to maintain 2 copies of sw.js - development and production

It would be nice to have build time webpack's variables like `__PROD__` to have an ability conditional code compilation

[2021-06-21 15:56] jeffposnick commented on #2873
I'm not exactly sure how Workbox could help with this—we do take advantage of [`process.env.NODE_ENV` inside of our own codebase](https://developers.google.com/web/tools/workbox/guides/using-bundlers#configure_your_bundler_for_a_development_or_production_build) to conditionally include/omit debug logging if you're creating your own custom bundle based on our source code, but the assumption is that

[2021-06-21 19:13] budarin commented on #2873
`process.env.NODE_ENV` is usless in runtime when sw is in the browser )

Please, have a look at [define-plugin](https://webpack.js.org/plugins/define-plugin/)

it defines build time variables which are used with minimizers to add/remove code in transpiling and bundling stage

webpack.config
[code]
using in code
[code]

[2021-06-21 19:35] jeffposnick commented on #2873
Under the hood, `webpack` [automatically creates an instance of `DefinePlugin`](https://webpack.js.org/guides/production/#specify-the-mode) based on compilation `mode`, and that does the `process.env.NODE_ENV` replacement for you.

[code]

seems equivalent to

[code]

I'm sorry if I'm misunderstanding your request. What exactly would you like Workbox (presumably `workbox-webpack-plugin`) to do tha

[2021-06-21 19:37] #2483 closed, assigned to nobody

[2021-06-21 19:38] budarin commented on #2873
in browser when service worker starts there is no `process.env.NODE_ENV` (

[2021-06-21 19:43] jeffposnick commented on #2070
(The documentation changes, which this issue tracks, have already landed.)

[2021-06-21 19:43] #2070 closed

[2021-06-21 19:48] jeffposnick commented on #2873
Right, but the idea is that your build tool will replace `process.env.NODE_ENV` with the string `'production'` or `'development'` for you during compilation. `webpack` does this automatically. After this happens, the code at runtime looks like

[code]

If you're asking about how to use Workbox without any compilation step, then that's what [`workbox-sw` allows you to do](https://developers.google.

[2021-06-21 19:55] budarin commented on #2873
you are right!!

but the code
[code]
will stay in the sw code and when it run in a browser `process.env.NODE_ENV` will be undefined

but the code
[code]
 will be transpiled into
[code]

webpack does not automatically replace `process.env.NODE_ENV` with its value - only the plugin does replase variable with its value

[2021-06-21 20:14] budarin commented on #2873
I'm sorry - I was wrong!
Really, webpack replaces `process.env.NODE_ENV` for web project - I didn't know that

I usually develop backend on node.js and there webpack does not replace `process. env. NODE_ENV` with its value automatically-so I thought that it was everywhere :)

[2021-06-21 20:14] #2873 closed, assigned to nobody

[2021-06-21 21:40] jeffposnick commented on #2784
After thinking about this a bit more, I don't know that it's something we should change.

`GenerateSW` needs to create an "unbundled" service worker file somewhere on disk. This file's path is what ends up being included in the sourcemap. I don't think that this file should be written anywhere prominent, like in the current directory, as including it there would lead to more confusion.

One altern

[2021-06-21 21:40] #2784 closed, assigned to nobody

[2021-06-21 21:45] #1997 closed

[2021-06-21 21:48] jeffposnick commented on #2272
At this point, especially as we move away from `workbox-sw` for our "recommended" developer experience, I don't think we're going to add this back.

It can, to some extent, be replicated by using `process.env.NODE_ENV` inside of `if()` statements prior to bundling your service worker.

[2021-06-21 21:48] #2272 closed

[2021-06-22 13:35] GlauberF opened #2875 "Use separately Workbox Background Sync"
I have an application built in Angular and in this application I use the cache system provided by the @angular/pwa package.
However, I have a demand for the application that the standard angular package doesn't provide, which is Workbox Background Sync.

I would like to know if I can only use the `Workbox Background Sync` package, without having to use the Workbox configuration files, knowing that

[2021-06-22 19:19] jeffposnick commented on #2875
This should be possible, as there's nothing in `workbox-background-sync` that requires using Workbox's caching or routing methods. The main challenge would be to ensure that you can write your own `fetch` handler that executes before the `@angular/pwa`-provided one responds to incoming requests.

The general code to follow, [adapted from the docs](https://developers.google.com/web/tools/workbox/mo

[2021-06-22 19:19] #2875 closed, assigned to nobody

[2021-06-23 01:59] #2771 closed, assigned to nobody

[2021-06-23 02:02] #2860 closed, assigned to nobody

[2021-06-23 02:39] DmitryYuroskulov commented on #2521
Did you solve it? I have the same problem.

[2021-06-23 07:54] SaravgiYash commented on #2827
@jeffposnick I was wondering how can I warm the cache if the URL is something like this: `/people/{username}/books/want-to-read`?

[2021-06-23 13:12] Deepakkast commented on #2314
can someone please explain in detail m also getting issue in android webview
becasue of service worker webpage taking default user agent and because of this our custom user agent condition goes wrong
how can i solve this problem
Thanks in Advance

[2021-06-23 17:52] ivandotv opened #2876 "handlerDidError callback parameter is not exported"
**Library Affected**:
*workbox-precaching*

**Browser & Platform**:
"all browsers".*

**Issue or Feature Request Description**:
I'm trying to create a custom plugin, and I can't get a hold on on `HandlerDidErrorCallbackParam`
Other callback params are exported (`HandlerWillStartCallbackParam` etc..).

[code]
Although we could do object destructuring immediately
[code]

[2021-06-24 23:40] ErfanMHDi commented on #2851
okay, Thanks for your help, i've decided to remove the png logo from offline page after all,
so i just have some font, css and html file. and every thing works great thanks to the code snippet you kindly shared with me.
just one last question as i'm trying to organize storage cache in browser is there any way i can remove the cache folder named "workbox-offline-fallbacks" (it only has offline/inde

[2021-06-25 13:32] jeffposnick commented on #2851
I'm sorry, but if you're using `offlineFallback()`, that cache name isn't customizable.

[2021-06-25 17:02] ErfanMHDi commented on #2851
Okay, is there any other method to serve offline/index.html from its “Offline” cache folder ?!
i have done it like this without workBox:

[code]

it creates only one folder named ‘OfflinePage’ and saved the offline/index.html with fonts and css file and then serve the html file when there is no network!

Would you please help me recreate something like this with WorkBox ?

Thanks!

[2021-06-26 21:33] ErfanMHDi opened #2877 "Example of defining BlackList for Wordpress MultiSite"
**Library Affected**:
workbox-sw, workbox-navigation, workbox.routing

**Browser & Platform**:
All Browsers

**Issue or Feature Request Description**:
i'm using WorkBox without any Production Build, on my Wordpress MultiSite installation, and i wanted to define a black list to make service worker skip specific urls from any cache strategy defined in my sw.js file.
the urls i'm trying to define are

[2021-06-28 14:18] jeffposnick commented on #2877
I think roughly speaking this is the same request as https://github.com/GoogleChrome/workbox/issues/2330

We can prioritize implementing this in an upcoming release, and use that original issue for tracking.

[2021-06-28 14:18] #2877 closed, assigned to nobody

[2021-06-29 19:27] budarin opened #2878 "Issue with cacheDidUpdate plugin in workbox-precaching when other callbacks are also used"
In my application, I display a splash screen and wait for complete the installation of the service worker and only then display the content, because the service worker must manipulate the csp token for several tabs for all requests in the API.

On a slow connection, the installation of a service worker can take up to a minute. I would like to keep the user busy with the progress of caching element

[2021-06-29 20:11] GustavoSD opened #2879 "workbox-window "bad-precaching-response" error and "redundant" service worker"
**Library Affected**:
*workbox-window*

**Browser & Platform**:
*chromium-based browser*

**Issue or Feature Request Description**:
I'm having this problem only when trying to implement workbox-window. If I remove the implementation, the errors disappear.

My goal is to show the service worker version. For that, I followed the instructions from the docs, and despite I can get the service worker ve

[2021-06-29 21:06] jeffposnick commented on #2879
Constructing a `Workbox` instance and calling `wb.register()` while also calling `navigator.serviceWorker.register('...')` on another service worker is likely to confuse things; under the hood, `wb.register()` also calls `navigator.serviceWorker.register('...')`, so you're ending up with multiple registrations each time your page loads.

It seems like you really don't need `workbox-window` for you

[2021-06-29 21:06] #2879 closed, assigned to nobody

[2021-06-29 21:11] jeffposnick commented on #2878
Can you try it with

[code]

A plugin is an object that has callback functions with properties like `cacheDidUpdate`. (There might be multiple callbacks in a single plugin object.) Your code looks like it's just passing in a function named `cacheDidUpdate` as if it were a plugin object.

Hopefully that works. Otherwise, we can reopen the issue./

[2021-06-29 21:25] GustavoSD commented on #2879
Thanks for the quick response.
And what if I want to show the version somewhere in the DOM?

[2021-06-29 22:21] GustavoSD commented on #2879
@jeffposnick You gave me a huge hint

So I just removed the first sw registration and replaced the workbox-window implementation like this
[code]

I'm still implementing workbox-window, so the sw file remains the same.

Thanks so much for your help.

[2021-06-29 22:44] budarin commented on #2878
@jeffposnick

I'm sorry - it was my typo here - in fact, my code is as follows
[code]
but the result is the same

[2021-06-29 23:20] budarin opened #2880 "Option to precache multiple requests simultaneously"
If I always have to wait for the full installation of the service worker before the page is displayed, why not to tell the service worker that assets can be loaded not sequentially, but as quickly as possible-in parallel?

On a slow connection, we have to wait a very long time for a sequential download, even on http2

My case (slow 3g connection):
13 page assets are loaded in parallel in 5 seconds

[2021-06-30 21:35] roikoren755 commented on #2478
I see #2477 was merged recently 🎉.

Is there any work currently being done to migrate `workbox-webpack-plugin` to TypeScript?

If not, I can take a look at it over the weekend, get something started :)

I will say in advance, from my experience, `webpack` types are incompatible between v4 and v5, and migrating this package to TypeScript might mean having to pick one over the other...

[2021-07-01 14:07] budarin commented on #2878
I've found the problem:
If I use to
[code]
Everything works as expected
when I add some plugings
[code]
cacheDidUpdate doesnt work

Here is the code of the other plugins
[code]

[2021-07-01 17:01] jeffposnick commented on #2478
Thanks for following up on your initial offer!

Feel free to take a look, and even if you're not able to fully take this on, I'm happy to continue a WIP PR at some point.

The nuance of incompatible `webpack` v4 and v5 types is an interesting problem... I'm going to ask some colleagues if they have ever run into similar problems. I wonder if adding in explicit `devDependencies` on both `webpack-v4

[2021-07-01 17:33] jeffposnick commented on #2878
Hmmm... let me look into that more closely, as in general, you should be able to use various plugin callbacks together.

I'm glad you have a workaround for the time being, though.

[2021-07-01 17:41] jeffposnick commented on #2880
You can read some background on this new behavior introduced in Workbox v6 at https://github.com/GoogleChrome/workbox/issues/2528

Basically, we went from not imposing a limit at all—which would sometimes incur `net::ERR_INSUFFICIENT_RESOURCES` errors, and more often, would lead to critical resources loaded by the main page loading slowly when the service worker was registered too early—to a model

[2021-07-01 19:05] budarin commented on #2880
Our application is completely dependent on the service worker and therefore we have to wait for its full installation.

If the constructor of the service worker had an option that allows us to configure the loading of the service worker in parallel when it is necessary - this would save our application from a long 1st start as well as starts in iOS (it is famous for periodically completely deletin

[2021-07-01 19:12] jeffposnick commented on #2880
By the way, could you explain a bit more _why_ your web application can't do anything until after the service worker has fully installed? Service workers are normally intended to be progressive enhancement, and (if possible) it's usually best to treat them as such instead of as a hard requirement.

[2021-07-01 20:33] budarin commented on #2880
Our application protection against CSRF attacks is based on a [Double Submit Cookie](https://cheatsheetseries.owasp.org/cheatsheets/Cross-Site_Request_Forgery_Prevention_Cheat_Sheet.html#double-submit-cookie
) when a new token is issued to the client for each session in response header and session cookie.

Due to the fact that Google has made the so - called "session" cookies (cookies without expi

[2021-07-01 20:48] #2817 closed, assigned to nobody

[2021-07-01 21:35] budarin commented on #2880
While I was writing the answer , I came up with an idea - can I not pre-cache the resources before installing the service worker, but start **post install precaching** ?

can I do this with workbox?
this would solve my problem of a long start

But the question of the possibility of parallel loading of assets into the cache is still relevant for other cases :)

[2021-07-02 06:54] atjn commented on #2863
@jeffposnick any chance I could get some feedback on this?
I'm pretty sure I can make a PR for it, I've just been waiting to hear if you agree with me before I start working on it.

[2021-07-04 23:16] martynassimkevicius opened #2883 "The service worker navigation preload request was cancelled before 'preloadResponse' settled. If you intend to use 'preloadResponse', use waitUntil() or respondWith() to wait for the promise to settle."
**Background**
I am trying to use a navigationPreload and a cache data by `StaleWhileRevalidate` strategy for a navigation request.

**Problem**
I am getting an error message:
[code]
and cache is not updated

**Finding**
I think for this case `this.waitUntil` is missing to wait for a response
[code]
https://github.com/GoogleChrome/workbox/blob/0b5d9d816ab828d32021d05a808c63d17a28dbf1/packages/work

[2021-07-05 09:16] igdev116 commented on #2178
If you are working with React JS, seem like you forgot useEffect  :D

[2021-07-06 14:08] jscheel commented on #2879
So, I've run into this issue. I had one specific resource that was throwing an uncaught error when precaching, which would prevent the service worker from registering properly. I tracked it down to my ad blocker blocking the image (it was a twitter logo). it seems like failed requests should be caught, right?

[2021-07-06 14:19] jscheel commented on #2879
Specifically, this seems a bit of a trade-off here: https://github.com/GoogleChrome/workbox/blob/v6/packages/workbox-precaching/src/PrecacheStrategy.ts#L162. I understand wanting to throw an error if things are not working right, but shouldn't bad cache entries just fall back to using the network, instead of killing the install?

[2021-07-07 20:32] henryso opened #2884 "Request headers are lost by PrecacheCacheKeyPlugin"
**Library Affected**: workbox-precaching

**Browser & Platform**: all browsers

**Issue or Feature Request Description**:
The headers of the original request are lost when `PrecacheCacheKeyPlugin.cacheKeyWillBeUsed` creates  a `new Request(cacheKey)`.  If the headers are passed as the second argument as `new Request(cacheKey, { headers : request.headers })` then they would be preserved.  If the he

[2021-07-07 23:05] #2809 closed, assigned to nobody

[2021-07-07 23:24] #2855 closed, assigned to nobody

[2021-07-08 15:40] jeffposnick commented on #2880
"[The Offline Cookbook](https://web.dev/offline-cookbook/)" offers an overview of various ways a service worker can be used to cache and keep content up to date. Roughly speaking, each of the concepts in that cookbook map into something you can do with a combination of `workbox-routing` and `workbox-strategies`, or `workbox-precaching`.

It's definitely legitimate to create a service worker that d

[2021-07-08 21:01] jeffposnick commented on #2884
Thank you for reporting this!

[2021-07-08 21:05] jeffposnick commented on #2879
That would constitute a significant breaking change. The guarantee that `workbox-precaching` offers is that if `install` succeeds, everything in the precache manifest was successfully added to the cache.

That can definitely be less than ideal if it never completes due to an extension intercepting the request, but using runtime caching is an alternative if your web app doesn't actually need the re

[2021-07-08 23:14] budarin commented on #2880
I'm sorry, I'm not very clear - what are the reasons not to do the same precaching after activating the service worker?
why can't we use the same algorithm that is used during the installation, after activating the service worker?

using createHandlerBoundToURL, for a example, involves using a PrecacheController and a precache cache, which will be missing if your recommendation to use a runtime ca

[2021-07-09 09:20] AlexSirenko commented on #2404
Have the same problem, but it works if run webpack for bundling sw separately.

[2021-07-09 13:58] jeffposnick commented on #2880
The upgrade flow for `workbox-precaching`—where you have an atomic set of previously cached URLs, and you migrate to a new set, with one or more of those cached URLs updated—relies heavily on the service worker lifecycle. Specifically, we need to cache new entries during `install`, perform cleanup of no longer needed entries during `activate`, and use the transition from post-install `waiting` to

[2021-07-09 14:26] budarin commented on #2880
time passes and if earlier the worker service was more like a kind of feature for decoration, today it is a working tool and is already not optional for many applications, but mandatory.

I know a lot of developments where increased confidentiality and security are required (document management with digital signatures, crypto tokens, etc.), all of them actively use the service worker. But since th

[2021-07-09 14:59] jeffposnick commented on #2880
We don't have any plans to change the `workbox-precaching` behavior to detach it from the service worker `install` and `activate` events. Those service worker events and the service worker lifecycle in general were designed to be used in the way Workbox uses them.

Allowing developers to customize the number of simultaneous precaching requests that are in flight at any given time is still somethin

[2021-07-09 16:08] jeffposnick commented on #2883
Hello!

From reading your code, my guess is that you're seeing this with the second navigation route, the one using the `StaleWhileRevalidate` handler. Is that correct?

I believe that the you're seeing is logged by Chrome whenever `event.respondWith()` is called before the navigation preload promise settles, as this typically represents an error in your service worker's logic. In the case of usin

[2021-07-09 16:17] budarin commented on #2880
based on your experience, can you suggest an algorithm for supporting pre-caching assets for service worker versions in the runtime cache?

[2021-07-09 17:06] jeffposnick commented on #2880
It wouldn't be called precaching.

You can set up runtime caching routes to match whatever assets you want to be added to the cache, along the lines of what's described at https://developers.google.com/web/tools/workbox/guides/get-started#routing_and_caching_strategies

[2021-07-09 20:14] jeffposnick commented on #2863
Hello! Sorry for the delay in responding. I've needed to find some time to dedicate to reading through this proposal. Thanks for taking the time to write it up, and provide those motivating examples. I've got some questions before I'd recommend you proceed, though.

For reference purposes, the code that currently handles the bulk of the expiration logic is https://github.com/GoogleChrome/workbox/b

[2021-07-10 05:59] jscheel commented on #2879
@jeffposnick that's a good point. It's definitely a wonky situation when an extension is causing the problem. I'll have to look at the runtime caching. Thanks!

[2021-07-12 17:51] #2602 closed, assigned to tropicadri

[2021-07-12 18:57] jeffposnick commented on #2876
Thanks—that's an oversight which we'll fix in an upcoming release.

[2021-07-13 20:04] #2876 closed, assigned to nobody

[2021-07-14 00:08] cacko commented on #2632
sorry, did not realised the issue is closed. ignore me.

[2021-07-14 11:05] SaravgiYash opened #2887 "Workbox-webpack plugin doesn't work with webpack 5.42.1"
Welcome! Please use this template for reporting bugs or requesting features. For questions about using Workbox, the best place to ask is Stack Overflow, tagged with `[workbox]`: https://stackoverflow.com/questions/ask?tags=workbox

**Library Affected**:
*workbox-webpack-plugin*

**Browser & Platform**:
*All browser*

**Issue or Feature Request Description**:
I am getting an error when I run `make

[2021-07-14 13:37] jeffposnick commented on #2887
Generally speaking, `workbox-webpack-plugin` should be compatible with `webpack` v5.x. I will take a closer look at what's triggering that specific exception.

Taking a step back, I see that you're using the `InjectManifest` plugin with [`exclude: [/.*/]` configured](https://github.com/internetarchive/openlibrary/pull/5286/files#diff-1fb26bc12ac780c7ad7325730ed09fc4c2c3d757c276c3dacc44bfe20faf166f

[2021-07-14 21:03] jeffposnick commented on #2817
The fix is now deployed in a pre-release of Workbox v6.2.0: https://github.com/GoogleChrome/workbox/releases/tag/v6.2.0-alpha.0

[2021-07-14 21:04] jeffposnick commented on #2855
The fix is now deployed in a pre-release of Workbox v6.2.0: https://github.com/GoogleChrome/workbox/releases/tag/v6.2.0-alpha.0

[2021-07-14 21:04] jeffposnick commented on #2809
The feature is now deployed in a pre-release of Workbox v6.2.0: https://github.com/GoogleChrome/workbox/releases/tag/v6.2.0-alpha.0

[2021-07-14 21:04] jeffposnick commented on #2876
The fix is now deployed in a pre-release of Workbox v6.2.0: https://github.com/GoogleChrome/workbox/releases/tag/v6.2.0-alpha.0

[2021-07-14 21:05] jeffposnick commented on #2729
The fix is now deployed in a pre-release of Workbox v6.2.0: https://github.com/GoogleChrome/workbox/releases/tag/v6.2.0-alpha.0

[2021-07-14 21:05] jeffposnick commented on #2771
The feature is now deployed in a pre-release of Workbox v6.2.0: https://github.com/GoogleChrome/workbox/releases/tag/v6.2.0-alpha.0

[2021-07-14 21:05] jeffposnick commented on #2860
The fix is now deployed in a pre-release of Workbox v6.2.0: https://github.com/GoogleChrome/workbox/releases/tag/v6.2.0-alpha.0

[2021-07-14 21:22] jeffposnick opened #2888 "Cannot read property '_upgradeDb' of undefined in CacheTimestampsModel"
I'm running into an issue when testing out 6.2.0-alpha.0.

The service worker source is [here](https://github.com/jeffposnick/jeffy-info/blob/main/src/service-worker.ts), and I'm fairly sure it's code like

[code]

(which uses the `ExpirationPlugin`) that triggers the error.

You can reproduce the issue at https://jeffy-info--620test-3sv7hj0c.web.app after browsing around to a few pages—basically,

[2021-07-15 10:11] mayeedwin opened #2889 "Aggregate es6 modules in workbox cli and build"
For example;

[code]

by re-exporting modules in an `index.ts` in a root folder with many modules.

[2021-07-15 10:35] gempain opened #2891 "@hapi/joi is deprecated, use joi"
**Library Affected**:
- workbox-build

**Browser & Platform**:

**Issue or Feature Request Description**:
It would be good to use `joi` instead of `@hapi/joi` which is deprecated.

Keep up the great work !

[2021-07-15 13:48] jeffposnick commented on #2803
It's taking some time to figure out whether we will have a path forward for setting those headers on the Google Cloud Storage responses.

In the meantime, for Chrome 93-95, there's an [origin trial](https://github.com/GoogleChrome/OriginTrials/blob/gh-pages/developer-guide.md) of "Cross-Origin-Embedder-Policy: credentialless" that you could sign up for at https://developer.chrome.com/origintrials/

[2021-07-15 14:25] jeffposnick commented on #2891
We've migrated off of all flavors of `joi` in `v6.2.0-alpha.0`, and are instead using TypeScript type definitions to generate JSON schema and build time, which are then validated at runtime via https://ajv.js.org/

https://github.com/GoogleChrome/workbox/releases/tag/v6.2.0-alpha.0

[2021-07-15 14:25] #2891 closed, assigned to nobody

[2021-07-15 14:30] gempain commented on #2891
Awesome, thanks a lot for the feeback.

[2021-07-15 21:17] jeffposnick commented on #2889
Hello @mayeedwin!

The public entry point for `workbox-build` already does this: https://github.com/GoogleChrome/workbox/blob/v6/packages/workbox-build/src/index.ts

(There is no public interface for `workbox-cli`, as it's meant to be run from the command line and doesn't export anything.)

The modules within the `src/lib/` subfolders for each project are just imported internally, and are effectiv

[2021-07-15 21:55] GustavoSD opened #2892 "networkTimeoutSeconds: Slow loading of cached page."
**Library Affected**:
*workbox-sw*

**Browser & Platform**:
*chromium-based browser*

**Issue or Feature Request Description**:
When the network request fails to respond within the time set in networkTimeoutSeconds and then it fallbacks to the cache, the cached file loads slower than when the app is offline and returns the same file from the cache.  I'll explain better:

This is my SW file

[code]

[2021-07-15 23:28] donohoea opened #2893 "QueueOptions not exported in workbox-background-sync library"
**Library Affected**:
workbox-background-sync

**Browser & Platform**:
N/A

**Issue or Feature Request Description**:
*Your request here.*
QueueOptions is not exported from workbox-background-sync. I would like to make use of QueueOptions interface for strong typing while making use of the exported Queue class.

[2021-07-16 09:00] mayeedwin commented on #2889
For the `src/lib`, no significant perf or related improvement but it's more of a formatting improvement. Thanks.

[2021-07-16 15:37] jeffposnick commented on #2889
I'd prefer not to go ahead with this change, as we've just focused on exporting from and `index` for our public interfaces.

Thanks for the suggestion, though!

[2021-07-16 15:37] #2889 closed, assigned to nobody

[2021-07-17 01:15] atjn commented on #2863
Hello, and thank you for taking the time to look it over :)

It took me a little while to respond to your questions because I think I found a pretty big bug in the existing implementation, and it had me confused me for quite a while:

The documentation for what `maxAgeSeconds` does, is pretty vague:

...so I did some manual testing and came to the conclusion that it must be calculating the "age" a

[2021-07-17 01:51] atjn commented on #2863
The two `max*Seconds` options are in practice two separate functions that can run independently of each other, so none of them would "win" over the other. The original example I wrote, details how you can use them simultaneously.

The new `maxUnusedSeconds` option would need a separate timestamp in `IndexedDB`, maybe called `lastUsedTimestamp`.  It would also need its own [`updateTimestamp`](https

[2021-07-17 02:02] atjn commented on #2863
I personally don't see the problem. On the contrary, It makes a lot of sense to me because `ExpirationPlugin` already has all the correct `IndexedDB` calls, asynchronous cross-resource checks, and configuration options that would be needed to pull this feature off, whereas you would otherwise have to reimplement all of that somewhere else. It is also something you can pair with different strategie

[2021-07-17 02:06] atjn commented on #2863
Yeah, for my specific use case, that would probably be all I need to get going, but I am still leaning towards adding these things as native features in WorkBox because I really think they could seriously improve some very common use cases, such as the image loading example I described earlier.

[2021-07-17 02:10] atjn commented on #2863
Sorry for bombarding you with all this text, but it's just a really complex issue. I am happy to elaborate on any of it, and also wouldn't mind having a call with you, if it could help ease the process :)

[2021-07-17 09:40] mayeedwin commented on #2889
Sounds good! Thanks!

[2021-07-18 16:23] jeffposnick opened #2895 "Broadcast update just to the client that made the request"
The `BroadcastUpdatePlugin` currently posts a message to all open `window` clients: https://github.com/GoogleChrome/workbox/blob/46af63c1780955345c117c63c8c8dd54f3d40220/packages/workbox-broadcast-update/src/BroadcastCacheUpdate.ts#L175-L178

It would be nice to let developers opt-in to a mode in which the message was just sent to the `window` client that was associated with the `FetchEvent` that

[2021-07-19 00:07] samgermain commented on #2861
There was also an issue that when new updates for the site were pushed to netlify, a user's browser wouldn't show the updated website version unless their cache/history were cleared

I wouldn't say this issue is closed, this is still something that I want to figure out how to fix.
I created a [boiler plate](https://github.com/samgermain/react-boiler-plate) that I want to fix this issue on

I remov

[2021-07-19 12:42] jeffposnick commented on #2831
I'm interested to hear feedback on https://jeffy.info/2021/07/17/sw-rendering.html as a possible approach for you all to adopt.

[2021-07-19 13:08] SaravgiYash commented on #2887
@jeffposnick Thanks for the solution, in the future, we might need to precache, but for now, it's good.

I wondered if you could guide me on how I can cache our reading log page (https://openlibrary.org/people/yashs911/books/want-to-read) without an initial visit and also keep using the Network First Strategy. I went through numerous StackOverflow questions and also tried using [Warm strategy cach

[2021-07-19 22:39] tropicadri commented on #2583
Closing this issue since there hasn't been activity for a while, if there is still a problem, re-open with any new information.

[2021-07-19 22:39] #2583 closed, assigned to nobody

[2021-07-20 00:11] #2888 closed, assigned to tropicadri

[2021-07-20 00:18] #2893 closed, assigned to nobody

[2021-07-21 18:00] jeffposnick commented on #2887
Hello @Yashs911—I'm not exactly sure I understand your use case, but in general, if you have multiple URLs and you want to consider them equivalent from the perspective of a runtime strategy, you could accomplish that by implement a [Workbox plugin](https://developers.google.com/web/tools/workbox/guides/using-plugins#custom_plugins).

A custom plugin implementing `cacheKeyWillBeUsed`, for instance

[2021-07-21 18:00] #2887 closed, assigned to nobody

[2021-07-22 11:31] srikanthavadhanula commented on #1530
Hi @jeffposnick,
I am new to open source contribution, wanted to pick this issue, as it is labeled "Good First Issue" for beginners
I am going through the developer page: https://developers.google.com/web/tools/workbox/
Can you please provide me a heads-up on where to start?

Thanks

[2021-07-22 22:54] madsenfr commented on #1569
Is this remark still valid in 2021 ?
Because when SVG is used with `<img>` instead of `<object>`, DOM is not reachable.

[2021-07-23 14:09] jeffposnick commented on #1569
I'm not aware of any plans to change that recommendation in the service worker specification.

[2021-07-23 14:23] jeffposnick commented on #1530
Hello @srikanthavadhanula! Thanks so much for the interest in contributing to Workbox!

The portion of the codebase that's related to this issue is https://github.com/GoogleChrome/workbox/blob/8c49eb93d9a11431fc981f0d297247ca9484b003/packages/workbox-strategies/src/StrategyHandler.ts#L361-L372

Before the `throw error;` statement on line 370, the code would need to do something similar to what's g

[2021-07-23 14:45] jeffposnick commented on #2861
Hello @samgermain—apologies that all of this isn't as spelled out as clearly as it should be in the Workbox documentation. We have a project that's getting underway to overhaul our guides significantly.

https://developers.google.com/web/fundamentals/primers/service-workers/lifecycle provides a good background on how the service worker lifecycle works.

When using a service worker created by `Gene

[2021-07-23 15:44] jeffposnick commented on #2892
When the `networkTimeoutSeconds` elapses, the underlying `fetch()` request is not actually cancelled; it's just a signal to the service worker's code that the cached response should be passed to `event.respondWith()` as soon as possible, instead of waiting for the `fetch()` to resolve. If, during the time that the cached response is being asynchronously read the `fetch()` request **does** resolve,

[2021-07-23 15:44] #2892 closed, assigned to nobody

[2021-07-24 00:25] AprilArcus opened #2897 ""module" field: do not re-export "main" field"
The packages `workbox-cacheable-response`, `workbox-core`, `workbox-expiration`, and `workbox-strategies` fail under jest with [--experimental-vm-modules](https://jestjs.io/docs/ecmascript-modules) with this error:

[code]

Investigating the `package.json` reveals that the "module" field points to `index.mjs`, which is correctly interpreted as a module, but that `index.mjs` in turn attempts to re-

[2021-07-24 15:19] srikanthavadhanula commented on #1530
Thanks @jeffposnick
This gave me a good amount of understanding of what changes need to be done.
I have forked the code, trying to run locally the code and test suite.
changes seem straightforward, I am trying to understand how test cases were written for existing scenarios like (cacheDidUpdate)

[2021-07-26 19:24] jeffposnick commented on #1530
That's great—if you run into any specific problems that are blocking you, please let us know!

[2021-07-27 10:15] grigory-bogush commented on #1819
On my side I have also discovered that adblock seems to block service worke registration as well. So, please keep that in mind.
Disabling it fixed the issue.

[2021-07-27 14:37] egluhbegovic commented on #1583
@jeffposnick Hey Jeff, I have tested on iOS 14.6, app works offline on safari, but the app that is saved on home screen, doesn't work offline.

[2021-07-27 15:21] jeffposnick commented on #1583
I believe that the existing service worker registration and cache isn't shared when an app goes from being loaded in Safari to standalone on the iOS homescreen, but after you initially load the iOS homescreen version (while online), a new service worker registration should go into effect.

So are you testing this after loading the iOS homescreen version at least once while online, or are you testi

[2021-07-28 08:57] Rainson12 opened #2898 "cacheName Property not available for NetworkOnly Strategy"
**Library Affected**: workbox-sw

**Browser & Platform**: all browsers

**Issue or Feature Request Description**:
According to the documentation there should be a property for NetworkOnly called `cacheName` (see https://developers.google.com/web/tools/workbox/reference-docs/latest/module-workbox-strategies.NetworkOnly#cacheName) in one of the previous versions it also seemed to be available howeve

[2021-07-28 13:27] egluhbegovic commented on #1583
@jeffposnick
Thank you for the prompt reply.

I did a test with going inline first with the standalone app then switched offline and tried.

I will not be able to share the app I am working on at the moment, but I can duplicate the setup and host somewhere.
I Will message here when that is up.

To confirm though, do you have a iOS standalone app working offline?

[2021-07-28 18:07] jeffposnick commented on #1583
https://www.tiktok.com/ uses Workbox and has a custom offline experience, and when I just tried adding it to my homescreen using the most current iPad version of Safari, I was able to see that custom offline experience after switching to Airplane mode.

[2021-07-28 18:29] jeffposnick commented on #2898
Sorry about that—we fixed this in https://github.com/GoogleChrome/workbox/pull/2747 but were delayed in republishing the JSDocs. We'll get that taken care of.

[2021-07-28 18:29] #2898 closed, assigned to nobody

[2021-08-01 07:45] ianwzou opened #2900 "Registering the same `Route` instance twice and unregister it only once will cause this matching route still exists."
**Library Affected**:
*workbox-routing*

**Browser & Platform**:
*all browsers*

**Issue or Feature Request Description**:
*Registering the same `Route` instance twice and unregister it only once will cause this matching route still exists.*

*reproduced url: https://glitch.com/edit/#!/ahead-ninth-beginner?path=sw.js%3A37%3A0*

[2021-08-04 21:08] jeffposnick commented on #2863
(Sorry, just checking in to let you know that I haven't forgotten about this!)

[2021-08-04 23:58] samgermain commented on #2861
Hey sorry, I'm not that smart. I ditched `GenerateSW` and tried using `create-react-app` to create that template for `cra-template-pwa` and tried copying these files to my `src` folder and the following config over to my project

-  reportWebVitals.js
- service-worker.js
- serviceWorkerRegistration.js
- setupTests.js

[code]

Here's the result with [chrome dev tools](https://i.imgur.com/OJq4fR2.pn

[2021-08-05 00:28] samgermain commented on #2519
[I have this and am still getting this error](https://github.com/samgermain/react-boiler-plate/blob/workbox/src/service-worker.js)

[2021-08-05 16:01] atjn commented on #2863
Thanks for letting me know, looking forward to your reply :)

[2021-08-05 20:16] jeffposnick commented on #2861
The build is failing because [this line](https://github.com/samgermain/react-boiler-plate/blob/36c97e0677671e7e2ffceabee67747a83a4874bd/build_config/webpack.prod.config.js#L24) should be

[code]

Without the extra `JSON.stringify()`, you end up with missing quotes around the string.

Once I fixed that locally, your build succeeded, including the `InjectManifest()`.

[2021-08-06 11:57] qqq889 opened #2901 "build error with workbox-webpack-plugin 6.2.0"
**Library Affected**:workbox-webpack-plugin

**Browser & Platform**:all browsers

**Issue or Feature Request Description**:after upgrade my workbox-webpack-plugin to 6.2.0 automatically, I got an error without any configuration modified like this: ERROR in Please check your GenerateSW plugin configuration:
[WebpackGenerateSW.runtimeCaching.1.options.plugins.0.cachedResponseWillBeUsed] 'cachedRespo

[2021-08-06 12:16] kalbukov4265 opened #2902 "Optional chaining issue with Node v10/v12 builds in release 6.2.0"
Library Affected:**workbox-expiration**

Browser & Platform:**all browsers**

Issue or Feature Request Description
When I start running build workbox got an error :

[code]

Can you fix optional chaining in "entry?.timestamp;" ?

[2021-08-06 13:36] qqq889 commented on #2901
I've checked the source code and tried to fix this problem, and I find that there are some problems with definition in workbox-build/build/schema/WebpackGenerateSWOptions .
In ajv ,functions is not validate for type:object.
I tried to modify the scheme and succeed to compile.
here is my attempt:
`"CachedResponseWillBeUsedCallback": {
            "instanceof": "Function",
            "additionalPro

[2021-08-06 13:45] jeffposnick commented on #2902
Thanks for pointing this out. Our intention wasn't to change the minimum required version of Node with the v6.2.0 release, so we'll likely get v6.2.1 out in the near future. (You should be fine sticking with v6.1.5 until then.)

Can you help us by sharing some more information about your build process? We use Babel to transpile our source code down to [Node v10.x compatibility](https://github.com/

[2021-08-06 14:17] jeffposnick commented on #2901
Thanks for catching this—it's an inadvertent change introduced due to the new validation logic in v6.2.0 that unfortunately wasn't identified in our alpha releases.

We'll push out v6.2.1 to deal with it, and in the meantime, you can stick with v6.1.5.

[2021-08-06 15:53] tjwiebell opened #2904 "workbox-build@6.2.0 not compatible with workbox-webpack-plugin@6.0.2"
**Library Affected**:
*workbox-webpack-plugin*

**Browser & Platform**:
*n/a*

**Issue or Feature Request Description**:
After 6.2.0 was published yesterday, our project that is constrained to `workbox-webpack-plugin: ~6.0.2` started failing with zero changes to our code base. It appears the constraint in this package `workbox-build: ^6.0.2` causes an upgrade to `6.2.0`, which does not appear to b

[2021-08-06 16:11] jeffposnick commented on #2904
Hello @tjwiebell—For a while now, we've used [`lerna`](https://github.com/lerna/lerna) to version and publish all the modules in our monorepo in concert with each other, and our intention is that folks use the same version of all the Workbox modules at the same time. We do make changes in one module that rely on other modules also being updated as part of minor/patch semver releases.

I'm going to

[2021-08-06 16:53] #2901 closed, assigned to nobody

[2021-08-06 16:55] qqq889 commented on #2901
I'm sorry but the dependency of workbox-build in workbox-webpack-plugin is ^6.1.5 which leads to the same result even if I stick with v6.1.5

[2021-08-06 17:06] jeffposnick commented on #2902
After a closer look at where this untranspiled code might have appeared, I believe that changing our project-level `tsc` configuration to use a more conservative `target` should resolve the issue.

[2021-08-06 17:36] #2902 closed, assigned to nobody

[2021-08-06 17:51] tjwiebell commented on #2904
We have a [package in our monorepo](https://github.com/magento/pwa-studio/blob/develop/packages/venia-concept/package.json#L118:L124) that is used as a template for our creator starter kit, which support both `yarn create` and `npm init`; similar to the `create-react-app` flow. I do not recall the motivation behind being conservative with our constraints, but I think issues with backward incompati

[2021-08-06 17:57] jeffposnick commented on #2904
Gotcha. I've filed https://github.com/GoogleChrome/workbox/pull/2906 and I'm going to give that change a try soon with a pre-release publish to `npm`, as it's really hard to test the actual `lerna` flow without doing a publish. Assuming that looks as expected, I'll flag it as `latest` on `npm`.

I don't think that change is going to address the 6.0.2 vs. 6.2.0 compatibility issue retroactively, be

[2021-08-06 18:38] jeffposnick commented on #2904
Unfortunately, it looks like `lerna` will always add in a leading `^` when it bumps the mutual dependencies prior to a publish, so removing it ahead of the publish didn't help:

https://github.com/GoogleChrome/workbox/blob/494222e5c4e689f200cce45de6f4317f811a3ebd/packages/workbox-webpack-plugin/package.json#L31

I'm going to dig a bit deeper into our options here.

Also, if there's anyone who is c

[2021-08-06 18:47] jeffposnick commented on #2904
Ah, we need to use the [`--exact` flag in `lerna`](https://github.com/lerna/lerna/tree/main/commands/version#--exact).

[2021-08-06 19:08] jeffposnick commented on #2904
Okay, release v6.2.2 uses the `--exact` flag, so we should hopefully not run into the same issue in the future.

I'll leave this issue open to evaluate the impact on developers who are stuck for some reason on a mismatched older version of the Workbox libraries.

[2021-08-06 19:14] jeffposnick commented on #2901
This should now be fixed in https://github.com/GoogleChrome/workbox/releases/tag/v6.2.2

[2021-08-06 19:14] jeffposnick commented on #2902
This should now be fixed in https://github.com/GoogleChrome/workbox/releases/tag/v6.2.2

[2021-08-09 06:56] samgermain commented on #2519
Actually, that is the part which is specifically causing this error I think

[2021-08-09 07:17] zeshhaan opened #2908 "Cache specific URLs"
Hello! I am addressing a special case which is as follows:

The site has around 42k+ pages and are frequently updated. I am looking for a way to convert this site into PWA such that only the Home page (https://www.example.com/) and its assets are cached as `staleWhileRevalidate`. The rest of the pages (any occurrences of a pathname ) are served as `networkOnly`, and hence when the user is offline,

[2021-08-09 19:57] jeffposnick commented on #2908
How about this?

[code]

[2021-08-11 11:11] migueldevpt opened #2910 "'onSync' property type must be object."
**Library Affected**:
*workbox-cli, workbox-webpack-plugin*

**Browser & Platform**:
Ubuntu 20.04.2 LTS using zsh with Node Version 16.6.1 also tried in Node 15.14.0. Error happens in cli so it doesn't reach the browser

**Issue or Feature Request Description**:
Hello I have found a possible breaking change that i think hasn't been documented on the release notes of V6 or in the [workbox docs](htt

[2021-08-11 15:41] jeffposnick commented on #2910
Apologies that you're running into this, and thanks for reporting it.

I _think_ #2911 will catch the remaining cases where this might crop up. We'll cut a new release with those changes.

(For those playing along at home, we tested these changes out during the v6.2.0 alpha releases, then ran into what amounted to https://github.com/eslint/eslint/issues/11018#issuecomment-433248374 when using `ajv

[2021-08-11 16:44] #2910 closed, assigned to nobody

[2021-08-11 18:36] jeffposnick commented on #2910
This should be fixed now: https://github.com/GoogleChrome/workbox/releases/tag/v6.2.4

[2021-08-11 18:48] jeffposnick commented on #1165
FWIW, if you skip the test suite (`gulp publish --distTag=latest --skipTests`) then CDN publishing succeeds. So the current issue seems to be due to an interplay between our test runner and the CDN upload script.

[2021-08-12 14:42] ayaka-kms opened #2912 "vulnerability CVE-2020-28469 is introduced in workbox-cli"
Hi, a vulnerability CVE-2020-28469 is introduced in workbox-cli  via:
●  workbox-cli@6.1.5 ➔ glob-watcher@5.0.5 ➔ chokidar@2.1.8 ➔ glob-parent@3.1.0

However, glob-watcher is a legacy package, which has not been maintained for about 1 years.
Is it possible to migrate glob-watcher to other package to remediate this vulnerability?

I noticed a migration record in other js repo for glob-watcher:

●

[2021-08-12 18:18] jeffposnick commented on #2912
It looks like using `chokidar` 3.x directly is a good idea anyway, as `glob-watcher` is stuck on `chokidar` 2.x, and that version might have some compatibility issues with more recent `node` releases.

[2021-08-13 00:20] jeffposnick commented on #2843
Sorry for the delay in getting back to you.

I'm unfortunately at a loss after spending some time digging into this—our current behavior obviously doesn't accomplish what we want, but I can't figure out whether it's even _possible_ to either override the `mode` in a child compiler, or to modify/remove the `DefinePlugin` that has already set `process.env.NODE_ENV` in the parent compilation, and whi

[2021-08-13 00:26] jeffposnick commented on #2843
C.f. https://github.com/webpack/webpack/issues/13984

[2021-08-13 00:38] jeffposnick commented on #2521
Apologies for the delay in getting back to you.

I can't reproduce the problem via the https://simple-react-pwa.web.app/sync demo using Chrome 92 on Android. I attached my Android device to my laptop and used `chrome://inspect` to take a look at what was going on in DevTools, and everything worked as expected as per the Background Sync debug panel in the Applications tab.

![Screen Shot 2021-08-12

[2021-08-13 00:38] #2521 closed, assigned to nobody

[2021-08-13 04:53] zeshhaan commented on #2908
Thanks so much! I have got it working partially except i found 2 issues.

- All navigated pages resources are being cached. Instead can we scope only home page and it's subresources to be cached?
- fallback page is being shown for all pages including home which i want to exclude and instead retrieve home page from cache.

This is my (very slightly) modified code from your original reply. I have pl

[2021-08-13 16:47] jeffposnick commented on #2908
`setDefaultHandler()` registers a handler that will be used by default when there is no matching route, so it doesn't support passing in a `matchCallback`. Think of it as a last-chance fallback strategy for anything that isn't matched via one of your `registerRoute()`s.

It sounds like you want to add in one or more additional calls to `registerRoute()` with the a combination of match criteria and

[2021-08-13 16:47] #2908 closed, assigned to nobody

[2021-08-13 17:17] jeffposnick commented on #2878
I'm revisiting this, and just to clarify, are you saying that `cacheDidUpdate` _never_ fires, or that `cacheDidUpdate` fires sometimes, but not when your `cachedResponseWillBeUsed` function does the `cache.put()`?

If you mean the latter, then that's excepted, as `cacheDidUpdate` only fires as part of a cache update performed by the [`cachePut()` method](https://developers.google.com/web/tools/wor

[2021-08-13 17:23] cawa-93 opened #2915 "Generating SW without having to write it to a file"
**Library Affected**:
workbox-build/generateSW

**Browser & Platform**:
NodeJS

**Issue or Feature Request Description**:
Please be able to receive the code of the generated Service Worker directly in runtime, without having to write it to a file.
[code]
This is very useful when working with a dev server such as Vite or Snowpack.

[2021-08-13 17:56] jeffposnick commented on #2915
Could you clarify what the actual benefit would be? Are you hoping that this would lead to better performance, or developer ergonomics, or something else?

You should note that using a service worker with precaching tends not to work well with development environments, especially "live-reload" ones, as serving previously precached assets with a cache-first strategy defeats the purpose of live-relo

[2021-08-13 18:40] jeffposnick commented on #2843
The takeaway from the webpack discussion is that this use case isn't going to be supported. We're stuck inheriting the `mode` from the main compilation when using `InjectManifest`. (`GenerateSW` doesn't actually trigger a webpack compilation, so its `mode` setting is honored.)

I'll use this issue to track documenting `mode` in `InjectManifest` as being deprecated and non-functional, and we will r

[2021-08-13 19:05] cawa-93 commented on #2915
Actually, this is one of the usage scenarios.

In my last project (this is an electron program) no precaching is used. The ServiceWorker work exclusively with runtime caching of requests to API and media streams.

Debugging this causes some pain, and all existing solutions what I know are "production-only". Like you, no one recommends using caching in a developer environment, but in some cases it

[2021-08-13 19:26] jeffposnick commented on #2915
If you're only using runtime caching, there's no **need** to use `generateSW`.

All of the config options in `generateSW` map directly to calls to the underlying Workbox runtime modules. If you're unsure about any mapping, you could take a look at [`sw-template.ts`](https://github.com/GoogleChrome/workbox/blob/v6/packages/workbox-build/src/templates/sw-template.ts) and [`runtime-caching-converter.

[2021-08-13 20:34] jeffposnick commented on #2694
...so it's been a while, and I think this described use case is uncommon enough, and the code in the `PrecacheController` is "important" enough, that we don't want to fundamentally change anything if we could avoid it.

If your "hacky" approach accomplishes what you need, then that might be as good as it will get.

Alternatively, the `PrecacheController` will call any Workbox plugins you add to it

[2021-08-13 20:34] #2694 closed, assigned to nobody

[2021-08-13 20:36] jeffposnick commented on #2696
Closing in favor of the existing discussion at https://github.com/GoogleChrome/workbox/issues/2843

[2021-08-13 20:36] #2696 closed, assigned to jeffposnick

[2021-08-14 14:01] userquin opened #2917 "`workbox-build`: add option to handle dynamic routes when using `generateSW`"
This is not a bug, it is an enhancement for dynamic routes configuration.

**Library Affected**:
*workbox-build*: `generateSW` method

**Browser & Platform**:
do not apply, it is a node module

**Feature Request Description**:

When building an SPA, using `generateSW` from `workbox-build`  module to build the service worker, there will be dynamic routes, for example `user/:id`: there is no way to

[2021-08-15 17:34] zeshhaan commented on #2908
Gotcha!

Here is what i'm struggling with:
- I want to cache 2 routes and it's sub-resources - (home page with `stale-while-revalidate` strategy and offline page with `cache-only` strategy)
- All other routes are to be served via `network-only` strategy
- when offline, all routes except home are to be served by the cached fallback page. Home page to be served from it's cache.

Here is what i have

[2021-08-16 12:32] #2915 closed, assigned to nobody

[2021-08-16 19:45] jeffposnick commented on #2908
The standard way of saying "hey, this subresource request is associated with this page" is via the `Referer` header. If you only care about caching subresource requests that are associated with a given page, something like this should allow you to create a route that will only match those requests:

[code]

Hopefully that puts you on the right track!

[2021-08-16 19:47] jeffposnick commented on #2908
(Oh, and if any of theses are cross-origin requests, then this information is important, as by default, the full URL may not be available via the `Referer:` header: https://developers.google.com/web/updates/2020/07/referrer-policy-new-chrome-default)

[2021-08-16 20:34] jeffposnick commented on #2917
It's not obvious from the name, but you can [configure the  `urlPattern` in a `runtimeCaching` entry](https://developers.google.com/web/tools/workbox/reference-docs/latest/module-workbox-build#.RuntimeCachingEntry) with any arbitrary JavaScript you want that conforms to the `matchCallback` interface, and similarly anything for `handler` that conforms to the `handlerCallback` interface.

So the fol

[2021-08-16 20:34] #2917 closed, assigned to nobody

[2021-08-17 05:21] budarin commented on #2878
if I use both plugins: `cacheDidUpdate` and `cachedResponseWillBeUsed` - `cacheDidUpdate` never fires

`cacheDidUpdate` fires only if `cachedResponseWillBeUsed` is missing

but I need both of them and to have an ability to watch for installation progress and an ability to "repair" app cache

[2021-08-17 09:29] planeth44 commented on #2599
I've experienced data loss when network connectivity is bad. Not because the user closes the tab, but because the server times out or responds with a 500 status and the request is not requeued.
As I understand the request is added back in the queue if the fetch fails (meaning no network) but is there a mechanism to check for the response status ?

[2021-08-17 13:36] jeffposnick commented on #2599
Hello @planeth44—Sorry, this is an area that we should make clearer in our docs (I'll follow-up on that in a separate PR).

The `BackgroundSyncPlugin` uses the [`fetchDidFail` callback function](https://developers.google.com/web/tools/workbox/guides/using-plugins) to queue up a retry. `fetchDidFail` will only be triggered if there's an exception thrown during the `fetch()`, which will normally hap

[2021-08-17 16:33] jeffposnick commented on #2904
...I'm going to close this, and apologies again for any issues that the 6.2.0 release raised. Moving forward, the `--exact` flag in our `lerna` releases should ensure that all of our modules depend on the exact versions that we had expected them to be used with.

[2021-08-17 16:33] #2904 closed, assigned to nobody

[2021-08-17 16:42] tjwiebell commented on #2904
No worries @jeffposnick, thanks for the lightning fast response. Can confirm upgrading to `6.2.2` has remedied this without the need for fixed resolution anymore.

[2021-08-18 13:21] planeth44 commented on #2599
@jeffposnick This makes sense! My bad for not reading the doc more thoroughly.
Thanks for the explanation

[2021-08-18 15:57] zeshhaan commented on #2908
Thanks, `Referer` was something new to learn. The resources were all served from an external CDN however there are styles and scripts, and some images which are served from same origin but still - only the markup is getting cached.

I have spinned my local testing folder to a repo, you can see the code on this link if you would like to test [https://github.com/zeshhaan/jekyll-workbox/blob/master/s

[2021-08-18 16:42] sahilcode17 commented on #2770
Hi I would like to contribute to this issue

[2021-08-18 16:49] jeffposnick commented on #2770
Thanks! I think the PR at https://github.com/GoogleChrome/workbox/pull/2919 already addresses it,  though.

[2021-08-18 18:58] jeffposnick commented on #2878
I'm still unclear on exactly what's going on.

Taking a step back, https://github.com/GoogleChrome/workbox/issues/2858 tracks another request to "repair" precached assets outside of the normal service worker lifecycle.

If we added that functionality in an upcoming release (but only for precache manifest entries that had an `integrity` property), could that replace your "repair" plugins?

[2021-08-18 20:27] jeffposnick commented on #2878
See #2921 for the proposed "repair" logic.

[2021-08-18 23:22] #2770 closed, assigned to nobody

[2021-08-19 21:38] #2895 closed, assigned to nobody

[2021-08-19 21:46] #2912 closed, assigned to nobody

[2021-08-23 10:36] frederikhors opened #2925 "How to disable sourcemap using workbox-precaching?"
**Library Affected**:
*workbox-precaching*

**Issue or Feature Request Description**:
Using the below code:

[code]

it works and creates a `service-worker.js` file correctly.

Is there a way to **disable** sourcemap creation?

I was using `workbox-cli` in another project and there was an option for this:

[code]

Can I do this with `workbox-precaching`?

[2021-08-23 12:56] jeffposnick commented on #2925
`workbox-precaching` is the runtime library that handles routing and caching for all of the URLs passed in to `precacheAndRoute()`. It is not involved in the compilation process at all, and therefore has no direct interaction with sourcemap creation.

Only the build tools (`workbox-build`, `workbox-webpack-plugin`, and `workbox-cli`) might create a sourcemap, depending on which one you're using an

[2021-08-23 12:58] frederikhors commented on #2925
I have hash in file name.

[2021-08-23 12:58] #2925 closed, assigned to nobody

[2021-08-23 14:01] FlyveHest opened #2926 "Recommend workbox-cli for retrieving a local copy of the built libraries"
It looks like there hasn't been posted any built versions of workbox since the 6.x branch was started?

The documentation specifies that if you should want to run from a local installation and not CDN, you can download from the releases page, but I can't find any built versions since 5.1.4, only source downloads.

[2021-08-23 14:17] jeffposnick commented on #2926
Sorry about that—the pipeline that uploaded the bundles to GitHub was a bit flaky, and the same functionality is available from `workbox-cli` via:

[code]

Can you tell me where we still refer to the GitHub release downloads in the docs? I'll get it updated to refer to `workbox-cli` instead.

[2021-08-23 16:27] FlyveHest commented on #2926
I found the references here, https://developers.google.com/web/tools/workbox/modules/workbox-sw#using_local_workbox_files_instead_of_cdn

[2021-08-24 04:30] #2884 closed, assigned to nobody

[2021-08-24 07:51] nick-lvov-dev commented on #1410
I was getting this error when trying to use the `declare` solution:
![image](https://user-images.githubusercontent.com/15242942/130578269-dec09403-6dc5-4641-b222-a91a3b64602d.png)

Solved it like this:
![image](https://user-images.githubusercontent.com/15242942/130578307-2308727a-22b1-4bb8-85bc-e1da0ec89f28.png)

[2021-08-25 10:33] budarin commented on #2878
This would definitely help us get rid of our "recovery" plugin!

[2021-08-25 17:34] ViPai82 opened #2927 "workbox-webpack-plugin has indirect dependency on vulnerable ejs 2.7.4 package - needs update"
Welcome! Please use this template for reporting bugs or requesting features. For questions about using Workbox, the best place to ask is Stack Overflow, tagged with `[workbox]`: https://stackoverflow.com/questions/ask?tags=workbox

**Library Affected**:
*workbox-webpack-plugin, workbox-build*

**Issue or Feature Request Description**:
workbox-webpack-plugin has indirect dependency on ejs 2.7.4 wit

[2021-08-25 19:51] #2755 closed, assigned to nobody

[2021-08-25 21:42] #2818 closed, assigned to nobody

[2021-08-26 19:10] #2858 closed, assigned to nobody

[2021-08-27 16:28] jeffposnick commented on #2878
Okay, that PR should be included in the `v6.3.0` release. We're looking at pushing that out in about a week.

[2021-08-30 08:50] muradsofi opened #2930 "Webpack InjectManifest prod build Terser error."
**Library Affected**:
InjectManifest

**Browser & Platform**:
"all browsers"

**Issue or Feature Request Description**:
When I build my ServiceWorker via Webpack in development mode everything works fine but when I want to build for a prod  I saw a Terser error in my console. (Unexpected token: punc (:))

I use i18n in my ServiceWorker when I comment i18n import everything works fine.

Any idea wh

[2021-08-31 12:58] #2926 closed, assigned to nobody

[2021-08-31 13:26] FlyveHest opened #2931 "BroadcastUpdatePlugin not working in precache"
**Library Affected**:
_workbox-precaching_

**Browser & Platform**:
_Google Chrome v92.0.4515.159 for Windows_

**Issue**:
I am trying to detect updates to my precached assets, so I can reload my page when there have been an update to a .js file.

I have tried adding the BroadcastUpdatePlugin to precaching by doing the following

[code]

But it doesn't work, nothing happens, I am not getting an ev

[2021-08-31 14:30] benniemosher opened #2932 "Upgrade `globby` to fix security vulnerability in dependency `glob-parent`"
**Library Affected**:
workbox-cli

**Browser & Platform**:
NPM package

**Issue or Feature Request Description**:
I am currently be alerted to workbox-cil having a security vulnerability in it's dependency `glob-parent`. It appears that comes from the `globby` package. I would like to update `globby` to 12.0.2 to update and fix this dependency.

https://github.com/benniemosher/benniemosher.com/sec

[2021-09-01 09:24] RoLfBOT opened #2933 "[Workbox-background-sync] Sync event fails first time when connectivity is restored"
**Library Affected**: workbox-background-sync
_workbox-sw, workbox-build, etc._

**Browser & Platform**: Edge 92 (Win), Chrome 92 (Android)
_E.g. Google Chrome v51.0.1 for Android, or "all browsers"._

**Issue or Feature Request Description**:
Background sync is failing for first time when network is restored after being offine. This is specific to v6.2.4 (as per my usage). Was using v6.1.5 which

[2021-09-02 17:27] benniemosher commented on #2932
@googlebot Can I get guidance here?

[2021-09-02 19:24] jeffposnick commented on #2932
We just switched to using `chokidar` 3.x directly in https://github.com/GoogleChrome/workbox/pull/2913

The upcoming Workbox v6.3.0 release should start using that new dependency.

[2021-09-02 19:24] #2932 closed, assigned to nobody

[2021-09-02 19:26] jeffposnick commented on #2933
Thanks for letting us know!

@tropicadri, can you investigate and see if this is related to the [IndexedDB changes](https://github.com/GoogleChrome/workbox/pull/2838) introduced in v6.2.0?

[2021-09-02 19:49] jeffposnick commented on #2930
I'm sorry, but I'm not familiar with that specific build setup.

Can you share a link to a GitHub repo with a project that reproduces the problem? Or alternatively, reproduce the issue in an environment like https://codesandbox.io/?

[2021-09-02 20:13] benniemosher commented on #2932
@jeffposnick Thank you for this! Targeting the `v6` branch like below has removed this warning! Thank you!

[code]

[2021-09-02 20:21] benniemosher commented on #2932
@jeffposnick DO you know know I could target that branch and still use the workbox-cli? Targeting it like this in package.json installs, but then I can not figure out how to run the commands I use to run:

[code]

Command:

[code]

[2021-09-02 21:25] jeffposnick commented on #2932
You'll have to wait for the upcoming release, as `workbox-cli` isn't meant to be consumed directly via a GitHub branch.

[2021-09-03 01:20] benniemosher commented on #2932
@jeffposnick Is there a release date for this? I would like to get this security vulnerability cleaned up as soon as I can if I can.

[2021-09-03 13:30] jeffposnick commented on #2932
We were originally thinking yesterday or today, but given that it's a holiday in the U.S. on Monday, we're going to wait until after that.

(Since you have control over the local filesystem where `workbox-cli` runs and the glob patterns that are passed in, I'm not actually sure that this security vulnerability could be exploited against `workbox-cli` users, but I understand the desire to make the

[2021-09-03 15:13] benniemosher commented on #2932
@jeffposnick Oh perfect, I was expecting to hear months! Rock on! Have a good holiday!

[2021-09-03 21:45] xharris commented on #1790
I don't get it... Is there a solution that doesn't require using next.js? Or does next-pwa not require using next.js?

[2021-09-04 15:04] Eve-Sama opened #2936 "TypeScript error when run project"
I am using `workbox` in angular12, in the beginning, many type error shows, just like #2642 , and I follow your suggestion that modified the `tsconfig` like below:

        "lib": [
          "es6",
          "es2017",
          "dom",
          "webworker"
        ],
But new error shows and all about `TypeScript`

      ERROR in node_modules/typescript/lib/lib.dom.d.ts:25:1 - error TS6200: Defini

[2021-09-04 15:14] tayebehsafdari commented on #2519
Thank you :)

[2021-09-05 11:50] StephanBijzitter opened #2937 "workbox-background-sync should allow SyncManager.register options to be set"
**Library Affected**:
workbox-background-sync

**Browser & Platform**:
All supporting browsers (currently only Chromium-based)

**Issue or Feature Request Description**:
The [options](https://developer.mozilla.org/en-US/docs/Web/API/SyncManager/register) for `SyncManager.register` used by `workbox-background-sync` are currently left to defaults. However, I would like to be be able to change these

[2021-09-07 09:43] StephanBijzitter commented on #2771
Ah `originalEvent` makes sense, can't believe I read over that.
Either way, love this little change with 6.2.0, thanks!

[2021-09-07 17:32] fisherspoons opened #2938 "Large size in cache storage"
**Library Affected**:
workbox-cli

**Browser & Platform**:
Mac os / Chrome 93.0.4577.63

**Issue or Feature Request Description**:
Hello I have a problem, why the size of the cache storage does not match the real size of the cached files? That's all that I have from the created cache and if you count it, the size will be equal to half of the total storage, I checked it in incognito mode.

<img wid

[2021-09-07 18:30] #2854 closed, assigned to tropicadri

[2021-09-07 23:37] tropicadri commented on #2933
@RoLfBOT I can't reproduce this issue on my side. I'm also using Chrome 92 and I used both versions of Workbox 6.1.5 and 6.2.4. I tried on my Mac and I also tried on Android. I tried a simple demo, with one request from the same origin, is there anything else you can share about how you are reproducing the issue? Can you also share the logs from the console? Here are mine as an example:
<img width

[2021-09-08 07:02] coderyyx commented on #2938
Have the same problem

[2021-09-08 07:20] fisherspoons commented on #2938
And I noticed a problem, I commented out everything except the strategy for fonts, while everything works fine even when the page is reloaded, but if, for example, I turn on the strategy for images and start reloading the page, then the cache size in the storage starts to grow.

It's fonts

[code]

It's styles

[code]

fonts  and styles
<img width="857" alt="Снимок экрана 2021-09-08 в 10 12 26" sr

[2021-09-08 16:31] OliverWang1226 commented on #2626
I solved this after the steps you mentioned:
[code]
Thx, bro

[2021-09-08 18:26] jeffposnick commented on #2938
Thanks for letting us know—I can reproduce this by, for example, visiting https://jeffy.info/2021/07/26/precaching-vs-runtime-caching.html in an Incognito window and repeatedly reloading the page, with the "Cache storage" value increasing by around 15kb each time I reload, despite the fact that there aren't any additional assets being cached.

My guess is that it's a cosmetic bug affecting Chrome'

[2021-09-08 18:39] jeffposnick commented on #2938
I've filed https://bugs.chromium.org/p/chromium/issues/detail?id=1247750

You should "Star" that bug for updates. I don't think there's anything we can do on the Workbox side of things, so I'm going to close this issue.

[2021-09-08 18:39] #2938 closed, assigned to nobody

[2021-09-08 20:19] joshkel opened #2939 "Workbox.update() may fail to return a promise"
**Library Affected**:

workbox-window

**Browser & Platform**:

All browsers

**Issue or Feature Request Description**:

The `Workbox.update()` method may fail to return a promise if registering the service worker had failed. The cause appears to be https://github.com/rpetrich/babel-plugin-transform-async-to-promises/issues/71.

A workaround is to add an extra `await` (e.g., `await true;`) within

[2021-09-09 17:45] jeffposnick commented on #2858
You can try out the precaching repair functionality in https://github.com/GoogleChrome/workbox/releases/tag/v6.3.0

[2021-09-09 17:46] jeffposnick commented on #2878
The precaching repair functionality is now live in https://github.com/GoogleChrome/workbox/releases/tag/v6.3.0

[2021-09-09 17:46] jeffposnick commented on #2770
This is now live in https://github.com/GoogleChrome/workbox/releases/tag/v6.3.0

[2021-09-09 17:47] jeffposnick commented on #2932
This is now live in https://github.com/GoogleChrome/workbox/releases/tag/v6.3.0

[2021-09-09 17:47] jeffposnick commented on #2884
This is now fixed in https://github.com/GoogleChrome/workbox/releases/tag/v6.3.0

[2021-09-09 18:27] jeffposnick commented on #2936
Hello @Eve-Sama!

I would recommend using the minimal set of libraries necessary for a given compilation, and using different configurations for different compilations when the set of libraries are different.

That means I'd recommend setting up one TypeScript compilation that's configured with

[code]

along with any other relevant TypeScript options, and using that to compile your service worker

[2021-09-09 18:27] #2936 closed, assigned to nobody

[2021-09-09 21:27] budarin commented on #2878
Thanks!

[2021-09-10 10:37] fisherspoon commented on #2178
Hello, I have this trouble on version 6.2.0
<img width="1407" alt="Снимок экрана 2021-09-10 в 13 35 53" src="https://user-images.githubusercontent.com/17007495/132841044-7d5d679a-05c8-447e-ad6a-76f298da66f3.png">

`importScripts('https://storage.googleapis.com/workbox-cdn/releases/6.2.0/workbox-sw.js');
const HTML_CACHE = "html";
const JS_CACHE = "javascript";
const STYLE_CACHE = "stylesheets";
co

[2021-09-11 17:25] budarin commented on #2878
@jeffposnick
Unfortunately, I have one option when `integrity property` does not save -`/` root route in the case of SSR.

This is not a static element - it's dynamically generated depending on the browser, for each client, and depending on many other parameters - so it is not possible to use `integrity property` for it, but this element must be present in the cache  and must be "repair" if it is

[2021-09-13 14:58] jeffposnick commented on #2878
I don't feel comfortable adding in automatic precache repair functionality unless `integrity` is also being used.

If I had a dynamically generated HTML page that was heavily customized for each client, I don't think I would use precaching for that to begin with, though, since it's probably very difficult to generate a meaningful hash of the contents at build time.

Using a `StaleWhileRevalidate`,

[2021-09-13 20:39] jeffposnick commented on #2937
I am not sure that the MDN documentation is correct; the [specification](https://wicg.github.io/background-sync/spec/#syncmanager) says that the `register()` method of a `SyncManager` only takes a single `string` parameter representing the `tag`, which is what `workbox-background-sync` passes:

https://github.com/GoogleChrome/workbox/blob/03055e64014a46f6cc977a3a50ad814c6409d36a/packages/workbox-b

[2021-09-13 20:39] #2937 closed, assigned to nobody

[2021-09-13 20:59] jeffposnick commented on #2937
C.f. https://github.com/mdn/content/issues/8893

[2021-09-14 00:52] martynassimkevicius commented on #2883
I am getting canceled request for new cache and not updated cache on second navigation (best visible on refresh)

[2021-09-14 12:30] StephanBijzitter commented on #2937
O wow, guess there's a first time for everything :-D

Thanks for looking into it!

[2021-09-14 13:05] StephanBijzitter opened #2940 "expose amount of requests in queue"
**Library Affected**:
`workbox-background-sync`

**Browser & Platform**:
N/a

**Feature Request Description**:
I've got a custom `onSync` function for `workbox-background-sync` as I need to modify requests as they are sent over the networ... anyway, this means my app has a small synchronisation icon in the app bar which displays the number of requests that are still queued up when the customer has

[2021-09-15 20:55] budarin commented on #2878
This solves the problem, but breaks the uniformity and simplicity - a developer will have to be informed about this case and should not forget to exclude the ` / ' route from the manifest and add the code to the worker service.

The solution with integrity, it seems to me, complicates the process - it forces us to write additional code for generating hash (this can be solved by an option in the co

[2021-09-15 21:16] jeffposnick commented on #2878
All of the Workbox tools that are used to generate a manifest, by default, will look at actual assets on disk (or in a `webpack` asset pipeline, if you're using `webpack`), and create a `revision` parameter based on the actual static contents of what it finds. If the contents of `/` are generated or customized dynamically, on the server, then it stands to reason that they don't uniquely depend on

[2021-09-15 21:30] budarin commented on #2878
Why not ? I'm sorry, but I don't understand why we can't have `/` in the precache manifest - it's just a resource that, like other resources, must be in the precache manifest for normal offline operation.

I agree that it is not static and generating a revision for it does not make sense, but it is possible that there may be several such resources in the project and it is possible to add a flag to

[2021-09-15 21:48] jeffposnick commented on #2878
It's just that `workbox-precaching` is not designed to handle the caching lifecycle of this sort of resource. I apologize if it's not clearer in the documentation, and it's obviously possible to make `workbox-precaching` do things that it's not intended to do, but your service worker is going to be more resilient over all if you go with, and not against, the intended design.

Workbox's solution fo

[2021-09-15 22:29] budarin commented on #2878
The library should simplify the life of a developer. The simplicity of its use lies in a simple declaration of what he would like to pre-cache - and this is a simple list of resources.

Considering your suggestions and objections, the developer should be very well versed in the nuances of the library when working with static and dynamic resources in precache list, although he does not need it and

[2021-09-16 12:37] jeffposnick commented on #2878
Thanks for continuing to engage with us here—I do want to figure out exactly how you've approached Workbox, and learn from that had we could better guide folks towards better outcomes in our documentation (or add in new features when appropropriate).

So I wanted to push back a bit here, because while you're able to pass in whatever list of precache entries you want to `precacheAndRoute()`, the ex

[2021-09-19 19:23] budarin commented on #2878
Ok, I'll tell you how our service worker is arranged and how we would like it: we generate the manifest using the InjectManifest plugin.
In the service worker, we add the ' / ' route to the manifest

[code]
Webpack generates us resource names with contenthash. This is quite enough to have a consistent precashe for offline.

Given that other developers may not have the contenthash, you suggest gene

[2021-09-20 16:20] jeffposnick commented on #2878
Thanks for sharing that.

I think we'll add in an `addIntegrity` configuration option in a future Workbox release, most likely defaulted to `false`, to make using `integrity` easier in the future. (Some folks end up loading items in their precache manifest from cross-origin CDNs, and they don't always have CORS enabled, which won't work with subresource integrity, so I don't know that we'll ever d

[2021-09-21 18:52] jeffposnick opened #2944 "Fix git hooks/gulp on Windows"
See #2941

[2021-09-22 15:22] budarin commented on #2878
This approach greatly complicates the life of the developer and disorients beginners - static resources and a `/?source=pwa ` router make up the precache list for the application to work offline. You suggest dividing this list and processing its elements in different ways.

If I were developing a workbox, I would implement such a contract
[code]
And under the hood I would get the integrity attribu

[2021-09-23 01:31] kobe651jp opened #2945 "How to change the range of request header?"
In my service-worker.js(workbox) route options as below
[code]
The Request Header was
[code]
Response Header becomes
[code]

I'm trying to play .mp4 from html5 video tag directly. The src created by s3 getSignedurl.

**Is there have any way to change the range value?**

I'm trying to look up the issues history and other search information, but couldn't find a useful source of information.

I would

[2021-09-23 12:04] StephanBijzitter commented on #2940
See #2044 for a nice screenshot of a shared use-case :-)

[2021-09-23 13:50] jeffposnick commented on #2945
You can provide a substitute for any outgoing request before it's sent to the network by adding in a [`requestWillFetch()` plugin](https://developers.google.com/web/tools/workbox/guides/using-plugins) to your strategy.

[code]

The thing to keep in mind is that in the scenario you describe, it's the browser's `<video>` player that wants to load a specific byte range. This plugin code is basically

[2021-09-23 13:50] #2945 closed, assigned to nobody

[2021-09-23 14:16] jeffposnick opened #2946 "Include removed TS definitions in Workbox code"
TypeScript 4.4.0 removed a few definitions from `libdom` that correspond to features that are only currently implemented in Chrome: https://github.com/microsoft/TypeScript-DOM-lib-generator/issues/1029

**ServiceWorkerRegistration**
- `navigationPreload`
- `sync`

**FetchEvent**
- `preloadResponse` (It's not mentioned in the release notes, but appears to be gone.)

**Global**
- `SyncEvent` (It's n

[2021-09-24 23:21] AntonOfTheWoods commented on #2253
While adapting code developed originally for a CRA setup, I had commented out a whole lot of stuff, including the `precacheAndRoute(self.__WB_MANIFEST)` line. What is disconcerting is that this doesn't seem to be causing an error in `--mode development`, only `--mode production`, hence me originally thinking it wasn't required (in spite of the comment in the CRA-generated code).

[2021-09-29 18:37] #2940 closed, assigned to nobody

[2021-09-29 19:49] jeffposnick commented on #2944
@StephanBijzitter, after looking into this a bit, I think things should work with #2947 merged.

Just to give some info as to how I tested this out, in case my environment differs from yours, I used https://github.com/coreybutler/nvm-windows to install `node`/`npm` and made sure they were available in my `PATH`, so that they worked in Power Shell. Once that was done, I ran `npm install -g gulp-cli

[2021-09-30 03:41] CryogenicPlanet opened #2948 "Issue with multiple simultaneous Range: requests for the same URL"
**Library Affected**:
`workbox-range-requests, workbox-core`

**Browser & Platform**:
Brave Version 1.25.68 Chromium: 91.0.4472.77 (Official Build) (64-bit), Google Chrome    93.0.4577.82 (Official Build) (64-bit)

**Issue or Feature Request Description**:

We have a bug with caching and retrieving media from a service worker

The goal is to be able to intercept a request made from the video tag a

[2021-09-30 13:25] #2944 closed, assigned to jeffposnick

[2021-09-30 20:06] thacac commented on #2552
**@jingz I'm experiencing the same issue, did you find a way to fix it please? I'm really stuck on this one :(**

**kop khun mak khrap**

[2021-10-01 07:25] PlopTheReal commented on #2832
Any update regarding this issue? It's tagged as "Need More Info". Do you need extra details?

[2021-10-01 17:18] mswysocki opened #2951 "Service Worker immediately goes redundant with pre-caching errors in certain contexts."
Welcome! Please use this template for reporting bugs or requesting features. For questions about using Workbox, the best place to ask is Stack Overflow, tagged with `[workbox]`: https://stackoverflow.com/questions/ask?tags=workbox

**Library Affected**:
workbox-strategies, workbox-precache

**Browser & Platform**:
Google Chrome 94, Windows 10. Also observed on M1 Macbook Pro, Google Chrome.

**Iss

[2021-10-01 19:06] jeffposnick commented on #2951
Hello @mswysocki!

This is the code that `workbox-precaching` uses when creating a request for an entry in the precache manifest:

https://github.com/GoogleChrome/workbox/blob/8afb37210d8f4fe62847f4e80e42fc95bced4895/packages/workbox-precaching/src/PrecacheController.ts#L212-L216

There's no `mode` provided, and when that happens, the `Request` is constructed with `mode: 'cors'`.

This is the beha

[2021-10-01 19:06] #2951 closed, assigned to nobody

[2021-10-01 19:48] jeffposnick commented on #2832
Sorry about that!

Okay, so let's take a step back and discuss two possible approaches:

#### Easier: ensure that the service worker doesn't intercept your `.mp4` requests.

Based on what I can see from your service worker config and Network panel traffic, I don't think your `.mp4` files are being precached. It looks like that first runtime caching route you have configured, that match `urlPattern

[2021-10-02 09:58] rishabhbajpailab commented on #1530
If this issue has not been resolved yet I would love to help out if possible.

[2021-10-04 22:07] RandomEngy opened #2952 "Why is PrecacheEntry interface not exported?"
**Library Affected**:
workbox-precaching

**Browser & Platform**:
all browsers

**Issue or Feature Request Description**:
The "precache" function takes this type as a parameter: `entries: Array<PrecacheEntry | string>`. However the PrecacheEntry interface [doesn't seem to be exported from the workbox-precaching package](https://github.com/GoogleChrome/workbox/blob/v6/packages/workbox-precaching/sr

[2021-10-06 09:27] clickwithclark opened #2953 "How to change the precache name via the WorkboxPlugin?"
**Library Affected**:
workbox-webpack-plugin

**Browser & Platform**:
Google Chrome

I have the following set up for the plugin in my webpack config file and it works great except I was looking for a way to change the precache name, the runtime change name was straight from the docs but I can't seem to find a way with the plugin. If there is an alternative method please let me know. I can't seem t

[2021-10-06 09:36] khmyznikov commented on #2878
@jeffposnick Maybe we should make something like precache routes or runtime precache to cover SSR cases like this. I've got similar questions from the community guys who implement PWA in SSR.

[2021-10-06 09:41] budarin commented on #2878
To summarize all of the above - we have two types of precache assets in SSR
- some are available at the build stage in files on a disk
- others are available exclusively in runtime as network static assets as they are generated by the production server and there is no way to get them and their revisions before deploying this build in production

[2021-10-06 15:17] FluorescentHallucinogen commented on #2878
@jeffposnick This is a question about DX (developer experience).

From what I can see currently Workbox is more focused on CSR (client-side rendering) PWA.

In CSR PWA the app shell are always files. And these files are static and always available at build time (at service worker generation time). You can easily calculate file checksums (hashes/revisions). And these app shell files are identical f

[2021-10-06 15:47] FluorescentHallucinogen commented on #2878
In other words, the idea is to declare all the things should be precached in one single place — in `InjectManifest`'s `include` array in declarative way instead of writing imperative custom `install` handler by hand or using `warmStrategyCache` and so on in various places. This should improve DX.

[2021-10-06 16:03] FluorescentHallucinogen commented on #2878
@budarin

UPD: you can use optional `additionalManifestEntries` array. According to docs, this is `A list of entries to be precached, in addition to any entries that are generated as part of the build configuration.`. :wink:

[2021-10-06 16:10] budarin commented on #2878
@jeffposnick

The issue with the declaration of resources from the server in `injectManifest` was solved using the configuration property `additionalmanifestentries`.

[code]

There is no need to change anything - the plugin parameters have all the possibilities for flexible description of all types of resources

@FluorescentHallucinogen , thank you for your help in solving the issue

[2021-10-06 17:25] FluorescentHallucinogen commented on #2878
I think we need to improve Workbox docs by adding samples for `additionalManifestEntries` use cases and SSR recipes generally.

[2021-10-06 18:12] jeffposnick commented on #2878
Hey all—the existence of the `additionalManifestEntries` configuration option does not mean that it's the correct solution for this use case. Using `additionalManifestEntries` is no different than hardcoding something like:

[code]

in your `swSrc` file's code.

It is _really_ not a good idea to precache any URL whose content might change outside of your build process, i.e. any HTML that's server-

[2021-10-06 19:04] budarin commented on #2878
@jeffposnick

 I'm sorry, but you misunderstand the purpose of  `/?source=pwa` - this is the main resource of the precache - this is the pwa-shell, which must be in the precache and not loaded dynamically.

 We use it as navigation route
[code]

 revision - in our case, not hardcoded, but the version of the application on which the server rendering of this resource depends
It uniquely identifies t

[2021-10-06 19:24] jeffposnick commented on #2878
Hello @budarin—if you have a mechanism in place to ensure that the `<revision>` field of `{url: '/?source=pwa', revision: '<revision>'}` inside of your deployed service worker code is updated whenever the server-rendered response for `/?source=pwa` might change, then 👍 . It's what I'm suggesting you'd need to have in order for updates to work as expected.

(Going back to what the original question

[2021-10-06 19:33] budarin commented on #2878
Unfortunately, it is not possible to get the integrity value at the build stage.
I think that in our case revision is enough - because it uniquely identifies the content of this resource

now the process for tasks that used to be simple has become very complicated - what I used to do without even thinking about it now looks either very difficult or not possible :(

PS: I believe that using integri

[2021-10-06 20:29] jeffposnick commented on #2953
You can control the prefix of the precache name via the `cacheId: 'my-prefix'` [parameter](https://developers.google.com/web/tools/workbox/reference-docs/latest/module-workbox-webpack-plugin.GenerateSW#:~:text=service%20worker%20bundle.-,cacheId,-Optional).

The `GenerateSW` build tool does not allow you to change the entire precache name, though.

If there's a use case that requires letting you c

[2021-10-06 20:29] #2953 closed, assigned to nobody

[2021-10-06 20:33] jeffposnick commented on #2952
Sorry about that—similar to https://github.com/GoogleChrome/workbox/issues/2770, I think we need to re-export our interfaces from https://github.com/GoogleChrome/workbox/blob/v6/packages/workbox-precaching/src/_types.ts

[2021-10-06 23:01] RandomEngy commented on #2952
Same for NetworkFirstOptions in workbox-strategies . Might be worth it to just go over all the interfaces that are on exported functions.

(edit) It's available when importing from `"workbox-strategies/NetworkFirst"` but not when importing from `"workbox-strategies"`

[2021-10-07 09:06] samgermain commented on #2861
Thanks, that fixed the build.

I'm still getting these warnings when I run lighthouse though

[code]

[2021-10-07 13:49] budarin opened #2954 "Precache is always reloaded completely, although assets have not changed"
**Library Affected**:
"workbox-precaching": "^6.3.0",

**Browser & Platform**:
any

**Issue or Feature Request Description**:
Every time the service worker is updated, absolutely all precache elements are re-requested again, although they have not changed and their hash sum too

webpac.config.js

[code]

Service worker
[code]

![image](https://user-images.githubusercontent.com/8055157/136400800-fc

[2021-10-07 14:55] jeffposnick commented on #2954
Hello @budarin—the URLs that are shown being precached in each screenshot are different.

The prefix of each URL in the first screenshot is `https://web_app.localhost/1.0.508/` and the prefix of each URL in the second screenshot is `https://web_app.localhost/1.0.509/`.

When `workbox-precaching` sees a different set of URLs from what was previously precached, it will download the new URLs during i

[2021-10-07 14:55] #2954 closed, assigned to nobody

[2021-10-07 15:44] budarin commented on #2954
Sorry, its my false

[2021-10-07 17:25] jeffposnick commented on #2393
Hey All—Sorry again for the lack of progress.

I've been looking into this again, and I'm struggling with a "clean" solution here that detects the failure at runtime.

What I'm thinking instead is just to ship a new option in `BackgroundSyncPlugin` / `Queue` constructor called `forceSyncFallback`. The default value would be `false`, and that would give the same behavior as what we currently ship,

[2021-10-07 21:47] yvesgurcan commented on #689
For anybody who finds this snippet of code, it will not work as-is. The implementation of `manifestTransforms` has changed. See https://developers.google.com/web/tools/workbox/reference-docs/latest/module-workbox-build#.ManifestTransform.

This change was brought up in a different issue: https://github.com/GoogleChrome/workbox/issues/1413.

[2021-10-08 18:14] jeffposnick commented on #2948
Apologies that this is affecting you, and thank you for reporting and providing a full reproduction.

When I visit https://service-worker-testing.vercel.app and scrub around the first video I can reproduce some eventual failures. Note that what I'm seeing isn't really slowness; I'm seeing Workbox's service worker code respond to a range request with a HTTP 416 instead of HTTP 206 due to an excepti

[2021-10-08 18:48] wanderview commented on #2948
The Cache API only stores full responses and not partial responses.  I'm not sure how that interacts with the layers above.  I would probably need a reduced test case to investigate further.

[2021-10-08 18:56] jeffposnick commented on #2948
A rough summary of the order of operations performed is:

[code]

That's not the exact code, and I could simplify a reproduction beyond what's in https://service-worker-testing.vercel.app if needed. But perhaps that's enough to point to a possible root cause?

The  `await response.blob()` step of that process ends up throwing `TypeError: Failed to fetch`, apparently when that code sequence is call

[2021-10-08 19:30] wanderview commented on #2948
Multiple responses with .blob() calls should not be a problem.  I guess if that could be reduced in a test case it would help.

One possible way to work around this, though, would be to cache the blob in a global variable in the service worker so you only have one per video.

[2021-10-08 19:33] wanderview commented on #2948
How many overlapping requests are we talking about?  I guess its possible you could be running out of file descriptors or something.

[2021-10-08 20:08] jeffposnick commented on #2878
In the interest of closing out this issue, I've revisited the original complaint, which is that when you add your `cachedResponseWillBeUsed` plugin to `workbox-precaching`, your `cacheDidUpdate` plugin isn't called anymore.

I went through a reproduction steps, and identified the following issue: your `cachedResponseWillBeUsed` plugin executes its "cache repair" logic any time the `cachedResponse`

[2021-10-08 20:08] #2878 closed, assigned to nobody

[2021-10-08 20:11] jeffposnick commented on #2948
Definitely not a lot. When I reproduced it using https://service-worker-testing.vercel.app there were maybe 2 or 3 requests that might have been in flight at once, so running out of file descriptors doesn't sound like it would be it.

I'll attempt to create a pared-down reproduction outside of Workbox in that case.

[2021-10-08 20:43] wanderview commented on #2948
I see huge amounts of disk writes triggered by the vercel app.  I think maybe every blob slice is getting created as a separate blob and potentially flushed to disk separately.  Can you file a crbug?

[2021-10-08 20:51] wanderview commented on #2948
I guess the only way to avoid this would be to return the full 200 response from the service worker to the video player.  I think that generally works with most video players, but not sure.

[2021-10-08 22:01] jeffposnick commented on #2948
I've created https://bugs.chromium.org/p/chromium/issues/detail?id=1258212 to track the potential Chrome issue.

[2021-10-09 13:10] budarin commented on #2878
@jeffposnick thanks!

[2021-10-09 15:31] lukeromanowicz opened #2956 "Missing 'exclude' option in workbox-config"
**Library Affected**:
workbox-build

**Browser & Platform**:
all platforms

**Issue or Feature Request Description**:
`exclude` is not supported by [workbox-config](https://github.com/GoogleChrome/workbox/blob/74f01e3710de8d862caf35c4d1b5e605fbc8d3c4/packages/workbox-build/src/schema/GenerateSWOptions.json).

According to the [docs](https://developers.google.com/web/tools/workbox/reference-docs/la

[2021-10-10 05:38] RandomEngy opened #2957 "The swSrc file refers to a sourcemap that can't be opened"
**Library Affected**:
workbox-build

**Browser & Platform**:
all browsers

**Issue or Feature Request Description**:

I'm running injectManifest in development mode, but it's erroring out:

I checked the swSrc file and the first sourcemap is indeed `//# sourceMappingURL=CacheStatus.js.map` . However the file being injected is output to a folder without the sourcemaps beside them. This was working

[2021-10-10 18:28] budarin commented on #1312
@jeffposnick
is there any solution to this issue?

I am currently using the code:
[code]

[2021-10-11 18:31] jeffposnick commented on #2957
I'm not entirely sure why that logic would have changed between v4 and v6, but if you have a development set up that's broken by this exception, I think we can "demote" it to be a warning instead.

[2021-10-11 19:22] jeffposnick commented on #2861
Your web app's code doesn't register the generated service worker. In fact, it actively unregisters a service worker if it detects one:

[code]

You need to change that at https://github.com/samgermain/react-boiler-plate/blob/36c97e0677671e7e2ffceabee67747a83a4874bd/src/index.js#L16-L19 if you want the service worker to be registered.

[2021-10-11 19:26] jeffposnick commented on #2956
`exclude` is a supported option in `workbox-webpack-plugin`'s `GenerateSW` mode:

https://github.com/GoogleChrome/workbox/blob/74f01e3710de8d862caf35c4d1b5e605fbc8d3c4/packages/workbox-build/src/schema/WebpackGenerateSWOptions.json#L41-L44

It's not supported in `workbox-build`'s `generateSW` mode, though. You linked to the `workbox-webpack-plugin` docs.

`workbox-build` gets its list of files to

[2021-10-11 19:26] #2956 closed, assigned to nobody

[2021-10-11 19:44] jeffposnick commented on #2927
C.f. https://github.com/surma/rollup-plugin-off-main-thread/issues/46

[2021-10-11 19:45] jeffposnick commented on #2534
C.f. https://jeffy.info/2021/10/10/smart-caching-hashes.html

[2021-10-11 19:46] jeffposnick commented on #1530
@srikanthavadhanula, is this still something you'd want to take on?

[2021-10-11 19:54] jeffposnick commented on #1312
Hello @budarin—there's no one-size-fits all solution here, so we've kept this open to track possibilities.

Listening for an `installing` service worker entering the `redundant` stage is a valid way of detecting it from the main page.

Alternatively, if you wanted to perform some asynchronous action from inside your your service worker when there's a quota error, you can use [`registerQuotaErrorCa

[2021-10-11 20:21] RandomEngy commented on #2957
Awesome! If I submitted a PR would it help make it happen faster?

[2021-10-11 22:51] jeffposnick commented on #2948
Based on the latest at https://bugs.chromium.org/p/chromium/issues/detail?id=1258212, it sounds like this will be addressed in a future release of Chrome, and there's not anything to track here.

[2021-10-11 22:51] #2948 closed, assigned to nobody

[2021-10-11 23:04] budarin commented on #1312
Hi @jeffposnick !

Is there any workbox precache method or callback params method  to clear pre cache in case of quota exceeded error?

[2021-10-12 00:16] jeffposnick commented on #1312
Clearing the cache can be done with the standard Cache Storage API methods:

[code]

Note that the next time the service worker installs, it's going to retry caching all the items in the precache manifest. So you might just end up redownloading everything and then running into quota issues again, unless the user also frees up additional space on the device or unless you reduce the size of your pre

[2021-10-12 12:53] jeffposnick commented on #2948
Based on the Chromium issue tracker thread, if you need a workaround in Chrome right away, you can avoid the buggy behavior by ensuring that the cache key and request URL don't match. (This bypasses the problematic optimization that Chrome attempts when there's a match.)

If you wanted to do that in Workbox, using a custom `cacheKeyWillBeUsed` plugin makes that pretty straightforward. Just be warn

[2021-10-12 14:12] budarin opened #2958 "ERROR in Multiple instances of self.__WB_MANIFEST were found in your SW source. Include it only once"
**Library Affected**:
workbox-precaching

**Browser & Platform**:
any

**Issue or Feature Request Description**:
 I'm trying to post message the cache update status to clients in the `cacheDidUpdate` plugin. To do this, I need to know the total number of items in the cache.
When trying to get it using `self.__WB_MANIFEST.length`  - I get this error

[code]

[2021-10-12 14:26] jeffposnick commented on #2958
Right, there's only meant to be a single instance of `self.__WB_MANIFEST` in your `swSrc`, and the `injectManifest` build tool replaces that symbol with an array containing the manifest. The injected precache manifest can potentially be large, and storing multiple copies of the same large array inside the same script isn't necessary.

If you want to reference the precache manifest from multiple pl

[2021-10-12 14:26] #2958 closed, assigned to nobody

[2021-10-12 14:27] budarin commented on #2958
@jeffposnick thanks!

[2021-10-12 18:38] mswysocki commented on #2951
I confirmed the requests and the environment seems to be set up correctly.

While I do suspect there is some bug between Google Chrome and Google Cloud Storage, it does still seem strange that a single bad request crashes the service worker and prevents other usage from running correctly such as push notification support.

[2021-10-12 19:21] jeffposnick commented on #2951
That's the expected behavior for `workbox-precaching`. It offers a guarantee that if a given service worker version successfully installs, all of the items in the precache manifest have been added to the cache, and therefore things are internally consistent.

If you don't need that guarantee, you might want to just use [runtime caching](https://developers.google.com/web/tools/workbox/modules/workb

[2021-10-13 14:05] jeffposnick commented on #2957
The logic is a little funky, so I'm fine with writing the PR. Stay tuned.

[2021-10-13 16:21] #2946 closed, assigned to nobody

[2021-10-13 17:36] #2957 closed, assigned to jeffposnick

[2021-10-14 00:15] #2952 closed, assigned to nobody

[2021-10-14 14:27] jeffposnick commented on #2948
Hello @CryogenicPlanet—as per https://bugs.chromium.org/p/chromium/issues/detail?id=1258212#c13, @wanderview is having some trouble determining whether or not the changes made to Chrome have resolved the issue.

It looks like that's due to the original `fetchEvent.request` not being passed in to `cache.match()`.

Based on what I could tell from the sample code you provided, which uses the `CacheFi

[2021-10-14 14:36] wanderview commented on #2948
I have a further change that should fix the issue.  Its just waiting on review.

[2021-10-15 15:07] wanderview commented on #2948
I believe the problem should be fixed in chrome canary 97.0.4670.0.

[2021-10-15 20:46] CryogenicPlanet commented on #2948
Sorry for the delay, but I have updated the domain to the original state.

That said `FilesCacheFirst` in this test just wrapped around `CacheFirst` and didn't do much, we removed its functionality for this bug repo but I guess we pushed some wrong code up my mistake.

Will ask someone on our team to check that it works on the canary build, unfortunately I don't think there are canary builds for l

[2021-10-19 16:48] jeffposnick opened #2963 "Recipe for adding COEP/COOP headers"
Low-priority, but it might be useful to have this documented for Workbox users. CC: @malchata

C.f. https://stackoverflow.com/questions/69468591/using-service-worker-to-enable-coop-coep-headers-security-concerns

This would look something like:

[code]

[2021-10-20 04:20] DrJume opened #2964 "workbox-cli copyLibraries downloads old versions"
**Library Affected**:
`workbox-cli`

**Browser & Platform**:
Node.js v14.18.1

**Issue or Feature Request Description**:
When using `workbox-cli copyLibraries`, some files are not the latest workbox version.

[2021-10-20 08:07] simonbuehler commented on #2615
thanks for the fix, i have the need for it in the context of a laravel app redirecting in a CRUD page to the entity index (list all) page after posting a new entity.
my current sample code is

[code]
but i couldn't find out how to fill in the missing pieces instead of the ??? after looking into the test scenarios of the merge, anyone can shine a light on it?

[2021-10-20 15:02] jeffposnick commented on #2964
`workbox-cli` has a version number, and it will copy over the libraries with the matching version number to a local directory. If you're seeing that the latest Workbox libraries aren't copied over, make sure that you've updated your copy of `workbox-cli` to the latest release, and try again.

Alternatively, you can run `workbox-cli` via `npx`, and it will execute the latest release automatically:

[2021-10-20 15:02] #2964 closed, assigned to nobody

[2021-10-20 15:17] jeffposnick commented on #2615
When using `runtimeCaching` in `generateSW`, you can specify custom plugins via the `options.plugins` array, along the lines of:

[code]

[2021-10-22 09:57] DrJume commented on #2964
Sadly that's not the case. Running `npx workbox-cli copyLibraries dist/pwa/` creates a workbox folder containing scripts, which are still annotated with i.e. "workbox:precaching:6.2.4" in the source.

[2021-10-22 09:59] DrJume commented on #2964
The only script whose source contains the current `6.3.0` version tag is `workbox-sw.js`.

[2021-10-22 13:27] jeffposnick opened #2965 "Support for Targeted Cache-Control and Cache-Status"
"[New HTTP standards for caching on the modern web](https://httptoolkit.tech/blog/status-targeted-caching-headers/)" describes two new HTTP headers related to caching that are on the path towards standardization. I wanted to open this issue to brainstorm about those response headers could be used within the context of a service worker, and how Workbox could best support them via [plugins and custo

[2021-10-25 15:21] jeffposnick commented on #2964
Sorry about that confusion—there might be a bit of a race condition in our `lerna` setup between when that inline versioning info gets updated via our release process and when the libraries are published to `npm`.

Those inline strings (unlike the `package.json` fields) are not used for semver and are purely informative, and I just double-checked the files pulled in by `npx workbox-cli copyLibrari

[2021-10-25 19:10] jeffposnick opened #2966 "Delayed revalidation in StaleWhileRevalidate"
**Library Affected**:
_workbox-strategies_

When using `StaleWhileRevalidate`, some developers might want to delay the revalidation, perhaps on the order of a few seconds, to attempt to minimize contention with any other strategies that need to hit the network immediately afterward. (This might happen when, e.g., using `workbox-streams` and a `StaleWhileRevalidate` => `NetworkFirst` sequence.)

We

[2021-10-25 20:07] WonderPanda commented on #2386
Any chance there are some updates here that would allow us to interact with the queue manually in the case that background sync isn't supported as suggested by @jszczypk?

[2021-10-25 20:35] jeffposnick commented on #2386
https://github.com/GoogleChrome/workbox/pull/2955 exposes the `QueueStore` and `StorableRequest` classes publicly, and https://github.com/GoogleChrome/workbox/pull/2941 exposes the `size()` of the `QueueStore` used by a `Queue`. Both of those PRs should be part of the upcoming Workbox v6.4.0 release.

I'm going to be honest in that I have never had to work with those pieces of `workbox-background-

[2021-10-26 12:05] shmilyoo opened #2967 "Is there any type definition for workbox-sw v6"
I noticed that the highest version of type definition in @types is 4.3.2.
When developing, it is troublesome that the api in the code hint and the actual version do not match

[2021-10-26 13:47] jeffposnick commented on #2967
There isn't, no. We haven't converted `workbox-sw` to TypeScript, and folks from the community who publish those unofficial types have apparently not updated it.

What I'd recommend, if you're using TypeScript, is not to use `workbox-sw` at all. Instead, import whatever Workbox bits you're using as ES modules, and then bundle up your code into a production-ready service worker.

This is the model

[2021-10-26 13:47] #2967 closed, assigned to nobody

[2021-10-27 20:30] heitorpr opened #2968 "workbox-broadcast-update does not work inside android webview"
**Library Affected**:
workbox-broadcast-update (v6.3.0)

**Browser & Platform**:
Webview for Android

**Issue Description**:
I have a PWA application that is also inside an android webview in my app, and the broadcast update plugin does not send the update event with the StaleWhileRevalidate strategy. The exactly same build of PWA app with react performs diferently inside the webview and directly

[2021-10-28 02:25] shmilyoo commented on #2967
It works, thank you!

My original scenario was to use cdn to reduce the package size. I provide sw scripts for my multiple business systems, and the scripts are not necessarily the same for each system, so the package products are stored in the database for the business systems to call.
After using npm to bring it in, I had to store each packaged product in our static resource service and then wri

[2021-10-28 13:33] jeffposnick commented on #2967
Using `workbox-sw` will increase total runtime size vs. using ES module imports and producing a tree-shaken final bundle.

When using `workbox-sw` and referencing, e.g., `workbox.strategies.NetworkFirst`, you'll end up downloading the entire `workbox-strategies` bundle in the background, including code for strategies that you are not using. When using ES modules and an optimizing bundler, your fin

[2021-10-28 15:33] jeffposnick opened #2969 "Better errors for a missing self.__WB_MANIFEST"
**Library Affected**:
`workbox-webpack-plugin`, `workbox-build`

I've heard from new developers using `injectManifest` that it can be difficult to trace the error message associated with a missing `self.__WB_MANIFEST` to an actionable solution.

We should update the error logic at

https://github.com/GoogleChrome/workbox/blob/e0bcb2984ab4881f0f52ae245be999aa452bba18/packages/workbox-webpack-plugin

[2021-10-29 02:52] thexeos opened #2970 "Surface fetch errors caused by integrity hash verification failures"
**Library Affected**:
_workbox-precache_

**Browser & Platform**:
_all browsers_

**Issue or Feature Request Description**:
Right now, this is what the log looks like when one of the pages (index page) has been altered by the local VPN:

![image](https://user-images.githubusercontent.com/2260539/139364761-3ca221ab-bfb3-4f8a-aba5-35f77fdc854b.png)

Unless I'm doing something wrong, I'm not getting

[2021-10-29 19:53] jeffposnick commented on #2970
Hello @thexeos—there are a few ways you could approach this.

### Exclude integrity

You could leave out the `integrity` field in the precache manifest for `index.html` if you _wanted_ to allow that HTML to be precached despite the VPN manipulation. I'm going to assume that you do actually want to include `integrity` and prevent the wrong HTML from being precached, though.

### Detect redundant se

[2021-10-29 19:53] #2970 closed, assigned to nobody

[2021-10-29 20:03] jeffposnick commented on #2968
CC: @andreban, my colleague whom I normally turn to for questions related to Android & the web. He might have some idea as to what's going on.

[2021-10-31 11:17] FacuM opened #2971 "Strategy plugins aren't working"
**Library Affected**:
_workbox-strategies_

**Browser & Platform**:
_N/A._

**Issue or Feature Request Description**:
I'm currently running v6.3.1 (latest stable build) and I can't get to use any of the plugins, neither the built-ins nor my own. I'm building the service-worker using Webpack and the **injectManifest** method (code example below).

Currently, I've copied and pasted all cache-related

[2021-10-31 20:41] FacuM commented on #2971
I've later found out that I could eventually expose some data by using [localforage](https://github.com/localForage/localForage) and even though it's not ideal, I managed to check on some of the events, and they're being triggered. However, the one I care the most is `cachedResponseWillBeUsed` and it does never seem to be firing.

This is the relevant code:

[code]

That's the point on which I'd l

[2021-10-31 21:38] FacuM commented on #2971
Alright so I finally got it working!

This is the relevant code:

[code]

Please note that appending RAW anywhere isn't ideal, but for testing it's great. The `X-Online` header isn't particularly useful to me at the moment, but I left it there as a way listen for headers somewhere else (maybe on a different service worker?).

`localforage` calls can be removed as they're just a way for me to debug

[2021-11-01 22:19] jeffposnick commented on #2971
Hello @FacuM!

I'm sorry you ran into issues; unfortunately, I'm having a hard time understanding what the root cause was, perhaps because you've gone back and edited the original issue.

If you have some suggestions as to how Workbox could have helped avoid whatever problem you experienced, could you distill that into a few points and we can try to address those? Otherwise, I'll close this issue.

[2021-11-02 01:10] FacuM commented on #2971
Hello @jeffposnick.

Well it looks like I'm still having some issues dealing with custom plugins on strategies.

Say I have the following setup:

[code]
...
[code]

Suddenly, my plugins don't seem to work anymore. I can't get `cachedResponseWillBeUsed` to write on localforage's `lastEvent`, even after manually **unregistering** my service worker, deleting all caches on the browser's **Cache Storag

[2021-11-02 14:30] #2927 closed, assigned to nobody

[2021-11-02 23:47] jeffposnick opened #2972 "StrategyHandler.getCacheKey() should take the request.url into account"
**Library Affected**:
_workbox-strategies_

There's currently some aggressive in-memory caching done inside of the `getCacheKey()` method of the `StrategyHandler` class: https://github.com/GoogleChrome/workbox/blob/4d39dfa6648c25b7727e7fcea8c6633d0c62ee38/packages/workbox-strategies/src/StrategyHandler.ts#L436-L458

If `this._cacheKeys[mode]` is set (where `mode` is either `'read'` or `'write'`) t

[2021-11-03 20:42] #2972 closed, assigned to jeffposnick

[2021-11-07 20:37] RandomEngy opened #2974 "preloadResponse type declaration conflicts with typescript webworker declaration"
**Library Affected**:
workbox-strategies v6.4.0

(6.3.0 was working)

**Browser & Platform**:
all browsers, Typescript 4.2.3

**Issue or Feature Request Description**:

On typescript build I get this error:

Typescript has this interface declaration:

[code]

Which conflicts with index.d.ts in workbox-strategies:

[code]

[2021-11-08 14:32] jeffposnick commented on #2974
Thanks for catching this—https://w3c.github.io/ServiceWorker/#fetchevent does list `Promise<any>` as the value, but at the same time, I'm not aware of any situation in which the browser will set it to anything other than `Promise<Response | undefined>`. (That's probably a question for the service worker spec editors.)

In any case, we'll update it, as I'd imagine this affects anyone using versions

[2021-11-08 15:21] nyroDev commented on #2428
In Safari, when formData have a file, the request don't go through Service Worker.
See Bug report on Safari here: https://bugs.webkit.org/show_bug.cgi?id=187461

[2021-11-08 23:18] heitorpr commented on #2968
Hello! updating the issue with the working example problem, these both are public repos in my account:
- pwa: https://github.com/heitorpr/react-cra-shell
- android: https://github.com/heitorpr/androidwebviewstaletest

PWA published in firebase hosting: https://react-cra-shell.web.app/

the api is updating the message bellow the button

![image](https://user-images.githubusercontent.com/6535255/140

[2021-11-09 11:03] andreban commented on #2968
🇧🇷  Oi Heitor!

I can see the message when using the example PWA you shared using WebView implementation in this gist: https://gist.github.com/andreban/40b22d321e4fc2de3f05f7753b8cd927.

![Screenshot_20211109-110133](https://user-images.githubusercontent.com/1733592/140912774-d45a67f1-c131-4ed9-bab8-7ca74fdbeb62.png)

The sample is a bit more involved than the one you shared, as it implements `onR

[2021-11-10 01:27] gavinbarron commented on #1692
@blephy thank you, that was the missing link for me. I had to adjust for webpack5, but you got me close enough I could connect the dots from there.

For anyone visiting this using webpack5 and htmlWebpackPlugin 5.x the setup is a little different to access the hash in your template now as the options have changed a fair bit and you need to inject the hash using [customized templateParameters](http

[2021-11-10 07:55] huineng opened #2976 "CVE-2021-23807"
workbox-webpack-plugin@6.3.0 requires jsonpointer@^4.1.0 via a transitive dependency on @apideck/better-ajv-errors@0.2.5

 "workbox-webpack-plugin": "^6.3.0",

[code]

thanks

[2021-11-10 14:35] jeffposnick commented on #2976
This looks like it'll be addressed in https://github.com/apideck-libraries/better-ajv-errors/pull/6, at which point we'll publish v6.4.1 with an updated dependency on the new version of `@apideck/better-ajv-errors`.

[2021-11-10 21:42] heitorpr commented on #2968
Still not working for me, I even copyed the entire jist in a new activity and tried it 😢 . I'm trying to figure out why

[2021-11-10 21:47] heitorpr commented on #2968
Maybe a missing permission?

[2021-11-10 23:07] #2974 closed, assigned to nobody

[2021-11-11 10:46] andreban commented on #2968
The only permission added to the Android Manifest is:

[code]

I have [added the full Android Manifest to the gist,](https://gist.github.com/andreban/40b22d321e4fc2de3f05f7753b8cd927#file-androidmanifest-xml) just in case.

Can you share details on the device model / WebView version?

[2021-11-12 13:10] elsmr commented on #2976
Hi @jeffposnick, just published `@apideck/better-ajv-errors@0.2.7`, it includes the dependency update of `jsonpointer` :smile:

[2021-11-15 23:27] #2976 closed, assigned to nobody

[2021-11-16 14:07] joepio opened #2978 "`generateSW` stuck"
Hi! Thanks for making this library :) I'm having some issues running workbox-cli for the first time.

**Library Affected**:
workbox-cli 6.4.1

**Browser & Platform**:
MacOS (m1 pro)

**Issue or Feature Request Description**:

On running `workbox generateSW`, the process seems stuck after `Using configuration from /Users/joep/dev/github/joepio/atomic-data-browser/data-browser/workbox-config.js.`

s

[2021-11-16 14:48] jeffposnick commented on #2978
`globDirectory: '/'` means that you're looking at the very root of your filesystem, attempting to find all of the files matching those patterns. For most hard drives, that's going to be a _lot_, and that explains why the globbing operating ran out of memory.

I think you want `globDirectory: './'` instead, if your goal is to look for files in the same directory as your project, not the root of the

[2021-11-16 14:48] #2978 closed, assigned to nobody

[2021-11-16 15:00] joepio commented on #2978
Thanks for the quick reply, that worked! I feel foolish

[2021-11-16 17:49] fisherspoon opened #2979 "Error with google tag manager"
**Library Affected**:
workbox 6.4.1

**Browser & Platform**:
all platforms

**Issue or Feature Request Description**:
Hi, I am using workbox version 6.4.1 and I have an error in the console, it is related to gtm, when connected to the page, it creates additional scripts and this causes an error with one of them

<img width="1605" alt="Снимок экрана 2021-11-16 в 19 50 16" src="https://user-images.g

[2021-11-16 18:07] fisherspoon commented on #2979
In addition, I noticed that the problem disappears with disabled adblock

[2021-11-16 19:05] jeffposnick commented on #2979
Hello @fisherspoon! Workbox does not circumvent the network blocking behavior of any browser extensions that you might have installed. Depending on how you configure Workbox, it might make a `fetch()` request for a URL which is subsequently blocked by an extension, and if that happens, you'll get log messages like what you're seeing in the console.

If you really wanted to, you could implement a `

[2021-11-16 19:05] #2979 closed, assigned to nobody

[2021-11-16 19:47] fisherspoon commented on #2979
Thanks [jeffposnick](https://github.com/jeffposnick) for the answer! Could you still answer my stupid question, is it possible to disable the service worker on certain routes?
Let's say I have a domain some-site.com and I would not like the worker to work, for example, on some-site.com/without-sw/
Of course, I can check with a regular expression in each strategy for js/css/fonts/images, but this i

[2021-11-16 20:07] jeffposnick commented on #2979
If you have a service worker registered with a scope of `/` (the top-level for your site), then it will control and therefore intercept network requests made by any pages underneath that top-level scope.

What you can do inside of your service worker is explicitly add in [routing criteria](https://developers.google.com/web/tools/workbox/guides/route-requests) to either respond or not respond to re

[2021-11-16 20:31] fisherspoon commented on #2979
Sure, but I'll leave it as a link to a third party resource. I have some pages after /
/work
/cpa
/admin

and I would like the service worker not to work for them, the only thing I came up with was to check the presence in the url for each strategy with a regular expression, for example, as I did for /admin. But as I understand it, it is impossible to completely disable the service worker?

[https

[2021-11-16 20:48] jeffposnick commented on #2979
Thanks for that info.

If you have flexibility over the URL structure of your site, the easiest approach would be have to a path that sits alongside all of the other paths on your site (`/work/`, `/admin/`, etc.) called `/pwa/` (or something similar), and to only register your service worker to control that `/pwa/` scope. That will ensure that page that are accessed from the `/admin/` prefix or an

[2021-11-17 13:21] fisherspoon commented on #2979
Unfortunately, I cannot create separate url (/pwa) for pages where SW is needed.
And ignoring is very similar to what I used in the strategy for fonts, for example, do not create a cache for fonts if there is /admin and /work in the url.

<img width="656" alt="Снимок экрана 2021-11-17 в 15 19 06" src="https://user-images.githubusercontent.com/17007495/142208184-a87e6e25-4951-4751-ac27-709293439b80

[2021-11-17 16:50] fisherspoon opened #2980 "Reloading the page refreshes the files in the cache"
**Library Affected**:
workbox 6.4.1

**Browser & Platform**:
all browsers

Hi I noticed a strange thing, I have a notification for the user to install a new version of SW. I am on the page, at this moment I rebuild the files and make the Inject Manifest, then I reload the page and see the installation notification + in the console I see the old version + the new one pending and, most importantly,

[2021-11-17 20:14] jeffposnick commented on #2979
I'm not clear on what you mean when you mention "actual shutdown" not existing.

If you're asking about how long a SW will run for, please take a look at https://stackoverflow.com/a/29750936/385997

[2021-11-17 20:52] fisherspoon commented on #2979
whatever it was in devtools or it was turned off

[2021-11-19 15:12] scottdickerson opened #2981 "Security issue from better-ajv-errors module json-schema 0.30.0 version"
Welcome! Please use this template for reporting bugs or requesting features. For questions about using Workbox, the best place to ask is Stack Overflow, tagged with `[workbox]`: https://stackoverflow.com/questions/ask?tags=workbox

**Library Affected**:
workbox-build

**Browser & Platform**:
NA

**Issue or Feature Request Description**:
A new security exposure has been found in json-schema 0.3.0.

[2021-11-19 19:11] samydoesit opened #2982 "PWA shows sometimes a white screen"
**Library Affected**:
"workbox-cacheable-response": "^6.4.1",
"workbox-core": "^6.4.1",
"workbox-expiration": "^6.4.1",
"workbox-google-analytics": "^6.4.1",
"workbox-precaching": "^6.4.1",
"workbox-routing": "^6.4.1",
"workbox-strategies": "^6.4.1",
"workbox-window": "^6.4.1",
"workbox-webpack-plugin": "^6.4.1",

**Browser & Platform**:
Chrome 96.0.4664.55 on MacOS 12.0.1 Monterey

**Issue or Fea

[2021-11-21 01:18] chrisbennett-Bene opened #2983 "Overly aggressive default caching of workbox.recipes might be problematic"
**Library Affected**:
workbox-sw, workbox.recipes

**Browser & Platform**:
Chrome, Edge, Brave etc. Can't easily tell with Firefox

**Issue or Feature Request Description**:
Over aggressive default caching of workbox.recipes can quickly consume large amounts of storage space

Love the continued good work on workbox.

I noticed that the default workbox.recipes are very aggressively caching results,

[2021-11-22 09:22] CapInSpase opened #2984 "Cache is not updated in StaleWhileRevalidate"
**Library Affected**:
workbox 6.4.1

**Browser & Platform**:
all browsers

**Issue or Feature Request Description**:
Hi, I ran into a problem that after refreshing the page, the html cache for NavigationRoute is not updated

[code]

[2021-11-22 12:24] CapInSpase commented on #2984
And something else. I am using BroadcastUpdatePlugin to show a restart notification. In chrome, this works great, but in Safari, the broadcast continues to send a notification that the cache has been updated.
For example

[code]

[2021-11-22 19:30] jeffposnick commented on #2878
(I've updated the code sample to use `event.type === 'install'` instead of `event instanceof InstallEvent`, since the latter apparently won't work in Safari, where `InstallEvent` is not defined in the `ServiceWorkerGlobalScope`.)

[2021-11-22 20:45] jeffposnick opened #2985 "Don't ask for ignoreURLParametersMatching when running `workbox wizard --injectManifest`"
**Library Affected**:
_workbox-cli_

The `workbox-cli`'s `wizard` mode has an optional set of questions that it asked when passed `--injectManifest`. We should not ask about and write `ignoreURLParametersMatching` to the config when in `--injectManifest` mode, since that option isn't supported when using `workbox injectManifest`.

[2021-11-23 15:02] jeffposnick opened #2986 "Alias runtimeCaching's urlPattern as match, eventually deprecate urlPattern"
**Library Affected**:
_workbox-build_

Workbox used to go all-in on RegExp based routing for runtime caching, and the `runtimeCaching` options in our build tools use the property named `urlPattern` to configure the match criteria. This criteria is passed in under the hood to the first parameter of `registerRoute()`, which is overloaded and takes either a string, a RegExp, or a [`matchCallback` fun

[2021-11-23 15:31] jeffposnick commented on #2436
CC: @malchata as a reminder that better discoverability of this info is still a priority for the new docs.

[2021-11-26 13:14] 56789a1987 commented on #2849
Is it posible to use this in the generate SW build tools?

[2021-11-30 14:00] jeffposnick opened #2989 "Ship CacheNetworkRace as part of workbox-strategies"
**Library Affected**:
_workbox-strategies_

We currently have code for a "cache and network race" strategy [in our docs](https://developers.google.com/web/tools/workbox/modules/workbox-strategies#custom_cache_network_race_strategy). The entirety of it looks like:

[code]

Some folks have asked if we could ship it as part of `workbox-strategies` to make it more "official."

[2021-11-30 19:02] #2981 closed, assigned to nobody

[2021-12-01 19:50] jeffposnick commented on #2984
Hello @CapInSpase!

Regarding your first comment, the `BroadcastUpdatePlugin` only runs if a cache update happened: https://github.com/GoogleChrome/workbox/blob/cdfc4cbc5d16f076d6ad51a49f19ad961c0c7482/packages/workbox-broadcast-update/src/BroadcastUpdatePlugin.ts#L58-L60

By the time you see a message broadcast while using the plugin, the cache `put()` should have already occurred. I am not sure

[2021-12-01 20:26] jeffposnick commented on #2983
There's more information about how [opaque responses](https://stackoverflow.com/questions/39109789/what-limitations-apply-to-opaque-responses) can cause inflated storage quota usage at https://developers.google.com/web/tools/workbox/guides/storage-quota#beware_of_opaque_responses

My assumption is that most of the automatic caching you're seeing of the Google Maps tiles are for opaque responses, a

[2021-12-01 21:34] jeffposnick commented on #2971
Hello @FacuM—I'm still having a hard time understanding what you're trying to accomplish, and therefore it's hard for me to comment on why what you describe isn't working.

Here's what I _think_ you're trying to do (which doesn't involve using `workbox-precaching` at all...):

[code]

If that misses the mark as to what you're trying to do, I'd encourage you to use the `state` parameter that's pass

[2021-12-01 21:34] #2971 closed, assigned to nobody

[2021-12-02 10:06] florianmatz opened #2990 "Files are refreshed after browser reload (not served from cache) // Reload to refresh"
**Library Affected**:
workbox-build, workbox-sw, workbox-window - all 6.4.1

**Browser & Platform**:
All browsers

**Issue or Feature Request Description**:
I'm implementing a classic "Refresh to reload" Dialog.  Everything works pretty well but for one thing: When I do a reload on the site with a running service worker, sometimes changes are immediately present, even though the new worker has not

[2021-12-02 10:33] CapInSpase commented on #2990
Hi, this is very similar to my problem, after I do the assembly of files, I injectManifest and if I am on the page at this moment and do a reload, the cache is updated itself.
And I also found all the strange behavior, I have a code that helps to reload all open tabs if the user agrees to install.

[code]

[2021-12-02 10:37] fisherspoon commented on #2990
Hi, this is very similar to my problem, after I do the assembly of files, I injectManifest and if I am on the page at this moment and do a reload, the cache is updated itself.
And I also found all the strange behavior, I have a code that helps to reload all open tabs if the user agrees to install.

So, if I have 2 tabs open in safari, then after clicking, as expected, both tabs are reloaded and in

[2021-12-02 15:15] florianmatz commented on #2990
**Additional finding**: When I make my App a bit "simpler" for testing purposes and make changes than, everything works as expected. Like changing stuff on the root level, where nothing is imported lazy by react etc. I have a strange feeling, that could have something to do with it, not having the chunks present at ServiceWorker Creation?! Although they should be precached...

[2021-12-02 16:26] jeffposnick commented on #2990
A "shift reload" (a.k.a. "force reload" or "hard reload") will cause the page to be loaded outside of service worker control. This is part of the service worker specification, and is outside of anything that Workbox could influence: https://developers.google.com/web/fundamentals/primers/service-workers/lifecycle#shift-reload

(There are [some changes](https://github.com/GoogleChrome/workbox/issues

[2021-12-02 16:49] fisherspoon commented on #2990
If you mean rebooting with Ctrl+shift+R then I do the usual reboot with Ctrl+R

[2021-12-02 17:22] florianmatz commented on #2990
Same 😂

Sorry for the confusing title and description. Going to change that. I meant hard reload only in comparison to the update I trigger on route change…

[2021-12-02 18:46] jdcoldsmith opened #2991 "Release new npm version to fix security vulnerability"
**Library Affected**:
workbox-build

**Issue or Feature Request Description**:
Could you please publish this package's most recent commit 01cba908d3a0f7b487b0b1f319c2bf7b41cd3287 to fix the security vulnerability that it is causing? Thank you!

[2021-12-02 19:07] jeffposnick commented on #2991
Yes; I want to get https://github.com/GoogleChrome/workbox/pull/2992 included in the next release as well, so once that's merged we will.

[2021-12-02 19:14] jdcoldsmith commented on #2991
You da man! Thank you!

[2021-12-02 20:23] kurtextrem commented on #2989
Off-topic for this PR, but when would it be the case that the disk is slower than network? On slow and old HDDs?

[2021-12-02 22:07] #2985 closed, assigned to jeffposnick

[2021-12-02 22:09] jeffposnick commented on #2989
There's some analysis at https://simonhearne.com/2020/network-faster-than-cache/

[2021-12-02 22:31] jeffposnick commented on #2991
It's out: https://github.com/GoogleChrome/workbox/releases/tag/v6.4.2

[2021-12-02 22:31] #2991 closed, assigned to nobody

[2021-12-03 20:34] RandomEngy opened #2993 "Make `revision` optional when `integrity` is set in precache manifest"
**Library Affected**:
workbox-build, v6.4.1

**Browser & Platform**:
All browsers

**Issue or Feature Request Description**:
The precache manifest that's injected has entries that look like this:
[code]

If you set revision to undefined instead of null, it would be left out of the JSON entirely and make a smaller bundle.

[code]

Might be better as
[code]

[2021-12-03 21:29] jeffposnick commented on #2993
At some point this might change, but for the time being, we want an explicit `null` there as a signal that the `revision` field has been deliberately set, rather than someone manually creating a precache manifest entry without taking verisoning into account at all.

(This is obviously not foolproof, but it's part of a best-effort to prevent developers from mistakenly, e.g., adding `{url: '/index.h

[2021-12-03 21:38] RandomEngy commented on #2993
Makes sense, thanks for the explanation.

[2021-12-07 04:29] ghost commented on #1530
@jeffposnick if this hasn't been resolved, I'd love to help out!

[2021-12-07 15:16] jeffposnick commented on #1530
Thanks, @evanrittenhouse—it doesn't sound like @srikanthavadhanula is able to help at the moment, so we would appreciate your contribution!

[2021-12-07 15:17] jeffposnick commented on #1530
(There's information about getting set up to make contributions and run the build/test suite at https://github.com/GoogleChrome/workbox/blob/v6/CONTRIBUTING.md)

[2021-12-07 23:31] nhoizey opened #2994 "[feature] Allow passing a Response instead of a string to any of offlineFallback() recipe options"
**Library Affected**:

`workbox-recipes`

**Browser & Platform**:

all browsers

**Feature Request Description**:

I would like to be able to use a Response instead of a string with the name of a ressource in the cache, in the `offlineFallback() recipe options`.

For example, for the image:

[code]

[2021-12-08 16:18] Hossam-Ali commented on #2897
I am facing the same problem with ` workbox-expiration`
do you have an update for this, please? @jeffposnick

[2021-12-08 16:37] jeffposnick commented on #2897
I think we're going to re-evaluate how we ship our ES modules in Workbox v7 (see #2797) as a breaking change.

I don't think we're going to see any changes before that.

In general, I'm wary of customizing Workbox's published modules to accommodate Jest, as I've anecdotally heard about developer pain related to their current implementation: https://twitter.com/rauschma/status/1467279640301641728

[2021-12-08 16:40] budarin opened #2995 "[feature] Add an option to InjectManifest as a function to be able to process assets-manifest.json and import it into the service worker"
**Library Affected**:
workbox-webpack-plugin

**Browser & Platform**:
Any

**Issue or Feature Request Description**:
We need to smart clean runtime cache when a new version of service worker is activated.
Not having a complete list of assets from `assets-manifest.json` available - we can't do this: we need to either completely clear the runtime cache and reload and cache assets again, or leave all

[2021-12-08 17:22] jeffposnick commented on #2995
To clarify, when you say `assets-manifest.json`, are you referring to the output of https://www.npmjs.com/package/webpack-assets-manifest? (I'm going to assume that's what you mean.)

`workbox-webpack-plugin`'s `InjectManifest` mode is focused on creating a precache manifest, and injecting that into your `swSrc` file. Adding in functionality related to runtime caching to `InjectManifest` sounds li

[2021-12-08 17:59] budarin commented on #2995
Yes, I'm

You also have access to webpack-assets-manifest - you use it to filter include & exclude - so you can expose it in a hook

To fetch manifest - is not an option - there are a lot of troubles and cases with network.

We can not inline webpack-assets-manifest before the end of webpack building the project, but at the end of buildit it useless (- here is a closed circuit

I will read the the

[2021-12-09 03:19] ghost commented on #1530
@jeffposnick  I was reading the above comment chain to try to figure out what needs to happen, but can't seem to understand  - do we only need to iterate over (const callback of this.iterateCallbacks('cacheDidFail'))'? Is there a cacheDidFail callback that I need to write?

Sorry - this is my first open-source contribution (saw that it's marked as a good first issue) and am a little unclear on how

[2021-12-09 15:22] jeffposnick opened #2996 "Consider switching from ajv to zod"
We've recently switched to using a TypeScript translated to JSON Schema, validated at runtime by AJV in `workbox-build`. We've been held back a bit by the [limitations](https://github.com/GoogleChrome/workbox/blob/v6/gulp-tasks/build-node-packages.js#L44-L108) of JSON Schema, and been burned a couple of times by the number of security issues in the underlying AJV-related dependencies.

[Zod](https

[2021-12-10 09:23] freshlymadebread commented on #2470
I had the same problem.
The key issue is that the waiting message is not received in app ，not messageSW  does not work.

messageSkipWaiting cant help me.

[2021-12-10 13:39] budarin commented on #2995
I read the article and looked at the plugin - there is no other acceptable way to insert the webpack assets-manifest into the code of the service worker when using injectManifest plugin except in the code of the plugin itself. Moreover, it does not require much effort from you: the plugin uses webpack assets-manifest for its work.

I am convinced that you need to rethink the name and functions of

[2021-12-11 16:33] asolopovas commented on #1531
How about this scenario, I would like to make sure that if user downloaded images via lazy-loaded request once, they should remain in cache, so that in case of lost connection he can browse already downloaded ones.

[2021-12-13 11:35] fisherspoon opened #2997 "Safari does not update cache in adjacent tabs when a new service worker is released"
Hi, for several days I can not figure out the reason for this behavior in safari

**Library Affected**:
https://storage.googleapis.com/workbox-cdn/releases/6.4.2/workbox-window.prod.mjs
https://storage.googleapis.com/workbox-cdn/releases/6.4.2/workbox-sw.js

**Browser & Platform**:
Safari

[https://stackoverflow.com/questions/70328444/safari-does-not-update-cache-in-adjacent-tabs-when-a-new-servic

[2021-12-13 20:42] jeffposnick opened #2998 "workbox-streams does not handle opaque responses properly"
**Library Affected**:
_workbox-streams_

The following code in `workbox-streams` will break for opaque responses (as well as opaque redirected responses):

https://github.com/GoogleChrome/workbox/blob/9fae1320327a3a75bf71df9a76708978bd252428/packages/workbox-streams/src/concatenate.ts#L24-L34

We shouldn't assume that the response body always exposes `getReader()`.

[2021-12-14 14:30] budarin opened #3000 "Property 'response' is missing in type 'RequestWillFetchCallbackParam' but required in type 'HandlerWillRespondCallbackParam'"
**Library Affected**:
types

**Browser & Platform**:
any

**Issue or Feature Request Description**:
Try to define requestWillFetch plugin

[code]

Interface declaration was given from workbox typings, but have a stange type error

[code]

despite the error, the code is built and works correctly

[2021-12-14 15:48] jeffposnick commented on #2998
...actually, I think we just need some logic here to detect whether `source.type` is `'opaque'` or `'opaqueredirect'` and log a meaningful error, as there isn't much we can do to combine an opaque body in a non-opaque response stream.

[2021-12-14 19:20] jeffposnick opened #3002 "Move off of rollup and on to esbuild/swc/??? for generateSW"
We currently use [Rollup](https://rollupjs.org/) in our build tools' "generate" modes to take a templated service worker source file + config, and produce either a single output service worker (if `inlineWorkbox` is `true`) or a service worker + custom Workbox runtime bundle (if `inlineWorkbox` is `false`; this mode uses [`rollup-plugin-off-main-thread`](https://github.com/surma/rollup-plugin-off-

[2021-12-14 19:27] jeffposnick opened #3003 "Make workbox-sw npm package CDN-friendly"
The `workbox-sw` package that's published to npm is of very limited usefulness; it's primarily loaded via `importScripts()` using our "official" CDN URLs, like https://storage.googleapis.com/workbox-cdn/releases/6.4.2/workbox-sw.js

Third parties, like the Nuxt community, have attempted to make `workbox-sw`-style loading play nicely with npm mirror CDNs via packages like https://www.npmjs.com/pack

[2021-12-14 19:28] #2998 closed, assigned to jeffposnick

[2021-12-15 15:40] jimaek commented on #3003
Let us know if the jsDelivr team can help with anything! We already serve more than 5 billion requests per month https://www.jsdelivr.com/package/npm/workbox-cdn

[2021-12-15 20:06] jeffposnick commented on #1530
Hello @evanrittenhouse—no worries. I'm starting to wonder if marking this as a "good first issue" has ended up misleading folks, given that others have also had issues implementing it.

There is currently no `cacheDidFail` callback, so closing out this issue would involve creating TypeScript definitions for it and then calling any registered callbacks at the appropriate place in the codebase, gett

[2021-12-17 15:53] iamthesiz opened #3004 "Working with large local videos iOS Safari"
# Summary
I'm building a video sharing/editing app. The idea here is: get a video from a file input, load it into a `<video />` element for seeking, playing, etc. These videos should be able to go up to 500MB in size. On my iPhone 11, a 3 minute video is about 200MB.

### tldr;
1. click file input - choose video
2. cache file (temporarily cached, removed once video is processed on the backend, use

[2021-12-18 16:40] ghost commented on #1530
Ahh, I see @jeffposnick. Unfortunately it is probably a little bit beyond my scope - are there any other issues I can contribute to that you're aware of?

[2021-12-20 12:41] AntonOfTheWoods commented on #2177
I have been staring at that message many 10s of times per day for months now and I *finally* understand what it means. That it also took me several hours to realise that this was why I wasn't getting my bundles... Now I guess I just have to work out how to reduce my bundle from 75MB down to something slightly more reasonable :-D.

[2021-12-20 17:49] klarstrup commented on #1790
whatever your pipeline, simply don't use workbox when `process.env.NODE_ENV === 'development'` 😌

[2021-12-21 09:31] HappyDustbunny commented on #2982
My vanilla javascript pwa also shows a white screen sometimes, but on Chrome for Android (fully updated on a Samsung S8).

I can't reproduce the bug consistently, but it seems to appear after the app loses focus sometimes. Like when I turn off the screen of my phone for a while. I don't _**think**_ the length of time is critical, and neither is losing connection a factor, but I may be wrong here a

[2021-12-21 20:07] cypressious opened #3005 "BackgroundSyncPlugin doesn't work with NetworkOnly and networkTimeoutSeconds set"
**Library Affected**:
workbox-strategies, workbox-background-sync

**Browser & Platform**:
all browsers

**Issue or Feature Request Description**:

My goal is to define a timeout on certain API calls and if they do timeout, put them in a background-sync queue.

In my Service Worker, I have the following code:

[code]

Unfortunately, this doesn't work as desired. When the request times out, e.g. be

[2021-12-22 14:53] jeffposnick commented on #3000
Hello @budarin—it's strange to see `HandlerWillRespondCallbackParam` explicitly used as the type for parameter passed to the `requestWillFetch` callback function. There's a `RequestWillFetchCallbackParam` type that should be used (implicitly) instead.

The following snippet of code, with explicit typings, works for me without any TypeScript errors:

[code]

[2021-12-22 17:31] jeffposnick opened #3006 "Dynamic method calls in Queue.ts could fail with minification"
There are some dynamic method calls in `Queue.ts` along the lines of:

https://github.com/GoogleChrome/workbox/blob/48f53f790ce7f0aa1a8431bdc605d589b648e329/packages/workbox-background-sync/src/Queue.ts#L279

(and a few more similar ones).

These method calls can fail if minification changes the names of the methods on the underlying `QueueStore` object.

I think it might be possible (via `declare

[2021-12-22 18:13] budarin commented on #3000
Sorry - my mistake

[2021-12-22 18:13] #3000 closed, assigned to nobody

[2021-12-24 17:33] iamthesiz commented on #3004
I'm working on a browser limitations app that will record
- version
- browser
- etc.

This will allow us to test different strategies, and see what browsers and versions they are failing in. Will post once it's ready. In the meantime, any advice on this would be great.

[2021-12-25 19:08] budarin commented on #2995
if arrange a separate assembly for the service worker, redundancy appears (for example, the core-js module will be duplicated for both the application and the service worker, whereas with a single assembly, this module is used together and is present in one instance)

[2021-12-28 09:20] jeremylecler opened #3008 "BackgroundSync call onSync method"
Hello,

I am in the process of developing an application that should work offline.

I have used backgroundSync to intercept all POST requests to my API if the app is offline.

That works well.

But I still need on the client side, to create a button that allows you to force synchronization.
By clicking on this button, I send a postMessage to my service worker.
He receives it well.
But I don't know

[2021-12-31 09:58] BrendanOutform commented on #2393
+1 for the update for Electron

[2022-01-01 09:50] JerryC8080 commented on #2276
I ran into the same problem, and then I found my cause.
Since Workbox v5 is a compressed file for workbox-window which export with it's [package.json](https://github.com/GoogleChrome/workbox/blob/48f53f790ce7f0aa1a8431bdc605d589b648e329/packages/workbox-window/package.json#L23).
Then it was compressed twice by webpack `UglifyJsPlugin`（Just like you(@deeDude) and mine webpack configuration）.

1. Th

[2022-01-02 00:34] atjn commented on #2863
@jeffposnick I noticed you added this to the v7 milestone, which sounds great! I just wanted to remind you that I am happy to submit a PR for these changes, although I can't give any guarantees as to when the PR would be ready :)

[2022-01-07 17:32] davidgolden opened #3010 "Redirect Routes Don't Follow Caching Rules in Chrome 97"
**Library Affected**:
workbox-webpack-plugin (GenerateSW)

**Browser & Platform**:
Google Chrome 97

**Issue or Feature Request Description**:
If a redirect route is matched via `urlPattern` it is being served by the service worker regardless of the caching strategy. I believe it is a result of this addition in Chrome 97: https://chromestatus.com/feature/5752539724120064#details

[2022-01-07 21:58] jeffposnick opened #3011 "TSDoc cleanup for workbox-build"
There are a few things we need to do to https://github.com/GoogleChrome/workbox/blob/v6/packages/workbox-build/src/types.ts to clean up the TypeScript doc so that it could be properly rendered at developer.chrome.com

- Add the [parameter-level inline documentation](https://github.com/GoogleChrome/workbox/blob/48f53f790ce7f0aa1a8431bdc605d589b648e329/packages/workbox-build/src/generate-sw.ts#L18-L

[2022-01-09 03:53] DibyodyutiMondal commented on #2478
Is there any update on this?
The typings published for the webpack plugin is old and I think is incomplete as well.

I am making a custom plugin for angular and while it works in practice, the only problem is that typescript keeps complaining so I have to silence it.

[2022-01-09 12:44] roikoren755 commented on #2478
Sorry, I haven't had the time to push this forward on my end...
If anyone is interested in taking the helm on this and continue with my base branch, you are more than welcome.
Otherwise, I'll try and find the time to work on it

[2022-01-10 13:43] #3006 closed, assigned to tropicadri

[2022-01-10 14:19] jeffposnick commented on #3010
Thanks for reporting this—while I've seen the change to Chrome (and expect other browsers to follow with a similar change, if they haven't already, [as per this PR](https://github.com/whatwg/fetch/pull/1345)), I was not clear that there would be any Workbox-specific impact.

Would it be possible to share a link to a reproduction URL that demonstrates the specific behavior?

[2022-01-10 14:22] jeffposnick commented on #2478
@tropicadri from the core Workbox engineering team is actively working on getting the open PR cleaned up: https://github.com/GoogleChrome/workbox/pull/2882

[2022-01-10 17:51] tropicadri commented on #2478
The PR is ready for review. It should be live relatively soon.

[2022-01-11 13:41] HappyDustbunny commented on #2982
My vanilla javascript pwa also shows a white screen sometimes, but on Chrome for Android (fully updated on a Samsung S8).

I can't reproduce the bug consistently, but it seems to appear after the app loses focus sometimes. Like when I turn off the screen of my phone for a while. I don't _**think**_ the length of time is critical, and neither is losing connection a factor, but I may be wrong here a

[2022-01-11 14:40] jeremylecler commented on #3008
I find it !
`if ('serviceWorker' in navigator) {
          navigator.serviceWorker.ready.then((registration) => {
            registration.sync.register('workbox-background-sync:api-queue')
          }).then(() => { console.log('success') }).catch((err) => { console.error('Error registering background sync', err) })
        }`

[2022-01-11 14:40] #3008 closed, assigned to nobody

[2022-01-13 15:28] jeffposnick commented on #3010
I see that a bunch of folks have given this issue report a thumbs-up reaction—I just wanted to reiterate that I'm unclear right now specifically how users of Workbox are being impacted by this change, and if someone could pass along an example of unexpected breakage, we'll explore options to mitigate that.

[2022-01-13 15:32] davidgolden commented on #3010
I've spent some time trying to setup a minimum reproducible example and haven't succeeded yet. I plan to keep at it as I find time. If it helps, the condition that spurred this bug report in our production app is improper cache serving following an oauth login and redirect.

[2022-01-13 15:55] jeffposnick commented on #2883
CC: @Snugug who might be running into something similar.

[2022-01-13 17:58] jeffposnick commented on #3010
Thanks!

If you have a production repro but would rather not share the URL publicly on GitHub, you can DM https://twitter.com/jeffposnick

Also, if you could just pass along what your current `registerRoute()` call looks like, that would help me understand what's going on without a full repro.

CC: @wanderview from Chrome's service worker team as an FYI.

[2022-01-13 18:39] wanderview commented on #3010
Likely due to this bug which is fixed in canary:

https://bugs.chromium.org/p/chromium/issues/detail?id=1286367

[2022-01-13 18:51] davidgolden commented on #3010
I just tested and it is not fixed for me in Version 99.0.4826.0 (Official Build) canary (arm64)

[2022-01-13 19:28] wanderview commented on #3010
The fix for that bug is in canary  99.0.4827.0.

[2022-01-13 21:41] kingfisher13 opened #3014 "Precaching fails to cache JS on Firefox, but does so correctly on Chrome"
**Library Affected**:
workbox-precaching, workbox-webpack-plugin

**Browser & Platform**:
Firefox v96

**Issue or Feature Request Description**:
We're having an issue with Workbox. The codebase includes Workbox for PWA and caching support. On first load, Chrome will download the app files, and store them in the cache - this includes JS, CSS, and HTML. All working correctly.

Firefox, however, is o

[2022-01-13 22:52] jeffposnick commented on #2883
Okay, sorry for initially assuming that this was just logging noise. I was able to reproduce failures to update the cache during the revalidate step of `StaleWhileRevalidate`, when that strategy is being used for navigation requests, and navigation preload is enabled.

The fix is adding in a `waitUntil()` around the entire promise that performs the revalidation. It should make it into the next rel

[2022-01-14 13:46] martynassimkevicius commented on #2883
@jeffposnick Thanks a lot 🙂

[2022-01-14 14:42] #2883 closed, assigned to nobody

[2022-01-14 14:43] #2436 closed

[2022-01-14 14:43] #3011 closed, assigned to jeffposnick

[2022-01-14 15:06] jeffposnick commented on #3014
I haven't heard of any similar reports. Our test suite runs against Firefox, among other browsers, and does cover this scenario.

Under the hood, `precacheAndRoute(self.__WB_MANIFEST);` will create an `install` handler and add all of the items in the precache manifest to a cache. A promise representing the successful completion of all these caching operations is passed to `installEvent.waitUntil()

[2022-01-14 15:13] davidgolden commented on #3010
@wanderview @jeffposnick I can confirm my issue has been resolved in the latest canary build. Thanks for your help!

[2022-01-14 15:43] #3010 closed, assigned to nobody

[2022-01-14 16:12] wanderview commented on #3010
We are planning to get this into a stable release in the next week or so.

[2022-01-14 17:45] kingfisher13 commented on #3014
I can't post it here, but happy to DM a link if that's an option?

[2022-01-14 17:48] jeffposnick commented on #3014
Sure—https://twitter.com/jeffposnick

[2022-01-14 19:37] jeffposnick commented on #3014
All of the resources appear to be cached in both Chrome and Firefox in the example web app you passed along.

That being said, you have 793 entries in your precache manifest, which is _a lot_. You should start with ensuring that `.gz` files aren't added to the precache manifest:

[code]

You can verify what's in the cache via commands in the JS console, since Firefox's cache storage viewer apparen

[2022-01-14 19:37] #3014 closed, assigned to nobody

[2022-01-17 06:10] jdmerinor opened #3016 "Inject manifest option swDest should probably support [contenthash] name template"
**Library Affected**:
workbox-webpack-plugin

**Browser & Platform**:
Windows with Webpack 4 and 5

**Issue or Feature Request Description**:
Hi guys,
I'm trying to do some server-side modifications to the precache based on what module the user is visiting. So the actual JS that I'm returning as my SW script is something like this:

[code]

So the issue that I'm facing is that in this case if the

[2022-01-17 14:52] luke-z opened #3017 "Page precaching in mobile browsers not working because of ?__WB_REVISION__=hash"

[2022-01-17 19:52] jdmerinor commented on #3016
it's important to note that these modifications are not known at build time unfortunately, hence the need of doing them on the server-side instead of being able to use the manifestTransforms or the additionalEntries option.

[2022-01-18 19:27] #3017 closed, assigned to nobody

[2022-01-18 21:49] jeffposnick commented on #3016
Generally speaking, it's a [best practice](https://developers.google.com/web/fundamentals/primers/service-workers/lifecycle#avoid-url-change) to keep the same URL for your service worker across deployments. I understand that in your specific use case, the top-level service worker would have the same name, and it would in turn call `importScripts()` on the URL emitted from `webpack` (though I'm not

[2022-01-20 13:42] lajuffermans commented on #2880
+1 for making this configurable, these days simultaneous requests can improve loading assets a lot to be honest.

[2022-01-20 16:42] budarin commented on #2880
+1 request - is another +1 potential point of failure and +1 another request that can increase the loading time of the site

[2022-01-21 04:09] Midas847 commented on #2989
Hey, I am interested in this issue. Could you guide me a bit? From where should I start?

[2022-01-22 01:16] lildeadprince commented on #2931
This indeed happens to me when ServiceWorker re-installs and updates precache at the same time.

As of little investigation I'd add the the issue is that for some reason cacheDidUpdate fires before the new ServiceWroker claimed the clients.
Even if I put `setInterval` for printing `matchAll(type: 'all'})` it always prints clients, but plugin do not have them.

I didn't dig yet internally to unders

[2022-01-23 22:35] pwang2 opened #3018 "Opaque Cache behaves unexpected"
**Library Affected**:
_workbox-sw@6.4.2_

**Browser & Platform**:
Google Chrome (Firefox looks okay)

**Issue or Feature Request Description**:
I was simply using using CacheableResponsePlugin to cache some opaque CDN resources as below.
[code]
Here, service worker response was followed by another fetch initialized by StrategyHandler.js in workbox and hit disk cache.  It turns out, the service wor

[2022-01-23 23:16] pwang2 commented on #3018
I think here it explains the bizarre sizing thing.    I still want to figure out why the cache is not hit by service worker.
https://web.dev/learn/pwa/caching/#:~:text=Also%2C%20opaque%20responses%20don%27t%20expose%20their%20actual%20size%20in%20the%20storage%20API%2C%20affecting%20quotas.%20Some%20browsers%20expose%20large%20sizes%2C%20such%20as%207Mb%20no%20matter%20if%20the%20file%20is%20just%

[2022-01-24 03:34] #3018 closed, assigned to nobody

[2022-01-24 15:22] jeffposnick commented on #2931
Apologies that folks are running into problems.

One thing that I wanted more info about is the code running in your `window` clients, that sets up the `message` event listener. As mentioned [in the docs](https://developers.google.com/web/tools/workbox/modules/workbox-broadcast-update#using_broadcast_update):

Can you confirm that you're calling `navigator.serviceWorker.addEventListener('message',

[2022-01-24 17:25] ivikash commented on #2931
I am trying to display a notification banner when
1. Precache updates
2. StaleWhileRevalidate cache Updates

The events are not triggering for pre-cache.

### SW Registration file
[code]

### SW file
[code]

As the broadcast plugin is not working with previous setup, I am trying to move the eventlistener early on.

### Updated HTML
[code]

### sw-registration.js
[code]

The message is still not ge

[2022-01-24 17:28] ivikash commented on #2931
I am trying to display a notification banner when
1. Precache updates
2. StaleWhileRevalidate cache Updates

The events are not triggering for pre-cache.

### SW Registration file
[code]

### SW file
[code]

As the broadcast plugin is not working with previous setup, I am trying to move the eventlistener early on.

### Updated HTML
[code]

### sw-registration.js
[code]

The message is still not ge

[2022-01-24 18:39] rtritto opened #3019 "[workbox-build,workbox-webpack-plugin] `source-map-url` is deprecated"
`source-map-url` is [deprecated](https://github.com/lydell/source-map-url#deprecated) and it's a dependency of _workbox-build_ and _workbox-webpack-plugin_.

[2022-01-24 19:49] jeffposnick commented on #2931
I'm sorry for not understanding the problem earlier—when reproducing this locally, I realized what's going on.

`BroadcastUpdatePlugin` sends messages when there's previously cached entry that is about to be overwritten by a new entry with the same URL but different contents. The cache entries managed by `workbox-precaching` will never have the same URL but different contents. (`workbox-precaching

[2022-01-24 20:00] lildeadprince commented on #2931
_(was writing it just at the same time previous comments have been posted)_

Hi @jeffposnick, thanks for asking.

I wouldn't say that the issue resides in the area of dropped messages.
At least a problem I've stumbled upon is about messages nowhere to be sent. I will provide an example also covering your concern.

1. First I put `navigator.serviceWorker.addEventListener('message', ...)` directly i

[2022-01-24 20:02] jeffposnick commented on #2931
(I've filed https://github.com/GoogleChrome/developer.chrome.com/pull/2011 to get our new docs updated with a caveat about this.)

[2022-01-24 20:51] jeffposnick commented on #2931
Based on what I'm hearing, I think that there's an explanation for the behavior, and hopefully the improvements to the docs will help others avoid this confusion.

[2022-01-24 20:51] #2931 closed, assigned to nobody

[2022-01-26 11:08] nouman-te commented on #2982
In my React PWA, i also see the blank screen.
**Library**
workbox 6.4.2
**Platform**
Chrome Version 97.0.4692.99 MacOS Monterey Version 12.1
When i open install PWA for first time it does show content. When i switch to dark theme, it show me a blank screen.
I'm not sure if someone is facing the same issue in dark mode or not.

[2022-01-28 20:56] cepm-nate opened #3022 "workbox-broadcast-update not limiting to only 'headersToCheck' option. firstResponse.headers and secondResponse.headers are empty"
**Library Affected**:
workbox-broadcast-update

**Browser & Platform**:
all browsers (tested Chrome & Firefox)

**Issue or Feature Request Description**:

- I get `Unable to determine where the response has been updated because none of the headers that would be checked are present.`
- Console at "Debug" level shows that both `firstResponse.headers` and `secondResponse.headers` are empty. Dropping

[2022-01-29 16:44] userquin opened #3023 "question: `generateSW` with `runtimeCaching` caches missing on initial request"
**Library Affected**:
`workbox-build`: `generateSW` (6.4.2 version)

https://streamable.com/xdhu3t

**Browser & Platform**:
Chrome and Edge on windows (also failing on Chrome Canary), not tested in other OS.

I don't know if this is a workbox bug or if I need to add somehting to the configuration: maybe I need to add some precaching entry.

When generating the sw using `workbox-build::generateSW`

[2022-01-29 19:20] userquin commented on #3023
I get it working using `injectManifest` strategy (on plugin pwa with custom sw) and `warmStrategyCache` from `workbox-recipes`, can this be achieve using `generateSW` instead using custom sw?:
[code]

[2022-01-29 19:28] userquin commented on #3023
Another question, maybe a bug on chromium based browsers: the cache size is huge 290MB, there is no such ammount of data, just 30 images, a css file and a font:

![imagen](https://user-images.githubusercontent.com/6311119/151674785-5328dafd-5a40-41d1-9e0f-279aafdda8f9.png)

![imagen](https://user-images.githubusercontent.com/6311119/151674805-87b6a892-7247-42c9-b03d-08ba43b1c144.png)

[2022-01-31 23:59] #2393 closed

[2022-02-02 15:05] jeffposnick commented on #3023
Correct approach for the initial question; if you're using runtime caching, then the caches are not populating ahead of time by default. They'll be populated "as you go" once the service worker has installed and taken control of the page after the initial registration, but that normally won't happen before the page has already made requests for its subresources. You can either just wait until the

[2022-02-02 15:05] #3023 closed, assigned to nobody

[2022-02-03 18:11] allanlei opened #3024 "`workbox-strategies` / `getCacheKeyForURL` should account for CORS"
**Library Affected**:
workbox-strategies

**Browser & Platform**:
* Chrome Linux Version 97.0.4692.99 (Official Build) (64-bit)

**Issue or Feature Request Description**:
Using `StaleWhileRevalidate` with URLs (ie `api.example.com`) that
* Have CORS with non-wildcard domains (ie `access-control-allow-origin: google.com`, etc)
* Publicly cachable (ie `Cache-Control: public, max-age: ...`)
* Used on

[2022-02-03 21:08] jeffposnick commented on #3024
Hello @allanlei—the code that you linked to, `getCacheKeyForURL()`, is part of the `workbox-precaching` library. It's not run as part of `StaleWhileRevalidate` in `workbox-strategies`.

Can you provide a live example that demonstrates the problem, or point to more specific code?

[2022-02-03 21:39] jeffposnick commented on #3022
Hello @cepm-nate!

One thing that stands out is that you're calling the `workbox.broadcastUpdate.Plugin()` constructor with the wrong arguments. You're passing in a string as the first parameter, and an object as the second, and that first parameter shouldn't be there.

Instead, the code should look like:

[code]

(C.f. https://developers.google.com/web/tools/workbox/modules/workbox-broadcast-upda

[2022-02-04 21:21] jeffposnick opened #3025 "Delay the cache write in StrategyHandler's fetchAndCachePut()"
In the course of debugging some performance related issues with a Workbox-based service worker that uses a `CacheFirst` strategy for a burst (1000+) of requests, @wanderview [suggested](https://bugs.chromium.org/p/chromium/issues/detail?id=1293176#c8) that we should add in a short delay before we write to cache in `StrategyHandler`'s `fetchAndCachePut()`:

https://github.com/GoogleChrome/workbox/b

[2022-02-04 22:08] wanderview commented on #3025
Or possibly an option with some documentation explaining why you might want to add delay.

[2022-02-06 12:03] Treystrauder6625 opened #3026 "Chrome workbox"

[2022-02-07 04:12] ChildLearningClub commented on #1237
I'm using the PWA Studio extension for VSCode to convert a phaser3 web app over to PWA. I honestly didn't know what

 `? What is the root of your web app (i.e. what directory do you deploy)?`

meant.  In the wizard I was selecting the root folder. At least in my case seeing

 `? What is the root of your web app? (choices include: src/ and build/)`

or something similar directing me to the src/ fol

[2022-02-07 09:21] allanlei commented on #3024
@jeffposnick I'll have to close this issue for now as it turns out the issue is somewhere else.

For reference, the issue I was having was related to `304` responses not having CORS (see https://github.com/httpwg/http-core/issues/165)

[2022-02-07 09:21] #3024 closed, assigned to nobody

[2022-02-09 13:37] jeffposnick commented on #2428
Hello all—if you're still seeing issues with the latest Safari releases, and have not seen any movement on the Webkit bugs that you've filed (e.g. https://bugs.webkit.org/show_bug.cgi?id=212858 still seems to be open), you might want to take advantage of this offer: https://twitter.com/jensimmons/status/1491113783838019584

[2022-02-09 20:06] developdeez opened #3027 "Workbox not refreshing new version"
Im trying to show a new version of my web app even when its cached on the client machine

I've researched and have tried the method below. Trouble is, I pushed a new version of my site and visited on my phone and it still shows the old site.

Im using WorkBox as my sw and webpack in my react project.

Any ideas? Code location is in page-template.hbs

`  // Check that service workers are supported

[2022-02-09 21:21] jeffposnick commented on #3027
We normally point folks to https://developers.google.com/web/tools/workbox/guides/advanced-recipes#offer_a_page_reload_for_users as the "canonical" recipe for accomplishing this sort of thing.

I believe our friends at [PWA Builder](https://github.com/pwa-builder/pwa-starter) also have some pre-built solutions when it comes to UI for this.

Do either of those approaches work for you?

[2022-02-10 03:21] ChildLearningClub commented on #1237
so it looks like

`? What is the root of your web app (i.e. what directory do you deploy)?`

is more applicable, I was using PWA Studio incorrectly. There is not much documentation as to how to use it, so it was more a matter of fiddling around until I got it to work correctly. At least in PWA Studio you first have to go into the directly you will be deploying, create a web manifest there.
  Befor

[2022-02-10 03:28] leopsidom commented on #2963
Is it possible to set up the interception via the `generateSW` option ? I'm trying to use https://github.com/antfu/vite-plugin-pwa to generate the service worker which provides a workbox configuration option, but having an issue figuring out how to configure the plugin via the `GenerateSWOptions` object.

[2022-02-10 15:27] jeffposnick commented on #2963
I personally like using `injectManifest` mode for this sort of customization ([here's an example](https://github.com/jeffposnick/yt-playlist-notifier/blob/9c805c5da33f674ce3f187d30f5505616e6610d4/vite.config.ts) with `vite-plugin-pwa`), but if you wanted to do something similar using `generateSW`, you can with the following Vite config:

[code]

[2022-02-10 15:30] jeffposnick commented on #1237
I'm sorry about that frustration. I just wanted to make sure that it's also been brought to the attention of the PWA Studio team (CC: @jgw96) as it might help to have this information in that context.

[2022-02-11 05:27] leopsidom commented on #2963
Nice, this seems to work. Thanks for the suggestion.  But I'm having one issue with my web worker script, i.e the script that gets loaded via `new Worker('./webworker.js')`. From my network tab it appears that the request is served by service worker. However, the response headers do not seem to be modified. It seems the request is not going through the plugin either, as when I add a log in `urlPat

[2022-02-12 00:01] fernandobelotto opened #3028 "filter in workbox documentation not working"
Hi there! i found that the filter in the workbox documentation is not working properly. I typed in the text field in the sidebar, press enter, retyped and nothing happens.
<img width="413" alt="image" src="https://user-images.githubusercontent.com/38187170/153686553-61fb4123-4541-4185-b56f-189b492e67f2.png">

[2022-02-12 05:59] developdeez commented on #3027
@jeffposnick I took a look at PWA Builder and their Service worker looked a bit empty.

I created mine based on Recipes from the site you mentioned.

Do none of these allow the app to update on new version?

I thought their purpose was so we didn't have to add anything. If I need to look into something let me know but overall theres too much info to process :D

`import { pageCache, imageCache, sta

[2022-02-12 22:52] leopsidom commented on #2963
I think I figured it out. `webworker.js` was precached and serving it with a different header like `Cross-Origin-Embedder-Policy` did not trigger an update. After manually deleting the precache and reinstalling the service worker, it now worked..

[2022-02-12 23:17] userquin opened #3029 "question: changing the sw internal behavior"
**Library Affected**:
`workbox-window` + `workbox-build`

**Browser & Platform**:
Google Chrome v98.0.4758.82 for Windows, not yet tested on other browsers and SO.

**Issue or Feature Request Description**:
It is a problem about changing the `workbox-*` internals when using `workbox-build::generateSW` (should have the same problem using a custom sw and `workbox-build:injectManifest`): from auto up

[2022-02-14 17:57] jeffposnick commented on #3028
Sorry about that—we're close to migrating our canonical docs over to https://developer.chrome.com/docs/workbox/

We're not going to make any fixes/changes to the older site's functionality at this point.

[2022-02-14 17:57] #3028 closed, assigned to nobody

[2022-02-14 18:53] fernandobelotto commented on #3028
thanks @jeffposnick

[2022-02-14 19:09] jeffposnick commented on #3027
Generally speaking, if you're using a cache-first service worker, you need to add something to your `window` context (i.e. the code run in your web app interface, not in the service worker) to coordinate updates. That's because by the time any revalidation/updates have happened in the caches maintained by the service worker, the contents of your web app have already loaded.

You _could_ forcibly r

[2022-02-15 21:15] developdeez commented on #3027
@jeffposnick that sounds great is there a React example of that?
Trying to figure it out thru another package isn't feasible due to their framework

[2022-02-15 21:39] jeffposnick commented on #3027
I haven't used it personally, but there's https://www.npmjs.com/package/@loopmode/cra-workbox-refresh

[2022-02-16 02:46] developdeez commented on #3027
OK. Here's what I ended up with. Is this what you meant? :

[code]

[2022-02-16 08:12] alexey-koran commented on #3019
@jeffposnick Hi, maybe you can check this?

[2022-02-16 15:08] jeffposnick commented on #3019
We really only need one of the RegExps that the module provided, and it's MIT licensed, so we'll move an adaptation of that code into a local module in the Workbox project.

[2022-02-16 16:51] #3026 closed, assigned to nobody

[2022-02-16 16:52] jeffposnick commented on #3019
https://github.com/GoogleChrome/workbox/compare/source-map-url?expand=1 has the change for `workbox-build`.

Once #2882 is complete, I'll update the branch to do the same for `workbox-webpack-plugin`.

This should get published as part of our v6.5.0 release.

[2022-02-16 23:54] akaFTS commented on #1583
I'm seeing the same issue on iPadOS 15.3. My Workbox-based PWA is cached correctly inside Safari - I can move to other pages while offline, even pages I hadn't visited before, and also close the tab and open again - but a version of it installed to the homescreen does not cache anything at all.

It also works perfectly in other platforms such as desktop Chrome.

[2022-02-17 07:54] tangdexin commented on #2681
i have the same error

[2022-02-17 18:14] jeffposnick commented on #2681
@tangdexin, please only include the symbol `self.__WB_MANIFEST` in your `swSrc` file once. If you need to refer to the manifest multiple times, assign `self.__WB_MANIFEST` to a variable first:

[code]

[2022-02-17 23:43] jeffposnick commented on #1583
Hello @akaFTS—if this issue is limited to iOS Safari, then I'd recommend taking advantage of the offer at https://twitter.com/jensimmons/status/1491113783838019584

I.e. file a bug with steps to reproduce at https://bugs.webkit.org/, and if you don't hear anything back via the WebKit issue tracker, ping via Twitter.

Resolving (most) issues with service workers on iOS Safari is unfortunately outsi

[2022-02-18 05:54] tangdexin commented on #2681
It works , thanks very much

[2022-02-18 19:14] garthenweb opened #3030 "Enable Navigation Preload by default for SW with fetch handlers"
**Library Affected**:
_workbox-webpack-plugin_

**Browser & Platform**:
_all browsers_

**Feature Request Description**:

On our website the SW is only used for caching of JS and CSS at install time to speed up navigation in a SPA. We don't have offline support or something similar.

Based on [this article from Jake Archibald about Navigation Preloads](https://developers.google.com/web/updates/201

[2022-02-18 20:57] #2478 closed, assigned to tropicadri

[2022-02-19 04:48] lgarron opened #3032 "`npm install workbox-cli` adds 12,432 files"
Run:
[code]

This adds 12,432 files to `node_modules`, which seems really bloated to me. That's the kind of cost that makes me look around for another tool, which is a shame because I'm happy with the `workbox` functionality itself.

For comparison, here are the number of files for other common tools that I get on macOS:

- `cost typescript`: 132 files
- `cost esbuild`: 10
- `cost vite`: 314
- `co

[2022-02-19 18:00] userquin commented on #2917
@jeffposnick with `v6.4.2` using the `runtimeCaching`  approach, the handler is only called with external resources (I'll try with a custom sw):

![imagen](https://user-images.githubusercontent.com/6311119/154813009-b00fc266-f008-4b86-9220-8d0e5a9e1c09.png)

[2022-02-22 11:24] bilalesi commented on #2267
hi guys,
any solution for this issue, still happen to me !!
<img width="1668" alt="Screenshot 2022-02-22 at 12 24 17" src="https://user-images.githubusercontent.com/2632473/155122803-16c50980-e23d-4025-912e-edb4ea66ec56.png">
?

[2022-02-22 15:14] jeffposnick commented on #2267
@bilalesi, that screenshot shows that you're on Workbox v4.3.1, which is very outdated.

If you can reproduce the issue with the most recent Workbox release, please open a new issue with details and reproduction steps, and we'll investigate. Thanks!

[2022-02-23 19:54] #3019 closed, assigned to jeffposnick

[2022-02-23 21:36] jeffposnick commented on #2883
This fix is now in the https://github.com/GoogleChrome/workbox/releases/tag/v6.5.0 release.

[2022-02-23 21:36] jeffposnick commented on #3019
This is resolved in the https://github.com/GoogleChrome/workbox/releases/tag/v6.5.0 release.

[2022-02-23 21:36] jeffposnick commented on #2478
This is released as part of https://github.com/GoogleChrome/workbox/releases/tag/v6.5.0

[2022-02-23 21:37] jeffposnick commented on #2393
This is now available as an opt-in in https://github.com/GoogleChrome/workbox/releases/tag/v6.5.0

[2022-02-24 01:23] vogelsgesang opened #3033 "Breaking change from 6.4.2 to 6.5.0"
**Library Affected**:
workbox-webpack-plugin

**Browser & Platform**:
Node v17.5.0

**Issue or Feature Request Description**:

The relevant `webpack/prod.config.ts`:

[code]

Worked without problems in 6.4.2, started failing in 6.5.0

[code]

Link to failed build on Github Actions: https://github.com/vogelsgesang/query-graphs/runs/5312503087?check_suite_focus=true

[2022-02-24 06:00] jmcgavin opened #3034 "Can't add the Workbox Broadcast Update plugin to workbox-config"
I am using [`GenerateSW()`](https://developers.google.com/web/tools/workbox/reference-docs/latest/module-workbox-webpack-plugin.GenerateSW) to add a service worker to my javascript application.

[code]

I would like to use the [Broadcast Update](https://developers.google.com/web/tools/workbox/modules/workbox-broadcast-update) feature of the service worker to notify users when a cached resource has

[2022-02-24 08:12] huineng opened #3035 "Typescript conflict between dom and webworker when upgrading to 6.5.0"
workbox-webpack-plugin devDep  6.4.1  ❯  6.5.0
typescript": "^4.5.5
"@types/workbox-webpack-plugin": "^5.1.8",

When upgrading and compiling i hit the following error

[code]

but when adding webworker to lib
[code]

i hit a bunch of other errors, conflicts
[code]

i need to include dom otherwise i get errors there

how can i resolve this ?

thanks

[2022-02-24 14:28] jeffposnick commented on #3033
Thanks for bringing this to our attention—we'll investigate.

CC: @tropicadri

[2022-02-24 15:04] jeffposnick commented on #3033
The compatibility with existing code should be fixed in #3036. Switching to

[code]

should also resolve the issue, if you want a fix right now.

(We currently don't have a `default` export in the `workbox-build` module, and that's been the case since Workbox v6.2.0, so I'd like to remove it from `workbox-webpack-plugin` as part of the v7 major semver release.)

[2022-02-24 19:14] vogelsgesang commented on #3033
Thanks for that workaround! I agree that not having a default export is a nicer coding style and I will gladly update my code to use the named import

The documentation for workbox (https://developers.google.com/web/tools/workbox/guides/generate-service-worker/webpack) still recommends

[code]

So I guess my code style above is rather common. I admittedly didn't really think about it, but just fol

[2022-02-24 19:49] jeffposnick commented on #3033
We're also about to migrate our docs over to developer.chrome.com. The new version of the most relevant doc uses the named export, so I think we're good:

https://developer.chrome.com/docs/workbox/modules/workbox-webpack-plugin/

(I'll double-check to make sure there aren't any other lingering references to the default export.)

[2022-02-24 21:15] #3033 closed, assigned to nobody

[2022-02-24 23:00] jeffposnick commented on #3035
A few things:

- You (ideally!) shouldn't need `@types/workbox-webpack-plugin` if you've updated to `workbox-webpack-plugin` `v6.5.0`. The official package now includes an `index.d.ts` with the TypeScript types, based on the package's source.
- I'm not sure that this is specific to `v6.5.0`, but generally speaking, you shouldn't include `dom` in the list of `lib`s for your TypeScript configuration

[2022-02-28 16:19] jeffposnick commented on #3034
The [`runtimeCaching.options`](https://developers.google.com/web/tools/workbox/reference-docs/latest/module-workbox-build#.RuntimeCachingEntry) parameter can be configured with a `broadcastUpdate` property, whose value roughly corresponds to what you'd pass to the [`BroadcastUpdatePlugin`](https://developers.google.com/web/tools/workbox/reference-docs/latest/module-workbox-broadcast-update.Broadca

[2022-02-28 16:19] #3034 closed, assigned to nobody

[2022-02-28 17:09] jeffposnick commented on #2917
I'm not sure if this explains your issue, but using `caches.has()` in a `urlPattern` callback is not going to give you the behavior you want, since it returns a `Promise`, and that will always be evaluated as a truthy value.

We have some development mode logging to catch this if you return a `Promise`, but because you're using `&&`, it's going to get translated into a `boolean`, which won't trigg

[2022-02-28 17:21] jeffposnick commented on #3029
I'd recommend reading through https://developers.google.com/web/fundamentals/primers/service-workers/lifecycle#updates, which describes what happens when there's an updated service worker.

To summarize, if an updated service worker [enters the `waiting` state](https://developers.google.com/web/fundamentals/primers/service-workers/lifecycle#waiting), it will remain in that state until either a) al

[2022-02-28 17:21] #3029 closed, assigned to nobody

[2022-02-28 17:33] jeffposnick commented on #3032
Thanks for the request. We can look into alternatives to `inquirer`, and I think we'll also be switching from `rollup` to `esbuild` (or `swc`) in Workbox v7 (#3002), which should cut down on the bundling- and transpilation-related dependencies as well.

[2022-02-28 18:33] jeffposnick commented on #2990
Sorry, I'm just revisiting this issue and re-reading the original problem description. Specifically, this bit:

This specific behavior is outside of the control of Workbox, and has to do with how Chrome's "memory cache" works. There's some background at [Chrome service worker not intercepting cached requests](https://stackoverflow.com/questions/44421110/chrome-service-worker-not-intercepting-cache

[2022-03-01 14:25] huineng commented on #3035
as there was no way to solve this ..

my mini-css-extract-plugin needed dom and workbox-webpack-plugin needed webworker.
but as i only needed ExtendableEvent which was no more then a a few lines

[code]

i loaded those line into a d.ts file in the same directory as my ts files
and i did no longer needed to include webworker and it all compiled

[2022-03-01 14:32] jeffposnick commented on #3035
It sounds like you have a workaround, so I'm going to close this issue.

But was using a different TypeScript configuration for each of those compilations not an option?

[2022-03-01 14:32] #3035 closed, assigned to nobody

[2022-03-01 21:20] florianmatz commented on #2990
@jeffposnick Thanks Jeff for coming back to that issue and provide more context.

[2022-03-01 21:20] #2990 closed, assigned to nobody

[2022-03-03 19:26] jeffposnick commented on #3033
This is fixed in https://github.com/GoogleChrome/workbox/releases/tag/v6.5.1

[2022-03-06 04:56] Mister-Hope commented on #2880
Any update about this, or can you add some simple explaination how this can be changed in V6?

For me, my situation is that I want to provide a offline docs for users, but I have every small asssets generated with hash name by default, and currently a 1 by 1 fetch offen takes more then 3 minute to install a new service worker, even before the user finish searching and reading then quit. The only r

[2022-03-06 07:29] edwardkenfox commented on #1732
The previously mentioned [WebKit issue](https://bugs.webkit.org/show_bug.cgi?id=203617) has been addressed quite recently and states that

which seems be contrary to the observation https://github.com/GoogleChrome/workbox/issues/1732#issuecomment-548001615 that

I understand this bug had already been fixed in workbox, but I've come across this behavior in my personal project and can't get my head

[2022-03-08 08:23] DibyodyutiMondal opened #3039 "Make `config` property of `InjectManifest` class `protected` instead of `private``"
**Library Affected**:
`workbox-webpack-plugin`

**Issue or Feature Request Description**:
So, I am making a plugin that allows me to use workbox with angular, and I use typescript. Even my webpack config uses typescript.
As part of this effort, I use a class that inherits from `InjectManifest`.
I need to add `index.html` and `manifest.webmanifest` to `additionalManifestEntries`. This addition need

[2022-03-11 18:15] renatosalopes opened #3041 "Workbox Google Analytics doesn't work log events to resent later"
**Library Affected**:
_workbox-google-analytics, workbox-webpack-plugin_

**Browser & Platform**:
_Microsoft Edge 99.0.1150.36, Chrome 99.0.4844.51_

**Issue or Feature Request Description**:
Hello! I'm trying to implement the Google Analytics's Workbox Plugin on my application, which works most of the time offline. I used the webpack plugin as well to generate the service worker (SW). I used the

[2022-03-14 01:00] pilipala6868 opened #3042 "workbox-webpack-plugin InjectManifest missing vendor.js"
I'm using workbox-webpack-plugin's InjectManifest to generate the `__WB_MANIFEST` list, for `precacheAndRoute` in the service-worker.js.

But I found that the `vendor.xxx.js` was not in list.
So the serviceWorker won't cache it either. (common.js、runtime.js no problem)

__WB_MANIFEST
![image](https://user-images.githubusercontent.com/25118028/158087625-fac7a8c8-32da-422a-abcd-5eb1af3853ab.png)

ne

[2022-03-14 17:31] jeffposnick commented on #3042
I'm sorry that you're running into this.

Could you share the rest of your webpack config, or at least the part that's directly relevant to creating the `vendor` chunk?

And ideally, if you had a public project in a GitHub repository that I could run to reproduce the issue, that would be 👍

[2022-03-14 17:44] jeffposnick commented on #3041
Apologies—I believe this is related to these earlier issues: #2389, #2552, and #2759.

@philipwalton was going to look into some of them, but he's no longer working on the Workbox project. (Maybe I can bait him into responding, though 😄 )

I don't know enough about the changes introduced with `gtag.js` to say whether this can be retrofit in `workbox-google-analytics` in a backwards-compatible way.

[2022-03-15 01:43] pilipala6868 commented on #3042
@jeffposnick hi, thanks for your reply.
I'm sorry that my project is pravite belongs to the company. But I'll show you the part that's relevant to the question.

The project is base on [egg](https://www.eggjs.org/) + react, using [easywebpack](https://github.com/easy-team/easywebpack) to complete the webpack config.
Here's part of the webpack.config.js.
[code]

[2022-03-15 02:07] pilipala6868 commented on #3042
I tried to dig into the source code to find out the answer.
And I found the `compilation.getAssets()` from `workbox-webpack-plugin/src/lib/get-manifest-entries-from-compilation` - `filterAssets()` will trigger 3 times during a webpack build process.

Here's the print infomation:
<img width="382" alt="image" src="https://user-images.githubusercontent.com/25118028/158290948-ba2b7fbf-91e2-428e-9190-1

[2022-03-15 13:53] jeffposnick commented on #3042
Okay, if you're using [`DllPlugin`](https://webpack.js.org/plugins/dll-plugin/), then it's likely the same issue as https://github.com/GoogleChrome/workbox/issues/1348

Finding a resolution to the issue has not been a priority, as it seemed from that older discussion that using `DllPlugin` in production builds was uncommon/not recommended.

We can revisit that if there's a strong reason to, but le